---
version: 1
interactions:
- request:
    body: '{"server":{"hostname":"uploud-go-sdk-integration-test-testattachmodifyreleaseipaddress.example.com","ip_addresses":{"ip_address":[{"access":"private","family":"IPv4"},{"access":"public","family":"IPv4"},{"access":"public","family":"IPv6"}]},"password_delivery":"none","storage_devices":{"storage_device":[{"action":"clone","storage":"01000000-0000-4000-8000-000030060200","title":"disk1","size":30,"tier":"maxiops"}]},"title":"uploud-go-sdk-integration-test-TestAttachModifyReleaseIPAddress","zone":"fi-hel2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/server
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1596555929,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testattachmodifyreleaseipaddress.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "private",
                     "address" : "10.6.6.221",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:ec1b:dbff:feca:73c9",
                     "family" : "IPv6"
                  },
                  {
                     "access" : "public",
                     "address" : "94.237.104.84",
                     "family" : "IPv4"
                  }
               ]
            },
            "license" : 0,
            "memory_amount" : "1024",
            "metadata" : "no",
            "nic_model" : "virtio",
            "password" : "4c45863a",
            "plan" : "custom",
            "plan_ipv4_bytes" : "0",
            "plan_ipv6_bytes" : "0",
            "progress" : "0",
            "state" : "maintenance",
            "storage_devices" : {
               "storage_device" : [
                  {
                     "address" : "virtio:0",
                     "boot_disk" : "0",
                     "storage" : "014a7694-7bad-4eef-ba6a-3bc5896f15db",
                     "storage_size" : 30,
                     "storage_title" : "disk1",
                     "type" : "disk"
                  }
               ]
            },
            "tags" : {
               "tag" : []
            },
            "timezone" : "UTC",
            "title" : "uploud-go-sdk-integration-test-TestAttachModifyReleaseIPAddress",
            "username" : "root",
            "uuid" : "00c2a4e6-5f69-4e70-b65c-55a99028949e",
            "video_model" : "cirrus",
            "vnc" : "off",
            "vnc_password" : "5n4WkCC4",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/server/00c2a4e6-5f69-4e70-b65c-55a99028949e
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1596555929,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testattachmodifyreleaseipaddress.example.com",
            "i[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/server/00c2a4e6-5f69-4e70-b65c-55a99028949e
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1596555929,
            "firewall" : "off",
            "host" : 7617135235,
            "hostname" : "uploud-go-sdk-integration-test-testattachmodifyreleaseipaddress.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "private",
                     "address" : "10.6.6.221",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:ec1b:dbff:feca:73c9",
             [...]
- request:
    body: '{"stop_server":{"stop_type":"hard","timeout":"900"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/server/00c2a4e6-5f69-4e70-b65c-55a99028949e/stop
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1596555929,
            "firewall" : "off",
            "host" : 7617135235,
            "hostname" : "uploud-go-sdk-integration-test-testattachmodifyreleaseipaddress.exam[...]
[...]
- request:
    body: '{"ip_address":{"access":"public","family":"IPv6","server":"00c2a4e6-5f69-4e70-b65c-55a99028949e"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/ip_address
    method: POST
  response:
    body: |
      {
         "ip_address" : {
            "access" : "public",
            "address" : "2a04:3545:1000:720:ec1b:dbff:feca:5faf",
            "family" : "IPv6",
            "ptr_record" : "ec1b-dbff-feca-5faf.v6.fi-hel2.upcloud.host",
            "server" : "00c2a4e6-5f69-4e70-b65c-55a99028949e"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"ip_address":{"ptr_record":"such.pointer.example.com"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/ip_address/2a04:3545:1000:720:ec1b:dbff:feca:5faf
    method: PUT
  response:
    body: |
      {
         "ip_address" : {
            "access" : "public",
            "address" : "2a04:3545:1000:720:ec1b:dbff:feca:5faf",
            "family" : "IPv6",
            "ptr_record" : "such.pointer.example.com",
            "server" : "00c2a4e6-5f69-4e70-b65c-55a99028949e"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 202 Accepted
    code: 202
    duration: ""
[...]
