---
version: 1
interactions:
- request:
    body: '{"server":{"hostname":"uploud-go-sdk-integration-test-testattachmodifyreleaseipaddress.example.com","ip_addresses":{"ip_address":[{"access":"private","family":"IPv4"},{"access":"public","family":"IPv4"},{"access":"public","family":"IPv6"}]},"password_delivery":"none","storage_devices":{"storage_device":[{"action":"clone","storage":"01000000-0000-4000-8000-000030060200","title":"disk1","size":30,"tier":"maxiops"}]},"title":"uploud-go-sdk-integration-test-TestAttachModifyReleaseIPAddress","zone":"fi-hel2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/server
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1596459515,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testattachmodifyreleaseipaddress.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "private",
                     "address" : "10.6.6.207",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:ec1b:dbff:feca:567c",
                     "family" : "IPv6"
                  },
                  {
                     "access" : "public",
                     "address" : "94.237.104.69",
                     "family" : "IPv4"
                  }
               ]
            },
            "license" : 0,
            "memory_amount" : "1024",
            "metadata" : "no",
            "nic_model" : "virtio",
            "password" : "b5u9gvs9",
            "plan" : "custom",
            "plan_ipv4_bytes" : "0",
            "plan_ipv6_bytes" : "0",
            "progress" : "0",
            "state" : "maintenance",
            "storage_devices" : {
               "storage_device" : [
                  {
                     "address" : "virtio:0",
                     "boot_disk" : "0",
                     "storage" : "01ccd433-d300-4bd2-a275-1b1b8ae62a2f",
                     "storage_size" : 30,
                     "storage_title" : "disk1",
                     "type" : "disk"
                  }
               ]
            },
            "tags" : {
               "tag" : []
            },
            "timezone" : "UTC",
            "title" : "uploud-go-sdk-integration-test-TestAttachModifyReleaseIPAddress",
            "username" : "root",
            "uuid" : "00d0cbcf-127c-49ea-8f36-b7a19cb35e66",
            "video_model" : "cirrus",
            "vnc" : "off",
            "vnc_password" : "Ta92w7S5",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/server/00d0cbcf-127c-49ea-8f36-b7a19cb35e66
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1596459515,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testattachmodifyreleaseipaddress.example.com",
            "i[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/server/00d0cbcf-127c-49ea-8f36-b7a19cb35e66
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1596459515,
            "firewall" : "off",
            "host" : 7617135235,
            "hostname" : "uploud-go-sdk-integration-test-testattachmodifyreleaseipaddress.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "private",
                     "address" : "10.6.6.207",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:ec1b:dbff:feca:567c",
             [...]
- request:
    body: <stop_server><timeout>900</timeout><stop_type>hard</stop_type></stop_server>
    form: {}
    headers:
      Content-Type:
      - application/xml
    url: https://api.upcloud.com/1.2/server/00d0cbcf-127c-49ea-8f36-b7a19cb35e66/stop
    method: POST
  response:
    body: |
      <?xml version="1.0" encoding="utf-8"?>
      <server>
        <boot_order>disk</boot_order>
        <core_number>1</core_number>
        <created>1596459515</created>
        <firewall>off</firewall>
        <host>7617135235</host>
        <hostname>uploud-go-sdk-in[...]
[...]
- request:
    body: <ip_address><access>public</access><family>IPv6</family><server>00d0cbcf-127c-49ea-8f36-b7a19cb35e66</server></ip_address>
    form: {}
    headers:
      Content-Type:
      - application/xml
    url: https://api.upcloud.com/1.2/ip_address
    method: POST
  response:
    body: |
      <?xml version="1.0" encoding="utf-8"?>
      <ip_address>
        <access>public</access>
        <address>2a04:3545:1000:720:ec1b:dbff:feca:79a1</address>
        <family>IPv6</family>
        <ptr_record>ec1b-dbff-feca-79a1.v6.fi-hel2.upcloud.host</ptr_record>
        <server>00d0cbcf-127c-49ea-8f36-b7a19cb35e66</server>
      </ip_address>
    headers:
      Content-Type:
      - application/xml; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: <ip_address><ptr_record>such.pointer.example.com</ptr_record></ip_address>
    form: {}
    headers:
      Content-Type:
      - application/xml
    url: https://api.upcloud.com/1.2/ip_address/2a04:3545:1000:720:ec1b:dbff:feca:79a1
    method: PUT
  response:
    body: |
      <?xml version="1.0" encoding="utf-8"?>
      <ip_address>
        <access>public</access>
        <address>2a04:3545:1000:720:ec1b:dbff:feca:79a1</address>
        <family>IPv6</family>
        <ptr_record>such.pointer.example.com</ptr_record>
        <server>00d0cbcf-127c-49ea-8f36-b7a19cb35e66</server>
      </ip_address>
    headers:
      Content-Type:
      - application/xml; charset=UTF-8
    status: 202 Accepted
    code: 202
    duration: ""
[...]
