---
version: 1
interactions:
- request:
    body: '{"server":{"hostname":"uploud-go-sdk-integration-test-testattachdetachstorage.example.com","ip_addresses":{"ip_address":[{"access":"private","family":"IPv4"},{"access":"public","family":"IPv4"},{"access":"public","family":"IPv6"}]},"password_delivery":"none","storage_devices":{"storage_device":[{"action":"clone","storage":"01000000-0000-4000-8000-000030060200","title":"disk1","size":30,"tier":"maxiops"}]},"title":"uploud-go-sdk-integration-test-TestAttachDetachStorage","zone":"fi-hel2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/server
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1596472570,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testattachdetachstorage.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "private",
                     "address" : "10.6.6.221",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:ec1b:dbff:feca:6e64",
                     "family" : "IPv6"
                  },
                  {
                     "access" : "public",
                     "address" : "94.237.104.83",
                     "family" : "IPv4"
                  }
               ]
            },
            "license" : 0,
            "memory_amount" : "1024",
            "metadata" : "no",
            "nic_model" : "virtio",
            "password" : "er82mg99",
            "plan" : "custom",
            "plan_ipv4_bytes" : "0",
            "plan_ipv6_bytes" : "0",
            "progress" : "0",
            "state" : "maintenance",
            "storage_devices" : {
               "storage_device" : [
                  {
                     "address" : "virtio:0",
                     "boot_disk" : "0",
                     "storage" : "01297071-5773-4a86-b5d7-a18845e7dc2f",
                     "storage_size" : 30,
                     "storage_title" : "disk1",
                     "type" : "disk"
                  }
               ]
            },
            "tags" : {
               "tag" : []
            },
            "timezone" : "UTC",
            "title" : "uploud-go-sdk-integration-test-TestAttachDetachStorage",
            "username" : "root",
            "uuid" : "006ae3a8-19e1-4b34-b446-0b81e7b7d5a2",
            "video_model" : "cirrus",
            "vnc" : "off",
            "vnc_password" : "h7GQPveH",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/server/006ae3a8-19e1-4b34-b446-0b81e7b7d5a2
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1596472570,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testattachdetachstorage.example.com",
            "ip_address[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/server/006ae3a8-19e1-4b34-b446-0b81e7b7d5a2
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1596472570,
            "firewall" : "off",
            "host" : 7617135235,
            "hostname" : "uploud-go-sdk-integration-test-testattachdetachstorage.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "private",
                     "address" : "10.6.6.221",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:ec1b:dbff:feca:6e64",
                     "[...]
- request:
    body: '{"stop_server":{"stop_type":"hard","timeout":"900"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/server/006ae3a8-19e1-4b34-b446-0b81e7b7d5a2/stop
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1596472570,
            "firewall" : "off",
            "host" : 7617135235,
            "hostname" : "uploud-go-sdk-integration-test-testattachdetachstorage.example.com",[...]
[...]
- request:
    body: <storage><size>10</size><tier>maxiops</tier><title>Test storage</title><zone>fi-hel2</zone><backup_rule><interval>daily</interval><time>0430</time><retention>30</retention></backup_rule></storage>
    form: {}
    headers:
      Content-Type:
      - application/xml
    url: https://api.upcloud.com/1.2/storage
    method: POST
  response:
    body: |
      <?xml version="1.0" encoding="utf-8"?>
      <storage>
        <access>private</access>
        <backup_rule>
          <interval>daily</interval>
          <retention>30</retention>
          <time>0430</time>
        </backup_rule>
        <backups>
        </backups>
        <license>0</license>
        <servers>
        </servers>
        <size>10</size>
        <state>online</state>
        <tier>maxiops</tier>
        <title>Test storage</title>
        <type>normal</type>
        <uuid>01e520c0-2e3d-4b31-a3bc-1a2a7ccfe668</uuid>
        <zone>fi-hel2</zone>
      </storage>
    headers:
      Content-Type:
      - application/xml; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: <storage_device><type>disk</type><address>scsi:0:0</address><storage>01e520c0-2e3d-4b31-a3bc-1a2a7ccfe668</storage></storage_device>
    form: {}
    headers:
      Content-Type:
      - application/xml
    url: https://api.upcloud.com/1.2/server/006ae3a8-19e1-4b34-b446-0b81e7b7d5a2/storage/attach
    method: POST
  response:
    body: |
      <?xml version="1.0" encoding="utf-8"?>
      <server>
        <boot_order>disk</boot_order>
        <core_number>1</core_number>
    [...]
- request:
    body: <storage_device><address>scsi:0:0</address></storage_device>
    form: {}
    headers:
      Content-Type:
      - application/xml
    url: https://api.upcloud.com/1.2/server/006ae3a8-19e1-4b34-b446-0b81e7b7d5a2/storage/detach
    method: POST
  response:
    body: |
      <?xml version="1.0" encoding="utf-8"?>
      <server>
        <boot_order>disk</boot_order>
        <core_number>1</core_number>
        <created>1596472570</created>
        <firewall>off</firewall>
     [...]
