---
version: 1
interactions:
- request:
    body: '{"server":{"hostname":"uploud-go-sdk-integration-test-testattachmodifyreleaseipaddress.example.com","labels":{"label":[{"key":"managedBy","value":"upcloud-sdk-integration-test"},{"key":"testName","value":"TestAttachModifyReleaseIPAddress"}]},"metadata":"no","networking":{"interfaces":{"interface":[{"ip_addresses":{"ip_address":[{"family":"IPv4"}]},"type":"utility"},{"ip_addresses":{"ip_address":[{"family":"IPv4"}]},"type":"public"},{"ip_addresses":{"ip_address":[{"family":"IPv6"}]},"type":"public"}]}},"password_delivery":"none","storage_devices":{"storage_device":[{"action":"clone","storage":"01000000-0000-4000-8000-000020060100","title":"disk1","size":10,"tier":"maxiops"}]},"title":"uploud-go-sdk-integration-test-TestAttachModifyReleaseIPAddress","remote_access_enabled":"no","zone":"fi-hel2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1662692958,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testattachmodifyreleaseipaddress.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "utility",
                     "address" : "10.6.6.174",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:d845:c4ff:fe5c:74fe",
                     "family" : "IPv6"
                  },
                  {
                     "access" : "public",
                     "address" : "94.237.106.202",
                     "family" : "IPv4"
                  }
               ]
            },
            "labels" : {
               "label" : [
                  {
                     "key" : "managedBy",
                     "value" : "upcloud-sdk-integration-test"
                  },
                  {
                     "key" : "testName",
                     "value" : "TestAttachModifyReleaseIPAddress"
                  }
               ]
            },
            "license" : 0,
            "memory_amount" : "1024",
            "metadata" : "no",
            "networking" : {
               "interfaces" : {
                  "interface" : [
                     {
                        "bootable" : "no",
                        "index" : 1,
                        "ip_addresses" : {
                           "ip_address" : [
                              {
                                 "address" : "10.6.6.174",
                                 "family" : "IPv4",
                                 "floating" : "no"
                              }
                           ]
                        },
                        "mac" : "da:45:c4:5c:ba:23",
                        "network" : "0343ede2-9890-4470-b680-0dcda6d9f7e3",
                        "source_ip_filtering" : "yes",
                        "type" : "utility"
                     },
                     {
                        "bootable" : "no",
                        "index" : 2,
                        "ip_addresses" : {
                           "ip_address" : [
                              {
                                 "address" : "94.237.106.202",
                                 "family" : "IPv4",
                                 "floating" : "no"
                              }
     [...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/00f5ad2c-bba3-4752-b1de-579d16971b35
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1662692958,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testattachmodifyreleaseipaddress.example.com",
            "i[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/00f5ad2c-bba3-4752-b1de-579d16971b35
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1662692958,
            "firewall" : "off",
            "host" : 6325289603,
            "hostname" : "uploud-go-sdk-integration-test-testattachmodifyreleaseipaddress.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "utility",
                     "address" : "10.6.6.174",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:d845:c4ff:fe5c:74fe",
             [...]
- request:
    body: '{"stop_server":{"stop_type":"hard","timeout":"900"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/00f5ad2c-bba3-4752-b1de-579d16971b35/stop
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1662692958,
            "firewall" : "off",
            "host" : 6325289603,
            "hostname" : "uploud-go-sdk-integration-test-testattachmodifyreleaseipaddress.exam[...]
[...]
- request:
    body: '{"ip_address":{"access":"public","family":"IPv6","server":"00f5ad2c-bba3-4752-b1de-579d16971b35"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/ip_address
    method: POST
  response:
    body: |
      {
         "ip_address" : {
            "access" : "public",
            "address" : "2a04:3545:1000:720:d845:c4ff:fe5c:4c64",
            "family" : "IPv6",
            "mac" : "da:45:c4:5c:4c:64",
            "ptr_record" : "d845-c4ff-fe5c-4c64.v6.fi-hel2.upcloud.host",
            "server" : "00f5ad2c-bba3-4752-b1de-579d16971b35",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"ip_address":{"ptr_record":"such.pointer.example.com"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/ip_address/2a04:3545:1000:720:d845:c4ff:fe5c:4c64
    method: PATCH
  response:
    body: |
      {
         "ip_address" : {
            "access" : "public",
            "address" : "2a04:3545:1000:720:d845:c4ff:fe5c:4c64",
            "family" : "IPv6",
            "mac" : "da:45:c4:5c:4c:64",
            "ptr_record" : "such.pointer.example.com",
            "server" : "00f5ad2c-bba3-4752-b1de-579d16971b35",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 202 Accepted
    code: 202
    duration: ""
[...]
