---
version: 1
interactions:
- request:
    body: '{"server":{"hostname":"uploud-go-sdk-integration-test-testattachmodifyreleaseipaddress.example.com","ip_addresses":{"ip_address":[{"access":"private","family":"IPv4"},{"access":"public","family":"IPv4"},{"access":"public","family":"IPv6"}]},"password_delivery":"none","storage_devices":{"storage_device":[{"action":"clone","storage":"01000000-0000-4000-8000-000030060200","title":"disk1","size":30,"tier":"maxiops"}]},"title":"uploud-go-sdk-integration-test-TestAttachModifyReleaseIPAddress","zone":"fi-hel2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/server
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1596472411,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testattachmodifyreleaseipaddress.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "private",
                     "address" : "10.6.6.218",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:ec1b:dbff:feca:650f",
                     "family" : "IPv6"
                  },
                  {
                     "access" : "public",
                     "address" : "94.237.104.80",
                     "family" : "IPv4"
                  }
               ]
            },
            "license" : 0,
            "memory_amount" : "1024",
            "metadata" : "no",
            "nic_model" : "virtio",
            "password" : "zs23698r",
            "plan" : "custom",
            "plan_ipv4_bytes" : "0",
            "plan_ipv6_bytes" : "0",
            "progress" : "0",
            "state" : "maintenance",
            "storage_devices" : {
               "storage_device" : [
                  {
                     "address" : "virtio:0",
                     "boot_disk" : "0",
                     "storage" : "011d9aef-5ef4-4ed5-9aed-a070ac404ba3",
                     "storage_size" : 30,
                     "storage_title" : "disk1",
                     "type" : "disk"
                  }
               ]
            },
            "tags" : {
               "tag" : []
            },
            "timezone" : "UTC",
            "title" : "uploud-go-sdk-integration-test-TestAttachModifyReleaseIPAddress",
            "username" : "root",
            "uuid" : "00d466b4-0e86-4477-8ced-c6f0c4fddd93",
            "video_model" : "cirrus",
            "vnc" : "off",
            "vnc_password" : "VfVJU4jb",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/server/00d466b4-0e86-4477-8ced-c6f0c4fddd93
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1596472411,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testattachmodifyreleaseipaddress.example.com",
            "i[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/server/00d466b4-0e86-4477-8ced-c6f0c4fddd93
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1596472411,
            "firewall" : "off",
            "host" : 7617135235,
            "hostname" : "uploud-go-sdk-integration-test-testattachmodifyreleaseipaddress.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "private",
                     "address" : "10.6.6.218",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:ec1b:dbff:feca:650f",
             [...]
- request:
    body: '{"stop_server":{"stop_type":"hard","timeout":"900"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/server/00d466b4-0e86-4477-8ced-c6f0c4fddd93/stop
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1596472411,
            "firewall" : "off",
            "host" : 7617135235,
            "hostname" : "uploud-go-sdk-integration-test-testattachmodifyreleaseipaddress.exam[...]
[...]
- request:
    body: <ip_address><access>public</access><family>IPv6</family><server>00d466b4-0e86-4477-8ced-c6f0c4fddd93</server></ip_address>
    form: {}
    headers:
      Content-Type:
      - application/xml
    url: https://api.upcloud.com/1.2/ip_address
    method: POST
  response:
    body: |
      <?xml version="1.0" encoding="utf-8"?>
      <ip_address>
        <access>public</access>
        <address>2a04:3545:1000:720:ec1b:dbff:feca:0ece</address>
        <family>IPv6</family>
        <ptr_record>ec1b-dbff-feca-0ece.v6.fi-hel2.upcloud.host</ptr_record>
        <server>00d466b4-0e86-4477-8ced-c6f0c4fddd93</server>
      </ip_address>
    headers:
      Content-Type:
      - application/xml; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: <ip_address><ptr_record>such.pointer.example.com</ptr_record></ip_address>
    form: {}
    headers:
      Content-Type:
      - application/xml
    url: https://api.upcloud.com/1.2/ip_address/2a04:3545:1000:720:ec1b:dbff:feca:0ece
    method: PUT
  response:
    body: |
      <?xml version="1.0" encoding="utf-8"?>
      <ip_address>
        <access>public</access>
        <address>2a04:3545:1000:720:ec1b:dbff:feca:0ece</address>
        <family>IPv6</family>
        <ptr_record>such.pointer.example.com</ptr_record>
        <server>00d466b4-0e86-4477-8ced-c6f0c4fddd93</server>
      </ip_address>
    headers:
      Content-Type:
      - application/xml; charset=UTF-8
    status: 202 Accepted
    code: 202
    duration: ""
[...]
