---
version: 1
interactions:
- request:
    body: '{"storage":{"size":"10","tier":"maxiops","title":"Test storage","zone":"fi-hel2","backup_rule":{"interval":"daily","time":"0430","retention":"30"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/storage
    method: POST
  response:
    body: |
      {
         "storage" : {
            "access" : "private",
            "backup_rule" : {
               "interval" : "daily",
               "retention" : "30",
               "time" : "0430"
            },
            "backups" : {
               "backup" : []
            },
            "license" : 0,
            "servers" : {
               "server" : []
            },
            "size" : 10,
            "state" : "online",
            "tier" : "maxiops",
            "title" : "Test storage",
            "type" : "normal",
            "uuid" : "017ebc46-5217-438c-9a5f-3474a4f2a1c5",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"storage":{"zone":"fi-hel2","tier":"maxiops","title":"Cloned storage"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/storage/017ebc46-5217-438c-9a5f-3474a4f2a1c5/clone
    method: POST
  response:
    body: |
      {
         "storage" : {
            "access" : "private",
            "backup_rule" : {},
            "backups" : {
               "backup" : []
            },
            "license" : 0,
            "progress" : "0",
            "servers" : {
               "server" : []
            },
            "size" : 10,
            "state" : "maintenance",
            "tier" : "maxiops",
            "title" : "Cloned storage",
            "type" : "normal",
            "uuid" : "0198ca92-4e34-49dc-ba1f-5d933a01c242",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/storage/0198ca92-4e34-49dc-ba1f-5d933a01c242
    method: GET
  response:
    body: |
      {
         "storage" : {
            "access" : "private",
            "backup_rule" : {},
            "backups" : {
               "backup" : []
            },
            "license" : 0,
            "progress" : "1",
            "servers" : {
               "server" : []
            },
            "size" : 10,
            "state" : "maintenance",
            "tier" : "maxiops",
            "title" : "Cloned storage",
            "type" : "normal",
            "uuid" : "0198ca92-4e34-49dc-ba1f-5d933a01c242",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
