---
version: 1
interactions:
- request:
    body: '{"hostname_prefix":"clonemanageddatabase","plan":"2x2xCPU-4GB-100GB","properties":{"automatic_utility_network_ip_filter":true,"ip_filter":["10.0.0.1/32"],"public_access":true},"title":"clonemanageddatabase","type":"pg","zone":"fi-hel2","maintenance":{"dow":"monday","time":"12:00:00"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database
    method: POST
  response:
    body: '{"uuid":"0905c7cf-2853-469e-93d7-816d0b2bdc49","zone":"fi-hel2","name":"clonemanageddatabase","title":"clonemanageddatabase","type":"pg","plan":"2x2xCPU-4GB-100GB","state":"pending","powered":true,"termination_protection":false,"node_count":2,"create_time":"2024-01-31T11:44:49Z","update_time":"2024-01-31T11:44:49Z","service_uri":"","service_uri_params":{},"maintenance":{"dow":"monday","time":"12:00:00","pending_updates":[]},"metadata":{},"properties":{"automatic_utility_network_ip_filter":true,"ip_filter":["10.0.0.1/32"],"public_access":true},"networks":[],"node_states":[],"backups":[],"components":[],"users":[],"databases":[]}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/0905c7cf-2853-469e-93d7-816d0b2bdc49
    method: GET
  response:
    body: '{"uuid":"0905c7cf-2853-469e-93d7-816d0b2bdc49","zone":"fi-hel2","name":"clonemanageddatabase","title":"clonemanageddatabase","type":"pg","plan":"2x2xCPU-4GB-100GB","state":"running","powered":true,"termination_protection":false,"node_count":2,"create_time":"2024-01-31T11:44:49Z","update_time":"2024-01-31T11:45:01Z","service_uri":"postgres://upadmin:AVNS_Uo9BQxkjujUr8hMx6Yb@clonemanageddatabase-zhbmidiechch.db.upclouddatabases.com:11569/defaultdb?sslmode=require","service_uri_params":{"dbname":"defaultdb","host":"clonemanageddatabase-zhbmidiechch.db.upclouddatabases.com","password":"AVNS_Uo9BQxkjujUr8hMx6Yb","port":"11569","ssl_mode":"require","user":"upadmin"},"maintenance":{"dow":"monday","time":"12:00:00","pending_updates":[]},"metadata":{"max_connections":100,"pg_version":"15.5","write_block_threshold_exceeded":false},"properties":{"automatic_utility_network_ip_filter":true,"backup_hour":0,"backup_minute":4,"ip_filter":["10.0.0.1/32"],"pg_stat_monitor_enable":false,"pglookout":{"max_failover_replication_time_lag":60},"public_access":true,"version":"15"},"networks":[],"node_states":[{"name":"clonemanageddatabase-1","role":"master","state":"running"},{"name":"clonemanageddatabase-2","role":"standby","state":"running"}],"backups":[{"backup_name":"2024-01-31_11-48_0.00000000.pghoard","backup_time":"2024-01-31T11:48:01.762125Z","data_size":33587414}],"components":[{"component":"pg","host":"clonemanageddatabase-zhbmidiechch.db.upclouddatabases.com","port":11569,"route":"dynamic","usage":"primary"},{"component":"pg","host":"replica-clonemanageddatabase-zhbmidiechch.db.upclouddatabases.com","port":11569,"route":"dynamic","usage":"replica"},{"component":"pg","host":"public-clonemanageddatabase-zhbmidiechch.db.upclouddatabases.com","port":11569,"route":"public","usage":"primary"},{"component":"pg","host":"public-replica-clonemanageddatabase-zhbmidiechch.db.upclouddatabases.com","port":11569,"route":"public","usage":"replica"},{"component":"pgbouncer","host":"clonemanageddatabase-zhbmidiechch.db.upclouddatabases.com","port":11570,"route":"dynamic","usage":"primary"},{"component":"pgbouncer","host":"replica-clonemanageddatabase-zhbmidiechch.db.upclouddatabases.com","port":11570,"route":"dynamic","usage":"replica"},{"component":"pgbouncer","host":"public-clonemanageddatabase-zhbmidiechch.db.upclouddatabases.com","port":11570,"route":"public","usage":"primary"},{"component":"pgbouncer","host":"public-replica-clonemanageddatabase-zhbmidiechch.db.upclouddatabases.com","port":11570,"route":"public","usage":"replica"}],"users":[{"username":"upadmin","type":"primary"}],"databases":[{"name":"defaultdb"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"hostname_prefix":"clonemanageddatabase-clone","plan":"2x2xCPU-4GB-100GB","title":"clonemanageddatabase-clone","zone":"fi-hel2","clone_time":"2024-01-31T11:48:02.762125Z"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/0905c7cf-2853-469e-93d7-816d0b2bdc49/clone
    method: POST
  response:
    body: '{"uuid":"09007193-1ca1-4307-88ca-18fbee15bd37","zone":"fi-hel2","name":"clonemanageddatabase-clone","title":"clonemanageddatabase-clone","type":"pg","plan":"2x2xCPU-4GB-100GB","state":"pending","powered":true,"termination_protection":false,"node_count":2,"create_time":"2024-01-31T11:51:12Z","update_time":"2024-01-31T11:51:12Z","service_uri":"","service_uri_params":{},"maintenance":{"dow":"monday","time":"12:00:00","pending_updates":[]},"metadata":{},"properties":{"automatic_utility_network_ip_filter":true,"ip_filter":["10.0.0.1/32"]},"networks":[],"node_states":[],"backups":[],"components":[],"users":[],"databases":[]}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
