---
version: 1
interactions:
- request:
    body: '{"storage":{"size":"10","tier":"maxiops","title":"Direct Upload (test)","zone":"pl-waw1"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/storage
    method: POST
  response:
    body: |
      {
         "storage" : {
            "access" : "private",
            "backup_rule" : {},
            "backups" : {
               "backup" : []
            },
            "created" : "2022-10-27T17:15:46Z",
            "license" : 0,
            "servers" : {
               "server" : []
            },
            "size" : 10,
            "state" : "online",
            "tier" : "maxiops",
            "title" : "Direct Upload (test)",
            "type" : "normal",
            "uuid" : "019fcce1-9e74-4572-b9ec-227806746c5f",
            "zone" : "pl-waw1"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/storage/019fcce1-9e74-4572-b9ec-227806746c5f
    method: GET
  response:
    body: |
      {
         "storage" : {
            "access" : "private",
            "backup_rule" : {},
            "backups" : {
               "backup" : []
            },
            "created" : "2022-10-27T17:15:46Z",
            "license" : 0,
            "servers" : {
               "server" : []
            },
            "size" : 10,
            "state" : "online",
            "tier" : "maxiops",
            "title" : "Direct Upload (test)",
            "type" : "normal",
            "uuid" : "019fcce1-9e74-4572-b9ec-227806746c5f",
            "zone" : "pl-waw1"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"storage_import":{"source":"direct_upload","source_location":""}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/storage/019fcce1-9e74-4572-b9ec-227806746c5f/import
    method: POST
  response:
    body: |
      {
         "storage_import" : {
            "client_content_length" : 0,
            "client_content_type" : "",
            "completed" : "",
            "created" : "2022-10-27T17:15:56Z",
            "direct_upload_url" : "https://pl-waw1.img.upcloud.com/uploader/session/07d4753a-be2f-4e59-a3d2-e729a1034d40",
            "error_code" : "",
            "error_message" : "",
            "md5sum" : "",
            "read_bytes" : 0,
            "sha256sum" : "",
            "source" : "direct_upload",
            "state" : "prepared",
            "uuid" : "07d4753a-be2f-4e59-a3d2-e729a1034d40",
            "written_bytes" : 0
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/gzip
    url: https://pl-waw1.img.upcloud.com/uploader/session/07d4753a-be2f-4e59-a3d2-e729a1034d40
    method: PUT
  response:
    body: '{"written_bytes":24,"md5sum":"f2ffa0a1ddcf4d9e85b774f717ff091f","sha256sum":"16f5faa0cdef89b89c178f3b32e53847e56272800cfcc2040cd43e9de5cc8891"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
