---
version: 1
interactions:
- request:
    body: '{"hostname_prefix":"createmanageddatabase0","plan":"2x2xCPU-4GB-100GB","properties":{"automatic_utility_network_ip_filter":true,"ip_filter":["10.0.0.1/32"],"public_access":true},"title":"createmanageddatabase0","type":"mysql","zone":"fi-hel2","maintenance":{"dow":"monday","time":"12:00:00"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database
    method: POST
  response:
    body: '{"backups":[],"components":[{"component":"mysql","host":"createmanageddatabase0-zhbmidiechch.db.upclouddatabases.com","port":11550,"route":"dynamic","usage":"primary"},{"component":"mysql","host":"replica-createmanageddatabase0-zhbmidiechch.db.upclouddatabases.com","port":11550,"route":"dynamic","usage":"replica"},{"component":"mysql","host":"public-createmanageddatabase0-zhbmidiechch.db.upclouddatabases.com","port":11550,"route":"public","usage":"primary"},{"component":"mysql","host":"public-replica-createmanageddatabase0-zhbmidiechch.db.upclouddatabases.com","port":11550,"route":"public","usage":"replica"},{"component":"mysqlx","host":"createmanageddatabase0-zhbmidiechch.db.upclouddatabases.com","port":11554,"route":"dynamic","usage":"primary"},{"component":"mysqlx","host":"replica-createmanageddatabase0-zhbmidiechch.db.upclouddatabases.com","port":11554,"route":"dynamic","usage":"replica"},{"component":"mysqlx","host":"public-createmanageddatabase0-zhbmidiechch.db.upclouddatabases.com","port":11554,"route":"public","usage":"primary"},{"component":"mysqlx","host":"public-replica-createmanageddatabase0-zhbmidiechch.db.upclouddatabases.com","port":11554,"route":"public","usage":"replica"}],"create_time":"0001-01-01T00:00:00Z","maintenance":{"dow":"monday","time":"12:00:00","pending_updates":[]},"name":"createmanageddatabase0","node_count":2,"node_states":[],"plan":"2x2xCPU-4GB-100GB","powered":true,"metadata":{"mysql_version":"8","write_block_threshold_exceeded":null},"properties":{"automatic_utility_network_ip_filter":true,"backup_hour":22,"backup_minute":16,"ip_filter":["10.0.0.1/32"],"public_access":true,"sql_mode":"ANSI,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION,NO_ZERO_DATE,NO_ZERO_IN_DATE,STRICT_ALL_TABLES","sql_require_primary_key":true,"version":"8"},"uuid":"09287684-1690-4d0b-91c4-379a0e99437b","state":"rebuilding","title":"createmanageddatabase0","type":"mysql","update_time":"0001-01-01T00:00:00Z","service_uri":"mysql://upadmin:AVNS_nr16jULpceWjcx91WWj@createmanageddatabase0-zhbmidiechch.db.upclouddatabases.com:11550/defaultdb?ssl-mode=REQUIRED","service_uri_params":{"dbname":"defaultdb","host":"createmanageddatabase0-zhbmidiechch.db.upclouddatabases.com","password":"AVNS_nr16jULpceWjcx91WWj","port":"11550","ssl_mode":"REQUIRED","user":"upadmin"},"users":[{"username":"upadmin","authentication":"caching_sha2_password","type":"primary"}],"databases":[{"name":"defaultdb"}],"zone":"fi-hel2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/09287684-1690-4d0b-91c4-379a0e99437b
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"hostname_prefix":"createmanageddatabase2","plan":"1x1xCPU-2GB","properties":{"automatic_utility_network_ip_filter":true,"ip_filter":["10.0.0.1/32"],"public_access":true},"title":"createmanageddatabase2","type":"redis","zone":"fi-hel2","maintenance":{"dow":"monday","time":"12:00:00"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database
    method: POST
  response:
    body: '{"backups":[],"components":[{"component":"redis","host":"createmanageddatabase2-zhbmidiechch.db.upclouddatabases.com","port":11551,"route":"dynamic","usage":"primary","ssl":true},{"component":"redis","host":"public-createmanageddatabase2-zhbmidiechch.db.upclouddatabases.com","port":11551,"route":"public","usage":"primary","ssl":true}],"create_time":"0001-01-01T00:00:00Z","maintenance":{"dow":"monday","time":"12:00:00","pending_updates":[]},"name":"createmanageddatabase2","node_count":1,"node_states":[],"plan":"1x1xCPU-2GB","powered":true,"metadata":{"redis_version":"7"},"properties":{"automatic_utility_network_ip_filter":true,"ip_filter":["10.0.0.1/32"],"public_access":true,"redis_lfu_decay_time":1,"redis_lfu_log_factor":10,"redis_maxmemory_policy":"noeviction","redis_notify_keyspace_events":"","redis_ssl":true,"redis_timeout":300},"uuid":"0967a84e-7dd7-415b-8239-77742dfad956","state":"rebuilding","title":"createmanageddatabase2","type":"redis","update_time":"0001-01-01T00:00:00Z","service_uri":"rediss://default:AVNS_OMxAp3qmloBBPrAq8yc@createmanageddatabase2-zhbmidiechch.db.upclouddatabases.com:11551","service_uri_params":{"host":"createmanageddatabase2-zhbmidiechch.db.upclouddatabases.com","password":"AVNS_OMxAp3qmloBBPrAq8yc","port":"11551","ssl":"required","user":"default"},"users":[{"username":"default","type":"primary"}],"zone":"fi-hel2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"hostname_prefix":"createmanageddatabase3","plan":"1x2xCPU-4GB-80GB-1D","properties":{"automatic_utility_network_ip_filter":true,"ip_filter":["10.0.0.1/32"],"public_access":true},"title":"createmanageddatabase3","type":"opensearch","zone":"fi-hel2","maintenance":{"dow":"monday","time":"12:00:00"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database
    method: POST
  response:
    body: '{"backups":[],"components":[{"component":"opensearch","host":"createmanageddatabase3-zhbmidiechch.db.upclouddatabases.com","port":11550,"route":"dynamic","usage":"primary"},{"component":"opensearch","host":"public-createmanageddatabase3-zhbmidiechch.db.upclouddatabases.com","port":11550,"route":"public","usage":"primary"},{"component":"opensearch_dashboards","host":"createmanageddatabase3-zhbmidiechch.db.upclouddatabases.com","port":443,"route":"dynamic","usage":"primary"},{"component":"opensearch_dashboards","host":"public-createmanageddatabase3-zhbmidiechch.db.upclouddatabases.com","port":443,"route":"public","usage":"primary"}],"create_time":"0001-01-01T00:00:00Z","maintenance":{"dow":"monday","time":"12:00:00","pending_updates":[]},"name":"createmanageddatabase3","node_count":1,"node_states":[],"plan":"1x2xCPU-4GB-80GB-1D","powered":true,"metadata":{"opensearch_version":"2","upgrade_version":null},"properties":{"automatic_utility_network_ip_filter":true,"ip_filter":["10.0.0.1/32"],"max_index_count":0,"public_access":true,"version":"2"},"uuid":"0970d206-95fe-4e2a-bac4-99ca6e0a141c","state":"rebuilding","title":"createmanageddatabase3","type":"opensearch","update_time":"0001-01-01T00:00:00Z","service_uri":"https://upadmin:AVNS_ZAB17Vu9wyPyUfO9Rp3@createmanageddatabase3-zhbmidiechch.db.upclouddatabases.com:11550","service_uri_params":{"host":"createmanageddatabase3-zhbmidiechch.db.upclouddatabases.com","password":"AVNS_ZAB17Vu9wyPyUfO9Rp3","port":"11550","user":"upadmin"},"users":[{"username":"upadmin","type":"primary"}],"zone":"fi-hel2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
