---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/03e4970d-7791-4b80-a892-682ae0faf46b
    method: GET
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "176.16.1.0/24",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "family" : "IPv4",
                     "gateway" : "176.16.1.1"
                  }
               ]
            },
            "labels" : [],
            "name" : "upcloud-go-sdk-test",
            "type" : "private",
            "uuid" : "03e4970d-7791-4b80-a892-682ae0faf46b",
            "zone" : "de-fra1"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"go-sdk-test-ctx","network":"03e4970d-7791-4b80-a892-682ae0faf46b","network_cidr":"176.16.1.0/24","node_groups":[{"count":2,"labels":[{"key":"managedBy","value":"go-sdk"}],"name":"testgroup","plan":"K8S-2xCPU-4GB","ssh_keys":["ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIO3fnjc8UrsYDNU8365mL3lnOPQJg18V42Lt8U/8Sm+r testy_test"]}],"zone":"de-fra1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/kubernetes
    method: POST
  response:
    body: ""
    headers:
      Location:
      - /1.3/kubernetes/
    status: 307 Temporary Redirect
    code: 307
    duration: ""
- request:
    body: '{"name":"go-sdk-test-ctx","network":"03e4970d-7791-4b80-a892-682ae0faf46b","network_cidr":"176.16.1.0/24","node_groups":[{"count":2,"labels":[{"key":"managedBy","value":"go-sdk"}],"name":"testgroup","plan":"K8S-2xCPU-4GB","ssh_keys":["ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIO3fnjc8UrsYDNU8365mL3lnOPQJg18V42Lt8U/8Sm+r testy_test"]}],"zone":"de-fra1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/kubernetes/
    method: POST
  response:
    body: '{"name":"go-sdk-test-ctx","network":"03e4970d-7791-4b80-a892-682ae0faf46b","network_cidr":"176.16.1.0/24","node_groups":[{"count":2,"labels":[{"key":"managedBy","value":"go-sdk"}],"name":"testgroup","plan":"K8S-2xCPU-4GB","ssh_keys":["ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIO3fnjc8UrsYDNU8365mL3lnOPQJg18V42Lt8U/8Sm+r testy_test"]}],"state":"pending","uuid":"0dca7a18-98e1-4e2d-aea5-ef5dd5fa450e","zone":"de-fra1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: ""
