---
version: 1
interactions:
- request:
    body: '{"router":{"name":"Testy McRouterface (test)"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/router
    method: POST
  response:
    body: |
      {
         "router" : {
            "attached_networks" : {
               "network" : []
            },
            "name" : "Testy McRouterface (test)",
            "static_routes" : [],
            "type" : "normal",
            "uuid" : "04461614-9ae4-4714-b990-8b9db9f047dc"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"router":{"name":"Modified name (test)"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/router/04461614-9ae4-4714-b990-8b9db9f047dc
    method: PATCH
  response:
    body: |
      {
         "router" : {
            "attached_networks" : {
               "network" : []
            },
            "name" : "Modified name (test)",
            "static_routes" : [],
            "type" : "normal",
            "uuid" : "04461614-9ae4-4714-b990-8b9db9f047dc"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/router
    method: GET
  response:
    body: |
      {
         "routers" : {
            "router" : [
               {
                  "attached_networks" : {
                     "network" : [
                        {
                           "uuid" : "0343ede2-9890-4470-b680-0dcda6d9f7e3"
                        },
                        {
                           "uuid" : "03c40911-2f43-4138-bb91-7561a8351353"
                        }
                     ]
                  },
                  "name" : "Utility network router for zone fi-hel2",
         [...]
[...]
