---
version: 1
interactions:
- request:
    body: '{"network":{"name":"upcloud-go-sdk-test","zone":"de-fra1","ip_networks":{"ip_network":[{"address":"10.0.96.0/24","dhcp":"yes","dhcp_default_route":"no","family":"IPv4"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "10.0.96.0/24",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "family" : "IPv4",
                     "gateway" : "10.0.96.1"
                  }
               ]
            },
            "name" : "upcloud-go-sdk-test",
            "type" : "private",
            "uuid" : "0385327e-80ac-4603-82fd-09f94b9a6194",
            "zone" : "de-fra1"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
