---
version: 1
interactions:
- request:
    body: '{"router":{"name":"Testy McRouterface (test)","static_routes":[{"name":"static_route_0","route":"0.0.0.0/0","nexthop":"10.0.0.100"}]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/router
    method: POST
  response:
    body: |
      {
         "router" : {
            "attached_network_gateways" : [],
            "attached_networks" : {
               "network" : []
            },
            "labels" : [],
            "name" : "Testy McRouterface (test)",
            "static_routes" : [
               {
                  "name" : "static_route_0",
                  "nexthop" : "10.0.0.100",
                  "route" : "0.0.0.0/0"
               }
            ],
            "type" : "normal",
            "uuid" : "045fc7a9-9dc0-424e-8c06-2c35815f2ea1"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"router":{"name":"Modified name (test)"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/router/045fc7a9-9dc0-424e-8c06-2c35815f2ea1
    method: PATCH
  response:
    body: |
      {
         "router" : {
            "attached_network_gateways" : [],
            "attached_networks" : {
               "network" : []
            },
            "labels" : [],
            "name" : "Modified name (test)",
            "static_routes" : [
               {
                  "name" : "static_route_0",
                  "nexthop" : "10.0.0.100",
                  "route" : "0.0.0.0/0"
               }
            ],
            "type" : "normal",
            "uuid" : "045fc7a9-9dc0-424e-8c06-2c35815f2ea1"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/router
    method: GET
  response:
    body: |
      {
         "routers" : {
            "router" : [
               {
                  "attached_network_gateways" : [],
                  "attached_networks" : {
                     "network" : [
                        {
                           "uuid" : "03c40911-2f43-4138-bb91-7561a8351353"
                        },
                        {
                           "uuid" : "0343ede2-9890-4470-b680-0dcda6d9f7e3"
                        },
                        {
                           "uuid" : "0324c6e[...]
[...]
