---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/tag/testTag
    method: DELETE
  response:
    body: |
      {
         "error" : {
            "error_code" : "TAG_NOT_FOUND",
            "error_message" : "The tag testTag does not exist."
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"tag":{"name":"testTag","servers":{"server":[]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/tag
    method: POST
  response:
    body: |
      {
         "tag" : {
            "description" : "",
            "name" : "testTag",
            "servers" : {
               "server" : []
            }
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
