---
version: 1
interactions:
- request:
    body: '{"network":{"name":"test private network (test)","zone":"fi-hel2","ip_networks":{"ip_network":[{"address":"172.17.0.0/22","dhcp":"yes","dhcp_default_route":"no","dhcp_dns":["172.17.0.10","172.17.1.10"],"dhcp_routes":["192.168.0.0/24","192.168.100.100/32"],"family":"IPv4","gateway":"172.17.0.1"}]},"labels":[{"key":"env","value":"test"}]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "172.17.0.0/22",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "dhcp_dns" : [
                        "172.17.0.10",
                        "172.17.1.10"
                     ],
                     "dhcp_routes" : [
                        "192.168.0.0/24",
                        "192.168.100.100/32"
                     ],
                     "family" : "IPv4",
                     "gateway" : "172.17.0.1"
                  }
               ]
            },
            "labels" : [
               {
                  "key" : "env",
                  "value" : "test"
               }
            ],
            "name" : "test private network (test)",
            "type" : "private",
            "uuid" : "038de4ca-f2dd-48b3-a383-a7483a04d714",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"network":{"name":"modified private network (test)"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/038de4ca-f2dd-48b3-a383-a7483a04d714
    method: PUT
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "172.17.0.0/22",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "dhcp_dns" : [
                        "172.17.0.10",
                        "172.17.1.10"
                     ],
                     "dhcp_routes" : [
                        "192.168.0.0/24",
                        "192.168.100.100/32"
                     ],
                     "family" : "IPv4",
                     "gateway" : "172.17.0.1"
                  }
               ]
            },
            "labels" : [
               {
                  "key" : "env",
                  "value" : "test"
               }
            ],
            "name" : "modified private network (test)",
            "type" : "private",
            "uuid" : "038de4ca-f2dd-48b3-a383-a7483a04d714",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"server":{"hostname":"uploud-go-sdk-integration-test-testcreatemodifydeletenetwork.example.com","labels":{"label":[{"key":"managedBy","value":"upcloud-sdk-integration-test"},{"key":"testName","value":"TestCreateModifyDeleteNetwork"}]},"metadata":"no","networking":{"interfaces":{"interface":[{"ip_addresses":{"ip_address":[{"family":"IPv4"}]},"type":"utility"},{"ip_addresses":{"ip_address":[{"family":"IPv4"}]},"type":"public"},{"ip_addresses":{"ip_address":[{"family":"IPv6"}]},"type":"public"}]}},"password_delivery":"none","storage_devices":{"storage_device":[{"action":"clone","storage":"01000000-0000-4000-8000-000020060100","title":"disk1","size":10,"tier":"maxiops"}]},"title":"uploud-go-sdk-integration-test-TestCreateModifyDeleteNetwork","remote_access_enabled":"no","zone":"fi-hel2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1695124374,
            "firewall" : "off",
            "host" : 5335433859,
            "hostname" : "uploud-go-sdk-integration-test-testcreatemodifydeletenetwork.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "utility",
                     "address" : "10.6.5.243",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:d845:c4ff:fe5c:263b",
                     "family" : "IPv6"
                  },
                  {
                     "access" : "public",
                     "address" : "94.237.105.108",
                     "family" : "IPv4"
                  }
               ]
            },
            "labels" : {
               "label" : [
                  {
                     "key" : "managedBy",
                     "value" : "upcloud-sdk-integration-test"
                  },
                  {
                     "key" : "testName",
                     "value" : "TestCreateModifyDeleteNetwork"
                  }
               ]
            },
            "license" : 0,
            "memory_amount" : "1024",
            "metadata" : "no",
            "networking" : {
               "interfaces" : {
                  "interface" : [
                     {
                        "bootable" : "no",
                        "index" : 1,
                        "ip_addresses" : {
                           "ip_address" : [
                              {
                                 "address" : "10.6.5.243",
                                 "dhcp_provided" : "yes",
                                 "family" : "IPv4",
                                 "floating" : "no"
                              }
                           ]
                        },
                        "mac" : "da:45:c4:5c:8b:56",
                        "network" : "0343ede2-9890-4470-b680-0dcda6d9f7e3",
                        "source_ip_filtering" : "yes",
                        "type" : "utility"
                     },
                     {
                        "bootable" : "no",
                        "index" : 2,
                        "ip_addresses" : {
                           "ip_address" : [
                              {
                                 "address" : "94.237.105.108",
                                 "dhcp_provided" : "yes",
                                 "family" : "IPv4",
                              [...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/00e0d611-a133-4fc4-8f1c-9d017ad77ad4
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1695124374,
            "firewall" : "off",
            "host" : 5335433859,
            "hostname" : "uploud-go-sdk-integration-test-testcreatemodifydeletenetwor[...]
- request:
    body: '{"stop_server":{"stop_type":"hard","timeout":"900"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/00e0d611-a133-4fc4-8f1c-9d017ad77ad4/stop
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1695124374,
            "firewall" : "off",
            "host" : 5335433859,
            "hostname" : "uploud-go-sdk-integration-test-testcreatemodifydeletenetwork.example[...]
- request:
    body: '{"interface":{"type":"private","network":"038de4ca-f2dd-48b3-a383-a7483a04d714","ip_addresses":{"ip_address":[{"family":"IPv4"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/00e0d611-a133-4fc4-8f1c-9d017ad77ad4/networking/interface
    method: POST
  response:
    body: |
      {
         "interface" : {
            "bootable" : "no",
            "index" : 4,
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "address" : "172.17.0.2",
                     "dhcp_provided" : "yes",
                     "family" : "IPv4",
                     "floating" : "no"
                  }
               ]
            },
            "mac" : "da:45:c4:5c:a5:b7",
            "network" : "038de4ca-f2dd-48b3-a383-a7483a04d714",
            "source_ip_filtering" : "yes",
            "type" : "private"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"interface":{"index":5}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/00e0d611-a133-4fc4-8f1c-9d017ad77ad4/networking/interface/4
    method: PUT
  response:
    body: |
      {
         "interface" : {
            "bootable" : "no",
            "index" : 5,
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "address" : "172.17.0.2",
                     "dhcp_provided" : "yes",
                     "family" : "IPv4",
                     "floating" : "no"
                  }
               ]
            },
            "mac" : "da:45:c4:5c:a5:b7",
            "network" : "038de4ca-f2dd-48b3-a383-a7483a04d714",
            "source_ip_filtering" : "yes",
            "type" : "private"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/?zone=fi-hel2
    method: GET
  response:
    body: |
      {
         "networks" : {
            "network" : [
               {
                  "ip_networks" : {
                     "ip_network" : [
                        {
                           "address" : "94.237.8.0/22",
                           "dhcp" : "yes",
                           "dhcp_default_route" : "yes",
                           "dhcp_dns" : [
                              "94.237.127.9",
                              "94.237.40.9"
                           ],
                           "family" [...]
