---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/regions
    method: GET
  response:
    body: '[{"name":"europe-1","primary_zone":"fi-hel2","zones":[{"name":"fi-hel2"},{"name":"de-fra1"},{"name":"es-mad1"},{"name":"fi-hel1"},{"name":"nl-ams1"},{"name":"pl-waw1"},{"name":"uk-lon1"},{"name":"se-sto1"}]}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"configured_status":"started","labels":[{"key":"example-key","value":"example-value"}],"name":"go-sdk-integration-test","networks":[{"family":"IPv4","name":"example-public-network","type":"public"}],"region":"europe-1","users":[{"username":"test"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2
    method: POST
  response:
    body: '{"configured_status":"started","created_at":"2024-01-18T15:51:06.794852Z","endpoints":[{"domain_name":"6bvn6.upcloudobjects.com","type":"public"}],"labels":[{"key":"example-key","value":"example-value"}],"name":"go-sdk-integration-test","networks":[{"family":"IPv4","name":"example-public-network","type":"public"}],"operational_state":"pending","region":"europe-1","updated_at":"2024-01-18T15:51:06.794852Z","usage":{"total_objects":0,"total_size_bytes":0},"users":[{"access_keys":[],"created_at":"2024-01-18T15:51:06.794852Z","operational_state":"pending","updated_at":"2024-01-18T15:51:06.794852Z","username":"test"}],"uuid":"1232ff73-c198-4d8a-adc7-a4ef3093b017"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"router":{"name":"managed-object-storage-router"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/router
    method: POST
  response:
    body: |
      {
         "router" : {
            "attached_network_gateways" : [],
            "attached_networks" : {
               "network" : []
            },
            "labels" : [],
            "name" : "managed-object-storage-router",
            "static_routes" : [],
            "type" : "normal",
            "uuid" : "04e52a16-4976-4090-b36f-8c470ffe29da"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"network":{"name":"managed-object-storage","zone":"fi-hel1","router":"04e52a16-4976-4090-b36f-8c470ffe29da","ip_networks":{"ip_network":[{"address":"172.18.1.0/24","dhcp":"no","dhcp_default_route":"no","family":"IPv4","gateway":"172.18.1.1"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "172.18.1.0/24",
                     "dhcp" : "no",
                     "dhcp_default_route" : "no",
                     "family" : "IPv4",
                     "gateway" : "172.18.1.1"
                  }
               ]
            },
            "labels" : [],
            "name" : "managed-object-storage",
            "router" : "04e52a16-4976-4090-b36f-8c470ffe29da",
            "type" : "private",
            "uuid" : "039d12e2-1fc1-4e6a-b53b-f6b73045e4b9",
            "zone" : "fi-hel1"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"family":"IPv4","name":"private-network","type":"private","uuid":"039d12e2-1fc1-4e6a-b53b-f6b73045e4b9"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/1232ff73-c198-4d8a-adc7-a4ef3093b017/networks
    method: POST
  response:
    body: '{"family":"IPv4","name":"private-network","type":"private","uuid":"039d12e2-1fc1-4e6a-b53b-f6b73045e4b9"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/039d12e2-1fc1-4e6a-b53b-f6b73045e4b9
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/router/04e52a16-4976-4090-b36f-8c470ffe29da
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/1232ff73-c198-4d8a-adc7-a4ef3093b017
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
