---
version: 1
interactions:
- request:
    body: '{"server":{"hostname":"uploud-go-sdk-integration-test-testcreatemodifydeleteserver.example.com","ip_addresses":{"ip_address":[{"access":"private","family":"IPv4"},{"access":"public","family":"IPv4"},{"access":"public","family":"IPv6"}]},"password_delivery":"none","storage_devices":{"storage_device":[{"action":"clone","storage":"01000000-0000-4000-8000-000030060200","title":"disk1","size":30,"tier":"maxiops"}]},"title":"uploud-go-sdk-integration-test-TestCreateModifyDeleteServer","zone":"fi-hel2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/server
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1596531248,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testcreatemodifydeleteserver.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "private",
                     "address" : "10.6.6.224",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:9098:bfff:fef8:4801",
                     "family" : "IPv6"
                  },
                  {
                     "access" : "public",
                     "address" : "94.237.104.87",
                     "family" : "IPv4"
                  }
               ]
            },
            "license" : 0,
            "memory_amount" : "1024",
            "metadata" : "no",
            "nic_model" : "virtio",
            "password" : "7k3sbt9k",
            "plan" : "custom",
            "plan_ipv4_bytes" : "0",
            "plan_ipv6_bytes" : "0",
            "progress" : "0",
            "state" : "maintenance",
            "storage_devices" : {
               "storage_device" : [
                  {
                     "address" : "virtio:0",
                     "boot_disk" : "0",
                     "storage" : "01fc8746-d102-44e3-a6e7-30e7ef04d815",
                     "storage_size" : 30,
                     "storage_title" : "disk1",
                     "type" : "disk"
                  }
               ]
            },
            "tags" : {
               "tag" : []
            },
            "timezone" : "UTC",
            "title" : "uploud-go-sdk-integration-test-TestCreateModifyDeleteServer",
            "username" : "root",
            "uuid" : "00f243d9-f8d0-43ed-9d72-48ad25412551",
            "video_model" : "cirrus",
            "vnc" : "off",
            "vnc_password" : "NUu8KqN2",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/server/00f243d9-f8d0-43ed-9d72-48ad25412551
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1596531248,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testcreatemodifydeleteserver.example.com",
            "ip_ad[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/server/00f243d9-f8d0-43ed-9d72-48ad25412551
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1596531248,
            "firewall" : "off",
            "host" : 7617135235,
            "hostname" : "uploud-go-sdk-integration-test-testcreatemodifydeleteserver.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "private",
                     "address" : "10.6.6.224",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:9098:bfff:fef8:4801",
                 [...]
[...]
- request:
    body: '{"stop_server":{"stop_type":"hard","timeout":"900"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/server/00f243d9-f8d0-43ed-9d72-48ad25412551/stop
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1596531248,
            "firewall" : "off",
            "host" : 7617135235,
            "hostname" : "uploud-go-sdk-integration-test-testcreatemodifydeleteserver.example.[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/storage/private
    method: GET
  response:
    body: |
      {
         "storages" : {
            "storage" : [
               {
                  "access" : "private",
                  "license" : 0,
                  "size" : 30,
                  "state" : "online",
                  "tier" : "maxiops",
                  "title" : "disk1",
                  "type" : "normal",
                  "uuid" : "012934c6-7498-44b9-97de-5571fc42ccde",
                  "zone" : "fi-hel2"
               },
               {
                  "access" : "private",
                  "license" : 0,
                  "part_of_plan" : "yes",
                  "size" : 25,
                  "state" : "online",
                  "tier" : "maxiops",
                  "title" : "centos-1cpu-1gb-fi-hel1 Device 1",
                  "type" : "normal",
                  "uuid" : "014cc867-765d-499a-8121-72df8064400d",
                  "zone" : "fi-hel1"
               },
               {
                  "access" : "private",
                  "license" : 0,
                  "size" : 30,
                  "state" : "online",
                  "tier" : "maxiops",
                  "title" : "disk1",
                  "type" : "normal",
                  "uuid" : "01f19423-0abb-40a9-ab22-22fd850c9ea4",
                  "zone" : "fi-hel2"
               },
               {
                  "access" : "private",
                  "license" : 0,
                  "size" : 30,
                  "state" : "online",
                  "tier" : "maxiops",
                  "title" : "disk1",
                  "type" : "normal",
                  "uuid" : "01fc8746-d102-44e3-a6e7-30e7ef04d815",
                  "zone" : "fi-hel2"
               }
            ]
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
