---
version: 1
interactions:
- request:
    body: '{"name":"AAA-go-test-loadbalancer-1646814422","plan":"development","zone":"pl-waw1","network_uuid":"03716b3c-663f-46ab-a7a4-84221525030b","configured_status":"started","frontends":[],"backends":[]}'
    form: {}
    headers:
      Authorization:
      - Basic a2FtaWx0ZXN0OlBFTFRfYmVjazhoZWVrNGJsaXA=
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/loadbalancer
    method: POST
  response:
    body: '{"backends":[],"configured_status":"started","created_at":"2022-03-09T08:27:03.278474Z","dns_name":"lb-0a0cefa5a6ef41d1b6523106164f4164.upcloudlb.com","frontends":[],"name":"AAA-go-test-loadbalancer-1646814422","network_uuid":"03716b3c-663f-46ab-a7a4-84221525030b","operational_state":"pending","plan":"development","updated_at":"2022-03-09T08:27:03.278474Z","uuid":"0a0cefa5-a6ef-41d1-b652-3106164f4164","zone":"pl-waw1"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-test-lb-backend","members":[]}'
    form: {}
    headers:
      Authorization:
      - Basic a2FtaWx0ZXN0OlBFTFRfYmVjazhoZWVrNGJsaXA=
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/loadbalancer/0a0cefa5-a6ef-41d1-b652-3106164f4164/backends
    method: POST
  response:
    body: '{"created_at":"0001-01-01T00:00:00Z","members":[],"name":"go-test-lb-backend","updated_at":"0001-01-01T00:00:00Z"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"test_member","weight":100,"max_sessions":123,"enabled":true,"type":"static","ip":"10.0.0.2","port":80,"server_uuid":"0050febf-b881-4db1-85ce-4c92776a47e2"}'
    form: {}
    headers:
      Authorization:
      - Basic a2FtaWx0ZXN0OlBFTFRfYmVjazhoZWVrNGJsaXA=
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/loadbalancer/0a0cefa5-a6ef-41d1-b652-3106164f4164/backends/go-test-lb-backend/members
    method: POST
  response:
    body: '{"created_at":"0001-01-01T00:00:00Z","enabled":true,"ip":"10.0.0.2","max_sessions":123,"name":"test_member","port":80,"server_uuid":"0050febf-b881-4db1-85ce-4c92776a47e2","type":"static","updated_at":"0001-01-01T00:00:00Z","weight":100}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"test_member_TURBO","weight":50,"max_sessions":321}'
    form: {}
    headers:
      Authorization:
      - Basic a2FtaWx0ZXN0OlBFTFRfYmVjazhoZWVrNGJsaXA=
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/loadbalancer/0a0cefa5-a6ef-41d1-b652-3106164f4164/backends/go-test-lb-backend/members/test_member
    method: PATCH
  response:
    body: '{"created_at":"2022-03-09T08:27:03.90423Z","enabled":true,"ip":"10.0.0.2","max_sessions":321,"name":"test_member_TURBO","port":80,"server_uuid":"0050febf-b881-4db1-85ce-4c92776a47e2","type":"static","updated_at":"2022-03-09T08:27:03.90423Z","weight":50}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ip":"231.231.231.231","port":3003,"type":"dynamic"}'
    form: {}
    headers:
      Authorization:
      - Basic a2FtaWx0ZXN0OlBFTFRfYmVjazhoZWVrNGJsaXA=
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/loadbalancer/0a0cefa5-a6ef-41d1-b652-3106164f4164/backends/go-test-lb-backend/members/test_member_TURBO
    method: PATCH
  response:
    body: '{"created_at":"2022-03-09T08:27:03.90423Z","enabled":true,"ip":"231.231.231.231","max_sessions":321,"name":"test_member_TURBO","port":3003,"server_uuid":"0050febf-b881-4db1-85ce-4c92776a47e2","type":"dynamic","updated_at":"2022-03-09T08:27:04.183472Z","weight":50}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
