---
version: 1
interactions:
- request:
    body: '{"network":{"name":"test private network (test)","zone":"fi-hel2","ip_networks":{"ip_network":[{"address":"172.17.0.0/22","dhcp":"yes","dhcp_default_route":"no","dhcp_dns":["172.17.0.10","172.17.1.10"],"family":"IPv4","gateway":"172.17.0.1"}]},"labels":[{"key":"env","value":"test"}]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "172.17.0.0/22",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "dhcp_dns" : [
                        "172.17.0.10",
                        "172.17.1.10"
                     ],
                     "family" : "IPv4",
                     "gateway" : "172.17.0.1"
                  }
               ]
            },
            "labels" : [
               {
                  "key" : "env",
                  "value" : "test"
               }
            ],
            "name" : "test private network (test)",
            "type" : "private",
            "uuid" : "032dcd51-549b-499a-bd7d-18f2983e2cac",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"network":{"name":"modified private network (test)"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/032dcd51-549b-499a-bd7d-18f2983e2cac
    method: PUT
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "172.17.0.0/22",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "dhcp_dns" : [
                        "172.17.0.10",
                        "172.17.1.10"
                     ],
                     "family" : "IPv4",
                     "gateway" : "172.17.0.1"
                  }
               ]
            },
            "labels" : [
               {
                  "key" : "env",
                  "value" : "test"
               }
            ],
            "name" : "modified private network (test)",
            "type" : "private",
            "uuid" : "032dcd51-549b-499a-bd7d-18f2983e2cac",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"server":{"hostname":"uploud-go-sdk-integration-test-testcreatemodifydeletenetwork.example.com","labels":{"label":[{"key":"managedBy","value":"upcloud-sdk-integration-test"},{"key":"testName","value":"TestCreateModifyDeleteNetwork"}]},"metadata":"no","networking":{"interfaces":{"interface":[{"ip_addresses":{"ip_address":[{"family":"IPv4"}]},"type":"utility"},{"ip_addresses":{"ip_address":[{"family":"IPv4"}]},"type":"public"},{"ip_addresses":{"ip_address":[{"family":"IPv6"}]},"type":"public"}]}},"password_delivery":"none","storage_devices":{"storage_device":[{"action":"clone","storage":"01000000-0000-4000-8000-000020060100","title":"disk1","size":10,"tier":"maxiops"}]},"title":"uploud-go-sdk-integration-test-TestCreateModifyDeleteNetwork","remote_access_enabled":"no","zone":"fi-hel2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1674216375,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testcreatemodifydeletenetwork.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "utility",
                     "address" : "10.6.3.251",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:d40e:4aff:fe6f:4e21",
                     "family" : "IPv6"
                  },
                  {
                     "access" : "public",
                     "address" : "94.237.13.25",
                     "family" : "IPv4"
                  }
               ]
            },
            "labels" : {
               "label" : [
                  {
                     "key" : "managedBy",
                     "value" : "upcloud-sdk-integration-test"
                  },
                  {
                     "key" : "testName",
                     "value" : "TestCreateModifyDeleteNetwork"
                  }
               ]
            },
            "license" : 0,
            "memory_amount" : "1024",
            "metadata" : "no",
            "networking" : {
               "interfaces" : {
                  "interface" : [
                     {
                        "bootable" : "no",
                        "index" : 1,
                        "ip_addresses" : {
                           "ip_address" : [
                              {
                                 "address" : "10.6.3.251",
                                 "dhcp_provided" : "yes",
                                 "family" : "IPv4",
                                 "floating" : "no"
                              }
                           ]
                        },
                        "mac" : "d6:0e:4a:6f:95:27",
                        "network" : "0362de07-207b-4773-a036-f4ee4afe93c9",
                        "source_ip_filtering" : "yes",
                        "type" : "utility"
                     },
                     {
                        "bootable" : "no",
                        "index" : 2,
                        "ip_addresses" : {
                           "ip_address" : [
                              {
                                 "address" : "94.237.13.25",
                                 "dhcp_provided" : "yes",
                                 "family" : "IPv4",
                                [...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/00439fb1-24ef-4c7b-aa52-680ef59e7879
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1674216375,
            "firewall" : "off",
            "host" : 6862160515,
            "hostname" : "uploud-go-sdk-integration-test-testcreatemodifydeletenetwork.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "utility",
                     "address" : "10.6.3.251",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:d40e:4aff:fe6f:4e21",
                [...]
- request:
    body: '{"stop_server":{"stop_type":"hard","timeout":"900"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/00439fb1-24ef-4c7b-aa52-680ef59e7879/stop
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1674216375,
            "firewall" : "off",
            "host" : 6862160515,
            "hostname" : "uploud-go-sdk-integration-test-testcreatemodifydeletenetwork.example[...]
- request:
    body: '{"interface":{"type":"private","network":"032dcd51-549b-499a-bd7d-18f2983e2cac","ip_addresses":{"ip_address":[{"family":"IPv4"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/00439fb1-24ef-4c7b-aa52-680ef59e7879/networking/interface
    method: POST
  response:
    body: |
      {
         "interface" : {
            "bootable" : "no",
            "index" : 4,
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "address" : "172.17.0.2",
                     "dhcp_provided" : "yes",
                     "family" : "IPv4",
                     "floating" : "no"
                  }
               ]
            },
            "mac" : "d6:0e:4a:6f:9d:46",
            "network" : "032dcd51-549b-499a-bd7d-18f2983e2cac",
            "source_ip_filtering" : "yes",
            "type" : "private"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"interface":{"index":5}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/00439fb1-24ef-4c7b-aa52-680ef59e7879/networking/interface/4
    method: PUT
  response:
    body: |
      {
         "interface" : {
            "bootable" : "no",
            "index" : 5,
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "address" : "172.17.0.2",
                     "dhcp_provided" : "yes",
                     "family" : "IPv4",
                     "floating" : "no"
                  }
               ]
            },
            "mac" : "d6:0e:4a:6f:9d:46",
            "network" : "032dcd51-549b-499a-bd7d-18f2983e2cac",
            "source_ip_filtering" : "yes",
            "type" : "private"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/?zone=fi-hel2
    method: GET
  response:
    body: |
      {
         "networks" : {
            "network" : [
               {
                  "ip_networks" : {
                     "ip_network" : [
                        {
                           "address" : "94.237.8.0/22",
                           "dhcp" : "yes",
                           "dhcp_default_route" : "yes",
                           "dhcp_dns" : [
                              "94.237.127.9",
                              "94.237.40.9"
                           ],
                           "family" : "IPv4",
                           "gateway" : "94.237.8.1"
                        }
                     ]
                  },
                  "labels" : [],
                  "name" : "Public 94.237.8.0/22",
                  "servers" : {
                     "server" : [
                        {
                           "title" : "uploud-go-sdk-integration-test-TestCreateModifyDeleteNetwork",
                           "uuid" : "00d35351-42b8-4a82-83bc-b5b90b6a8400"
                        }
                     ]
                  },
                  "type" : "public",
                  "uuid" : "03000000-0000-4000-8044-000000000000",
                  "zone" : "fi-hel2"
               },
               {
                  "ip_networks" : {
                     "ip_network" : [
                        {
                           "address" : "10.6.0.0/22",
                           "dhcp" : "yes",
                           "dhcp_default_route" : "no",
                           "dhcp_routes" : [
                              "10.0.0.0/8"
                           ],
                           "family" : "IPv4",
                           "gateway" : "10.6.0.1"
                        }
                     ]
                  },
                  "labels" : [],
                  "name" : "Private 10.6.0.0/22",
                  "type" : "utility",
                  "uuid" : "03000000-0000-4000-8045-000000000000",
                  "zone" : "fi-hel2"
               },
               [...]
