---
version: 1
interactions:
- request:
    body: '{"hostname_prefix":"createmanageddatabase","plan":"2x2xCPU-4GB-100GB","properties":{"automatic_utility_network_ip_filter":true,"ip_filter":["10.0.0.1/32"],"public_access":true},"title":"test","type":"mysql","zone":"fi-hel2","maintenance":{"dow":"monday","time":"12:00:00"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database
    method: POST
  response:
    body: '{"backups":[],"components":[{"component":"mysql","host":"createmanageddatabase-deviyydmahgscgy.db.upclouddatabases.com","port":11550,"route":"dynamic","usage":"primary"},{"component":"mysql","host":"public-createmanageddatabase-deviyydmahgscgy.db.upclouddatabases.com","port":11550,"route":"public","usage":"primary"},{"component":"mysqlx","host":"createmanageddatabase-deviyydmahgscgy.db.upclouddatabases.com","port":11554,"route":"dynamic","usage":"primary"},{"component":"mysqlx","host":"public-createmanageddatabase-deviyydmahgscgy.db.upclouddatabases.com","port":11554,"route":"public","usage":"primary"},{"component":"mysql","host":"replica-createmanageddatabase-deviyydmahgscgy.db.upclouddatabases.com","port":11550,"route":"dynamic","usage":"replica"},{"component":"mysql","host":"public-replica-createmanageddatabase-deviyydmahgscgy.db.upclouddatabases.com","port":11550,"route":"public","usage":"replica"},{"component":"mysqlx","host":"replica-createmanageddatabase-deviyydmahgscgy.db.upclouddatabases.com","port":11554,"route":"dynamic","usage":"replica"},{"component":"mysqlx","host":"public-replica-createmanageddatabase-deviyydmahgscgy.db.upclouddatabases.com","port":11554,"route":"public","usage":"replica"}],"create_time":"0001-01-01T00:00:00Z","maintenance":{"dow":"monday","time":"12:00:00"},"name":"createmanageddatabase","node_count":2,"node_states":[],"plan":"2x2xCPU-4GB-100GB","powered":true,"properties":{"automatic_utility_network_ip_filter":true,"ip_filter":["10.0.0.1/32"],"public_access":true},"uuid":"09c0bf42-c646-42af-8aed-d5add74620e7","state":"rebuilding","title":"test","type":"mysql","update_time":"0001-01-01T00:00:00Z","service_uri":"mysql://upadmin:o5jhY8WDhrRi9tp6@createmanageddatabase-deviyydmahgscgy.db.upclouddatabases.com:11550/defaultdb?ssl-mode=REQUIRED","service_uri_params":{"dbname":"defaultdb","host":"createmanageddatabase-deviyydmahgscgy.db.upclouddatabases.com","password":"o5jhY8WDhrRi9tp6","port":"11550","ssl_mode":"REQUIRED","user":"upadmin"},"users":null,"zone":"fi-hel2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/09c0bf42-c646-42af-8aed-d5add74620e7
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
[...]
