---
version: 1
interactions:
- request:
    body: '{"server":{"hostname":"uploud-go-sdk-integration-test-testcreatemodifydeleteserver.example.com","ip_addresses":{"ip_address":[{"access":"private","family":"IPv4"},{"access":"public","family":"IPv4"},{"access":"public","family":"IPv6"}]},"password_delivery":"none","storage_devices":{"storage_device":[{"action":"clone","storage":"01000000-0000-4000-8000-000030060200","title":"disk1","size":30,"tier":"maxiops"}]},"title":"uploud-go-sdk-integration-test-TestCreateModifyDeleteServer","zone":"fi-hel2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/server
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1596555844,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testcreatemodifydeleteserver.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "private",
                     "address" : "10.6.6.219",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:ec1b:dbff:feca:3992",
                     "family" : "IPv6"
                  },
                  {
                     "access" : "public",
                     "address" : "94.237.104.82",
                     "family" : "IPv4"
                  }
               ]
            },
            "license" : 0,
            "memory_amount" : "1024",
            "metadata" : "no",
            "nic_model" : "virtio",
            "password" : "727269ma",
            "plan" : "custom",
            "plan_ipv4_bytes" : "0",
            "plan_ipv6_bytes" : "0",
            "progress" : "0",
            "state" : "maintenance",
            "storage_devices" : {
               "storage_device" : [
                  {
                     "address" : "virtio:0",
                     "boot_disk" : "0",
                     "storage" : "01fe32ba-ab43-45b3-a15d-5b10fb7ebe65",
                     "storage_size" : 30,
                     "storage_title" : "disk1",
                     "type" : "disk"
                  }
               ]
            },
            "tags" : {
               "tag" : []
            },
            "timezone" : "UTC",
            "title" : "uploud-go-sdk-integration-test-TestCreateModifyDeleteServer",
            "username" : "root",
            "uuid" : "003df393-1ba8-4e7e-a1f6-c03c363a1d3a",
            "video_model" : "cirrus",
            "vnc" : "off",
            "vnc_password" : "7aPzxM5T",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/server/003df393-1ba8-4e7e-a1f6-c03c363a1d3a
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1596555844,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testcreatemodifydeleteserver.example.com",
            "ip_ad[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/server/003df393-1ba8-4e7e-a1f6-c03c363a1d3a
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1596555844,
            "firewall" : "off",
            "host" : 5201216131,
            "hostname" : "uploud-go-sdk-integration-test-testcreatemodifydeleteserver.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "private",
                     "address" : "10.6.6.219",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:ec1b:dbff:feca:3992",
                 [...]
[...]
- request:
    body: '{"stop_server":{"stop_type":"hard","timeout":"900"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/server/003df393-1ba8-4e7e-a1f6-c03c363a1d3a/stop
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1596555844,
            "firewall" : "off",
            "host" : 5201216131,
            "hostname" : "uploud-go-sdk-integration-test-testcreatemodifydeleteserver.example.[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/storage/private
    method: GET
  response:
    body: |
      {
         "storages" : {
            "storage" : [
               {
                  "access" : "private",
                  "license" : 0,
                  "size" : 30,
                  "state" : "online",
                  "tier" : "maxiops",
                  "title" : "disk1",
                  "type" : "normal",
                  "uuid" : "0115bc07-ce85-40f1-8134-a54dd4926518",
                  "zone" : "fi-hel2"
               },
               {
                  "access" : "private",
                  "license" : 0,
                  "size" : 30,
                  "state" : "online",
                  "tier" : "maxiops",
                  "title" : "disk1",
                  "type" : "normal",
                  "uuid" : "012af847-1c5c-45b3-b1f5-7d773932ef03",
                  "zone" : "fi-hel2"
               },
               {
                  "access" : "private",
                  "license" : 0,
                  "size" : 30,
                  "state" : "online",
                  "tier" : "maxiops",
                  "title" : "disk1",
                  "type" : "normal",
                  "uuid" : "012fa05d-5966-4e69-a3ac-756f141338c3",
                  "zone" : "fi-hel2"
               },
               {
                  "access" : "private",
                  "license" : 0,
                  "part_of_plan" : "yes",
                  "size" : 10,
                  "state" : "maintenance",
                  "tier" : "maxiops",
                  "title" : "terraform-debian.example.com-disk-0",
                  "type" : "normal",
                  "uuid" : "0137fdd7-f6b1-4cbc-a150-621f1ff20a3f",
                  "zone" : "fi-hel1"
               },
               {
                  "access" : "private",
                  "license" : 0,
                  "size" : 30,
                  "state" : "onli[...]
