---
version: 1
interactions:
- request:
    body: '{"network":{"name":"test private network #1 (test)","zone":"fi-hel2","ip_networks":{"ip_network":[{"address":"192.168.86.1/24","dhcp":"yes","dhcp_default_route":"no","dhcp_dns":["192.168.86.10","192.168.86.11"],"family":"IPv4","gateway":"192.168.86.1"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "192.168.86.1/24",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "dhcp_dns" : [
                        "192.168.86.10",
                        "192.168.86.11"
                     ],
                     "family" : "IPv4",
                     "gateway" : "192.168.86.1"
                  }
               ]
            },
            "name" : "test private network #1 (test)",
            "type" : "private",
            "uuid" : "03ea6ce9-dba6-465f-97a9-581cc5a5458b",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"router":{"name":"test router (test)"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/router
    method: POST
  response:
    body: |
      {
         "router" : {
            "attached_networks" : {
               "network" : []
            },
            "name" : "test router (test)",
            "type" : "normal",
            "uuid" : "0403bf6d-7628-4120-b63b-79aae3d270c2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"network":{"router":"0403bf6d-7628-4120-b63b-79aae3d270c2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/03ea6ce9-dba6-465f-97a9-581cc5a5458b
    method: PUT
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "192.168.86.1/24",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "dhcp_dns" : [
                        "192.168.86.10",
                        "192.168.86.11"
                     ],
                     "family" : "IPv4",
                     "gateway" : "192.168.86.1"
                  }
               ]
            },
            "name" : "test private network #1 (test)",
            "router" : "0403bf6d-7628-4120-b63b-79aae3d270c2",
            "type" : "private",
            "uuid" : "03ea6ce9-dba6-465f-97a9-581cc5a5458b",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"server":{"hostname":"uploud-go-sdk-integration-test-testctntr1.example.com","labels":{"label":[{"key":"managedBy","value":"upcloud-sdk-integration-test"},{"key":"testName","value":"TestCTNTR1"}]},"metadata":"no","networking":{"interfaces":{"interface":[{"ip_addresses":{"ip_address":[{"family":"IPv4"}]},"type":"utility"},{"ip_addresses":{"ip_address":[{"family":"IPv4"}]},"type":"public"},{"ip_addresses":{"ip_address":[{"family":"IPv6"}]},"type":"public"}]}},"password_delivery":"none","storage_devices":{"storage_device":[{"action":"clone","storage":"01000000-0000-4000-8000-000020060100","title":"disk1","size":10,"tier":"maxiops"}]},"title":"uploud-go-sdk-integration-test-TestCTNTR1","remote_access_enabled":"no","zone":"fi-hel2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1662692784,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testctntr1.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "utility",
                     "address" : "10.6.6.158",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:d845:c4ff:fe5c:56da",
                     "family" : "IPv6"
                  },
                  {
                     "access" : "public",
                     "address" : "94.237.14.165",
                     "family" : "IPv4"
                  }
               ]
            },
            "labels" : {
               "label" : [
                  {
                     "key" : "managedBy",
                     "value" : "upcloud-sdk-integration-test"
                  },
                  {
                     "key" : "testName",
                     "value" : "TestCTNTR1"
                  }
               ]
            },
            "license" : 0,
            "memory_amount" : "1024",
            "metadata" : "no",
            "networking" : {
               "interfaces" : {
                  "interface" : [
                     {
                        "bootable" : "no",
                        "index" : 1,
                        "ip_addresses" : {
                           "ip_address" : [
                              {
                                 "address" : "10.6.6.158",
                                 "family" : "IPv4",
                                 "floating" : "no"
                              }
                           ]
                        },
                        "mac" : "da:45:c4:5c:a7:3d",
                        "network" : "0343ede2-9890-4470-b680-0dcda6d9f7e3",
                        "source_ip_filtering" : "yes",
                        "type" : "utility"
                     },
                     {
                        "bootable" : "no",
                        "index" : 2,
                        "ip_addresses" : {
                           "ip_address" : [
                              {
                                 "address" : "94.237.14.165",
                                 "family" : "IPv4",
                                 "floating" : "no"
                              }
      [...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/0050e510-7c9b-4f26-b7a3-4954b41b9906
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1662692784,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testctntr1.example.com",
            "ip_addresses" : {
     [...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/0050e510-7c9b-4f26-b7a3-4954b41b9906
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1662692784,
            "firewall" : "off",
            "host" : 6325289603,
            "hostname" : "uploud-go-sdk-integration-test-testctntr1.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "utility",
                     "address" : "10.6.6.158",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:d845:c4ff:fe5c:56da",
                     "family" : "IP[...]
[...]
- request:
    body: '{"stop_server":{"stop_type":"hard","timeout":"900"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/0050e510-7c9b-4f26-b7a3-4954b41b9906/stop
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1662692784,
            "firewall" : "off",
            "host" : 6325289603,
            "hostname" : "uploud-go-sdk-integration-test-testctntr1.example.com",
            [...]
[...]
- request:
    body: '{"interface":{"type":"private","network":"03ea6ce9-dba6-465f-97a9-581cc5a5458b","ip_addresses":{"ip_address":[{"family":"IPv4"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/0050e510-7c9b-4f26-b7a3-4954b41b9906/networking/interface
    method: POST
  response:
    body: |
      {
         "interface" : {
            "bootable" : "no",
            "index" : 4,
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "address" : "192.168.86.2",
                     "family" : "IPv4",
                     "floating" : "no"
                  }
               ]
            },
            "mac" : "da:45:c4:5c:d4:b0",
            "network" : "03ea6ce9-dba6-465f-97a9-581cc5a5458b",
            "source_ip_filtering" : "yes",
            "type" : "private"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/03ea6ce9-dba6-465f-97a9-581cc5a5458b
    method: GET
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "192.168.86.1/24",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "dhcp_dns" : [
                        "192.168.86.10",
                        "192.168.86.11"
                     ],
                     "family" : "IPv4",
                     "gateway" : "192.168.86.1"
                  }
               ]
            },
            "name" : "test private network #1 (test)",
            "router" : "0403bf6d-7628-4120-b63b-79aae3d270c2",
            "servers" : {
               "server" : [
                  {
                     "title" : "uploud-go-sdk-integration-test-TestCTNTR1",
                     "uuid" : "0050e510-7c9b-4f26-b7a3-4954b41b9906"
                  }
               ]
            },
            "type" : "private",
            "uuid" : "03ea6ce9-dba6-465f-97a9-581cc5a5458b",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/router/0403bf6d-7628-4120-b63b-79aae3d270c2
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
