---
version: 1
interactions:
- request:
    body: '{"network":{"name":"test private network (test)","zone":"fi-hel2","ip_networks":{"ip_network":[{"address":"172.16.0.0/22","dhcp":"yes","dhcp_default_route":"no","dhcp_dns":["172.16.0.10","172.16.1.10"],"family":"IPv4","gateway":"172.16.0.1"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "172.16.0.0/22",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "dhcp_dns" : [
                        "172.16.0.10",
                        "172.16.1.10"
                     ],
                     "family" : "IPv4",
                     "gateway" : "172.16.0.1"
                  }
               ]
            },
            "name" : "test private network (test)",
            "type" : "private",
            "uuid" : "034cc193-7928-45b5-9859-9ba52a46de5e",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"network":{"name":"modified private network (test)"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/034cc193-7928-45b5-9859-9ba52a46de5e
    method: PUT
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "172.16.0.0/22",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "dhcp_dns" : [
                        "172.16.0.10",
                        "172.16.1.10"
                     ],
                     "family" : "IPv4",
                     "gateway" : "172.16.0.1"
                  }
               ]
            },
            "name" : "modified private network (test)",
            "type" : "private",
            "uuid" : "034cc193-7928-45b5-9859-9ba52a46de5e",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"server":{"hostname":"uploud-go-sdk-integration-test-testcreatemodifydeletenetwork.example.com","metadata":"no","networking":{"interfaces":{"interface":[{"ip_addresses":{"ip_address":[{"family":"IPv4"}]},"type":"utility"},{"ip_addresses":{"ip_address":[{"family":"IPv4"}]},"type":"public"},{"ip_addresses":{"ip_address":[{"family":"IPv6"}]},"type":"public"}]}},"password_delivery":"none","storage_devices":{"storage_device":[{"action":"clone","storage":"01000000-0000-4000-8000-000030060200","title":"disk1","size":30,"tier":"maxiops"}]},"title":"uploud-go-sdk-integration-test-TestCreateModifyDeleteNetwork","remote_access_enabled":"no","zone":"fi-hel2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1597846074,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testcreatemodifydeletenetwork.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "utility",
                     "address" : "10.6.6.237",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:ec1b:dbff:feca:7ca9",
                     "family" : "IPv6"
                  },
                  {
                     "access" : "public",
                     "address" : "94.237.104.125",
                     "family" : "IPv4"
                  }
               ]
            },
            "license" : 0,
            "memory_amount" : "1024",
            "metadata" : "no",
            "networking" : {
               "interfaces" : {
                  "interface" : [
                     {
                        "bootable" : "no",
                        "index" : 1,
                        "ip_addresses" : {
                           "ip_address" : [
                              {
                                 "address" : "10.6.6.237",
                                 "family" : "IPv4",
                                 "floating" : "no"
                              }
                           ]
                        },
                        "mac" : "ee:1b:db:ca:ba:e7",
                        "network" : "03a002de-994e-45aa-9e1c-9918f0908c57",
                        "source_ip_filtering" : "yes",
                        "type" : "utility"
                     },
                     {
                        "bootable" : "no",
                        "index" : 2,
                        "ip_addresses" : {
                           "ip_address" : [
                              {
                                 "address" : "94.237.104.125",
                                 "family" : "IPv4",
                                 "floating" : "no"
                              }
     [...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/00c7244d-569a-447e-9bb8-8786c330f764
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1597846074,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testcreatemodifydeletenetwork.example.com",
            "ip_a[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/00c7244d-569a-447e-9bb8-8786c330f764
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1597846074,
            "firewall" : "off",
            "host" : 7617135235,
            "hostname" : "uploud-go-sdk-integration-test-testcreatemodifydeletenetwork.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "utility",
                     "address" : "10.6.6.237",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:ec1b:dbff:feca:7ca9",
                [...]
- request:
    body: '{"stop_server":{"stop_type":"hard","timeout":"900"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/00c7244d-569a-447e-9bb8-8786c330f764/stop
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1597846074,
            "firewall" : "off",
            "host" : 7617135235,
            "hostname" : "uploud-go-sdk-integration-test-testcreatemodifydeletenetwork.example[...]
[...]
- request:
    body: '{"interface":{"type":"private","network":"034cc193-7928-45b5-9859-9ba52a46de5e","ip_addresses":{"ip_address":[{"family":"IPv4"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/00c7244d-569a-447e-9bb8-8786c330f764/networking/interface
    method: POST
  response:
    body: |
      {
         "interface" : {
            "bootable" : "no",
            "index" : 4,
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "address" : "172.16.0.2",
                     "family" : "IPv4",
                     "floating" : "no"
                  }
               ]
            },
            "mac" : "ee:1b:db:ca:97:32",
            "network" : "034cc193-7928-45b5-9859-9ba52a46de5e",
            "source_ip_filtering" : "yes",
            "type" : "private"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"interface":{"index":5}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/00c7244d-569a-447e-9bb8-8786c330f764/networking/interface/4
    method: PUT
  response:
    body: |
      {
         "interface" : {
            "bootable" : "no",
            "index" : 5,
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "address" : "172.16.0.2",
                     "family" : "IPv4",
                     "floating" : "no"
                  }
               ]
            },
            "mac" : "ee:1b:db:ca:97:32",
            "network" : "034cc193-7928-45b5-9859-9ba52a46de5e",
            "source_ip_filtering" : "yes",
            "type" : "private"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/?zone=fi-hel2
    method: GET
  response:
    body: |
      {
         "networks" : {
            "network" : [
               {
                  "ip_networks" : {
                     "ip_network" : [
                        {
                           "address" : "94.237.8.0/22",
                           "dhcp" : "yes",
                           "dhcp_default_route" : "yes",
                           "dhcp_dns" : [
                              "94.237.127.9",
                              "94.237.40.9"
                           ],
                           "family" : "IPv4",
                           "gateway" : "94.237.8.1"
                        }
                     ]
                  },
                  "name" : "Public 94.237.8.0/22",
                  "type" : "public",
                  "uuid" : "03000000-0000-4000-8044-000000000000",
                  "zone" : "fi-hel2"
               },
               {
                  "ip_networks" : {
                     "ip_network" : [
                        {
                           "address" : "10.6.0.0/22",
                           "dhcp" : "yes",
                           "dhcp_default_route" : "no",
                           "dhcp_routes" : [
                              "10.0.0.0/8"
                           ],
                           "family" : "IPv4",
                           "gateway" : "10.6.0.1"
                        }
                     ]
                  },
                  "name" : "Private 10.6.0.0/22",
                  "type" : "utility",
                  "uuid" : "03000000-0000-4000-8045-000000000000",
                  "zone" : "fi-hel2"
               },
               {
                  "ip_networks" : {
                     "ip_network" : [
                        {
                           "address" : "2a04:3545:1000:720::/64",
                           "dhcp" : "yes",
                           "dhcp_default_route" : "yes",
                           "dhcp_dns" : [
                              "2a04:3540:53::1",
                              "2a04:3544:53::1"
                           ],
                           "family" : "IPv6",
                           "gateway" : "2a04:3545:1000:720::1"
                        }
                     ]
                  },
                  "name" : "Public 2a04:3545:1000:720::/64",
                  "servers" : {
                     "server" : [
                        {
                           "title" : "uploud-go-sdk-integration-test-TestGetNetworks",
                           "uuid" : "00359333-53a6-497b-b8b4-b9cfb32d70c6"
                        },
                        {
                           "title" : "uploud-go-sdk-integration-test-TestGetNetworksInZone",
                           "uuid" : "00b00c11-962d-4f8a-be4e-6929136b24b6"
                        },
                        {
 [...]
