---
version: 1
interactions:
- request:
    body: '{"network":{"name":"test private network #1 (test)","zone":"fi-hel2","ip_networks":{"ip_network":[{"address":"192.168.86.1/24","dhcp":"yes","dhcp_default_route":"no","dhcp_dns":["192.168.86.10","192.168.86.11"],"family":"IPv4","gateway":"192.168.86.1"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "192.168.86.1/24",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "dhcp_dns" : [
                        "192.168.86.10",
                        "192.168.86.11"
                     ],
                     "family" : "IPv4",
                     "gateway" : "192.168.86.1"
                  }
               ]
            },
            "name" : "test private network #1 (test)",
            "type" : "private",
            "uuid" : "0354393c-9867-48f2-b642-c60c5a3d5ba9",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"router":{"name":"test router (test)"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/router
    method: POST
  response:
    body: |
      {
         "router" : {
            "attached_networks" : {
               "network" : []
            },
            "name" : "test router (test)",
            "type" : "normal",
            "uuid" : "04c83eec-7bdd-4b3a-a79d-b9118dc996d2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"network":{"router":"04c83eec-7bdd-4b3a-a79d-b9118dc996d2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/0354393c-9867-48f2-b642-c60c5a3d5ba9
    method: PUT
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "192.168.86.1/24",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "dhcp_dns" : [
                        "192.168.86.10",
                        "192.168.86.11"
                     ],
                     "family" : "IPv4",
                     "gateway" : "192.168.86.1"
                  }
               ]
            },
            "name" : "test private network #1 (test)",
            "router" : "04c83eec-7bdd-4b3a-a79d-b9118dc996d2",
            "type" : "private",
            "uuid" : "0354393c-9867-48f2-b642-c60c5a3d5ba9",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"server":{"hostname":"uploud-go-sdk-integration-test-testctntr1.example.com","metadata":"no","networking":{"interfaces":{"interface":[{"ip_addresses":{"ip_address":[{"family":"IPv4"}]},"type":"utility"},{"ip_addresses":{"ip_address":[{"family":"IPv4"}]},"type":"public"},{"ip_addresses":{"ip_address":[{"family":"IPv6"}]},"type":"public"}]}},"password_delivery":"none","storage_devices":{"storage_device":[{"action":"clone","storage":"01000000-0000-4000-8000-000030080200","title":"disk1","size":30,"tier":"maxiops"}]},"title":"uploud-go-sdk-integration-test-TestCTNTR1","remote_access_enabled":"no","zone":"fi-hel2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1621596893,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testctntr1.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "utility",
                     "address" : "10.6.4.94",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:b4d7:dbff:feb8:42f3",
                     "family" : "IPv6"
                  },
                  {
                     "access" : "public",
                     "address" : "94.237.13.19",
                     "family" : "IPv4"
                  }
               ]
            },
            "license" : 0,
            "memory_amount" : "1024",
            "metadata" : "no",
            "networking" : {
               "interfaces" : {
                  "interface" : [
                     {
                        "bootable" : "no",
                        "index" : 1,
                        "ip_addresses" : {
                           "ip_address" : [
                              {
                                 "address" : "10.6.4.94",
                                 "family" : "IPv4",
                                 "floating" : "no"
                              }
                           ]
                        },
                        "mac" : "b6:d7:db:b8:ba:af",
                        "network" : "03a6df69-e2b7-4ce8-b411-fbbbcef2bd58",
                        "source_ip_filtering" : "yes",
                        "type" : "utility"
                     },
                     {
                        "bootable" : "no",
                        "index" : 2,
                        "ip_addresses" : {
                           "ip_address" : [
                              {
                                 "address" : "94.237.13.19",
                                 "family" : "IPv4",
                                 "floating" : "no"
                              }
       [...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/0074c863-430e-4060-8aad-f0aad546473a
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1621596893,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testctntr1.example.com",
            "ip_addresses" : {
     [...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/0074c863-430e-4060-8aad-f0aad546473a
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1621596893,
            "firewall" : "off",
            "host" : 6862160515,
            "hostname" : "uploud-go-sdk-integration-test-testctntr1.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "utility",
                     "address" : "10.6.4.94",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:b4d7:dbff:feb8:42f3",
                     "family" : "IPv[...]
[...]
- request:
    body: '{"stop_server":{"stop_type":"hard","timeout":"900"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/0074c863-430e-4060-8aad-f0aad546473a/stop
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1621596893,
            "firewall" : "off",
            "host" : 6862160515,
            "hostname" : "uploud-go-sdk-integration-test-testctntr1.example.com",
            [...]
[...]
- request:
    body: '{"interface":{"type":"private","network":"0354393c-9867-48f2-b642-c60c5a3d5ba9","ip_addresses":{"ip_address":[{"family":"IPv4"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/0074c863-430e-4060-8aad-f0aad546473a/networking/interface
    method: POST
  response:
    body: |
      {
         "interface" : {
            "bootable" : "no",
            "index" : 4,
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "address" : "192.168.86.2",
                     "family" : "IPv4",
                     "floating" : "no"
                  }
               ]
            },
            "mac" : "b6:d7:db:b8:e0:0c",
            "network" : "0354393c-9867-48f2-b642-c60c5a3d5ba9",
            "source_ip_filtering" : "yes",
            "type" : "private"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/0354393c-9867-48f2-b642-c60c5a3d5ba9
    method: GET
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "192.168.86.1/24",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "dhcp_dns" : [
                        "192.168.86.10",
                        "192.168.86.11"
                     ],
                     "family" : "IPv4",
                     "gateway" : "192.168.86.1"
                  }
               ]
            },
            "name" : "test private network #1 (test)",
            "router" : "04c83eec-7bdd-4b3a-a79d-b9118dc996d2",
            "servers" : {
               "server" : [
                  {
                     "title" : "uploud-go-sdk-integration-test-TestCTNTR1",
                     "uuid" : "0074c863-430e-4060-8aad-f0aad546473a"
                  }
               ]
            },
            "type" : "private",
            "uuid" : "0354393c-9867-48f2-b642-c60c5a3d5ba9",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/router/04c83eec-7bdd-4b3a-a79d-b9118dc996d2
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
