---
version: 1
interactions:
- request:
    body: '{"router":{"name":"Testy McRouterface (test)"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/router
    method: POST
  response:
    body: |
      {
         "router" : {
            "attached_networks" : {
               "network" : []
            },
            "name" : "Testy McRouterface (test)",
            "type" : "normal",
            "uuid" : "04b170fa-b751-45c2-851a-f2984a300343"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"router":{"name":"Modified name (test)"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/router/04b170fa-b751-45c2-851a-f2984a300343
    method: PATCH
  response:
    body: |
      {
         "router" : {
            "attached_networks" : {
               "network" : []
            },
            "name" : "Modified name (test)",
            "type" : "normal",
            "uuid" : "04b170fa-b751-45c2-851a-f2984a300343"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/router
    method: GET
  response:
    body: |
      {
         "routers" : {
            "router" : [
               {
                  "attached_networks" : {
                     "network" : [
                        {
                           "uuid" : "03206c92-50f2-40b0-ad05-5f02cab2e932"
                        },
                        {
                           "uuid" : "03d781c3-65e3-4a7a-b6cd-a7ce7e23b8c5"
                        },
                        {
                           "uuid" : "03854a28-fafe-428f-964f-760cd1b83f1f"
                     [...]
[...]
