---
version: 1
interactions:
- request:
    body: '{"storage":{"size":"10","tier":"maxiops","title":"Test storage","zone":"fi-hel2","backup_rule":{"interval":"daily","time":"0430","retention":"30"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/storage
    method: POST
  response:
    body: |
      {
         "storage" : {
            "access" : "private",
            "backup_rule" : {
               "interval" : "daily",
               "retention" : "30",
               "time" : "0430"
            },
            "backups" : {
               "backup" : []
            },
            "license" : 0,
            "servers" : {
               "server" : []
            },
            "size" : 10,
            "state" : "online",
            "tier" : "maxiops",
            "title" : "Test storage",
            "type" : "normal",
            "uuid" : "01c845ac-2b63-4917-8d44-2f06e3c0cbcd",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"storage":{"title":"backup-1596716823000000000"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/storage/01c845ac-2b63-4917-8d44-2f06e3c0cbcd/backup
    method: POST
  response:
    body: |
      {
         "storage" : {
            "access" : "private",
            "created" : "2020-08-06T12:27:03Z",
            "license" : 0,
            "origin" : "01c845ac-2b63-4917-8d44-2f06e3c0cbcd",
            "progress" : "0",
            "servers" : {
               "server" : []
            },
            "size" : 10,
            "state" : "maintenance",
            "title" : "backup-1596716823000000000",
            "type" : "backup",
            "uuid" : "0107362e-e5b1-42e4-b97f-8caaadb71c31",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/storage/01c845ac-2b63-4917-8d44-2f06e3c0cbcd
    method: GET
  response:
    body: |
      {
         "storage" : {
            "access" : "private",
            "backup_rule" : {
               "interval" : "daily",
               "retention" : "30",
               "time" : "0430"
            },
            "backups" : {
               "backup" : [
                  "0107362e-e5b1-42e4-b97f-8caaadb71c31"
               ]
            },
            "license" : 0,
            "servers" : {
               "server" : []
            },
            "size" : 10,
            "state" : "backuping",
            "tier" : "maxiops",
            "title" : "Test storage",
            "type" : "normal",
            "uuid" : "01c845ac-2b63-4917-8d44-2f06e3c0cbcd",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/storage/0107362e-e5b1-42e4-b97f-8caaadb71c31/restore
    method: POST
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
[...]
