---
version: 1
interactions:
- request:
    body: '{"storage":{"size":"10","tier":"maxiops","title":"Test storage","zone":"fi-hel2","backup_rule":{"interval":"daily","time":"0430","retention":"30"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/storage
    method: POST
  response:
    body: |
      {
         "storage" : {
            "access" : "private",
            "backup_rule" : {
               "interval" : "daily",
               "retention" : "30",
               "time" : "0430"
            },
            "backups" : {
               "backup" : []
            },
            "created" : "2022-10-27T16:31:12Z",
            "license" : 0,
            "servers" : {
               "server" : []
            },
            "size" : 10,
            "state" : "online",
            "tier" : "maxiops",
            "title" : "Test storage",
            "type" : "normal",
            "uuid" : "01ce904c-0c6a-4cbd-8be9-962a4cc0f6b2",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"storage":{"title":"New fancy title"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/storage/01ce904c-0c6a-4cbd-8be9-962a4cc0f6b2
    method: PUT
  response:
    body: |
      {
         "storage" : {
            "access" : "private",
            "backup_rule" : {
               "interval" : "daily",
               "retention" : "30",
               "time" : "0430"
            },
            "backups" : {
               "backup" : []
            },
            "created" : "2022-10-27T16:31:12Z",
            "license" : 0,
            "servers" : {
               "server" : []
            },
            "size" : 10,
            "state" : "online",
            "tier" : "maxiops",
            "title" : "New fancy title",
            "type" : "normal",
            "uuid" : "01ce904c-0c6a-4cbd-8be9-962a4cc0f6b2",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 202 Accepted
    code: 202
    duration: ""
[...]
