---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/regions
    method: GET
  response:
    body: '[{"name":"europe-1","primary_zone":"fi-hel2","zones":[{"name":"fi-hel2"},{"name":"de-fra1"},{"name":"es-mad1"},{"name":"fi-hel1"},{"name":"nl-ams1"},{"name":"pl-waw1"},{"name":"uk-lon1"},{"name":"se-sto1"}]}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"configured_status":"started","labels":[{"key":"example-key","value":"example-value"}],"name":"go-sdk-integration-test","networks":[{"family":"IPv4","name":"example-public-network","type":"public"}],"region":"europe-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2
    method: POST
  response:
    body: '{"configured_status":"started","created_at":"2024-02-29T11:29:43.885771Z","endpoints":[{"domain_name":"melms.upcloudobjects.com","iam_url":"https://melms.upcloudobjects.com:4443/iam","sts_url":"https://melms.upcloudobjects.com:4443/sts","type":"public"}],"labels":[{"key":"example-key","value":"example-value"}],"name":"go-sdk-integration-test","networks":[{"family":"IPv4","name":"example-public-network","type":"public"}],"operational_state":"pending","region":"europe-1","updated_at":"2024-02-29T11:29:43.885771Z","usage":{"total_objects":0,"total_size_bytes":0},"users":[],"uuid":"12b3ab6e-0d51-43a4-bd82-2eb5d2ec87b0"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"router":{"name":"managed-object-storage-router"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/router
    method: POST
  response:
    body: |
      {
         "router" : {
            "attached_network_gateways" : [],
            "attached_networks" : {
               "network" : []
            },
            "labels" : [],
            "name" : "managed-object-storage-router",
            "static_routes" : [],
            "type" : "normal",
            "uuid" : "04e3af3d-1756-4f6c-b46f-1ddda9c7e16a"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"network":{"name":"managed-object-storage","zone":"fi-hel1","router":"04e3af3d-1756-4f6c-b46f-1ddda9c7e16a","ip_networks":{"ip_network":[{"address":"172.18.1.0/24","dhcp":"no","dhcp_default_route":"no","family":"IPv4","gateway":"172.18.1.1"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "172.18.1.0/24",
                     "dhcp" : "no",
                     "dhcp_default_route" : "no",
                     "family" : "IPv4",
                     "gateway" : "172.18.1.1"
                  }
               ]
            },
            "labels" : [],
            "name" : "managed-object-storage",
            "router" : "04e3af3d-1756-4f6c-b46f-1ddda9c7e16a",
            "type" : "private",
            "uuid" : "03baa13a-ab5c-4f92-8282-3cc527dca74c",
            "zone" : "fi-hel1"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"family":"IPv4","name":"private-network","type":"private","uuid":"03baa13a-ab5c-4f92-8282-3cc527dca74c"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/12b3ab6e-0d51-43a4-bd82-2eb5d2ec87b0/networks
    method: POST
  response:
    body: '{"family":"IPv4","name":"private-network","type":"private","uuid":"03baa13a-ab5c-4f92-8282-3cc527dca74c"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/03baa13a-ab5c-4f92-8282-3cc527dca74c
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/router/04e3af3d-1756-4f6c-b46f-1ddda9c7e16a
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/12b3ab6e-0d51-43a4-bd82-2eb5d2ec87b0/users
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/12b3ab6e-0d51-43a4-bd82-2eb5d2ec87b0
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
