---
version: 1
interactions:
- request:
    body: '{"network":{"name":"test private network (test)","zone":"fi-hel2","ip_networks":{"ip_network":[{"address":"172.16.0.0/22","dhcp":"yes","dhcp_default_route":"no","dhcp_dns":["172.16.0.10","172.16.1.10"],"family":"IPv4","gateway":"172.16.0.1"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "172.16.0.0/22",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "dhcp_dns" : [
                        "172.16.0.10",
                        "172.16.1.10"
                     ],
                     "family" : "IPv4",
                     "gateway" : "172.16.0.1"
                  }
               ]
            },
            "name" : "test private network (test)",
            "type" : "private",
            "uuid" : "03066050-a838-40fc-9e71-994a89785a79",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"network":{"name":"modified private network (test)"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/03066050-a838-40fc-9e71-994a89785a79
    method: PUT
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "172.16.0.0/22",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "dhcp_dns" : [
                        "172.16.0.10",
                        "172.16.1.10"
                     ],
                     "family" : "IPv4",
                     "gateway" : "172.16.0.1"
                  }
               ]
            },
            "name" : "modified private network (test)",
            "type" : "private",
            "uuid" : "03066050-a838-40fc-9e71-994a89785a79",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"server":{"hostname":"uploud-go-sdk-integration-test-testcreatemodifydeletenetwork.example.com","labels":{"label":[{"key":"managedBy","value":"upcloud-sdk-integration-test"},{"key":"testName","value":"TestCreateModifyDeleteNetwork"}]},"metadata":"no","networking":{"interfaces":{"interface":[{"ip_addresses":{"ip_address":[{"family":"IPv4"}]},"type":"utility"},{"ip_addresses":{"ip_address":[{"family":"IPv4"}]},"type":"public"},{"ip_addresses":{"ip_address":[{"family":"IPv6"}]},"type":"public"}]}},"password_delivery":"none","storage_devices":{"storage_device":[{"action":"clone","storage":"01000000-0000-4000-8000-000020060100","title":"disk1","size":10,"tier":"maxiops"}]},"title":"uploud-go-sdk-integration-test-TestCreateModifyDeleteNetwork","remote_access_enabled":"no","zone":"fi-hel2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1662692711,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testcreatemodifydeletenetwork.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "utility",
                     "address" : "10.6.6.156",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:d845:c4ff:fe5c:462f",
                     "family" : "IPv6"
                  },
                  {
                     "access" : "public",
                     "address" : "94.237.105.139",
                     "family" : "IPv4"
                  }
               ]
            },
            "labels" : {
               "label" : [
                  {
                     "key" : "managedBy",
                     "value" : "upcloud-sdk-integration-test"
                  },
                  {
                     "key" : "testName",
                     "value" : "TestCreateModifyDeleteNetwork"
                  }
               ]
            },
            "license" : 0,
            "memory_amount" : "1024",
            "metadata" : "no",
            "networking" : {
               "interfaces" : {
                  "interface" : [
                     {
                        "bootable" : "no",
                        "index" : 1,
                        "ip_addresses" : {
                           "ip_address" : [
                              {
                                 "address" : "10.6.6.156",
                                 "family" : "IPv4",
                                 "floating" : "no"
                              }
                           ]
                        },
                        "mac" : "da:45:c4:5c:f4:96",
                        "network" : "0343ede2-9890-4470-b680-0dcda6d9f7e3",
                        "source_ip_filtering" : "yes",
                        "type" : "utility"
                     },
                     {
                        "bootable" : "no",
                        "index" : 2,
                        "ip_addresses" : {
                           "ip_address" : [
                              {
                                 "address" : "94.237.105.139",
                                 "family" : "IPv4",
                                 "floating" : "no"
                              }
     [...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/008d315c-a126-4de4-abaa-48dfe3afed8f
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1662692711,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testcreatemodifydeletenetwork.example.com",
            "ip_a[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/008d315c-a126-4de4-abaa-48dfe3afed8f
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1662692711,
            "firewall" : "off",
            "host" : 5872304771,
            "hostname" : "uploud-go-sdk-integration-test-testcreatemodifydeletenetwork.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "utility",
                     "address" : "10.6.6.156",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:d845:c4ff:fe5c:462f",
                [...]
- request:
    body: '{"stop_server":{"stop_type":"hard","timeout":"900"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/008d315c-a126-4de4-abaa-48dfe3afed8f/stop
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1662692711,
            "firewall" : "off",
            "host" : 5872304771,
            "hostname" : "uploud-go-sdk-integration-test-testcreatemodifydeletenetwork.example[...]
[...]
- request:
    body: '{"interface":{"type":"private","network":"03066050-a838-40fc-9e71-994a89785a79","ip_addresses":{"ip_address":[{"family":"IPv4"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/008d315c-a126-4de4-abaa-48dfe3afed8f/networking/interface
    method: POST
  response:
    body: |
      {
         "interface" : {
            "bootable" : "no",
            "index" : 4,
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "address" : "172.16.0.2",
                     "family" : "IPv4",
                     "floating" : "no"
                  }
               ]
            },
            "mac" : "da:45:c4:5c:ab:83",
            "network" : "03066050-a838-40fc-9e71-994a89785a79",
            "source_ip_filtering" : "yes",
            "type" : "private"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"interface":{"index":5}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/008d315c-a126-4de4-abaa-48dfe3afed8f/networking/interface/4
    method: PUT
  response:
    body: |
      {
         "interface" : {
            "bootable" : "no",
            "index" : 5,
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "address" : "172.16.0.2",
                     "family" : "IPv4",
                     "floating" : "no"
                  }
               ]
            },
            "mac" : "da:45:c4:5c:ab:83",
            "network" : "03066050-a838-40fc-9e71-994a89785a79",
            "source_ip_filtering" : "yes",
            "type" : "private"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/?zone=fi-hel2
    method: GET
  response:
    body: |
      {
         "networks" : {
            "network" : [
               {
                  "ip_networks" : {
                     "ip_network" : [
                        {
                           "address" : "94.237.8.0/22",
                           "dhcp" : "yes",
                           "dhcp_default_route" : "yes",
                           "dhcp_dns" : [
                              "94.237.127.9",
                              "94.237.40.9"
                           ],
                           "family" : "IPv4",
                           "gateway" : "94.237.8.1"
                        }
                     ]
                  },
                  "name" : "Public 94.237.8.0/22",
                  "type" : "public",
                  "uuid" : "03000000-0000-4000-8044-000000000000",
                  "zone" : "fi-hel2"
               },
               {
                  "ip_networks" : {
                     "ip_network" : [
                        {
                           "address" : "10.6.0.0/22",
                           "dhcp" : "yes",
                           "dhcp_default_route" : "no",
                           "dhcp_routes" : [
                              "10.0.0.0/8"
                           ],
                           "family" : "IPv4",
                           "gateway" : "10.6.0.1"
                        }
                     ]
                  },
                  "name" : "Private 10.6.0.0/22",
                  "type" : "utility",
                  "uuid" : "03000000-0000-4000-8045-000000000000",
                  "zone" : "fi-hel2"
               },
               {
                  "ip_networks" : {
                     "ip_network" : [
                        {
                           "address" : "2a04:3545:1000:720::/64",
                           "dhcp" : "yes",
                           "dhcp_default_route" : "yes",
                           "dhcp_dns" : [
                              "2a04:3540:53::1",
                              "2a04:3544:53::1"
                           ],
                           "family" : "IPv6",
                           "gateway" : "2a04:3545:1000:720::1"
                        }
                     ]
                  },
                  "name" : "Public 2a04:3545:1000:720::/64",
                  "servers" : {
                     "server" : [
                        {
                           "title" : "uploud-go-sdk-integration-test-TestAttachModifyReleaseIPAddress2",
                           "uuid" : "003b3dfb-cc3c-4781-b169-329f006b8ca9"
                        },
                        {
                           "title" : "uploud-go-sdk-integration-test-TestGetNetworksInZone",
                           "uuid" : "003c6779-8c34-4c91-9f4d-c6afc06f5667"
                        },
         [...]
