---
version: 1
interactions:
- request:
    body: '{"name":"AAA-go-test-loadbalancer-1646813534","plan":"development","zone":"pl-waw1","network_uuid":"03716b3c-663f-46ab-a7a4-84221525030b","configured_status":"started","frontends":[],"backends":[]}'
    form: {}
    headers:
      Authorization:
      - Basic a2FtaWx0ZXN0OlBFTFRfYmVjazhoZWVrNGJsaXA=
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/loadbalancer
    method: POST
  response:
    body: '{"backends":[],"configured_status":"started","created_at":"2022-03-09T08:12:14.866593Z","dns_name":"lb-0a5394503a294fb5830f89128cfc5ef2.upcloudlb.com","frontends":[],"name":"AAA-go-test-loadbalancer-1646813534","network_uuid":"03716b3c-663f-46ab-a7a4-84221525030b","operational_state":"pending","plan":"development","updated_at":"2022-03-09T08:12:14.866593Z","uuid":"0a539450-3a29-4fb5-830f-89128cfc5ef2","zone":"pl-waw1"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-test-lb-backend","members":[]}'
    form: {}
    headers:
      Authorization:
      - Basic a2FtaWx0ZXN0OlBFTFRfYmVjazhoZWVrNGJsaXA=
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/loadbalancer/0a539450-3a29-4fb5-830f-89128cfc5ef2/backends
    method: POST
  response:
    body: '{"created_at":"0001-01-01T00:00:00Z","members":[],"name":"go-test-lb-backend","updated_at":"0001-01-01T00:00:00Z"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"updatedName"}'
    form: {}
    headers:
      Authorization:
      - Basic a2FtaWx0ZXN0OlBFTFRfYmVjazhoZWVrNGJsaXA=
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/loadbalancer/0a539450-3a29-4fb5-830f-89128cfc5ef2/backends/go-test-lb-backend
    method: PATCH
  response:
    body: '{"created_at":"2022-03-09T08:12:15.191383Z","members":[],"name":"updatedName","updated_at":"2022-03-09T08:12:15.191383Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic a2FtaWx0ZXN0OlBFTFRfYmVjazhoZWVrNGJsaXA=
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/loadbalancer/0a539450-3a29-4fb5-830f-89128cfc5ef2/backends/updatedName
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
