---
version: 1
interactions:
- request:
    body: '{"network":{"name":"upcloud-go-sdk-test","zone":"de-fra1","ip_networks":{"ip_network":[{"address":"176.16.1.0/24","dhcp":"yes","dhcp_default_route":"no","family":"IPv4"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "176.16.1.0/24",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "family" : "IPv4",
                     "gateway" : "176.16.1.1"
                  }
               ]
            },
            "name" : "upcloud-go-sdk-test",
            "type" : "private",
            "uuid" : "03e6deb5-5f39-4df5-8c8e-a74186aba000",
            "zone" : "de-fra1"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
