---
version: 1
interactions:
- request:
    body: '{"network":{"name":"go-test-lb-1647269364","zone":"fi-hel1","ip_networks":{"ip_network":[{"address":"172.16.0.0/24","dhcp":"yes","dhcp_default_route":"no","family":"IPv4"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "172.16.0.0/24",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "family" : "IPv4",
                     "gateway" : "172.16.0.1"
                  }
               ]
            },
            "name" : "go-test-lb-1647269364",
            "type" : "private",
            "uuid" : "03192b23-8e7f-47ac-b73b-9cae1a559100",
            "zone" : "fi-hel1"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-test-lb-fi-hel1-1647269365","plan":"development","zone":"fi-hel1","network_uuid":"03192b23-8e7f-47ac-b73b-9cae1a559100","configured_status":"started","frontends":[],"backends":[],"resolvers":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/loadbalancer
    method: POST
  response:
    body: '{"backends":[],"configured_status":"started","created_at":"2022-03-14T14:49:26.26025Z","dns_name":"lb-0a23832f15584d469b582420f3879006.upcloudlb.com","frontends":[],"name":"go-test-lb-fi-hel1-1647269365","network_uuid":"03192b23-8e7f-47ac-b73b-9cae1a559100","operational_state":"pending","plan":"development","resolvers":[],"updated_at":"2022-03-14T14:49:26.26025Z","uuid":"0a23832f-1558-4d46-9b58-2420f3879006","zone":"fi-hel1"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"new-name-for-lb"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/loadbalancer/0a23832f-1558-4d46-9b58-2420f3879006
    method: PATCH
  response:
    body: '{"backends":[],"configured_status":"started","created_at":"2022-03-14T14:49:26.26025Z","dns_name":"lb-0a23832f15584d469b582420f3879006.upcloudlb.com","frontends":[],"name":"new-name-for-lb","network_uuid":"03192b23-8e7f-47ac-b73b-9cae1a559100","operational_state":"pending","plan":"development","resolvers":[],"updated_at":"2022-03-14T14:49:26.329653Z","uuid":"0a23832f-1558-4d46-9b58-2420f3879006","zone":"fi-hel1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/03192b23-8e7f-47ac-b73b-9cae1a559100
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
