---
version: 1
interactions:
- request:
    body: '{"storage":{"size":"10","tier":"maxiops","title":"Test storage","zone":"fi-hel2","backup_rule":{"interval":"daily","time":"0430","retention":"30"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/storage
    method: POST
  response:
    body: |
      {
         "storage" : {
            "access" : "private",
            "backup_rule" : {
               "interval" : "daily",
               "retention" : "30",
               "time" : "0430"
            },
            "backups" : {
               "backup" : []
            },
            "license" : 0,
            "servers" : {
               "server" : []
            },
            "size" : 10,
            "state" : "online",
            "tier" : "maxiops",
            "title" : "Test storage",
            "type" : "normal",
            "uuid" : "01541fb9-78a4-49ea-bf2f-55d9cd8783c2",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"storage":{"title":"backup-1596618397000000000"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/storage/01541fb9-78a4-49ea-bf2f-55d9cd8783c2/backup
    method: POST
  response:
    body: |
      {
         "storage" : {
            "access" : "private",
            "created" : "2020-08-05T09:06:38Z",
            "license" : 0,
            "origin" : "01541fb9-78a4-49ea-bf2f-55d9cd8783c2",
            "progress" : "0",
            "servers" : {
               "server" : []
            },
            "size" : 10,
            "state" : "maintenance",
            "title" : "backup-1596618397000000000",
            "type" : "backup",
            "uuid" : "01dc1c9a-5104-4777-a886-2db262ccc22d",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/storage/01541fb9-78a4-49ea-bf2f-55d9cd8783c2
    method: GET
  response:
    body: |
      {
         "storage" : {
            "access" : "private",
            "backup_rule" : {
               "interval" : "daily",
               "retention" : "30",
               "time" : "0430"
            },
            "backups" : {
               "backup" : [
                  "01dc1c9a-5104-4777-a886-2db262ccc22d"
               ]
            },
            "license" : 0,
            "servers" : {
               "server" : []
            },
            "size" : 10,
            "state" : "backuping",
            "tier" : "maxiops",
            "title" : "Test storage",
            "type" : "normal",
            "uuid" : "01541fb9-78a4-49ea-bf2f-55d9cd8783c2",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/storage/01dc1c9a-5104-4777-a886-2db262ccc22d/restore
    method: POST
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
[...]
