---
version: 1
interactions:
- request:
    body: '{"network":{"name":"test private network #1 (test)","zone":"fi-hel2","ip_networks":{"ip_network":[{"address":"192.168.86.1/24","dhcp":"yes","dhcp_default_route":"no","dhcp_dns":["192.168.86.10","192.168.86.11"],"family":"IPv4","gateway":"192.168.86.1"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "192.168.86.1/24",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "dhcp_dns" : [
                        "192.168.86.10",
                        "192.168.86.11"
                     ],
                     "family" : "IPv4",
                     "gateway" : "192.168.86.1"
                  }
               ]
            },
            "name" : "test private network #1 (test)",
            "type" : "private",
            "uuid" : "03c007f5-878c-4c1e-90c7-24cf6423c50e",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"router":{"name":"test router (test)"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/router
    method: POST
  response:
    body: |
      {
         "router" : {
            "attached_networks" : {
               "network" : []
            },
            "name" : "test router (test)",
            "type" : "normal",
            "uuid" : "04ba2af3-d772-4f4b-9d30-52fe40f5a82e"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"network":{"router":"04ba2af3-d772-4f4b-9d30-52fe40f5a82e"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/03c007f5-878c-4c1e-90c7-24cf6423c50e
    method: PUT
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "192.168.86.1/24",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "dhcp_dns" : [
                        "192.168.86.10",
                        "192.168.86.11"
                     ],
                     "family" : "IPv4",
                     "gateway" : "192.168.86.1"
                  }
               ]
            },
            "name" : "test private network #1 (test)",
            "router" : "04ba2af3-d772-4f4b-9d30-52fe40f5a82e",
            "type" : "private",
            "uuid" : "03c007f5-878c-4c1e-90c7-24cf6423c50e",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"server":{"hostname":"uploud-go-sdk-integration-test-testctntr1.example.com","metadata":"no","networking":{"interfaces":{"interface":[{"ip_addresses":{"ip_address":[{"family":"IPv4"}]},"type":"utility"},{"ip_addresses":{"ip_address":[{"family":"IPv4"}]},"type":"public"},{"ip_addresses":{"ip_address":[{"family":"IPv6"}]},"type":"public"}]}},"password_delivery":"none","storage_devices":{"storage_device":[{"action":"clone","storage":"01000000-0000-4000-8000-000030060200","title":"disk1","size":30,"tier":"maxiops"}]},"title":"uploud-go-sdk-integration-test-TestCTNTR1","remote_access_enabled":"no","zone":"fi-hel2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1597846132,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testctntr1.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "utility",
                     "address" : "10.6.6.239",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:ec1b:dbff:feca:1d76",
                     "family" : "IPv6"
                  },
                  {
                     "access" : "public",
                     "address" : "94.237.104.128",
                     "family" : "IPv4"
                  }
               ]
            },
            "license" : 0,
            "memory_amount" : "1024",
            "metadata" : "no",
            "networking" : {
               "interfaces" : {
                  "interface" : [
                     {
                        "bootable" : "no",
                        "index" : 1,
                        "ip_addresses" : {
                           "ip_address" : [
                              {
                                 "address" : "10.6.6.239",
                                 "family" : "IPv4",
                                 "floating" : "no"
                              }
                           ]
                        },
                        "mac" : "ee:1b:db:ca:d6:31",
                        "network" : "03a002de-994e-45aa-9e1c-9918f0908c57",
                        "source_ip_filtering" : "yes",
                        "type" : "utility"
                     },
                     {
                        "bootable" : "no",
                        "index" : 2,
                        "ip_addresses" : {
                           "ip_address" : [
                              {
                                 "address" : "94.237.104.128",
                                 "family" : "IPv4",
                                 "floating" : "no"
                              }
     [...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/00c88e0e-f7f7-4835-8000-a68645ada971
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1597846132,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testctntr1.example.com",
            "ip_addresses" : {
     [...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/00c88e0e-f7f7-4835-8000-a68645ada971
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1597846132,
            "firewall" : "off",
            "host" : 7617135235,
            "hostname" : "uploud-go-sdk-integration-test-testctntr1.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "utility",
                     "address" : "10.6.6.239",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:ec1b:dbff:feca:1d76",
                     "family" : "IP[...]
[...]
- request:
    body: '{"stop_server":{"stop_type":"hard","timeout":"900"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/00c88e0e-f7f7-4835-8000-a68645ada971/stop
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1597846132,
            "firewall" : "off",
            "host" : 7617135235,
            "hostname" : "uploud-go-sdk-integration-test-testctntr1.example.com",
            [...]
[...]
- request:
    body: '{"interface":{"type":"private","network":"03c007f5-878c-4c1e-90c7-24cf6423c50e","ip_addresses":{"ip_address":[{"family":"IPv4"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/00c88e0e-f7f7-4835-8000-a68645ada971/networking/interface
    method: POST
  response:
    body: |
      {
         "interface" : {
            "bootable" : "no",
            "index" : 4,
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "address" : "192.168.86.2",
                     "family" : "IPv4",
                     "floating" : "no"
                  }
               ]
            },
            "mac" : "ee:1b:db:ca:ac:46",
            "network" : "03c007f5-878c-4c1e-90c7-24cf6423c50e",
            "source_ip_filtering" : "yes",
            "type" : "private"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/03c007f5-878c-4c1e-90c7-24cf6423c50e
    method: GET
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "192.168.86.1/24",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "dhcp_dns" : [
                        "192.168.86.10",
                        "192.168.86.11"
                     ],
                     "family" : "IPv4",
                     "gateway" : "192.168.86.1"
                  }
               ]
            },
            "name" : "test private network #1 (test)",
            "router" : "04ba2af3-d772-4f4b-9d30-52fe40f5a82e",
            "servers" : {
               "server" : [
                  {
                     "title" : "uploud-go-sdk-integration-test-TestCTNTR1",
                     "uuid" : "00c88e0e-f7f7-4835-8000-a68645ada971"
                  }
               ]
            },
            "type" : "private",
            "uuid" : "03c007f5-878c-4c1e-90c7-24cf6423c50e",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/router/04ba2af3-d772-4f4b-9d30-52fe40f5a82e
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
