---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/regions
    method: GET
  response:
    body: '[{"name":"europe-1","primary_zone":"fi-hel2","zones":[{"name":"fi-hel2"},{"name":"de-fra1"},{"name":"es-mad1"},{"name":"fi-hel1"},{"name":"nl-ams1"},{"name":"pl-waw1"},{"name":"uk-lon1"},{"name":"se-sto1"}]}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"sub_account":{"username":"managedobjectstorage","password":"","first_name":"","last_name":"","company":"","address":"","postal_code":"","city":"","email":"managedobjectstorage@example.com","phone":"+358.123456789","state":"","country":"","currency":"EUR","language":"en","vat_number":"","timezone":"Europe/Helsinki","allow_api":"no","allow_gui":"no","tag_access":{"tag":null},"roles":{"role":null},"server_access":{"server":null},"storage_access":{"storage":null},"network_access":{"network":null},"ip_filters":{"ip_filter":null}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/account/sub
    method: POST
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/account/details/managedobjectstorage
    method: GET
  response:
    body: |
      {
         "account" : {
            "address" : "",
            "allow_api" : "no",
            "allow_gui" : "no",
            "campaigns" : {
               "campaign" : []
            },
            "city" : "",
            "company" : "",
            "country" : "",
            "currency" : "EUR",
            "email" : "managedobjectstorage@example.com",
            "enable_3rd_party_services" : "yes",
            "first_name" : "",
            "ip_filters" : {
               "ip_filter" : []
            },
            "labels" : [],
            "language" : "en",
            "last_name" : "",
            "main_account" : "example",
            "network_access" : {
               "network" : []
            },
            "phone" : "+358.123456789",
            "postal_code" : "",
            "roles" : {
               "role" : []
            },
            "server_access" : {
               "server" : []
            },
            "state" : "",
            "storage_access" : {
               "storage" : []
            },
            "tag_access" : {
               "tag" : []
            },
            "timezone" : "Europe/Helsinki",
            "type" : "sub",
            "username" : "managedobjectstorage",
            "vat_number" : ""
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"configured_status":"started","labels":[{"key":"example-key","value":"example-value"}],"networks":[{"family":"IPv4","name":"example-public-network","type":"public"}],"region":"europe-1","users":[{"username":"managedobjectstorage"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2
    method: POST
  response:
    body: '{"configured_status":"started","created_at":"2023-10-10T00:49:24.745193Z","endpoints":[{"domain_name":"mi5cm.upcloudobjects.com","type":"public"}],"labels":[{"key":"example-key","value":"example-value"}],"networks":[{"family":"IPv4","name":"example-public-network","type":"public"}],"operational_state":"pending","region":"europe-1","updated_at":"2023-10-10T00:49:24.745193Z","users":[{"access_keys":[],"created_at":"2023-10-10T00:49:24.745193Z","operational_state":"pending","updated_at":"2023-10-10T00:49:24.745193Z","username":"managedobjectstorage"}],"uuid":"12b48acb-6b75-4d54-af99-b4b19436fe5e"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"router":{"name":"managed-object-storage-router"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/router
    method: POST
  response:
    body: |
      {
         "router" : {
            "attached_network_gateways" : [],
            "attached_networks" : {
               "network" : []
            },
            "labels" : [],
            "name" : "managed-object-storage-router",
            "static_routes" : [],
            "type" : "normal",
            "uuid" : "04864f8e-e8e8-4a13-bf22-f395c832b35c"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"network":{"name":"managed-object-storage","zone":"fi-hel1","router":"04864f8e-e8e8-4a13-bf22-f395c832b35c","ip_networks":{"ip_network":[{"address":"172.18.1.0/24","dhcp":"no","dhcp_default_route":"no","family":"IPv4","gateway":"172.18.1.1"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "172.18.1.0/24",
                     "dhcp" : "no",
                     "dhcp_default_route" : "no",
                     "family" : "IPv4",
                     "gateway" : "172.18.1.1"
                  }
               ]
            },
            "labels" : [],
            "name" : "managed-object-storage",
            "router" : "04864f8e-e8e8-4a13-bf22-f395c832b35c",
            "type" : "private",
            "uuid" : "03aba0d8-c365-416f-bf1e-02292d6df439",
            "zone" : "fi-hel1"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"family":"IPv4","name":"private-network","type":"private","uuid":"03aba0d8-c365-416f-bf1e-02292d6df439"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/12b48acb-6b75-4d54-af99-b4b19436fe5e/networks
    method: POST
  response:
    body: '{"family":"IPv4","name":"private-network","type":"private","uuid":"03aba0d8-c365-416f-bf1e-02292d6df439"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/12b48acb-6b75-4d54-af99-b4b19436fe5e/users
    method: GET
  response:
    body: '[{"access_keys":[],"created_at":"2023-10-10T00:49:24.745193Z","operational_state":"ready","updated_at":"2023-10-10T00:49:25.026627Z","username":"managedobjectstorage"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/12b48acb-6b75-4d54-af99-b4b19436fe5e
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/12b48acb-6b75-4d54-af99-b4b19436fe5e
    method: GET
  response:
    body: |
      {"type":"https://developers.upcloud.com/1.3/errors#ERROR_RESOURCE_NOT_FOUND","title":"The resource you requested does not exist.","correlation_id":"01HCBGZE3VNSVWZ151BVYM8W1Q","status":404}
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/problem+json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/account/sub/managedobjectstorage
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/03aba0d8-c365-416f-bf1e-02292d6df439
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/router/04864f8e-e8e8-4a13-bf22-f395c832b35c
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
