---
version: 1
interactions:
- request:
    body: '{"server":{"hostname":"uploud-go-sdk-integration-test-testcreatedeleteserverandstorage.example.com","ip_addresses":{"ip_address":[{"access":"private","family":"IPv4"},{"access":"public","family":"IPv4"},{"access":"public","family":"IPv6"}]},"password_delivery":"none","storage_devices":{"storage_device":[{"action":"clone","storage":"01000000-0000-4000-8000-000030060200","title":"disk1","size":30,"tier":"maxiops"}]},"title":"uploud-go-sdk-integration-test-TestCreateDeleteServerAndStorage","zone":"fi-hel2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/server
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1596459731,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testcreatedeleteserverandstorage.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "private",
                     "address" : "10.6.6.211",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:ec1b:dbff:feca:3469",
                     "family" : "IPv6"
                  },
                  {
                     "access" : "public",
                     "address" : "94.237.104.72",
                     "family" : "IPv4"
                  }
               ]
            },
            "license" : 0,
            "memory_amount" : "1024",
            "metadata" : "no",
            "nic_model" : "virtio",
            "password" : "k9e582z8",
            "plan" : "custom",
            "plan_ipv4_bytes" : "0",
            "plan_ipv6_bytes" : "0",
            "progress" : "0",
            "state" : "maintenance",
            "storage_devices" : {
               "storage_device" : [
                  {
                     "address" : "virtio:0",
                     "boot_disk" : "0",
                     "storage" : "019480f1-ef5b-45a5-b83f-1669c7d8d425",
                     "storage_size" : 30,
                     "storage_title" : "disk1",
                     "type" : "disk"
                  }
               ]
            },
            "tags" : {
               "tag" : []
            },
            "timezone" : "UTC",
            "title" : "uploud-go-sdk-integration-test-TestCreateDeleteServerAndStorage",
            "username" : "root",
            "uuid" : "0022d1eb-c158-4c9d-817b-9e0fb8711e64",
            "video_model" : "cirrus",
            "vnc" : "off",
            "vnc_password" : "25e9Zj6w",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/server/0022d1eb-c158-4c9d-817b-9e0fb8711e64
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1596459731,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testcreatedeleteserverandstorage.example.com",
            "i[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/server/0022d1eb-c158-4c9d-817b-9e0fb8711e64
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1596459731,
            "firewall" : "off",
            "host" : 5201216131,
            "hostname" : "uploud-go-sdk-integration-test-testcreatedeleteserverandstorage.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "private",
                     "address" : "10.6.6.211",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:ec1b:dbff:feca:3469",
             [...]
- request:
    body: <stop_server><timeout>900</timeout><stop_type>hard</stop_type></stop_server>
    form: {}
    headers:
      Content-Type:
      - application/xml
    url: https://api.upcloud.com/1.2/server/0022d1eb-c158-4c9d-817b-9e0fb8711e64/stop
    method: POST
  response:
    body: |
      <?xml version="1.0" encoding="utf-8"?>
      <server>
        <boot_order>disk</boot_order>
        <core_number>1</core_number>
        <created>1596459731</created>
        <firewall>off</firewall>
        <host>5201216131</host>
        <hostname>uploud-go-sdk-in[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/server/0022d1eb-c158-4c9d-817b-9e0fb8711e64/?storages=1
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/xml
    url: https://api.upcloud.com/1.2/storage/private
    method: GET
  response:
    body: |
      <?xml version="1.0" encoding="utf-8"?>
      <storages>
        <storage>
          <access>private</access>
          <license>0</license>
          <size>10</size>
          <state>online</state>
          <tier>maxiops</tier>
          <title>Test storage</title>
          <type>normal</type>
          <uuid>011e7a31-7aef-4cf4-a114-071960b16445</uuid>
          <zone>fi-hel2</zone>
        </storage>
        <storage>
          <access>private</access>
          <license>0</license>
          <size>10</size>
          <state>online</state>
      [...]
