---
version: 2
interactions:
    - id: 0
      request:
        host: api.upcloud.com
        body: '{"server":{"hostname":"uploud-go-sdk-integration-test-createrestartserver.example.com","labels":{"label":[{"key":"managedBy","value":"upcloud-sdk-integration-test"},{"key":"testName","value":"createrestartserver"}]},"metadata":"no","networking":{"interfaces":{"interface":[{"ip_addresses":{"ip_address":[{"family":"IPv4"}]},"type":"utility"},{"ip_addresses":{"ip_address":[{"family":"IPv4"}]},"type":"public"},{"ip_addresses":{"ip_address":[{"family":"IPv6"}]},"type":"public"}]}},"password_delivery":"none","storage_devices":{"storage_device":[{"action":"clone","storage":"01000000-0000-4000-8000-000020060100","title":"disk1","size":10,"tier":"maxiops"}]},"title":"uploud-go-sdk-integration-test-createrestartserver","remote_access_enabled":"no","zone":"fi-hel2"}}'
        form: {}
        headers:
            Authorization:
                - Basic [REDACTED]
            Content-Type:
                - application/json
        url: https://api.upcloud.com/1.3/server
        method: POST
      response:
        body: '{"server":{"boot_order":"disk","core_number":"1","created":1747917414,"firewall":"off","host":8556659331,"hostname":"uploud-go-sdk-integration-test-createrestartserver.example.com","ip_addresses":{"ip_address":[{"access":"utility","address":"10.6.12.219","family":"IPv4"},{"access":"public","address":"2a04:3545:1000:720:e0a4:b3ff:fe19:6dc7","family":"IPv6"},{"access":"public","address":"94.237.106.79","family":"IPv4"}]},"labels":{"label":[{"key":"managedBy","value":"upcloud-sdk-integration-test"},{"key":"testName","value":"createrestartserver"}]},"license":0,"memory_amount":"1024","metadata":"no","networking":{"interfaces":{"interface":[{"bootable":"no","index":1,"ip_addresses":{"ip_address":[{"address":"10.6.12.219","dhcp_provided":"yes","family":"IPv4","floating":"no","release_policy":"release"}]},"mac":"e2:a4:b3:19:bc:e8","network":"033e8ae3-3125-4506-aecb-d5bfc6c698d6","source_ip_filtering":"yes","type":"utility"},{"bootable":"no","index":2,"ip_addresses":{"ip_address":[{"address":"94.237.106.79","dhcp_provided":"yes","family":"IPv4","floating":"no","release_policy":"release"}]},"mac":"e2:a4:b3:19:7a:67","network":"031457f4-0f8c-483c-96f2-eccede02909c","source_ip_filtering":"yes","type":"public"},{"bootable":"no","index":3,"ip_addresses":{"ip_address":[{"address":"2a04:3545:1000:720:e0a4:b3ff:fe19:6dc7","dhcp_provided":"yes","family":"IPv6","floating":"no","release_policy":"release"}]},"mac":"e2:a4:b3:19:6d:c7","network":"03000000-0000-4000-8046-000000000000","source_ip_filtering":"yes","type":"public"}]}},"nic_model":"virtio","password":"rqjcvhtk5r2y97ub","plan":"custom","plan_ipv4_bytes":"0","plan_ipv6_bytes":"0","progress":"0","remote_access_enabled":"no","remote_access_password":"m6Ufm7GV","remote_access_type":"vnc","server_group":null,"simple_backup":"no","state":"maintenance","storage_devices":{"storage_device":[{"address":"virtio:0","boot_disk":"0","labels":[{"key":"_os_architecture","value":"64"},{"key":"_os_brand_name","value":"Debian"},{"key":"_os_brand_version","value":"11"},{"key":"_os_main_category","value":"Linux"},{"key":"_os_type","value":"debian"},{"key":"_template_uuid","value":"01000000-0000-4000-8000-000020060100"}],"storage":"016dc265-1fdd-48f8-878b-363852c9e30c","storage_encrypted":"no","storage_size":10,"storage_tier":"maxiops","storage_title":"disk1","type":"disk"}]},"tags":{"tag":[]},"timezone":"UTC","title":"uploud-go-sdk-integration-test-createrestartserver","username":"root","uuid":"00c51c63-a1fb-4bc3-9028-2238210b50bf","video_model":"cirrus","zone":"fi-hel2"}}'
        headers:
            Content-Type:
                - application/json; charset=UTF-8
        status: 202 Accepted
        code: 202
        duration: 3.053835875s
    - id: 1
      request:
        host: api.upcloud.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Basic [REDACTED]
            Content-Type:
                - application/json
        url: https://api.upcloud.com/1.3/server/00c51c63-a1fb-4bc3-9028-2238210b50bf
        method: GET
      response:
        body: '{"server":{"boot_order":"disk","core_number":"1","created":1747917414,"firewall":"off","host":8556659331,"hostname":"uploud-go-sdk-in[...]
    - id: 2
      request:
        host: api.upcloud.com
        body: '{"restart_server":{"stop_type":"hard","timeout":"900","timeout_action":"ignore"}}'
        form: {}
        headers:
            Authorization:
                - Basic [REDACTED]
            Content-Type:
                - application/json
        url: https://api.upcloud.com/1.3/server/00c51c63-a1fb-4bc3-9028-2238210b50bf/restart
        method: POST
      response:
        body: '{"server":{"boot_order":"disk","core_number":"1","created":1747917414,"firewall":"off","host":8556659331,"hostname":"uploud-go-sdk-integration-test-createrestartserver.example.com","ip_a[...]
[...]
