---
version: 1
interactions:
- request:
    body: '{"server":{"hostname":"uploud-go-sdk-integration-test-testcreatemodifydeleteserver.example.com","ip_addresses":{"ip_address":[{"access":"private","family":"IPv4"},{"access":"public","family":"IPv4"},{"access":"public","family":"IPv6"}]},"password_delivery":"none","storage_devices":{"storage_device":[{"action":"clone","storage":"01000000-0000-4000-8000-000030060200","title":"disk1","size":30,"tier":"maxiops"}]},"title":"uploud-go-sdk-integration-test-TestCreateModifyDeleteServer","zone":"fi-hel2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/server
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1596459386,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testcreatemodifydeleteserver.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "private",
                     "address" : "10.6.6.139",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:ec1b:dbff:feca:6cb8",
                     "family" : "IPv6"
                  },
                  {
                     "access" : "public",
                     "address" : "94.237.104.63",
                     "family" : "IPv4"
                  }
               ]
            },
            "license" : 0,
            "memory_amount" : "1024",
            "metadata" : "no",
            "nic_model" : "virtio",
            "password" : "832f224n",
            "plan" : "custom",
            "plan_ipv4_bytes" : "0",
            "plan_ipv6_bytes" : "0",
            "progress" : "0",
            "state" : "maintenance",
            "storage_devices" : {
               "storage_device" : [
                  {
                     "address" : "virtio:0",
                     "boot_disk" : "0",
                     "storage" : "01f7b6b8-3a57-4318-973d-393e82a053ad",
                     "storage_size" : 30,
                     "storage_title" : "disk1",
                     "type" : "disk"
                  }
               ]
            },
            "tags" : {
               "tag" : []
            },
            "timezone" : "UTC",
            "title" : "uploud-go-sdk-integration-test-TestCreateModifyDeleteServer",
            "username" : "root",
            "uuid" : "00c3e5c6-88ac-4d73-85b0-2815ffd0cc20",
            "video_model" : "cirrus",
            "vnc" : "off",
            "vnc_password" : "67u86MQA",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/server/00c3e5c6-88ac-4d73-85b0-2815ffd0cc20
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1596459386,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testcreatemodifydeleteserver.example.com",
            "ip_ad[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/server/00c3e5c6-88ac-4d73-85b0-2815ffd0cc20
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1596459386,
            "firewall" : "off",
            "host" : 5201216131,
            "hostname" : "uploud-go-sdk-integration-test-testcreatemodifydeleteserver.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "private",
                     "address" : "10.6.6.139",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:ec1b:dbff:feca:6cb8",
                 [...]
[...]
- request:
    body: <stop_server><timeout>900</timeout><stop_type>hard</stop_type></stop_server>
    form: {}
    headers:
      Content-Type:
      - application/xml
    url: https://api.upcloud.com/1.2/server/00c3e5c6-88ac-4d73-85b0-2815ffd0cc20/stop
    method: POST
  response:
    body: |
      <?xml version="1.0" encoding="utf-8"?>
      <server>
        <boot_order>disk</boot_order>
        <core_number>1</core_number>
        <created>1596459386</created>
        <firewall>off</firewall>
        <host>5201216131</host>
        <hostname>uploud-go-sdk-in[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/xml
    url: https://api.upcloud.com/1.2/storage/private
    method: GET
  response:
    body: |
      <?xml version="1.0" encoding="utf-8"?>
      <storages>
        <storage>
          <access>private</access>
          <license>0</license>
          <size>30</size>
          <state>online</state>
          <tier>maxiops</tier>
          <title>disk1</title>
          <type>normal</type>
          <uuid>014f89b6-4432-4118-a728-0a168ebcb8b3</uuid>
          <zone>fi-hel2</zone>
        </storage>
        <storage>
          <access>private</access>
          <license>0</license>
          <size>30</size>
          <state>online</state>
          <tier>maxiops</tier>
          <title>disk1</title>
          <type>normal</type>
          <uuid>01bc4406-62db-4261-a892-24ced56e3a13</uuid>
          <zone>fi-hel2</zone>
        </storage>
        <storage>
          <access>private</access>
          <license>0</license>
          <size>30</size>
          <state>online</state>
          <tier>maxiops</tier>
          <title>disk1</title>
          <type>normal</type>
          <uuid>01f7b6b8-3a57-4318-973d-393e82a053ad</uuid>
          <zone>fi-hel2</zone>
        </storage>
      </storages>
    headers:
      Content-Type:
      - application/xml; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
