---
version: 1
interactions:
- request:
    body: '{"name":"go-test-loadbalancern","plan":"development","zone":"es-mad1","network_uuid":"032d4c7f-61b5-4ea9-a2d6-d2357c3c9a88","configured_status":"started","frontends":[],"backends":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/loadbalancer
    method: POST
  response:
    body: '{"backends":[],"configured_status":"started","created_at":"2022-02-23T09:15:13.632307Z","dns_name":"lb-0a54c10bd28840d0b099adf973481199.upcloudlb.com","frontends":[],"name":"go-test-loadbalancern","network_uuid":"032d4c7f-61b5-4ea9-a2d6-d2357c3c9a88","operational_state":"pending","plan":"development","updated_at":"2022-02-23T09:15:13.632307Z","uuid":"0a54c10b-d288-40d0-b099-adf973481199","zone":"es-mad1"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"new-name-for-lb"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/loadbalancer/0a54c10b-d288-40d0-b099-adf973481199
    method: PATCH
  response:
    body: '{"backends":[],"configured_status":"started","created_at":"2022-02-23T09:15:13.632307Z","dns_name":"lb-0a54c10bd28840d0b099adf973481199.upcloudlb.com","frontends":[],"name":"new-name-for-lb","network_uuid":"032d4c7f-61b5-4ea9-a2d6-d2357c3c9a88","operational_state":"pending","plan":"development","updated_at":"2022-02-23T09:15:15.400115Z","uuid":"0a54c10b-d288-40d0-b099-adf973481199","zone":"es-mad1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
