---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/regions
    method: GET
  response:
    body: '[{"name":"europe-1","primary_zone":"fi-hel2","zones":[{"name":"fi-hel2"},{"name":"de-fra1"},{"name":"es-mad1"},{"name":"fi-hel1"},{"name":"nl-ams1"},{"name":"pl-waw1"},{"name":"uk-lon1"},{"name":"se-sto1"}]}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"configured_status":"started","labels":[{"key":"example-key","value":"example-value"}],"name":"go-sdk-integration-test","networks":[{"family":"IPv4","name":"example-public-network","type":"public"}],"region":"europe-1","users":[{"username":"test"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2
    method: POST
  response:
    body: '{"configured_status":"started","created_at":"2024-01-26T10:36:58.458676Z","endpoints":[{"domain_name":"gsaq8.upcloudobjects.com","type":"public"}],"labels":[{"key":"example-key","value":"example-value"}],"name":"go-sdk-integration-test","networks":[{"family":"IPv4","name":"example-public-network","type":"public"}],"operational_state":"pending","region":"europe-1","updated_at":"2024-01-26T10:36:58.458676Z","usage":{"total_objects":0,"total_size_bytes":0},"users":[{"access_keys":[],"created_at":"2024-01-26T10:36:58.458676Z","operational_state":"pending","updated_at":"2024-01-26T10:36:58.458676Z","username":"test"}],"uuid":"128715a4-0fa4-42eb-9d9b-ce1b95bf221e"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"username":"test2"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/128715a4-0fa4-42eb-9d9b-ce1b95bf221e/users
    method: POST
  response:
    body: '{"access_keys":[],"created_at":"2024-01-26T10:36:58.881467Z","operational_state":"pending","updated_at":"2024-01-26T10:36:58.881467Z","username":"test2"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/128715a4-0fa4-42eb-9d9b-ce1b95bf221e/users/test2
    method: GET
  response:
    body: '{"access_keys":[],"created_at":"2024-01-26T10:36:58.881467Z","operational_state":"ready","updated_at":"2024-01-26T10:36:59.233235Z","username":"test2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"example-access-key","enabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/128715a4-0fa4-42eb-9d9b-ce1b95bf221e/users/test2/access-keys
    method: POST
  response:
    body: '{"access_key_id":"AKIA2E7C18E1A9DE67C9","created_at":"2024-01-26T10:36:59.572827Z","enabled":false,"last_used_at":"2024-01-26T10:36:59.572827Z","name":"example-access-key","secret_access_key":"CDos+s2bmIklWj0knLrFeW+lCJjFRG5pWPwHZRDF","updated_at":"2024-01-26T10:36:59.572827Z"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/128715a4-0fa4-42eb-9d9b-ce1b95bf221e
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
