---
version: 1
interactions:
- request:
    body: '{"storage":{"size":"10","tier":"maxiops","title":"Test storage","zone":"fi-hel2","backup_rule":{"interval":"daily","time":"0430","retention":"30"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/storage
    method: POST
  response:
    body: |
      {
         "storage" : {
            "access" : "private",
            "backup_rule" : {
               "interval" : "daily",
               "retention" : "30",
               "time" : "0430"
            },
            "backups" : {
               "backup" : []
            },
            "license" : 0,
            "servers" : {
               "server" : []
            },
            "size" : 10,
            "state" : "online",
            "tier" : "maxiops",
            "title" : "Test storage",
            "type" : "normal",
            "uuid" : "01db7f33-6787-42cc-b31f-aa6a3ee2ab9f",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"storage":{"title":"backup-1596997727000000000"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/storage/01db7f33-6787-42cc-b31f-aa6a3ee2ab9f/backup
    method: POST
  response:
    body: |
      {
         "storage" : {
            "access" : "private",
            "created" : "2020-08-09T18:28:48Z",
            "license" : 0,
            "origin" : "01db7f33-6787-42cc-b31f-aa6a3ee2ab9f",
            "progress" : "0",
            "servers" : {
               "server" : []
            },
            "size" : 10,
            "state" : "maintenance",
            "title" : "backup-1596997727000000000",
            "type" : "backup",
            "uuid" : "019ec36b-476f-417a-a26a-e5106c67bb3e",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/storage/01db7f33-6787-42cc-b31f-aa6a3ee2ab9f
    method: GET
  response:
    body: |
      {
         "storage" : {
            "access" : "private",
            "backup_rule" : {
               "interval" : "daily",
               "retention" : "30",
               "time" : "0430"
            },
            "backups" : {
               "backup" : [
                  "019ec36b-476f-417a-a26a-e5106c67bb3e"
               ]
            },
            "license" : 0,
            "servers" : {
               "server" : []
            },
            "size" : 10,
            "state" : "backuping",
            "tier" : "maxiops",
            "title" : "Test storage",
            "type" : "normal",
            "uuid" : "01db7f33-6787-42cc-b31f-aa6a3ee2ab9f",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/storage/019ec36b-476f-417a-a26a-e5106c67bb3e/restore
    method: POST
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
[...]
