---
version: 1
interactions:
- request:
    body: '{"network":{"name":"test_network_tcns (test)","zone":"fi-hel2","ip_networks":{"ip_network":[{"address":"172.16.0.0/22","dhcp":"yes","dhcp_default_route":"no","dhcp_dns":["172.16.0.10","172.16.1.10"],"family":"IPv4","gateway":"172.16.0.1"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "172.16.0.0/22",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "dhcp_dns" : [
                        "172.16.0.10",
                        "172.16.1.10"
                     ],
                     "family" : "IPv4",
                     "gateway" : "172.16.0.1"
                  }
               ]
            },
            "name" : "test_network_tcns (test)",
            "type" : "private",
            "uuid" : "03b5259f-3c81-4491-9b7c-8182cd4db80a",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"server":{"hostname":"uploud-go-sdk-integration-test-testcreatenetworkandserver.example.com","metadata":"no","networking":{"interfaces":{"interface":[{"ip_addresses":{"ip_address":[{"family":"IPv4"}]},"type":"utility"},{"ip_addresses":{"ip_address":[{"family":"IPv4"}]},"type":"public"},{"ip_addresses":{"ip_address":[{"family":"IPv6"}]},"type":"public"},{"ip_addresses":{"ip_address":[{"family":"IPv4"}]},"type":"private","network":"03b5259f-3c81-4491-9b7c-8182cd4db80a"}]}},"password_delivery":"none","storage_devices":{"storage_device":[{"action":"clone","storage":"01000000-0000-4000-8000-000030060200","title":"disk1","size":30,"tier":"maxiops"}]},"title":"uploud-go-sdk-integration-test-TestCreateNetworkAndServer","remote_access_enabled":"no","zone":"fi-hel2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1597847747,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testcreatenetworkandserver.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "utility",
                     "address" : "10.6.4.218",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:ec1b:dbff:feca:2ebb",
                     "family" : "IPv6"
                  },
                  {
                     "access" : "public",
                     "address" : "94.237.104.119",
                     "family" : "IPv4"
                  }
               ]
            },
            "license" : 0,
            "memory_amount" : "1024",
            "metadata" : "no",
            "networking" : {
               "interfaces" : {
                  "interface" : [
                     {
                        "bootable" : "no",
                        "index" : 1,
                        "ip_addresses" : {
                           "ip_address" : [
                              {
                                 "address" : "10.6.4.218",
                                 "family" : "IPv4",
                                 "floating" : "no"
                              }
                           ]
                        },
                        "mac" : "ee:1b:db:ca:84:0b",
                        "network" : "03a002de-994e-45aa-9e1c-9918f0908c57",
                        "source_ip_filtering" : "yes",
                        "type" : "utility"
                     },
                     {
                        "bootable" : "no",
                        "index" : 2,
                        "ip_addresses" : {
                           "ip_address" : [
                              {
                                 "address" : "94.237.104.119",
                                 "family" : "IPv4",
                                 "floating" : "no"
                              }
     [...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/0053e4d7-bfca-41f4-a283-2e9abe79a443
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1597847747,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testcreatenetworkandserver.example.com",
            "ip_addr[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/0053e4d7-bfca-41f4-a283-2e9abe79a443
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1597847747,
            "firewall" : "off",
            "host" : 5201216131,
            "hostname" : "uploud-go-sdk-integration-test-testcreatenetworkandserver.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "utility",
                     "address" : "10.6.4.218",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:ec1b:dbff:feca:2ebb",
                   [...]
[...]
