---
version: 1
interactions:
- request:
    body: '{"server":{"hostname":"uploud-go-sdk-integration-test-testcreatedeleteserverandstorage.example.com","labels":{"label":[{"key":"managedBy","value":"upcloud-sdk-integration-test"},{"key":"testName","value":"TestCreateDeleteServerAndStorage"}]},"metadata":"no","networking":{"interfaces":{"interface":[{"ip_addresses":{"ip_address":[{"family":"IPv4"}]},"type":"utility"},{"ip_addresses":{"ip_address":[{"family":"IPv4"}]},"type":"public"},{"ip_addresses":{"ip_address":[{"family":"IPv6"}]},"type":"public"}]}},"password_delivery":"none","storage_devices":{"storage_device":[{"action":"clone","storage":"01000000-0000-4000-8000-000020060100","title":"disk1","size":10,"tier":"maxiops"}]},"title":"uploud-go-sdk-integration-test-TestCreateDeleteServerAndStorage","remote_access_enabled":"no","zone":"fi-hel2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1666609570,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testcreatedeleteserverandstorage.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "utility",
                     "address" : "10.6.6.187",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:d845:c4ff:fe5c:059d",
                     "family" : "IPv6"
                  },
                  {
                     "access" : "public",
                     "address" : "94.237.9.189",
                     "family" : "IPv4"
                  }
               ]
            },
            "labels" : {
               "label" : [
                  {
                     "key" : "managedBy",
                     "value" : "upcloud-sdk-integration-test"
                  },
                  {
                     "key" : "testName",
                     "value" : "TestCreateDeleteServerAndStorage"
                  }
               ]
            },
            "license" : 0,
            "memory_amount" : "1024",
            "metadata" : "no",
            "networking" : {
               "interfaces" : {
                  "interface" : [
                     {
                        "bootable" : "no",
                        "index" : 1,
                        "ip_addresses" : {
                           "ip_address" : [
                              {
                                 "address" : "10.6.6.187",
                                 "family" : "IPv4",
                                 "floating" : "no"
                              }
                           ]
                        },
                        "mac" : "da:45:c4:5c:94:49",
                        "network" : "0343ede2-9890-4470-b680-0dcda6d9f7e3",
                        "source_ip_filtering" : "yes",
                        "type" : "utility"
                     },
                     {
                        "bootable" : "no",
                        "index" : 2,
                        "ip_addresses" : {
                           "ip_address" : [
                              {
                                 "address" : "94.237.9.189",
                                 "family" : "IPv4",
                                 "floating" : "no"
                              }
       [...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/005e48a7-dc8a-409e-be63-9fcc536f292e
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1666609570,
            "firewall" : "off",
            "host" : 5872304771,
            "hostname" : "uploud-go-sdk-integration-test-testcreatedeleteserverandstorage.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "utility",
                     "address" : "10.6.6.187",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:d845:c4ff:fe5c:059d",
             [...]
- request:
    body: '{"stop_server":{"stop_type":"hard","timeout":"900"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/005e48a7-dc8a-409e-be63-9fcc536f292e/stop
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1666609570,
            "firewall" : "off",
            "host" : 5872304771,
            "hostname" : "uploud-go-sdk-integration-test-testcreatedeleteserverandstorage.exam[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/005e48a7-dc8a-409e-be63-9fcc536f292e/?storages=1
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/storage/private
    method: GET
  response:
    body: |
      {
         "storages" : {
            "storage" : [
               {
                  "access" : "private",
                  "created" : "2022-10-24T11:05:39Z",
                  "license" : 0,
                  "size" : 10,
                  "state" : "online",
                  "tier" : "maxiops",
                  "title" : "disk1",
                  "type" : "normal",
                  "uuid" : "0104bbc3-bf73-42e0-b161-c5c6660d5827",
                  "zone" : "fi-hel2"
               },
               {
                  "access" : "private",
                  "created" : "2022-10-24T11:07:12Z",
                  "license" : 0,
                  "size" : 10,
                  "state" : "maintenance",
                  "tier" : "maxiops",
                  "title" : "disk1",
                  "type" : "normal",
                  "uuid" : "01057949-ba88-4d8d-8ac4-d427ce2ea510",
       [...]
