---
version: 1
interactions:
- request:
    body: '{"name":"go-test-loadbalancer-1646747868","plan":"development","zone":"es-mad1","network_uuid":"032d4c7f-61b5-4ea9-a2d6-d2357c3c9a88","configured_status":"started","frontends":[],"backends":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/loadbalancer
    method: POST
  response:
    body: '{"backends":[],"configured_status":"started","created_at":"2022-03-08T13:57:48.85509Z","dns_name":"lb-0a23c9d7ebae4e839777c3f7058c5bb5.upcloudlb.com","frontends":[],"name":"go-test-loadbalancer-1646747868","network_uuid":"032d4c7f-61b5-4ea9-a2d6-d2357c3c9a88","operational_state":"pending","plan":"development","updated_at":"2022-03-08T13:57:48.85509Z","uuid":"0a23c9d7-ebae-4e83-9777-c3f7058c5bb5","zone":"es-mad1"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-test-lb-backend","members":[{"name":"default-lb-backend-member","ip":"196.123.123.123","port":8000,"weight":100,"max_sessions":1000,"type":"dynamic","enabled":true}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/loadbalancer/0a23c9d7-ebae-4e83-9777-c3f7058c5bb5/backends
    method: POST
  response:
    body: '{"created_at":"0001-01-01T00:00:00Z","members":[{"created_at":"0001-01-01T00:00:00Z","enabled":true,"ip":"196.123.123.123","max_sessions":1000,"name":"default-lb-backend-member","port":8000,"type":"dynamic","updated_at":"0001-01-01T00:00:00Z","weight":100}],"name":"go-test-lb-backend","updated_at":"0001-01-01T00:00:00Z"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"updatedName"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/loadbalancer/0a23c9d7-ebae-4e83-9777-c3f7058c5bb5/backends/go-test-lb-backend
    method: PATCH
  response:
    body: '{"created_at":"2022-03-08T13:57:49.370582Z","members":[{"created_at":"2022-03-08T13:57:49.370582Z","enabled":true,"ip":"196.123.123.123","max_sessions":1000,"name":"default-lb-backend-member","port":8000,"type":"dynamic","updated_at":"2022-03-08T13:57:49.370582Z","weight":100}],"name":"updatedName","updated_at":"2022-03-08T13:57:49.370582Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/loadbalancer/0a23c9d7-ebae-4e83-9777-c3f7058c5bb5/backends/updatedName
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json
    status: 204 No Content
    code: 204
    duration: ""
