---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/0385327e-80ac-4603-82fd-09f94b9a6194
    method: GET
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "10.0.96.0/24",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "family" : "IPv4",
                     "gateway" : "10.0.96.1"
                  }
               ]
            },
            "name" : "upcloud-go-sdk-test",
            "type" : "private",
            "uuid" : "0385327e-80ac-4603-82fd-09f94b9a6194",
            "zone" : "de-fra1"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"go-sdk-test-ctx","network":"0385327e-80ac-4603-82fd-09f94b9a6194","network_cidr":"10.0.96.0/24","node_groups":[{"count":1,"labels":[{"key":"managedBy","value":"go-sdk"}],"name":"go-sdk-test-1","plan":"K8S-2xCPU-4GB"},{"count":1,"labels":[{"key":"managedBy","value":"go-sdk"}],"name":"go-sdk-test-2","plan":"K8S-2xCPU-4GB"}],"zone":"de-fra1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/kubernetes
    method: POST
  response:
    body: ""
    headers:
      Location:
      - /1.3/kubernetes/
    status: 307 Temporary Redirect
    code: 307
    duration: ""
- request:
    body: '{"name":"go-sdk-test-ctx","network":"0385327e-80ac-4603-82fd-09f94b9a6194","network_cidr":"10.0.96.0/24","node_groups":[{"count":1,"labels":[{"key":"managedBy","value":"go-sdk"}],"name":"go-sdk-test-1","plan":"K8S-2xCPU-4GB"},{"count":1,"labels":[{"key":"managedBy","value":"go-sdk"}],"name":"go-sdk-test-2","plan":"K8S-2xCPU-4GB"}],"zone":"de-fra1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/kubernetes/
    method: POST
  response:
    body: '{"name":"go-sdk-test-ctx","network":"0385327e-80ac-4603-82fd-09f94b9a6194","network_cidr":"10.0.96.0/24","node_groups":[{"count":1,"labels":[{"key":"managedBy","value":"go-sdk"}],"name":"go-sdk-test-1","plan":"K8S-2xCPU-4GB"},{"count":1,"labels":[{"key":"managedBy","value":"go-sdk"}],"name":"go-sdk-test-2","plan":"K8S-2xCPU-4GB"}],"state":"pending","uuid":"0d5f46a7-bf7d-422b-afc8-7c277bb7b3b1","zone":"de-fra1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: ""
