---
version: 1
interactions:
- request:
    body: '{"name":"go-test-loadbalancer-1646753570","plan":"development","zone":"es-mad1","network_uuid":"032d4c7f-61b5-4ea9-a2d6-d2357c3c9a88","configured_status":"started","frontends":[],"backends":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/loadbalancer
    method: POST
  response:
    body: '{"backends":[],"configured_status":"started","created_at":"2022-03-08T15:32:51.052393Z","dns_name":"lb-0af35bb89d50428688b4724cfe7a5d96.upcloudlb.com","frontends":[],"name":"go-test-loadbalancer-1646753570","network_uuid":"032d4c7f-61b5-4ea9-a2d6-d2357c3c9a88","operational_state":"pending","plan":"development","updated_at":"2022-03-08T15:32:51.052393Z","uuid":"0af35bb8-9d50-4286-88b4-724cfe7a5d96","zone":"es-mad1"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-test-lb-backend","members":[{"name":"default-lb-backend-member","ip":"196.123.123.123","port":8000,"weight":100,"max_sessions":1000,"type":"dynamic","enabled":true}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/loadbalancer/0af35bb8-9d50-4286-88b4-724cfe7a5d96/backends
    method: POST
  response:
    body: '{"created_at":"0001-01-01T00:00:00Z","members":[{"created_at":"0001-01-01T00:00:00Z","enabled":true,"ip":"196.123.123.123","max_sessions":1000,"name":"default-lb-backend-member","port":8000,"type":"dynamic","updated_at":"0001-01-01T00:00:00Z","weight":100}],"name":"go-test-lb-backend","updated_at":"0001-01-01T00:00:00Z"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"test_member","weight":100,"max_sessions":123,"enabled":true,"type":"static","ip":"123.123.123.123","port":9002}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/loadbalancer/0af35bb8-9d50-4286-88b4-724cfe7a5d96/backends/go-test-lb-backend/members
    method: POST
  response:
    body: '{"created_at":"0001-01-01T00:00:00Z","enabled":true,"ip":"123.123.123.123","max_sessions":123,"name":"test_member","port":9002,"type":"static","updated_at":"0001-01-01T00:00:00Z","weight":100}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"test_member_TURBO","weight":50,"max_sessions":321}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/loadbalancer/0af35bb8-9d50-4286-88b4-724cfe7a5d96/backends/go-test-lb-backend/members/test_member
    method: PATCH
  response:
    body: '{"created_at":"2022-03-08T15:32:51.911661Z","enabled":true,"ip":"123.123.123.123","max_sessions":321,"name":"test_member_TURBO","port":9002,"type":"static","updated_at":"2022-03-08T15:32:51.911661Z","weight":50}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ip":"231.231.231.231","port":3003,"type":"dynamic"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/loadbalancer/0af35bb8-9d50-4286-88b4-724cfe7a5d96/backends/go-test-lb-backend/members/test_member_TURBO
    method: PATCH
  response:
    body: '{"created_at":"2022-03-08T15:32:51.911661Z","enabled":true,"ip":"231.231.231.231","max_sessions":321,"name":"test_member_TURBO","port":3003,"type":"dynamic","updated_at":"2022-03-08T15:32:52.196116Z","weight":50}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
