---
version: 1
interactions:
- request:
    body: '{"server":{"hostname":"uploud-go-sdk-integration-test-testcreatestoprelocateserver.example.com","labels":{"label":[{"key":"managedBy","value":"upcloud-sdk-integration-test"},{"key":"testName","value":"TestCreateStopRelocateServer"}]},"metadata":"no","networking":{"interfaces":{"interface":[{"ip_addresses":{"ip_address":[{"family":"IPv4"}]},"type":"utility"},{"ip_addresses":{"ip_address":[{"family":"IPv4"}]},"type":"public"},{"ip_addresses":{"ip_address":[{"family":"IPv6"}]},"type":"public"}]}},"password_delivery":"none","storage_devices":{"storage_device":[{"action":"clone","storage":"01000000-0000-4000-8000-000020060100","title":"disk1","size":10,"tier":"maxiops"}]},"title":"uploud-go-sdk-integration-test-TestCreateStopRelocateServer","remote_access_enabled":"no","zone":"fi-hel2"}}'
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server
    method: POST
  response:
    body: '{"server":{"boot_order":"disk","core_number":"1","created":1741692768,"firewall":"off","host":5939413635,"hostname":"uploud-go-sdk-integration-test-testcreatestoprelocateserver.example.com","ip_addresses":{"ip_address":[{"access":"utility","address":"10.6.11.244","family":"IPv4"},{"access":"public","address":"2a04:3545:1000:720:a8aa:aaff:feaa:aa03","family":"IPv6"},{"access":"public","address":"85.9.221.0","family":"IPv4"}]},"labels":{"label":[{"key":"managedBy","value":"upcloud-sdk-integration-test"},{"key":"testName","value":"TestCreateStopRelocateServer"}]},"license":0,"memory_amount":"1024","metadata":"no","networking":{"interfaces":{"interface":[{"bootable":"no","index":1,"ip_addresses":{"ip_address":[{"address":"10.6.11.244","dhcp_provided":"yes","family":"IPv4","floating":"no","release_policy":"release"}]},"mac":"aa:aa:aa:aa:aa:01","network":"03aaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaa01","source_ip_filtering":"yes","type":"utility"},{"bootable":"no","index":2,"ip_addresses":{"ip_address":[{"address":"85.9.221.0","dhcp_provided":"yes","family":"IPv4","floating":"no","release_policy":"release"}]},"mac":"aa:aa:aa:aa:aa:02","network":"03aaaaaa-aaaa-4aaa-aaaa-aaaaaaaaaa02","source_ip_filtering":"yes","type":"public"},{"bootable":"no","index":3,"ip_addresses":{"ip_address":[{"address":"2a04:3545:1000:720:a8aa:aaff:feaa:aa03","dhcp_provided":"yes","family":"IPv6","floating":"no","release_policy":"release"}]},"mac":"aa:aa:aa:aa:aa:03","network":"03000000-0000-4000-8046-000000000000","source_ip_filtering":"yes","type":"public"}]}},"nic_model":"virtio","password":"a66e7ykwh4fp425c","plan":"custom","plan_ipv4_bytes":"0","plan_ipv6_bytes":"0","progress":"0","remote_access_enabled":"no","remote_access_password":"uqFc4Bd7","remote_access_type":"vnc","server_group":null,"simple_backup":"no","state":"maintenance","storage_devices":{"storage_device":[{"address":"virtio:0","boot_disk":"0","labels":[{"key":"_os_architecture","value":"64"},{"key":"_os_brand_name","value":"Debian"},{"key":"_os_brand_version","value":"11"},{"key":"_os_main_category","value":"Linux"},{"key":"_os_type","value":"debian"},{"key":"_template_uuid","value":"01000000-0000-4000-8000-000020060100"}],"storage":"013bb7a0-4a6a-44a5-8c59-5970ff37acae","storage_encrypted":"no","storage_size":10,"storage_tier":"maxiops","storage_title":"disk1","type":"disk"}]},"tags":{"tag":[]},"timezone":"UTC","title":"uploud-go-sdk-integration-test-TestCreateStopRelocateServer","username":"root","uuid":"00a35a67-c8f3-4872-be1b-8b610bd0e75d","video_model":"cirrus","zone":"fi-hel2"}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/00a35a67-c8f3-4872-be1b-8b610bd0e75d
    method: GET
  response:
    body: '{"server":{"boot_order":"disk","core_number":"1","created":1741692768,"firewall":"off","host":5939413635,"hostname":"uploud-go-sdk-integration-test-testcreatestoprelocateserver.example.com","ip_addresses":{"ip_address":[{"access":"utility"[...]
- request:
    body: '{"stop_server":{"stop_type":"hard","timeout":"900"}}'
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/00a35a67-c8f3-4872-be1b-8b610bd0e75d/stop
    method: POST
  response:
    body: '{"server":{"boot_order":"disk","core_number":"1","created":1741692768,"firewall":"off","host":5939413635,"hostname":"uploud-go-sdk-integration-test-testcreatestoprelocateserver.example.com","ip_addresses":{"ip_address":[{"access":"utility","address[...]
- request:
    body: '{"zone":"fi-tst1"}'
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/00a35a67-c8f3-4872-be1b-8b610bd0e75d/relocate
    method: POST
  response:
    body: '{"server":{"boot_order":"disk","core_number":"1","created":1741692768,"firewall":"off","hostname":"uploud-go-sdk-integration-test-testcreatestoprelocateserver.example.com","ip_addresses":{"ip_address":[{"access"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/storage/013bb7a0-4a6a-44a5-8c59-5970ff37acae
    method: GET
  response:
    body: '{"storage":{"access":"private","backup_rule":{},"backups":{"backup":[]},"created":"2025-03-11T11:32:50Z","encrypted":"no","labels":[{"key":"_os_architecture","value":"64"},{"key":"_os_brand_name","value":"Debian"},{"key":"_os_brand_version","value":"11"},{"key":"_os_main_category","value":"Linux"},{"key":"_os_type","value":"debian"},{"key":"_template_uuid","value":"01000000-0000-4000-8000-000020060100"}],"license":0,"servers":{"server":["00a35a67-c8f3-4872-be1b-8b610bd0e75d"]},"size":10,"state":"online","tier":"maxiops","title":"disk1","type":"normal","uuid":"013bb7a0-4a6a-44a5-8c59-5970ff37acae","zone":"fi-tst1"}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
