---
version: 1
interactions:
- request:
    body: '{"username":"sdk_test_partner_account","password":"superSecret123","contact_details":{"first_name":"Test","last_name":"User","country":"FIN","email":"test@myhost.mydomain","phone":"+358.31245434"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/partner/accounts
    method: POST
  response:
    body: |
      {
         "address" : "",
         "city" : "",
         "company" : "",
         "country" : "FIN",
         "email" : "test@myhost.mydomain",
         "first_name" : "Test",
         "last_name" : "User",
         "phone" : "+358.31245434",
         "postal_code" : "",
         "state" : "",
         "username" : "sdk_test_partner_account",
         "vat_number" : ""
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
[...]
