---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/regions
    method: GET
  response:
    body: '[{"name":"europe-1","primary_zone":"fi-hel2","zones":[{"name":"fi-hel2"},{"name":"de-fra1"},{"name":"es-mad1"},{"name":"fi-hel1"},{"name":"nl-ams1"},{"name":"pl-waw1"},{"name":"uk-lon1"},{"name":"se-sto1"}]}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"configured_status":"started","labels":[{"key":"example-key","value":"example-value"}],"name":"go-sdk-integration-test","networks":[{"family":"IPv4","name":"example-public-network","type":"public"}],"region":"europe-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2
    method: POST
  response:
    body: '{"configured_status":"started","created_at":"2024-02-29T11:37:37.327965Z","endpoints":[{"domain_name":"b140c.upcloudobjects.com","iam_url":"https://b140c.upcloudobjects.com:4443/iam","sts_url":"https://b140c.upcloudobjects.com:4443/sts","type":"public"}],"labels":[{"key":"example-key","value":"example-value"}],"name":"go-sdk-integration-test","networks":[{"family":"IPv4","name":"example-public-network","type":"public"}],"operational_state":"pending","region":"europe-1","updated_at":"2024-02-29T11:37:37.327965Z","usage":{"total_objects":0,"total_size_bytes":0},"users":[],"uuid":"12584806-38c9-434a-81e9-9305d938ab75"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"username":"testuser"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/12584806-38c9-434a-81e9-9305d938ab75/users
    method: POST
  response:
    body: '{"access_keys":[],"arn":"urn:ecs:iam::1258480638c9434a81e99305d938ab75:user/testuser","created_at":"2024-02-29T11:37:37Z","policies":[],"username":"testuser"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/12584806-38c9-434a-81e9-9305d938ab75/users/testuser/access-keys
    method: POST
  response:
    body: '{"access_key_id":"AKIA684B5BB76BA399BD","created_at":"2024-02-29T11:37:38Z","last_used_at":"0001-01-01T00:00:00Z","secret_access_key":"LH66jXZZfhIIDg/dkKimZ6ZfaZQM3PjHmKwFQFfe","status":"Active"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/12584806-38c9-434a-81e9-9305d938ab75/users/testuser/access-keys/AKIA684B5BB76BA399BD
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/12584806-38c9-434a-81e9-9305d938ab75/users/testuser
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/12584806-38c9-434a-81e9-9305d938ab75
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
