---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/regions
    method: GET
  response:
    body: '[{"name":"europe-1","primary_zone":"fi-hel2","zones":[{"name":"fi-hel2"},{"name":"de-fra1"},{"name":"es-mad1"},{"name":"fi-hel1"},{"name":"nl-ams1"},{"name":"pl-waw1"},{"name":"uk-lon1"},{"name":"se-sto1"}]}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"sub_account":{"username":"managedobjectstorage","password":"","first_name":"","last_name":"","company":"","address":"","postal_code":"","city":"","email":"managedobjectstorage@example.com","phone":"+358.123456789","state":"","country":"","currency":"EUR","language":"en","vat_number":"","timezone":"Europe/Helsinki","allow_api":"no","allow_gui":"no","tag_access":{"tag":null},"roles":{"role":null},"server_access":{"server":null},"storage_access":{"storage":null},"network_access":{"network":null},"ip_filters":{"ip_filter":null}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/account/sub
    method: POST
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/account/details/managedobjectstorage
    method: GET
  response:
    body: |
      {
         "account" : {
            "address" : "",
            "allow_api" : "no",
            "allow_gui" : "no",
            "campaigns" : {
               "campaign" : []
            },
            "city" : "",
            "company" : "",
            "country" : "",
            "currency" : "EUR",
            "email" : "managedobjectstorage@example.com",
            "enable_3rd_party_services" : "yes",
            "first_name" : "",
            "ip_filters" : {
               "ip_filter" : []
            },
            "labels" : [],
            "language" : "en",
            "last_name" : "",
            "main_account" : "example",
            "network_access" : {
               "network" : []
            },
            "phone" : "+358.123456789",
            "postal_code" : "",
            "roles" : {
               "role" : []
            },
            "server_access" : {
               "server" : []
            },
            "state" : "",
            "storage_access" : {
               "storage" : []
            },
            "tag_access" : {
               "tag" : []
            },
            "timezone" : "Europe/Helsinki",
            "type" : "sub",
            "username" : "managedobjectstorage",
            "vat_number" : ""
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"configured_status":"started","labels":[{"key":"example-key","value":"example-value"}],"networks":[{"family":"IPv4","name":"example-public-network","type":"public"}],"region":"europe-1","users":[{"username":"managedobjectstorage"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2
    method: POST
  response:
    body: '{"configured_status":"started","created_at":"2023-10-10T00:54:30.872907Z","endpoints":[{"domain_name":"rkbhe.upcloudobjects.com","type":"public"}],"labels":[{"key":"example-key","value":"example-value"}],"networks":[{"family":"IPv4","name":"example-public-network","type":"public"}],"operational_state":"pending","region":"europe-1","updated_at":"2023-10-10T00:54:30.872907Z","users":[{"access_keys":[],"created_at":"2023-10-10T00:54:30.872907Z","operational_state":"pending","updated_at":"2023-10-10T00:54:30.872907Z","username":"managedobjectstorage"}],"uuid":"12dd1717-b9d6-47b3-bd52-f02a3eb4768e"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/account/details/managedobjectstorage2
    method: GET
  response:
    body: |
      {
         "account" : {
            "address" : "",
            "allow_api" : "no",
            "allow_gui" : "no",
            "campaigns" : {
               "campaign" : []
            },
            "city" : "",
            "company" : "",
            "country" : "",
            [...]
- request:
    body: '{"username":"managedobjectstorage2"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/12dd1717-b9d6-47b3-bd52-f02a3eb4768e/users
    method: POST
  response:
    body: '{"access_keys":[],"created_at":"2023-10-10T00:54:31.34418Z","operational_state":"pending","updated_at":"2023-10-10T00:54:31.34418Z","username":"managedobjectstorage2"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/12dd1717-b9d6-47b3-bd52-f02a3eb4768e/users/managedobjectstorage2
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/12dd1717-b9d6-47b3-bd52-f02a3eb4768e
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/12dd1717-b9d6-47b3-bd52-f02a3eb4768e
    method: GET
  response:
    body: |
      {"type":"https://developers.upcloud.com/1.3/errors#ERROR_RESOURCE_NOT_FOUND","title":"The resource you requested does not exist.","correlation_id":"01HCBH8WJ08AANDRP5TFESEG51","status":404}
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/problem+json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/account/sub/managedobjectstorage
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
