---
version: 1
interactions:
- request:
    body: '{"server":{}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/invalid/start
    method: POST
  response:
    body: |
      {
         "error" : {
            "error_code" : "SERVER_INVALID",
            "error_message" : "The server UUID is invalid."
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 400 Bad Request
    code: 400
    duration: ""
