---
version: 1
interactions:
- request:
    body: '{"name":"go-sdk-test-filesto","zone":"fi-hel2","configured_status":"started","size_gib":250,"labels":[{"key":"managedBy","value":"upcloud-go-sdk-unit-test"}]}'
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/file-storage
    method: POST
  response:
    body: '{"configured_status":"started","created_at":"2025-09-30T11:17:49.051305Z","labels":[{"key":"managedBy","value":"upcloud-go-sdk-unit-test"}],"name":"go-sdk-test-filesto","networks":[],"operational_state":"pending","shares":[],"size_gib":250,"state_messages":[],"updated_at":"2025-09-30T11:17:49.051305Z","uuid":"17ec0131-98c6-40d9-97cf-a1fe6f48e323","zone":"fi-hel2"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/file-storage?limit=100&offset=0
    method: GET
  response:
    body: '[{"configured_status":"started","created_at":"2025-09-30T11:17:49.051305Z","labels":[{"key":"managedBy","value":"upcloud-go-sdk-unit-test"}],"name":"go-sdk-test-filesto","networks":[],"operational_state":"running","shares":[],"size_gib":250,"state_messages":[],"updated_at":"2025-09-30T11:18:19.176024Z","uuid":"17ec0131-98c6-40d9-97cf-a1fe6f48e323","zone":"fi-hel2"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/file-storage/17ec0131-98c6-40d9-97cf-a1fe6f48e323
    method: GET
  response:
    body: '{"configured_status":"started","created_at":"2025-09-30T11:17:49.051305Z","labels":[{"key":"managedBy","value":"upcloud-go-sdk-unit-test"}],"name":"go-sdk-test-filesto","networks":[],"operational_state":"running","shares":[],"size_gib":250,"state_messages":[],"updated_at":"2025-09-30T11:18:19.176024Z","uuid":"17ec0131-98c6-40d9-97cf-a1fe6f48e323","zone":"fi-hel2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"network":{"name":"go-sdk-test-filesto","zone":"fi-hel2","ip_networks":{"ip_network":[{"address":"172.28.1.0/24","dhcp":"no","dhcp_default_route":"no","family":"IPv4","gateway":"172.28.1.1","dhcp_routes_configuration":{"effective_routes_auto_population":{"enabled":"no"}}}]}}}'
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: '{"network":{"effective_routes":[],"ip_networks":{"ip_network":[{"address":"172.28.1.0/24","dhcp":"no","dhcp_default_route":"no","dhcp_effective_routes":[],"dhcp_routes_configuration":{"effective_routes_auto_population":{"enabled":"no"}},"family":"IPv4","gateway":"172.28.1.1"}]},"labels":[],"name":"go-sdk-test-filesto","type":"private","uuid":"03ab5278-c5aa-4ac7-b2ab-660fa22d8c18","zone":"fi-hel2"}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"uuid":"03ab5278-c5aa-4ac7-b2ab-660fa22d8c18","name":"go-sdk-test-filesto","family":"IPv4"}'
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/file-storage/17ec0131-98c6-40d9-97cf-a1fe6f48e323/networks
    method: POST
  response:
    body: '{"family":"IPv4","ip_address":"172.28.1.2","name":"go-sdk-test-filesto","uuid":"03ab5278-c5aa-4ac7-b2ab-660fa22d8c18"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/file-storage/17ec0131-98c6-40d9-97cf-a1fe6f48e323/networks/go-sdk-test-filesto
    method: GET
  response:
    body: '{"family":"IPv4","ip_address":"172.28.1.2","name":"go-sdk-test-filesto","uuid":"03ab5278-c5aa-4ac7-b2ab-660fa22d8c18"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"test-share","path":"/data/test","acl":[{"target":"user","permission":"rw"}]}'
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/file-storage/17ec0131-98c6-40d9-97cf-a1fe6f48e323/shares
    method: POST
  response:
    body: '{"acl":[{"permission":"rw","target":"user"}],"name":"test-share","path":"/data/test"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/file-storage/17ec0131-98c6-40d9-97cf-a1fe6f48e323/shares
    method: GET
  response:
    body: '[{"acl":[{"permission":"rw","target":"user"}],"name":"test-share","path":"/data/test"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/file-storage/17ec0131-98c6-40d9-97cf-a1fe6f48e323/shares/test-share
    method: GET
  response:
    body: '{"acl":[{"permission":"rw","target":"user"}],"name":"test-share","path":"/data/test"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"path":"/data/modified","acl":[{"target":"user","permission":"ro"}]}'
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/file-storage/17ec0131-98c6-40d9-97cf-a1fe6f48e323/shares/test-share
    method: PATCH
  response:
    body: '{"acl":[{"permission":"ro","target":"user"}],"name":"test-share","path":"/data/modified"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"key":"test-label","value":"test"}'
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/file-storage/17ec0131-98c6-40d9-97cf-a1fe6f48e323/labels
    method: POST
  response:
    body: '{"key":"test-label","value":"test"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/file-storage/17ec0131-98c6-40d9-97cf-a1fe6f48e323/labels/test-label
    method: GET
  response:
    body: '{"key":"test-label","value":"test"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/file-storage/17ec0131-98c6-40d9-97cf-a1fe6f48e323
    method: GET
  response:
    body: '{"correlation_id":"01K6D5HKSKYVP42PWACYRRFFEE","status":404,"title":"The
      resource you requested does not exist.","type":"https://developers.upcloud.com/1.3/errors#ERROR_RESOURCE_NOT_FOUND"}'
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/problem+json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/03ab5278-c5aa-4ac7-b2ab-660fa22d8c18
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
