---
version: 1
interactions:
- request:
    body: '{"name":"go-sdk-test-filesto","zone":"fi-hel2","configured_status":"started","size_gib":250,"labels":[{"key":"managedBy","value":"upcloud-go-sdk-test"}]}'
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/file-storage
    method: POST
  response:
    body: '{"configured_status":"started","created_at":"2025-12-12T08:15:45.650242Z","labels":[{"key":"managedBy","value":"upcloud-go-sdk-test"}],"name":"go-sdk-test-filesto","networks":[],"operational_state":"pending","shares":[],"size_gib":250,"state_messages":[],"updated_at":"2025-12-12T08:15:45.650242Z","uuid":"17b85394-1d4c-4f0e-9dd5-e8e314122d20","zone":"fi-hel2"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/file-storage?limit=100&offset=0
    method: GET
  response:
    body: '[{"configured_status":"started","created_at":"2025-12-12T08:15:45.650242Z","labels":[{"key":"managedBy","value":"upcloud-go-sdk-test"}],"name":"go-sdk-test-filesto","networks":[],"operational_state":"running","shares":[],"size_gib":250,"state_messages":[],"updated_at":"2025-12-12T08:16:25.746072Z","uuid":"17b85394-1d4c-4f0e-9dd5-e8e314122d20","zone":"fi-hel2"}]'
    headers:
      Content-Type:
      - application/json
      Upcloud-Total-Count:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/file-storage/17b85394-1d4c-4f0e-9dd5-e8e314122d20
    method: GET
  response:
    body: '{"configured_status":"started","created_at":"2025-12-12T08:15:45.650242Z","labels":[{"key":"managedBy","value":"upcloud-go-sdk-test"}],"name":"go-sdk-test-filesto","networks":[],"operational_state":"running","shares":[],"size_gib":250,"state_messages":[],"updated_at":"2025-12-12T08:16:25.746072Z","uuid":"17b85394-1d4c-4f0e-9dd5-e8e314122d20","zone":"fi-hel2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"network":{"name":"go-sdk-test-filesto","zone":"fi-hel2","ip_networks":{"ip_network":[{"address":"172.28.1.0/24","dhcp":"no","dhcp_default_route":"no","family":"IPv4","gateway":"172.28.1.1","dhcp_routes_configuration":{"effective_routes_auto_population":{"enabled":"no"}}}]}}}'
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: '{"network":{"effective_routes":[],"ip_networks":{"ip_network":[{"address":"172.28.1.0/24","dhcp":"no","dhcp_default_route":"no","dhcp_effective_routes":[],"dhcp_routes_configuration":{"effective_routes_auto_population":{"enabled":"no"}},"family":"IPv4","gateway":"172.28.1.1"}]},"labels":[],"name":"go-sdk-test-filesto","type":"private","uuid":"0335088c-d87e-4070-98a3-ca5fc4483ddd","zone":"fi-hel2"}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"uuid":"0335088c-d87e-4070-98a3-ca5fc4483ddd","name":"go-sdk-test-filesto","family":"IPv4"}'
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/file-storage/17b85394-1d4c-4f0e-9dd5-e8e314122d20/networks
    method: POST
  response:
    body: '{"family":"IPv4","ip_address":"172.28.1.2","name":"go-sdk-test-filesto","uuid":"0335088c-d87e-4070-98a3-ca5fc4483ddd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/file-storage/17b85394-1d4c-4f0e-9dd5-e8e314122d20/networks/go-sdk-test-filesto
    method: GET
  response:
    body: '{"family":"IPv4","ip_address":"172.28.1.2","name":"go-sdk-test-filesto","uuid":"0335088c-d87e-4070-98a3-ca5fc4483ddd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"test-share","path":"/data/test","acl":[{"name":"test-share-acl","target":"10.10.10.0/24","permission":"rw"}]}'
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/file-storage/17b85394-1d4c-4f0e-9dd5-e8e314122d20/shares
    method: POST
  response:
    body: '{"acl":[{"name":"test-share-acl","permission":"rw","target":"10.10.10.0/24"}],"name":"test-share","path":"/data/test"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/file-storage/17b85394-1d4c-4f0e-9dd5-e8e314122d20/current-state
    method: GET
  response:
    body: '{"configured_status":"started","created_at":"2025-12-12T08:15:45.650242Z","labels":[{"key":"managedBy","value":"modified"}],"name":"go-sdk-test-filesto-modified","networks":[],"operational_state":"running","shares":[],"size_gib":250,"state_messages":[],"updated_at":"2025-12-12T08:16:36.811172Z","uuid":"17b85394-1d4c-4f0e-9dd5-e8e314122d20","zone":"fi-hel2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/file-storage/17b85394-1d4c-4f0e-9dd5-e8e314122d20/shares
    method: GET
  response:
    body: '[{"acl":[{"name":"test-share-acl","permission":"rw","target":"10.10.10.0/24"}],"name":"test-share","path":"/data/test"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/file-storage/17b85394-1d4c-4f0e-9dd5-e8e314122d20/shares/test-share
    method: GET
  response:
    body: '{"acl":[{"name":"test-share-acl","permission":"rw","target":"10.10.10.0/24"}],"name":"test-share","path":"/data/test"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"acl2","target":"10.10.11.0/24","permission":"rw"}'
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/file-storage/17b85394-1d4c-4f0e-9dd5-e8e314122d20/shares/test-share/acl
    method: POST
  response:
    body: '{"name":"acl2","permission":"rw","target":"10.10.11.0/24"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/file-storage/17b85394-1d4c-4f0e-9dd5-e8e314122d20/shares/test-share/acl/acl2
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: '{"key":"test-label","value":"test"}'
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/file-storage/17b85394-1d4c-4f0e-9dd5-e8e314122d20/labels
    method: POST
  response:
    body: '{"key":"test-label","value":"test"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/file-storage/17b85394-1d4c-4f0e-9dd5-e8e314122d20/labels/test-label
    method: GET
  response:
    body: '{"key":"test-label","value":"test"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/file-storage/17b85394-1d4c-4f0e-9dd5-e8e314122d20
    method: GET
  response:
    body: '{"configured_status":"started","created_at":"2025-12-12T08:15:45.650242Z","labels":[{"key":"managedBy","value":"modified"}],"name":"go-sdk-test-filesto-modified","networks":[],"operational_state":"pending","shares":[{"acl":[],"deleting":true,"name":"test-share","path":"/data/test"}],"size_gib":250,"state_messages":[],"updated_at":"2025-12-12T08:16:50.523149Z","uuid":"17b85394-1d4c-4f0e-9dd5-e8e314122d20","zone":"fi-hel2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/file-storage/17b85394-1d4c-4f0e-9dd5-e8e314122d20
    method: GET
  response:
    body: '{"correlation_id":"01KC8T59GZXZTNCZMYGJXGFSGM","status":404,"title":"The
      resource you requested does not exist.","type":"https://developers.upcloud.com/1.3/errors#ERROR_RESOURCE_NOT_FOUND"}'
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/problem+json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/0335088c-d87e-4070-98a3-ca5fc4483ddd
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
