---
version: 1
interactions:
- request:
    body: '{"name":"go-sdk-test-filesto","zone":"fi-hel2","configured_status":"started","size_gib":250,"labels":[{"key":"managedBy","value":"upcloud-go-sdk-unit-test"}]}'
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/file-storage
    method: POST
  response:
    body: '{"configured_status":"started","created_at":"2025-09-29T06:41:46.313627Z","labels":[{"key":"managedBy","value":"upcloud-go-sdk-unit-test"}],"name":"go-sdk-test-filesto","networks":[],"operational_state":"pending","shares":[],"size_gib":250,"state_messages":[],"updated_at":"2025-09-29T06:41:46.313627Z","uuid":"178c9d9b-7b5b-4817-b838-8ffcaa41829d","zone":"fi-hel2"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/file-storage/178c9d9b-7b5b-4817-b838-8ffcaa41829d
    method: GET
  response:
    body: '{"configured_status":"started","created_at":"2025-09-29T06:41:46.313627Z","labels":[{"key":"managedBy","value":"upcloud-go-sdk-unit-test"}],"name":"go-sdk-test-filesto","networks":[],"operational_state":"running","shares":[],"size_gib":250,"state_messages":[],"updated_at":"2025-09-29T06:42:16.439301Z","uuid":"178c9d9b-7b5b-4817-b838-8ffcaa41829d","zone":"fi-hel2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"network":{"name":"go-sdk-test-filesto","zone":"fi-hel2","ip_networks":{"ip_network":[{"address":"172.28.1.0/24","dhcp":"no","dhcp_default_route":"no","family":"IPv4","gateway":"172.28.1.1","dhcp_routes_configuration":{"effective_routes_auto_population":{"enabled":"no"}}}]}}}'
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: '{"network":{"effective_routes":[],"ip_networks":{"ip_network":[{"address":"172.28.1.0/24","dhcp":"no","dhcp_default_route":"no","dhcp_effective_routes":[],"dhcp_routes_configuration":{"effective_routes_auto_population":{"enabled":"no"}},"family":"IPv4","gateway":"172.28.1.1"}]},"labels":[],"name":"go-sdk-test-filesto","type":"private","uuid":"0309843f-8da3-4037-9277-7ac77ac50eac","zone":"fi-hel2"}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"uuid":"0309843f-8da3-4037-9277-7ac77ac50eac","name":"go-sdk-test-filesto","family":"IPv4"}'
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/file-storage/178c9d9b-7b5b-4817-b838-8ffcaa41829d/networks
    method: POST
  response:
    body: '{"family":"IPv4","ip_address":"172.28.1.2","name":"go-sdk-test-filesto","uuid":"0309843f-8da3-4037-9277-7ac77ac50eac"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/file-storage/178c9d9b-7b5b-4817-b838-8ffcaa41829d/networks/go-sdk-test-filesto
    method: GET
  response:
    body: '{"family":"IPv4","ip_address":"172.28.1.2","name":"go-sdk-test-filesto","uuid":"0309843f-8da3-4037-9277-7ac77ac50eac"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"test-share","path":"/data/test","acl":[{"target":"user","permission":"rw"}]}'
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/file-storage/178c9d9b-7b5b-4817-b838-8ffcaa41829d/shares
    method: POST
  response:
    body: '{"acl":[{"permission":"rw","target":"user"}],"name":"test-share","path":"/data/test"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/file-storage/178c9d9b-7b5b-4817-b838-8ffcaa41829d/shares
    method: GET
  response:
    body: '[{"acl":[{"permission":"rw","target":"user"}],"name":"test-share","path":"/data/test"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/file-storage/178c9d9b-7b5b-4817-b838-8ffcaa41829d/shares/test-share
    method: GET
  response:
    body: '{"acl":[{"permission":"rw","target":"user"}],"name":"test-share","path":"/data/test"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"path":"/data/modified","acl":[{"target":"user","permission":"ro"}]}'
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/file-storage/178c9d9b-7b5b-4817-b838-8ffcaa41829d/shares/test-share
    method: PATCH
  response:
    body: '{"acl":[{"permission":"ro","target":"user"}],"name":"test-share","path":"/data/modified"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"key":"test-label","value":"test"}'
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/file-storage/178c9d9b-7b5b-4817-b838-8ffcaa41829d/labels
    method: POST
  response:
    body: '{"key":"test-label","value":"test"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/file-storage/178c9d9b-7b5b-4817-b838-8ffcaa41829d/labels/test-label
    method: GET
  response:
    body: '{"key":"test-label","value":"test"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/file-storage/178c9d9b-7b5b-4817-b838-8ffcaa41829d
    method: GET
  response:
    body: '{"correlation_id":"01K6A3C0J1MATD1335Q2ES85S6","status":404,"title":"The
      resource you requested does not exist.","type":"https://developers.upcloud.com/1.3/errors#ERROR_RESOURCE_NOT_FOUND"}'
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/problem+json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/0309843f-8da3-4037-9277-7ac77ac50eac
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
