---
version: 1
interactions:
- request:
    body: '{"server":{"hostname":"uploud-go-sdk-integration-test-testfirewallrules.example.com","ip_addresses":{"ip_address":[{"access":"private","family":"IPv4"},{"access":"public","family":"IPv4"},{"access":"public","family":"IPv6"}]},"password_delivery":"none","storage_devices":{"storage_device":[{"action":"clone","storage":"01000000-0000-4000-8000-000030060200","title":"disk1","size":30,"tier":"maxiops"}]},"title":"uploud-go-sdk-integration-test-TestFirewallRules","zone":"fi-hel2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/server
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1596555901,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testfirewallrules.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "private",
                     "address" : "10.6.6.220",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:ec1b:dbff:feca:3d08",
                     "family" : "IPv6"
                  },
                  {
                     "access" : "public",
                     "address" : "94.237.104.83",
                     "family" : "IPv4"
                  }
               ]
            },
            "license" : 0,
            "memory_amount" : "1024",
            "metadata" : "no",
            "nic_model" : "virtio",
            "password" : "s4rv2729",
            "plan" : "custom",
            "plan_ipv4_bytes" : "0",
            "plan_ipv6_bytes" : "0",
            "progress" : "0",
            "state" : "maintenance",
            "storage_devices" : {
               "storage_device" : [
                  {
                     "address" : "virtio:0",
                     "boot_disk" : "0",
                     "storage" : "0110972d-245c-4b80-b46b-af7213245165",
                     "storage_size" : 30,
                     "storage_title" : "disk1",
                     "type" : "disk"
                  }
               ]
            },
            "tags" : {
               "tag" : []
            },
            "timezone" : "UTC",
            "title" : "uploud-go-sdk-integration-test-TestFirewallRules",
            "username" : "root",
            "uuid" : "0037274a-9642-4bc5-ac76-3d21ae4b0481",
            "video_model" : "cirrus",
            "vnc" : "off",
            "vnc_password" : "AXe6NqU6",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/server/0037274a-9642-4bc5-ac76-3d21ae4b0481
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1596555901,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testfirewallrules.example.com",
            "ip_addresses" : [...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/server/0037274a-9642-4bc5-ac76-3d21ae4b0481
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1596555901,
            "firewall" : "off",
            "host" : 7617135235,
            "hostname" : "uploud-go-sdk-integration-test-testfirewallrules.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "private",
                     "address" : "10.6.6.220",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:ec1b:dbff:feca:3d08",
                     "family[...]
- request:
    body: '{"firewall_rule":{"action":"accept","comment":"This is the comment","direction":"in","family":"IPv4","position":"1","protocol":"tcp"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/server/0037274a-9642-4bc5-ac76-3d21ae4b0481/firewall_rule
    method: POST
  response:
    body: |
      {
         "firewall_rule" : {
            "action" : "accept",
            "comment" : "This is the comment",
            "destination_address_end" : "",
            "destination_address_start" : "",
            "destination_port_end" : "",
            "destination_port_start" : "",
            "direction" : "in",
            "family" : "IPv4",
            "icmp_type" : "",
            "position" : "1",
            "protocol" : "tcp",
            "source_address_end" : "",
            "source_address_start" : "",
            "source_port_end" : "",
            "source_port_start" : ""
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/server/0037274a-9642-4bc5-ac76-3d21ae4b0481/firewall_rule
    method: GET
  response:
    body: |
      {
         "firewall_rules" : {
            "firewall_rule" : [
               {
                  "action" : "accept",
                  "comment" : "This is the comment",
                  "destination_address_end" : "",
                  "destination_address_start" : "",
                  "destination_port_end" : "",
                  "destination_port_start" : "",
                  "direction" : "in",
                  "family" : "IPv4",
                  "icmp_type" : "",
                  "position" : "1",
                  "protocol" : "tcp",
                  "source_address_end" : "",
                  "source_address_start" : "",
                  "source_port_end" : "",
                  "source_port_start" : ""
               }
            ]
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/server/0037274a-9642-4bc5-ac76-3d21ae4b0481/firewall_rule/1
    method: GET
  response:
    body: |
      {
         "firewall_rule" : {
            "action" : "accept",
            "comment" : "This is the comment",
            "destination_address_end" : "",
            "destination_address_start" : "",
            "destination_port_end" : "",
            "destination_port_start" : "",
            "direction" : "in",
            "family" : "IPv4",
            "icmp_type" : "",
            "position" : "1",
            "protocol" : "tcp",
            "source_address_end" : "",
            "source_address_start" : "",
            "source_port_end" : "",
            "source_port_start" : ""
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
