---
version: 1
interactions:
- request:
    body: '{"server":{"hostname":"uploud-go-sdk-integration-test-testfirewallrules.example.com","labels":{"label":[{"key":"managedBy","value":"upcloud-sdk-integration-test"},{"key":"testName","value":"TestFirewallRules"}]},"metadata":"no","networking":{"interfaces":{"interface":[{"ip_addresses":{"ip_address":[{"family":"IPv4"}]},"type":"utility"},{"ip_addresses":{"ip_address":[{"family":"IPv4"}]},"type":"public"},{"ip_addresses":{"ip_address":[{"family":"IPv6"}]},"type":"public"}]}},"password_delivery":"none","storage_devices":{"storage_device":[{"action":"clone","storage":"01000000-0000-4000-8000-000020060100","title":"disk1","size":10,"tier":"maxiops"}]},"title":"uploud-go-sdk-integration-test-TestFirewallRules","remote_access_enabled":"no","zone":"fi-hel2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1666615173,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testfirewallrules.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "utility",
                     "address" : "10.6.6.183",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:d845:c4ff:fe5c:4c78",
                     "family" : "IPv6"
                  },
                  {
                     "access" : "public",
                     "address" : "94.237.107.164",
                     "family" : "IPv4"
                  }
               ]
            },
            "labels" : {
               "label" : [
                  {
                     "key" : "managedBy",
                     "value" : "upcloud-sdk-integration-test"
                  },
                  {
                     "key" : "testName",
                     "value" : "TestFirewallRules"
                  }
               ]
            },
            "license" : 0,
            "memory_amount" : "1024",
            "metadata" : "no",
            "networking" : {
               "interfaces" : {
                  "interface" : [
                     {
                        "bootable" : "no",
                        "index" : 1,
                        "ip_addresses" : {
                           "ip_address" : [
                              {
                                 "address" : "10.6.6.183",
                                 "family" : "IPv4",
                                 "floating" : "no"
                              }
                           ]
                        },
                        "mac" : "da:45:c4:5c:e3:06",
                        "network" : "0343ede2-9890-4470-b680-0dcda6d9f7e3",
                        "source_ip_filtering" : "yes",
                        "type" : "utility"
                     },
                     {
                        "bootable" : "no",
                        "index" : 2,
                        "ip_addresses" : {
                           "ip_address" : [
                              {
                                 "address" : "94.237.107.164",
                                 "family" : "IPv4",
                                 "floating" : "no"
                              }
     [...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/0018bff1-6f5b-4d31-b958-26a7c5529004
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1666615173,
            "firewall" : "off",
            "host" : 5872304771,
            "hostname" : "uploud-go-sdk-integration-test-testfirewallrules.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "utility",
                     "address" : "10.6.6.183",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:d845:c4ff:fe5c:4c78",
                     "family[...]
- request:
    body: '{"firewall_rule":{"action":"accept","comment":"This is the comment","direction":"in","family":"IPv4","position":"1","protocol":"tcp"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/0018bff1-6f5b-4d31-b958-26a7c5529004/firewall_rule
    method: POST
  response:
    body: |
      {
         "firewall_rule" : {
            "action" : "accept",
            "comment" : "This is the comment",
            "destination_address_end" : "",
            "destination_address_start" : "",
            "destination_port_end" : "",
            "destination_port_start" : "",
            "direction" : "in",
            "family" : "IPv4",
            "icmp_type" : "",
            "position" : "1",
            "protocol" : "tcp",
            "source_address_end" : "",
            "source_address_start" : "",
            "source_port_end" : "",
            "source_port_start" : ""
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/0018bff1-6f5b-4d31-b958-26a7c5529004/firewall_rule
    method: GET
  response:
    body: |
      {
         "firewall_rules" : {
            "firewall_rule" : [
               {
                  "action" : "accept",
                  "comment" : "This is the comment",
                  "destination_address_end" : "",
                  "destination_address_start" : "",
                  "destination_port_end" : "",
                  "destination_port_start" : "",
                  "direction" : "in",
                  "family" : "IPv4",
                  "icmp_type" : "",
                  "position" : "1",
                  "protocol" : "tcp",
                  "source_address_end" : "",
                  "source_address_start" : "",
                  "source_port_end" : "",
                  "source_port_start" : ""
               }
            ]
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/0018bff1-6f5b-4d31-b958-26a7c5529004/firewall_rule/1
    method: GET
  response:
    body: |
      {
         "firewall_rule" : {
            "action" : "accept",
            "comment" : "This is the comment",
            "destination_address_end" : "",
            "destination_address_start" : "",
            "destination_port_end" : "",
            "destination_port_start" : "",
            "direction" : "in",
            "family" : "IPv4",
            "icmp_type" : "",
            "position" : "1",
            "protocol" : "tcp",
            "source_address_end" : "",
            "source_address_start" : "",
            "source_port_end" : "",
            "source_port_start" : ""
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
