---
version: 1
interactions:
- request:
    body: '{"server":{"hostname":"uploud-go-sdk-integration-test-testfirewallrules.example.com","metadata":"no","networking":{"interfaces":{"interface":[{"ip_addresses":{"ip_address":[{"family":"IPv4"}]},"type":"utility"},{"ip_addresses":{"ip_address":[{"family":"IPv4"}]},"type":"public"},{"ip_addresses":{"ip_address":[{"family":"IPv6"}]},"type":"public"}]}},"password_delivery":"none","storage_devices":{"storage_device":[{"action":"clone","storage":"01000000-0000-4000-8000-000030060200","title":"disk1","size":30,"tier":"maxiops"}]},"title":"uploud-go-sdk-integration-test-TestFirewallRules","remote_access_enabled":"no","zone":"fi-hel2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1597847159,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testfirewallrules.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "utility",
                     "address" : "10.6.6.253",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:ec1b:dbff:feca:5638",
                     "family" : "IPv6"
                  },
                  {
                     "access" : "public",
                     "address" : "94.237.104.141",
                     "family" : "IPv4"
                  }
               ]
            },
            "license" : 0,
            "memory_amount" : "1024",
            "metadata" : "no",
            "networking" : {
               "interfaces" : {
                  "interface" : [
                     {
                        "bootable" : "no",
                        "index" : 1,
                        "ip_addresses" : {
                           "ip_address" : [
                              {
                                 "address" : "10.6.6.253",
                                 "family" : "IPv4",
                                 "floating" : "no"
                              }
                           ]
                        },
                        "mac" : "ee:1b:db:ca:c3:b4",
                        "network" : "03a002de-994e-45aa-9e1c-9918f0908c57",
                        "source_ip_filtering" : "yes",
                        "type" : "utility"
                     },
                     {
                        "bootable" : "no",
                        "index" : 2,
                        "ip_addresses" : {
                           "ip_address" : [
                              {
                                 "address" : "94.237.104.141",
                                 "family" : "IPv4",
                                 "floating" : "no"
                              }
     [...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/00af2d24-dbd5-4438-bc46-a863023333de
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1597847159,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testfirewallrules.example.com",
            "ip_addresses" : [...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/00af2d24-dbd5-4438-bc46-a863023333de
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1597847159,
            "firewall" : "off",
            "host" : 7348699779,
            "hostname" : "uploud-go-sdk-integration-test-testfirewallrules.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "utility",
                     "address" : "10.6.6.253",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:ec1b:dbff:feca:5638",
                     "family[...]
- request:
    body: '{"firewall_rule":{"action":"accept","comment":"This is the comment","direction":"in","family":"IPv4","position":"1","protocol":"tcp"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/00af2d24-dbd5-4438-bc46-a863023333de/firewall_rule
    method: POST
  response:
    body: |
      {
         "firewall_rule" : {
            "action" : "accept",
            "comment" : "This is the comment",
            "destination_address_end" : "",
            "destination_address_start" : "",
            "destination_port_end" : "",
            "destination_port_start" : "",
            "direction" : "in",
            "family" : "IPv4",
            "icmp_type" : "",
            "position" : "1",
            "protocol" : "tcp",
            "source_address_end" : "",
            "source_address_start" : "",
            "source_port_end" : "",
            "source_port_start" : ""
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/00af2d24-dbd5-4438-bc46-a863023333de/firewall_rule
    method: GET
  response:
    body: |
      {
         "firewall_rules" : {
            "firewall_rule" : [
               {
                  "action" : "accept",
                  "comment" : "This is the comment",
                  "destination_address_end" : "",
                  "destination_address_start" : "",
                  "destination_port_end" : "",
                  "destination_port_start" : "",
                  "direction" : "in",
                  "family" : "IPv4",
                  "icmp_type" : "",
                  "position" : "1",
                  "protocol" : "tcp",
                  "source_address_end" : "",
                  "source_address_start" : "",
                  "source_port_end" : "",
                  "source_port_start" : ""
               }
            ]
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/00af2d24-dbd5-4438-bc46-a863023333de/firewall_rule/1
    method: GET
  response:
    body: |
      {
         "firewall_rule" : {
            "action" : "accept",
            "comment" : "This is the comment",
            "destination_address_end" : "",
            "destination_address_start" : "",
            "destination_port_end" : "",
            "destination_port_start" : "",
            "direction" : "in",
            "family" : "IPv4",
            "icmp_type" : "",
            "position" : "1",
            "protocol" : "tcp",
            "source_address_end" : "",
            "source_address_start" : "",
            "source_port_end" : "",
            "source_port_start" : ""
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
