---
version: 1
interactions:
- request:
    body: '{"router":{"name":"test-router"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/router
    method: POST
  response:
    body: |
      {
         "router" : {
            "attached_networks" : {
               "network" : []
            },
            "labels" : [],
            "name" : "test-router",
            "static_routes" : [],
            "type" : "normal",
            "uuid" : "0436b532-00b5-4980-8f52-5e1e767b3f7e"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"test","zone":"pl-waw1","features":["nat"],"routers":[{"uuid":"0436b532-00b5-4980-8f52-5e1e767b3f7e"}],"configured_status":"started"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/gateway
    method: POST
  response:
    body: '{"configured_status":"started","created_at":"2023-02-27T12:16:57.817751Z","features":["nat"],"labels":[],"name":"test","operational_state":"pending","routers":[{"created_at":"2023-02-27T12:16:57.817751Z","uuid":"0436b532-00b5-4980-8f52-5e1e767b3f7e"}],"updated_at":"2023-02-27T12:16:57.817751Z","uuid":"10d30045-3e66-4343-a0d9-aa5afdc0b9ba","zone":"pl-waw1"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/gateway/10d30045-3e66-4343-a0d9-aa5afdc0b9ba
    method: GET
  response:
    body: '{"configured_status":"started","created_at":"2023-02-27T12:16:57.817751Z","features":["nat"],"labels":[],"name":"test","operational_state":"running","routers":[{"created_at":"2023-02-27T12:16:57.817751Z","uuid":"0436b532-00b5-4980-8f52-5e1e767b3f7e"}],"updated_at":"2023-02-27T12:19:48.766285Z","uuid":"10d30045-3e66-4343-a0d9-aa5afdc0b9ba","zone":"pl-waw1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/router/0436b532-00b5-4980-8f52-5e1e767b3f7e
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
