---
version: 1
interactions:
- request:
    body: '{"router":{"name":"test-router"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/router
    method: POST
  response:
    body: |
      {
         "router" : {
            "attached_networks" : {
               "network" : []
            },
            "labels" : [],
            "name" : "test-router",
            "static_routes" : [],
            "type" : "normal",
            "uuid" : "048b6f79-d4b8-4633-bd6e-96b49cda20db"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"test","zone":"pl-waw1","features":["nat"],"routers":[{"uuid":"048b6f79-d4b8-4633-bd6e-96b49cda20db"}],"configured_status":"started"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/gateway
    method: POST
  response:
    body: '{"addresses":[],"configured_status":"started","created_at":"2023-08-02T14:06:47.307493Z","features":["nat"],"labels":[],"name":"test","operational_state":"pending","routers":[{"created_at":"2023-08-02T14:06:47.307493Z","uuid":"048b6f79-d4b8-4633-bd6e-96b49cda20db"}],"updated_at":"2023-08-02T14:06:47.307493Z","uuid":"1050e056-6396-4150-869b-f654a75fe42a","zone":"pl-waw1"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/gateway/1050e056-6396-4150-869b-f654a75fe42a
    method: GET
  response:
    body: '{"addresses":[{"address":"5.22.223.254","name":"public-ip-1"}],"configured_status":"started","created_at":"2023-08-02T14:06:47.307493Z","features":["nat"],"labels":[],"name":"test","operational_state":"running","routers":[{"created_at":"2023-08-02T14:06:47.307493Z","uuid":"048b6f79-d4b8-4633-bd6e-96b49cda20db"}],"updated_at":"2023-08-02T14:10:42.836847Z","uuid":"1050e056-6396-4150-869b-f654a75fe42a","zone":"pl-waw1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/router/048b6f79-d4b8-4633-bd6e-96b49cda20db
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
