---
version: 1
interactions:
- request:
    body: '{"router":{"name":"test-router-vpn-conn-tunnels"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/router
    method: POST
  response:
    body: |
      {
         "router" : {
            "attached_network_gateways" : [],
            "attached_networks" : {
               "network" : []
            },
            "labels" : [],
            "name" : "test-router-vpn-conn-tunnels",
            "static_routes" : [],
            "type" : "normal",
            "uuid" : "0430e35e-9ccf-475d-b8a7-bc3e8d904d3e"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"test-vpn-conn-tunnels","zone":"pl-waw1","features":["vpn"],"routers":[{"uuid":"0430e35e-9ccf-475d-b8a7-bc3e8d904d3e"}],"configured_status":"started","plan":"advanced","addresses":[{"name":"my-ip-address"}],"connections":[{"name":"example-conn","type":"ipsec","local_routes":[{"name":"local-route","static_network":"10.0.1.0/24","type":"static"}],"remote_routes":[{"name":"remote-route","static_network":"10.0.2.0/24","type":"static"}]}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/gateway
    method: POST
  response:
    body: '{"addresses":[{"name":"my-ip-address"}],"configured_status":"started","connections":[{"created_at":"2024-06-04T11:48:50.952539Z","local_routes":[{"name":"local-route","static_network":"10.0.1.0/24","type":"static"}],"name":"example-conn","remote_routes":[{"name":"remote-route","static_network":"10.0.2.0/24","type":"static"}],"tunnels":[],"type":"ipsec","updated_at":"2024-06-04T11:48:50.952539Z","uuid":"1020ac4f-61bb-42c2-9bc2-364c6a54d586"}],"created_at":"2024-06-04T11:48:50.952539Z","features":["vpn"],"labels":[],"name":"test-vpn-conn-tunnels","operational_state":"pending","plan":"advanced","routers":[{"created_at":"2024-06-04T11:48:50.952539Z","uuid":"0430e35e-9ccf-475d-b8a7-bc3e8d904d3e"}],"updated_at":"2024-06-04T11:48:50.952539Z","uuid":"10125707-6d27-4143-8907-b423b30ae704","zone":"pl-waw1"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/gateway/10125707-6d27-4143-8907-b423b30ae704/connections/1020ac4f-61bb-42c2-9bc2-364c6a54d586/tunnels
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"added-tunnel","local_address":{"name":"my-ip-address"},"remote_address":{"address":"100.10.0.111"},"ipsec":{"authentication":{"authentication":"psk","psk":"psk1234567890psk1234567890"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/gateway/10125707-6d27-4143-8907-b423b30ae704/connections/1020ac4f-61bb-42c2-9bc2-364c6a54d586/tunnels
    method: POST
  response:
    body: '{"created_at":"2024-06-04T11:48:51.677456Z","ipsec":{"authentication":{"authentication":"psk"},"child_rekey_time":1440,"dpd_delay":30,"dpd_timeout":120,"ike_lifetime":86400,"phase1_algorithms":["aes128","aes256","aes128gcm128","aes256gcm128"],"phase1_dh_group_numbers":[14,16,18,19,20,21],"phase1_integrity_algorithms":["sha256","sha384","sha512"],"phase2_algorithms":["aes128","aes256","aes128gcm128","aes256gcm128"],"phase2_dh_group_numbers":[14,16,18,19,20,21],"phase2_integrity_algorithms":["sha256","sha384","sha512"],"rekey_time":14400},"local_address":{"name":"my-ip-address"},"name":"added-tunnel","operational_state":"idle","remote_address":{"address":"100.10.0.111"},"updated_at":"2024-06-04T11:48:51.677456Z","uuid":"105467fa-b38a-41f5-989d-5fad7961eb3c"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/gateway/10125707-6d27-4143-8907-b423b30ae704/connections/1020ac4f-61bb-42c2-9bc2-364c6a54d586/tunnels/105467fa-b38a-41f5-989d-5fad7961eb3c
    method: GET
  response:
    body: '{"created_at":"2024-06-04T11:48:51.677456Z","ipsec":{"authentication":{"authentication":"psk"},"child_rekey_time":1440,"dpd_delay":30,"dpd_timeout":120,"ike_lifetime":86400,"phase1_algorithms":["aes128","aes256","aes128gcm128","aes256gcm128"],"phase1_dh_group_numbers":[14,16,18,19,20,21],"phase1_integrity_algorithms":["sha256","sha384","sha512"],"phase2_algorithms":["aes128","aes256","aes128gcm128","aes256gcm128"],"phase2_dh_group_numbers":[14,16,18,19,20,21],"phase2_integrity_algorithms":["sha256","sha384","sha512"],"rekey_time":14400},"local_address":{"name":"my-ip-address"},"name":"added-tunnel","operational_state":"idle","remote_address":{"address":"100.10.0.111"},"updated_at":"2024-06-04T11:48:51.677456Z","uuid":"105467fa-b38a-41f5-989d-5fad7961eb3c"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/gateway/10125707-6d27-4143-8907-b423b30ae704
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/router/0430e35e-9ccf-475d-b8a7-bc3e8d904d3e
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
