---
version: 1
interactions:
- request:
    body: '{"router":{"name":"test-router-vpn"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/router
    method: POST
  response:
    body: |
      {
         "router" : {
            "attached_network_gateways" : [],
            "attached_networks" : {
               "network" : []
            },
            "labels" : [],
            "name" : "test-router-vpn",
            "static_routes" : [],
            "type" : "normal",
            "uuid" : "04f55cc1-bcd9-49eb-bd56-d65d7e3f2156"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/gateway/plans
    method: GET
  response:
    body: '[{"name":"advanced","per_gateway_bandwidth_mbps":1000,"per_gateway_max_connections":250000,"per_gateway_maximum_vpn_bandwidth_mbps":500,"server_number":2,"supported_features":["nat","vpn"],"vpn_tunnel_amount":10},{"name":"development","per_gateway_bandwidth_mbps":500,"per_gateway_max_connections":10000,"per_gateway_maximum_vpn_bandwidth_mbps":0,"server_number":1,"supported_features":["nat"],"vpn_tunnel_amount":0},{"name":"production","per_gateway_bandwidth_mbps":1000,"per_gateway_max_connections":100000,"per_gateway_maximum_vpn_bandwidth_mbps":300,"server_number":2,"supported_features":["nat","vpn"],"vpn_tunnel_amount":2},{"name":"standard","per_gateway_bandwidth_mbps":500,"per_gateway_max_connections":100000,"per_gateway_maximum_vpn_bandwidth_mbps":0,"server_number":2,"supported_features":["nat"],"vpn_tunnel_amount":0}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-vpn","zone":"pl-waw1","features":["vpn"],"routers":[{"uuid":"04f55cc1-bcd9-49eb-bd56-d65d7e3f2156"}],"configured_status":"started","plan":"advanced","addresses":[{"name":"my-public-ip"}],"connections":[{"name":"example-connection","type":"ipsec","local_routes":[{"name":"local-route","static_network":"10.0.0.0/24","type":"static"}],"remote_routes":[{"name":"remote-route","static_network":"10.0.1.0/24","type":"static"}],"tunnels":[{"name":"example-tunnel","local_address":{"name":"my-public-ip"},"remote_address":{"address":"100.10.0.111"},"ipsec":{"authentication":{"authentication":"psk","psk":"key123wouldkeepitthatwaybuthastobelonger"}}}]}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/gateway
    method: POST
  response:
    body: '{"addresses":[{"name":"my-public-ip"}],"configured_status":"started","connections":[{"created_at":"2024-06-04T11:48:11.490362Z","local_routes":[{"name":"local-route","static_network":"10.0.0.0/24","type":"static"}],"name":"example-connection","remote_routes":[{"name":"remote-route","static_network":"10.0.1.0/24","type":"static"}],"tunnels":[{"created_at":"2024-06-04T11:48:11.490362Z","ipsec":{"authentication":{"authentication":"psk"},"child_rekey_time":1440,"dpd_delay":30,"dpd_timeout":120,"ike_lifetime":86400,"phase1_algorithms":["aes128","aes256","aes128gcm128","aes256gcm128"],"phase1_dh_group_numbers":[14,16,18,19,20,21],"phase1_integrity_algorithms":["sha256","sha384","sha512"],"phase2_algorithms":["aes128","aes256","aes128gcm128","aes256gcm128"],"phase2_dh_group_numbers":[14,16,18,19,20,21],"phase2_integrity_algorithms":["sha256","sha384","sha512"],"rekey_time":14400},"local_address":{"name":"my-public-ip"},"name":"example-tunnel","operational_state":"idle","remote_address":{"address":"100.10.0.111"},"updated_at":"2024-06-04T11:48:11.490362Z","uuid":"103ab4a1-9d18-4005-8ca2-e3c2e00a9244"}],"type":"ipsec","updated_at":"2024-06-04T11:48:11.490362Z","uuid":"106bdf9b-b531-4611-81fa-f2288b7b75d1"}],"created_at":"2024-06-04T11:48:11.490362Z","features":["vpn"],"labels":[],"name":"test-vpn","operational_state":"pending","plan":"advanced","routers":[{"created_at":"2024-06-04T11:48:11.490362Z","uuid":"04f55cc1-bcd9-49eb-bd56-d65d7e3f2156"}],"updated_at":"2024-06-04T11:48:11.490362Z","uuid":"10a3a6b6-b837-49a7-81a1-df17591333be","zone":"pl-waw1"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"updated"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/gateway/10a3a6b6-b837-49a7-81a1-df17591333be
    method: PATCH
  response:
    body: '{"addresses":[{"name":"my-public-ip"}],"configured_status":"started","connections":[{"created_at":"2024-06-04T11:48:11.490362Z","local_routes":[{"name":"local-route","static_network":"10.0.0.0/24","type":"static"}],"name":"example-connection","remote_routes":[{"na[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/router/04f55cc1-bcd9-49eb-bd56-d65d7e3f2156
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
