---
version: 1
interactions:
- request:
    body: '{"router":{"name":"test-router-vpn-conn"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/router
    method: POST
  response:
    body: |
      {
         "router" : {
            "attached_network_gateways" : [],
            "attached_networks" : {
               "network" : []
            },
            "labels" : [],
            "name" : "test-router-vpn-conn",
            "static_routes" : [],
            "type" : "normal",
            "uuid" : "04437f95-9d06-40e9-ad8a-378976912ea7"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"test-vpn-conn","zone":"pl-waw1","features":["vpn"],"routers":[{"uuid":"04437f95-9d06-40e9-ad8a-378976912ea7"}],"configured_status":"started","plan":"advanced","addresses":[{"name":"my-ip-address"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/gateway
    method: POST
  response:
    body: '{"addresses":[{"name":"my-ip-address"}],"configured_status":"started","connections":[],"created_at":"2024-03-07T13:41:00.42508Z","features":["vpn"],"labels":[],"name":"test-vpn-conn","operational_state":"pending","plan":"advanced","routers":[{"created_at":"2024-03-07T13:41:00.42508Z","uuid":"04437f95-9d06-40e9-ad8a-378976912ea7"}],"updated_at":"2024-03-07T13:41:00.42508Z","uuid":"10cb0bf6-2bb0-4043-8a1a-a98347261fd3","zone":"pl-waw1"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"added-connection","type":"ipsec","local_routes":[{"name":"local-route","static_network":"10.0.1.0/24","type":"static"}],"remote_routes":[{"name":"remote-route","static_network":"10.0.2.0/24","type":"static"}],"tunnels":[{"name":"added-tunnel","local_address":{"name":"my-ip-address"},"remote_address":{"address":"100.10.0.111"},"ipsec":{"authentication":{"authentication":"psk","psk":"psk1234567890psk1234567890"}}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/gateway/10cb0bf6-2bb0-4043-8a1a-a98347261fd3/connections/
    method: POST
  response:
    body: '{"created_at":"2024-03-07T13:41:00.665782Z","local_routes":[{"name":"local-route","static_network":"10.0.1.0/24","type":"static"}],"name":"added-connection","remote_routes":[{"name":"remote-route","static_network":"10.0.2.0/24","type":"static"}],"tunnels":[{"created_at":"2024-03-07T13:41:00.665782Z","ipsec":{"authentication":{"authentication":"psk"},"child_rekey_time":1440,"dpd_delay":30,"dpd_timeout":120,"ike_lifetime":86400,"phase1_algorithms":["aes128","aes256","aes128gcm128","aes256gcm128"],"phase1_dh_group_numbers":[14,16,18,19,20,21],"phase1_integrity_algorithms":["sha256","sha384","sha512"],"phase2_algorithms":["aes128","aes256","aes128gcm128","aes256gcm128"],"phase2_dh_group_numbers":[14,16,18,19,20,21],"phase2_integrity_algorithms":["sha256","sha384","sha512"],"rekey_time":14400},"local_address":{"name":"my-ip-address"},"name":"added-tunnel","operational_state":"uninitialized","remote_address":{"address":"100.10.0.111"},"updated_at":"2024-03-07T13:41:00.665782Z"}],"type":"ipsec","updated_at":"2024-03-07T13:41:00.665782Z"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/gateway/10cb0bf6-2bb0-4043-8a1a-a98347261fd3/connections
    method: GET
  response:
    body: '[{"created_at":"2024-03-07T13:41:00.665782Z","local_routes":[{"name":"local-route","static_network":"10.0.1.0/24","type":"static"}],"name":"added-connection","remote_routes":[{"name":"remote-route","static_network":"10.0.2.0/24","type":"static"}],"tunnels":[{"created_at":"2024-03-07T13:41:00.665782Z","ipsec":{"authentication":{"authentication":"psk"},"child_rekey_time":1440,"dpd_delay":30,"dpd_timeout":120,"ike_lifetime":86400,"phase1_algorithms":["aes128","aes256","aes128gcm128","aes256gcm128"],"phase1_dh_group_numbers":[14,16,18,19,20,21],"phase1_integrity_algorithms":["sha256","sha384","sha512"],"phase2_algorithms":["aes128","aes256","aes128gcm128","aes256gcm128"],"phase2_dh_group_numbers":[14,16,18,19,20,21],"phase2_integrity_algorithms":["sha256","sha384","sha512"],"rekey_time":14400},"local_address":{"name":"my-ip-address"},"name":"added-tunnel","operational_state":"uninitialized","remote_address":{"address":"100.10.0.111"},"updated_at":"2024-03-07T13:41:00.665782Z"}],"type":"ipsec","updated_at":"2024-03-07T13:41:00.665782Z"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/gateway/10cb0bf6-2bb0-4043-8a1a-a98347261fd3/connections/added-connection
    method: GET
  response:
    body: '{"created_at":"2024-03-07T13:41:00.665782Z","local_routes":[{"name":"local-route","static_network":"10.0.1.0/24","type":"static"}],"name":"added-connection","remote_routes":[{"name":"remote-route","static_network":"10.0.2.0/24","type":"static"}],"tunnels":[{"created_at":"2024-03-07T13:41:00.665782Z","ipsec":{"authentication":{"authentication":"psk"},"child_rekey_time":1440,"dpd_delay":30,"dpd_timeout":120,"ike_lifetime":86400,"phase1_algorithms":["aes128","aes256","aes128gcm128","aes256gcm128"],"phase1_dh_group_numbers":[14,16,18,19,20,21],"phase1_integrity_algorithms":["sha256","sha384","sha512"],"phase2_algorithms":["aes128","aes256","aes128gcm128","aes256gcm128"],"phase2_dh_group_numbers":[14,16,18,19,20,21],"phase2_integrity_algorithms":["sha256","sha384","sha512"],"rekey_time":14400},"local_address":{"name":"my-ip-address"},"name":"added-tunnel","operational_state":"uninitialized","remote_address":{"address":"100.10.0.111"},"updated_at":"2024-03-07T13:41:00.665782Z"}],"type":"ipsec","updated_at":"2024-03-07T13:41:00.665782Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/gateway/10cb0bf6-2bb0-4043-8a1a-a98347261fd3
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/router/04437f95-9d06-40e9-ad8a-378976912ea7
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
