---
version: 1
interactions:
- request:
    body: '{"hostname_prefix":"getallmanageddatabases-0","plan":"2x2xCPU-4GB-100GB","properties":{"automatic_utility_network_ip_filter":true,"ip_filter":["10.0.0.1/32"],"public_access":true},"title":"getallmanageddatabases-0","type":"pg","zone":"fi-hel2","maintenance":{"dow":"monday","time":"12:00:00"}}'
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database
    method: POST
  response:
    body: '{"additional_disk_space_gib":0,"backups":[],"components":[],"create_time":"2025-09-11T07:37:00Z","databases":[],"labels":[],"maintenance":{"dow":"monday","pending_updates":[],"time":"12:00:00"},"metadata":{},"name":"getallmanageddatabases-0","networks":[],"node_count":2,"node_states":[],"plan":"2x2xCPU-4GB-100GB","powered":true,"properties":{"automatic_utility_network_ip_filter":true,"ip_filter":["10.0.0.1/32"],"public_access":true},"service_integrations":[],"service_uri":"","service_uri_params":{},"state":"pending","termination_protection":false,"title":"getallmanageddatabases-0","type":"pg","update_time":"2025-09-11T07:37:00Z","users":[],"uuid":"09d5669b-7c31-4a2d-9148-62150053e70a","zone":"fi-hel2"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database?limit=100&offset=0
    method: GET
  response:
    body: '[{"additional_disk_space_gib":0,"backups":[],"components":[],"create_time":"2025-09-11T07:37:00Z","databases":[],"labels":[],"maintenance":{"dow":"monday","pending_updates":[],"time":"12:00:00"},"metadata":{},"name":"getallmanageddatabases-0","networks":[[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/09c127ad-8c02-4ba4-a57d-0498b7efb6a2
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
[...]
