---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/account
    method: GET
  response:
    body: |
      {
         "account" : {
            "credits" : 993939.1953,
            "resource_limits" : {
               "cores" : 100,
               "detached_floating_ips" : null,
               "memory" : 307200,
               "networks" : 100,
               "public_ipv4" : null,
               "public_ipv6" : 100,
               "storage_hdd" : 10240,
               "storage_ssd" : 10240
            },
            "username" : "opencredo"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
