---
version: 1
interactions:
- request:
    body: '{"server":{"hostname":"uploud-go-sdk-integration-test-testgetipaddresses.example.com","ip_addresses":{"ip_address":[{"access":"private","family":"IPv4"},{"access":"public","family":"IPv4"},{"access":"public","family":"IPv6"}]},"password_delivery":"none","storage_devices":{"storage_device":[{"action":"clone","storage":"01000000-0000-4000-8000-000030060200","title":"disk1","size":30,"tier":"maxiops"}]},"title":"uploud-go-sdk-integration-test-TestGetIPAddresses","zone":"fi-hel2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/server
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1596618215,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testgetipaddresses.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "private",
                     "address" : "10.6.6.192",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:ec1b:dbff:feca:083a",
                     "family" : "IPv6"
                  },
                  {
                     "access" : "public",
                     "address" : "94.237.104.67",
                     "family" : "IPv4"
                  }
               ]
            },
            "license" : 0,
            "memory_amount" : "1024",
            "metadata" : "no",
            "nic_model" : "virtio",
            "password" : "3y555673",
            "plan" : "custom",
            "plan_ipv4_bytes" : "0",
            "plan_ipv6_bytes" : "0",
            "progress" : "0",
            "state" : "maintenance",
            "storage_devices" : {
               "storage_device" : [
                  {
                     "address" : "virtio:0",
                     "boot_disk" : "0",
                     "storage" : "0105ff0e-bdfa-49aa-a3e8-337b81016353",
                     "storage_size" : 30,
                     "storage_title" : "disk1",
                     "type" : "disk"
                  }
               ]
            },
            "tags" : {
               "tag" : []
            },
            "timezone" : "UTC",
            "title" : "uploud-go-sdk-integration-test-TestGetIPAddresses",
            "username" : "root",
            "uuid" : "002daaad-fa4d-41d5-a455-f2ddcc8e8748",
            "video_model" : "cirrus",
            "vnc" : "off",
            "vnc_password" : "3DJF3VdY",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/server/002daaad-fa4d-41d5-a455-f2ddcc8e8748
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1596618215,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testgetipaddresses.example.com",
            "ip_addresses" :[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/server/002daaad-fa4d-41d5-a455-f2ddcc8e8748
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1596618215,
            "firewall" : "off",
            "host" : 5201216131,
            "hostname" : "uploud-go-sdk-integration-test-testgetipaddresses.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "private",
                     "address" : "10.6.6.192",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:ec1b:dbff:feca:083a",
                     "famil[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/ip_address
    method: GET
  response:
    body: |
      {
         "ip_addresses" : {
            "ip_address" : [
               {
                  "access" : "public",
                  "address" : "2a04:3545:1000:720:ec1b:dbff:feca:381f",
                  "family" : "IPv6",
                  "ptr_record" : "ec1b-dbff-feca-381f.v6.fi-hel2.upcloud.host",
                  "server" : "00a21791-2cd1-49eb-a573-6ead58caf2ef"
               },
               {
                  "access" : "public",
                  "address" : "2a04:3545:1000:720:ec1b:dbff:feca:7147",
                  "family" : "IPv6",
                  "ptr_record" : "ec1b-dbff-feca-7147.v6.fi-hel2.upcloud.host",
                  "server" : "00f15cfa-49fa-42b8-8255-6a0e2b9bb618"
               },
               {
                  [...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/ip_address/10.6.6.192
    method: GET
  response:
    body: |
      {
         "ip_address" : {
            "access" : "private",
            "address" : "10.6.6.192",
            "family" : "IPv4",
            "ptr_record" : "",
            "server" : "002daaad-fa4d-41d5-a455-f2ddcc8e8748"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/ip_address/2a04:3545:1000:720:ec1b:dbff:feca:083a
    method: GET
  response:
    body: |
      {
         "ip_address" : {
            "access" : "public",
            "address" : "2a04:3545:1000:720:ec1b:dbff:feca:083a",
            "family" : "IPv6",
            "ptr_record" : "ec1b-dbff-feca-083a.v6.fi-hel2.upcloud.host",
            "server" : "002daaad-fa4d-41d5-a455-f2ddcc8e8748"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
