---
version: 1
interactions:
- request:
    body: '{"server":{"hostname":"uploud-go-sdk-integration-test-testgetipaddresses.example.com","metadata":"no","networking":{"interfaces":{"interface":[{"ip_addresses":{"ip_address":[{"family":"IPv4"}]},"type":"utility"},{"ip_addresses":{"ip_address":[{"family":"IPv4"}]},"type":"public"},{"ip_addresses":{"ip_address":[{"family":"IPv6"}]},"type":"public"}]}},"password_delivery":"none","storage_devices":{"storage_device":[{"action":"clone","storage":"01000000-0000-4000-8000-000030060200","title":"disk1","size":30,"tier":"maxiops"}]},"title":"uploud-go-sdk-integration-test-TestGetIPAddresses","remote_access_enabled":"no","zone":"fi-hel2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1597846352,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testgetipaddresses.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "utility",
                     "address" : "10.6.6.243",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:ec1b:dbff:feca:36e8",
                     "family" : "IPv6"
                  },
                  {
                     "access" : "public",
                     "address" : "94.237.104.132",
                     "family" : "IPv4"
                  }
               ]
            },
            "license" : 0,
            "memory_amount" : "1024",
            "metadata" : "no",
            "networking" : {
               "interfaces" : {
                  "interface" : [
                     {
                        "bootable" : "no",
                        "index" : 1,
                        "ip_addresses" : {
                           "ip_address" : [
                              {
                                 "address" : "10.6.6.243",
                                 "family" : "IPv4",
                                 "floating" : "no"
                              }
                           ]
                        },
                        "mac" : "ee:1b:db:ca:b6:1d",
                        "network" : "03a002de-994e-45aa-9e1c-9918f0908c57",
                        "source_ip_filtering" : "yes",
                        "type" : "utility"
                     },
                     {
                        "bootable" : "no",
                        "index" : 2,
                        "ip_addresses" : {
                           "ip_address" : [
                              {
                                 "address" : "94.237.104.132",
                                 "family" : "IPv4",
                                 "floating" : "no"
                              }
     [...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/002453da-edd4-49f1-8518-0ce63927b3db
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1597846352,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testgetipaddresses.example.com",
            "ip_addresses" :[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/002453da-edd4-49f1-8518-0ce63927b3db
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1597846352,
            "firewall" : "off",
            "host" : 7617135235,
            "hostname" : "uploud-go-sdk-integration-test-testgetipaddresses.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "utility",
                     "address" : "10.6.6.243",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:ec1b:dbff:feca:36e8",
                     "famil[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/ip_address
    method: GET
  response:
    body: |
      {
         "ip_addresses" : {
            "ip_address" : [
               {
                  "access" : "public",
                  "address" : "2a04:3545:1000:720:ec1b:dbff:feca:7ca9",
                  "family" : "IPv6",
                  "mac" : "ee:1b:db:ca:7c:a9",
                  "ptr_record" : "ec1b-dbff-feca-7ca9.v6.fi-hel2.upcloud.host",
                  "server" : "00c7244d-569a-447e-9bb8-8786c330f764",
                  "zone" : "fi-hel2"
               },
               {
                  "access" : "public",
                  "address" : "2a04:3545:1000:720:ec1b:dbff:feca:12bb",
                  "family" : "IPv6",
                  "mac" : "ee:1b:db:ca:12:bb",
                  "ptr_record" : "ec1b-dbff-feca-12bb.v6.fi-hel2.upcloud.host",
                  "server" : "00ab42[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/ip_address/10.6.6.243
    method: GET
  response:
    body: |
      {
         "ip_address" : {
            "access" : "utility",
            "address" : "10.6.6.243",
            "family" : "IPv4",
            "mac" : "ee:1b:db:ca:b6:1d",
            "ptr_record" : "",
            "server" : "002453da-edd4-49f1-8518-0ce63927b3db",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/ip_address/2a04:3545:1000:720:ec1b:dbff:feca:36e8
    method: GET
  response:
    body: |
      {
         "ip_address" : {
            "access" : "public",
            "address" : "2a04:3545:1000:720:ec1b:dbff:feca:36e8",
            "family" : "IPv6",
            "mac" : "ee:1b:db:ca:36:e8",
            "ptr_record" : "ec1b-dbff-feca-36e8.v6.fi-hel2.upcloud.host",
            "server" : "002453da-edd4-49f1-8518-0ce63927b3db",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
