---
version: 1
interactions:
- request:
    body: '{"server":{"hostname":"uploud-go-sdk-integration-test-testgetipaddresses.example.com","labels":{"label":[{"key":"managedBy","value":"upcloud-sdk-integration-test"},{"key":"testName","value":"TestGetIPAddresses"}]},"metadata":"no","networking":{"interfaces":{"interface":[{"ip_addresses":{"ip_address":[{"family":"IPv4"}]},"type":"utility"},{"ip_addresses":{"ip_address":[{"family":"IPv4"}]},"type":"public"},{"ip_addresses":{"ip_address":[{"family":"IPv6"}]},"type":"public"}]}},"password_delivery":"none","storage_devices":{"storage_device":[{"action":"clone","storage":"01000000-0000-4000-8000-000020060100","title":"disk1","size":10,"tier":"maxiops"}]},"title":"uploud-go-sdk-integration-test-TestGetIPAddresses","remote_access_enabled":"no","zone":"fi-hel2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1662692557,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testgetipaddresses.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "utility",
                     "address" : "10.6.1.238",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:d845:c4ff:fe5c:2932",
                     "family" : "IPv6"
                  },
                  {
                     "access" : "public",
                     "address" : "94.237.105.7",
                     "family" : "IPv4"
                  }
               ]
            },
            "labels" : {
               "label" : [
                  {
                     "key" : "managedBy",
                     "value" : "upcloud-sdk-integration-test"
                  },
                  {
                     "key" : "testName",
                     "value" : "TestGetIPAddresses"
                  }
               ]
            },
            "license" : 0,
            "memory_amount" : "1024",
            "metadata" : "no",
            "networking" : {
               "interfaces" : {
                  "interface" : [
                     {
                        "bootable" : "no",
                        "index" : 1,
                        "ip_addresses" : {
                           "ip_address" : [
                              {
                                 "address" : "10.6.1.238",
                                 "family" : "IPv4",
                                 "floating" : "no"
                              }
                           ]
                        },
                        "mac" : "da:45:c4:5c:dd:6f",
                        "network" : "03c40911-2f43-4138-bb91-7561a8351353",
                        "source_ip_filtering" : "yes",
                        "type" : "utility"
                     },
                     {
                        "bootable" : "no",
                        "index" : 2,
                        "ip_addresses" : {
                           "ip_address" : [
                              {
                                 "address" : "94.237.105.7",
                                 "family" : "IPv4",
                                 "floating" : "no"
                              }
       [...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/009e1d84-f3fb-4475-9589-98640d4b4cd2
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1662692557,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testgetipaddresses.example.com",
            "ip_addresses" :[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/009e1d84-f3fb-4475-9589-98640d4b4cd2
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1662692557,
            "firewall" : "off",
            "host" : 7348699779,
            "hostname" : "uploud-go-sdk-integration-test-testgetipaddresses.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "utility",
                     "address" : "10.6.1.238",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:d845:c4ff:fe5c:2932",
                     "famil[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/ip_address
    method: GET
  response:
    body: |
      {
         "ip_addresses" : {
            "ip_address" : [
               {
                  "access" : "public",
                  "address" : "2a04:3545:1000:720:d845:c4ff:fe5c:2932",
                  "family" : "IPv6",
                  "mac" : "da:45:c4:5c:29:32",
                  "ptr_record" : "d845-c4ff-fe5c-2932.v6.fi-hel2.upcloud.host",
                  "server" : "009e1d84-f3fb-4475-9589-98640d4b4cd2",
                  "zone" : "fi-hel2"
               },
               {
                  "access" : "utility",
                  "address" : "10.6.1.238",
                  "family" : "IPv4",
                  "mac" : "da:45:c4:5c:dd:6f",
                  "ptr_record" : "",
                  "server" : "009e1d84-f3fb-4475-9589-98640d4b4cd2",
                  "zone" : "fi-hel2"
               },
               {
                  "access" : "public",
                  "address" : "94.237.105.7",
                  "family" : "IPv4",
                  "mac" : "da:45:c4:5c:3c:47",
                  "ptr_record" : "94-237-105-7.fi-hel2.upcloud.host",
                  "server" : "009e1d84-f3fb-4475-9589-98640d4b4cd2",
                  "zone" : "fi-hel2"
               }
            ]
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/ip_address/10.6.1.238
    method: GET
  response:
    body: |
      {
         "ip_address" : {
            "access" : "utility",
            "address" : "10.6.1.238",
            "family" : "IPv4",
            "mac" : "da:45:c4:5c:dd:6f",
            "ptr_record" : "",
            "server" : "009e1d84-f3fb-4475-9589-98640d4b4cd2",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/ip_address/2a04:3545:1000:720:d845:c4ff:fe5c:2932
    method: GET
  response:
    body: |
      {
         "ip_address" : {
            "access" : "public",
            "address" : "2a04:3545:1000:720:d845:c4ff:fe5c:2932",
            "family" : "IPv6",
            "mac" : "da:45:c4:5c:29:32",
            "ptr_record" : "d845-c4ff-fe5c-2932.v6.fi-hel2.upcloud.host",
            "server" : "009e1d84-f3fb-4475-9589-98640d4b4cd2",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
