---
version: 1
interactions:
- request:
    body: '{"server":{"hostname":"uploud-go-sdk-integration-test-testgetipaddresses.example.com","ip_addresses":{"ip_address":[{"access":"private","family":"IPv4"},{"access":"public","family":"IPv4"},{"access":"public","family":"IPv6"}]},"password_delivery":"none","storage_devices":{"storage_device":[{"action":"clone","storage":"01000000-0000-4000-8000-000030060200","title":"disk1","size":30,"tier":"maxiops"}]},"title":"uploud-go-sdk-integration-test-TestGetIPAddresses","zone":"fi-hel2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/server
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1596555817,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testgetipaddresses.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "private",
                     "address" : "10.6.6.218",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:ec1b:dbff:feca:6e86",
                     "family" : "IPv6"
                  },
                  {
                     "access" : "public",
                     "address" : "94.237.104.81",
                     "family" : "IPv4"
                  }
               ]
            },
            "license" : 0,
            "memory_amount" : "1024",
            "metadata" : "no",
            "nic_model" : "virtio",
            "password" : "6584gs7t",
            "plan" : "custom",
            "plan_ipv4_bytes" : "0",
            "plan_ipv6_bytes" : "0",
            "progress" : "0",
            "state" : "maintenance",
            "storage_devices" : {
               "storage_device" : [
                  {
                     "address" : "virtio:0",
                     "boot_disk" : "0",
                     "storage" : "012fa05d-5966-4e69-a3ac-756f141338c3",
                     "storage_size" : 30,
                     "storage_title" : "disk1",
                     "type" : "disk"
                  }
               ]
            },
            "tags" : {
               "tag" : []
            },
            "timezone" : "UTC",
            "title" : "uploud-go-sdk-integration-test-TestGetIPAddresses",
            "username" : "root",
            "uuid" : "007358e9-60dd-4221-83ad-6abe22ef07bd",
            "video_model" : "cirrus",
            "vnc" : "off",
            "vnc_password" : "G8F4jGe5",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/server/007358e9-60dd-4221-83ad-6abe22ef07bd
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1596555817,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testgetipaddresses.example.com",
            "ip_addresses" :[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/server/007358e9-60dd-4221-83ad-6abe22ef07bd
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1596555817,
            "firewall" : "off",
            "host" : 5201216131,
            "hostname" : "uploud-go-sdk-integration-test-testgetipaddresses.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "private",
                     "address" : "10.6.6.218",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:ec1b:dbff:feca:6e86",
                     "famil[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/ip_address
    method: GET
  response:
    body: |
      {
         "ip_addresses" : {
            "ip_address" : [
               {
                  "access" : "public",
                  "address" : "2a04:3545:1000:720:ec1b:dbff:feca:3d85",
                  "family" : "IPv6",
                  "ptr_record" : "ec1b-dbff-feca-3d85.v6.fi-hel2.upcloud.host",
                  "server" : "00480ba6-4217-4113-b139-80d2b441d319"
               },
               {
                  "access" : "public",
                  "address" : "2a04:3545:1000:720:ec1b:dbff:feca:5184",
                  "family" : "IPv6",
                  "ptr_record" : "ec1b-dbff-feca-5184.v6.fi-hel2.upcloud.host",
                  "server" : "00dc84d3-73db-45a3-88ac-35f14bf08e1a"
               },
               {
                  [...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/ip_address/10.6.6.218
    method: GET
  response:
    body: |
      {
         "ip_address" : {
            "access" : "private",
            "address" : "10.6.6.218",
            "family" : "IPv4",
            "ptr_record" : "",
            "server" : "007358e9-60dd-4221-83ad-6abe22ef07bd"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/ip_address/2a04:3545:1000:720:ec1b:dbff:feca:6e86
    method: GET
  response:
    body: |
      {
         "ip_address" : {
            "access" : "public",
            "address" : "2a04:3545:1000:720:ec1b:dbff:feca:6e86",
            "family" : "IPv6",
            "ptr_record" : "ec1b-dbff-feca-6e86.v6.fi-hel2.upcloud.host",
            "server" : "007358e9-60dd-4221-83ad-6abe22ef07bd"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
