---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/loadbalancer/0a988541-06e0-4252-b483-3ff9fdfdb5ae/backends/updatedName
    method: GET
  response:
    body: '{"created_at":"2022-03-08T13:57:22.081402Z","members":[{"created_at":"2022-03-08T13:57:22.081402Z","enabled":true,"ip":"196.123.123.123","max_sessions":1000,"name":"default-lb-backend-member","port":8000,"type":"dynamic","updated_at":"2022-03-08T13:57:22.081402Z","weight":100}],"name":"updatedName","updated_at":"2022-03-08T13:57:22.358893Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
