---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/plans
    method: GET
  response:
    body: '[{"core_number":1,"memory_amount":1024,"name":"development","per_server_max_sessions":1000,"server_number":1},{"core_number":2,"memory_amount":2048,"name":"production-small","per_server_max_sessions":50000,"server_number":2}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
