---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/loadbalancer/0a70595d-f2ef-4933-8d2f-7b1931a62bc4
    method: GET
  response:
    body: '{"backends":[],"configured_status":"started","created_at":"2022-02-23T07:39:44.318844Z","dns_name":"lb-0a70595df2ef49338d2f7b1931a62bc4.upcloudlb.com","frontends":[],"name":"my-load-balancer","network_uuid":"032d4c7f-61b5-4ea9-a2d6-d2357c3c9a88","operational_state":"running","plan":"development","updated_at":"2022-02-23T07:41:40.095888Z","uuid":"0a70595d-f2ef-4933-8d2f-7b1931a62bc4","zone":"es-mad1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
