---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/loadbalancer/0a0cefa5-a6ef-41d1-b652-3106164f4164/backends/go-test-lb-backend/members/backend-1646814491350
    method: GET
  response:
    body: '{"created_at":"2022-03-09T08:28:11.65526Z","enabled":true,"ip":"10.0.0.2","max_sessions":1000,"name":"backend-1646814491350","port":80,"server_uuid":"0050febf-b881-4db1-85ce-4c92776a47e2","type":"static","updated_at":"2022-03-09T08:28:11.65526Z","weight":100}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
