---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/loadbalancer/0aceb3dc-e79e-4664-8224-627410be0e8f/resolvers
    method: GET
  response:
    body: '[{"cache_invalid":321,"cache_valid":123,"created_at":"2022-03-09T13:11:56.256475Z","name":"testname","nameservers":["10.0.0.1","10.0.0.2"],"retries":10,"timeout":20,"timeout_retry":10,"updated_at":"2022-03-09T13:11:56.256475Z"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
