---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/loadbalancer/0abdab19-b11b-4f89-8f9f-961b524347b6/backends/updatedName
    method: GET
  response:
    body: '{"created_at":"2022-03-09T08:11:49.026787Z","members":[],"name":"updatedName","updated_at":"2022-03-09T08:11:49.389421Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
