---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/service-types
    method: GET
  response:
    body: '{"mysql":{"name":"mysql","description":"MySQL - Popular general-purpose easy-to-use rational database","latest_available_version":"8.0.30","service_plans":[{"backup_config":{"interval":24,"max_count":2,"recovery_mode":"pitr"},"backup_config_mysql":{"interval":24,"max_count":2,"recovery_mode":"pitr"},"node_count":1,"zones":{"zone":[{"name":"au-syd1"},{"name":"de-fra1"},{"name":"es-mad1"},{"name":"fi-hel1"},{"name":"fi-hel2"},{"name":"nl-ams1"},{"name":"pl-waw1"},{"name":"se-sto1"},{"name":"sg-sin1"},{"name":"uk-lon1"},{"name":"us-chi1"},{"name":"us-nyc1"},{"name":"us-sjo1"}]},"plan":"1x1xCPU-2GB-25GB","core_number":1,"storage_size":25600,"memory_amount":2048},{"backup_config":{"interval":24,"max_count":2,"recovery_mode":"pitr"},"backup_config_mysql":{"interval":24,"max_count":2,"recovery_mode":"pitr"},"node_count":1,"zones":{"zone":[{"name":"au-syd1"},{"name":"de-fra1"},{"name":"es-mad1"},{"name":"fi-hel1"},{"name":"fi-hel2"},{"name":"nl-ams1"},{"name":"pl-waw1"},{"name":"se-sto1"},{"name":"sg-sin1"},{"name":"uk-lon1"},{"name":"us-chi1"},{"name":"us-nyc1"},{"name":"us-sjo1"}]},"plan":"1x2xCPU-4GB-100GB","core_number":2,"storage_size":102400,"me[...]
