---
version: 1
interactions:
- request:
    body: '{"hostname_prefix":"getmanageddatabasesessions","plan":"2x2xCPU-4GB-100GB","properties":{"automatic_utility_network_ip_filter":true,"ip_filter":["0.0.0.0/0"],"public_access":true},"title":"getmanageddatabasesessions","type":"pg","zone":"fi-hel2","maintenance":{"dow":"monday","time":"12:00:00"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database
    method: POST
  response:
    body: '{"backups":[],"components":[{"component":"pg","host":"getmanageddatabasesessions-zhbmidiechch.db.upclouddatabases.com","port":11550,"route":"dynamic","usage":"primary"},{"component":"pg","host":"replica-getmanageddatabasesessions-zhbmidiechch.db.upclouddatabases.com","port":11550,"route":"dynamic","usage":"replica"},{"component":"pg","host":"public-getmanageddatabasesessions-zhbmidiechch.db.upclouddatabases.com","port":11550,"route":"public","usage":"primary"},{"component":"pg","host":"public-replica-getmanageddatabasesessions-zhbmidiechch.db.upclouddatabases.com","port":11550,"route":"public","usage":"replica"},{"component":"pgbouncer","host":"getmanageddatabasesessions-zhbmidiechch.db.upclouddatabases.com","port":11551,"route":"dynamic","usage":"primary"},{"component":"pgbouncer","host":"replica-getmanageddatabasesessions-zhbmidiechch.db.upclouddatabases.com","port":11551,"route":"dynamic","usage":"replica"},{"component":"pgbouncer","host":"public-getmanageddatabasesessions-zhbmidiechch.db.upclouddatabases.com","port":11551,"route":"public","usage":"primary"},{"component":"pgbouncer","host":"public-replica-getmanageddatabasesessions-zhbmidiechch.db.upclouddatabases.com","port":11551,"route":"public","usage":"replica"}],"create_time":"0001-01-01T00:00:00Z","maintenance":{"dow":"monday","time":"12:00:00","pending_updates":[]},"name":"getmanageddatabasesessions","node_count":2,"node_states":[{"name":"getmanageddatabasesessions-1","role":"standby","state":"setting_up_vm"}],"plan":"2x2xCPU-4GB-100GB","powered":true,"metadata":{"max_connections":100,"pg_version":"15","write_block_threshold_exceeded":null},"properties":{"automatic_utility_network_ip_filter":true,"backup_hour":10,"backup_minute":46,"ip_filter":["0.0.0.0/0"],"pg_stat_monitor_enable":false,"pglookout":{"max_failover_replication_time_lag":60},"public_access":true,"version":"15"},"uuid":"094f616f-b803-4b2b-b716-7bd2ceb849cc","state":"rebuilding","title":"getmanageddatabasesessions","type":"pg","update_time":"0001-01-01T00:00:00Z","service_uri":"postgres://upadmin:AVNS_g0j1g79efrdMbvd998q@getmanageddatabasesessions-zhbmidiechch.db.upclouddatabases.com:11550/defaultdb?sslmode=require","service_uri_params":{"dbname":"defaultdb","host":"getmanageddatabasesessions-zhbmidiechch.db.upclouddatabases.com","password":"AVNS_g0j1g79efrdMbvd998q","port":"11550","ssl_mode":"require","user":"upadmin"},"users":[{"username":"upadmin","type":"primary"}],"databases":[{"name":"defaultdb"}],"zone":"fi-hel2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/094f616f-b803-4b2b-b716-7bd2ceb849cc/sessions?limit=1000&order=pid%3Adesc
    method: GET
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/094f616f-b803-4b2b-b716-7bd2ceb849cc/sessions/0?terminate=true
    method: DELETE
  response:
    body: '{"error":{"error_code":"VALIDATION_ERROR","error_message":"Must provide a connection ''pid''."}}'
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/094f616f-b803-4b2b-b716-7bd2ceb849cc/sessions/0?
    method: DELETE
  response:
    body: '{"error":{"error_code":"VALIDATION_ERROR","error_message":"Must provide a connection ''pid''."}}'
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/094f616f-b803-4b2b-b716-7bd2ceb849cc
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
