---
version: 1
interactions:
- request:
    body: '{"hostname_prefix":"getmanageddatabaselogs","plan":"2x2xCPU-4GB-100GB","properties":{"automatic_utility_network_ip_filter":true,"ip_filter":["10.0.0.1/32"],"public_access":true},"title":"test","type":"pg","zone":"fi-hel2","maintenance":{"dow":"monday","time":"12:00:00"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database
    method: POST
  response:
    body: '{"backups":[],"components":[{"component":"pg","host":"getmanageddatabaselogs-deviyydmahgscgy.db.upclouddatabases.com","port":11550,"route":"dynamic","usage":"primary"},{"component":"pg","host":"public-getmanageddatabaselogs-deviyydmahgscgy.db.upclouddatabases.com","port":11550,"route":"public","usage":"primary"},{"component":"pg","host":"replica-getmanageddatabaselogs-deviyydmahgscgy.db.upclouddatabases.com","port":11550,"route":"dynamic","usage":"replica"},{"component":"pg","host":"public-replica-getmanageddatabaselogs-deviyydmahgscgy.db.upclouddatabases.com","port":11550,"route":"public","usage":"replica"},{"component":"pgbouncer","host":"getmanageddatabaselogs-deviyydmahgscgy.db.upclouddatabases.com","port":11551,"route":"dynamic","usage":"primary"},{"component":"pgbouncer","host":"public-getmanageddatabaselogs-deviyydmahgscgy.db.upclouddatabases.com","port":11551,"route":"public","usage":"primary"},{"component":"pgbouncer","host":"replica-getmanageddatabaselogs-deviyydmahgscgy.db.upclouddatabases.com","port":11551,"route":"dynamic","usage":"replica"},{"component":"pgbouncer","host":"public-replica-getmanageddatabaselogs-deviyydmahgscgy.db.upclouddatabases.com","port":11551,"route":"public","usage":"replica"}],"create_time":"0001-01-01T00:00:00Z","maintenance":{"dow":"monday","time":"12:00:00"},"name":"getmanageddatabaselogs","node_count":2,"node_states":[],"plan":"2x2xCPU-4GB-100GB","powered":true,"properties":{"automatic_utility_network_ip_filter":true,"ip_filter":["10.0.0.1/32"],"public_access":true},"uuid":"09beea4d-346f-4591-a61e-566e9084aa77","state":"rebuilding","title":"test","type":"pg","update_time":"0001-01-01T00:00:00Z","service_uri":"postgres://upadmin:tas54cRTiwzizQjA@getmanageddatabaselogs-deviyydmahgscgy.db.upclouddatabases.com:11550/defaultdb?sslmode=require","service_uri_params":{"dbname":"defaultdb","host":"getmanageddatabaselogs-deviyydmahgscgy.db.upclouddatabases.com","password":"tas54cRTiwzizQjA","port":"11550","ssl_mode":"require","user":"upadmin"},"users":null,"zone":"fi-hel2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/09beea4d-346f-4591-a61e-566e9084aa77/logs?limit=5&offset=0&order=asc
    method: GET
  response:
    body: '{"first_log_offset":"1631628858386","offset":"1631628858446","logs":[{"hostname":"getmanageddatabaselogs-1","msg":"[1-1] pid=117,user=,db=,app=,client= LOG:  pgaudit extension initialized","time":"2021-09-14T14:14:18.386585Z","service":"postgresql-13.service"},{"hostname":"getmanageddatabaselogs-1","msg":"pid=117,user=,db=,app=,client= LOG:  pgaudit extension initialized","time":"2021-09-14T14:14:18.38689Z","service":"postgresql-13.service"},{"hostname":"getmanageddatabaselogs-1","msg":"[2-1] pid=117,user=,db=,app=,client= LOG:  ending log output to stderr","time":"2021-09-14T14:14:18.446023Z","service":"postgresql-13.service"},{"hostname":"getmanageddatabaselogs-1","msg":"[2-2] pid=117,user=,db=,app=,client= HINT:  Future log output will go to log destination \"syslog\".","time":"2021-09-14T14:14:18.446088Z","service":"postgresql-13.service"},{"hostname":"getmanageddatabaselogs-1","msg":"pid=117,user=,db=,app=,client= LOG:  ending log output to stderr","time":"2021-09-14T14:14:18.446143Z","service":"postgresql-13.service"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/09beea4d-346f-4591-a61e-566e9084aa77/logs?limit=5&order=desc
    method: GET
  response:
    body: '{"first_log_offset":"1631628881926","offset":"1631628879480","logs":[{"hostname":"getmanageddatabaselogs-1","msg":"[14-1] pid=268,user=postgres,db=defaultdb,app=aiven-stats,client=[local] LOG:  disconnection: session time: 0:00:00.093 user=postgres database=d[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/09beea4d-346f-4591-a61e-566e9084aa77/logs?limit=5&offset=1631628879480&order=desc
    method: GET
  response:
    body: '{"first_log_offset":"1631628878358","offset":"1631628859866","logs":[{"hostname":"getmanageddatabaselogs-1","msg":"[14-1] pid=262,user=upadmin,db=defaultdb,app=aiven-pruned,client=127.0.0.1 LOG:  disconnection: session time: 0:00:00.083 u[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/09beea4d-346f-4591-a61e-566e9084aa77
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
