---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/regions
    method: GET
  response:
    body: '[{"name":"europe-1","primary_zone":"fi-hel2","zones":[{"name":"fi-hel2"},{"name":"de-fra1"},{"name":"es-mad1"},{"name":"fi-hel1"},{"name":"nl-ams1"},{"name":"pl-waw1"},{"name":"uk-lon1"},{"name":"se-sto1"}]}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"configured_status":"started","labels":[{"key":"example-key","value":"example-value"}],"name":"go-sdk-integration-test","networks":[{"family":"IPv4","name":"example-public-network","type":"public"}],"region":"europe-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2
    method: POST
  response:
    body: '{"configured_status":"started","created_at":"2024-02-29T11:35:35.232664Z","endpoints":[{"domain_name":"387fk.upcloudobjects.com","iam_url":"https://387fk.upcloudobjects.com:4443/iam","sts_url":"https://387fk.upcloudobjects.com:4443/sts","type":"public"}],"labels":[{"key":"example-key","value":"example-value"}],"name":"go-sdk-integration-test","networks":[{"family":"IPv4","name":"example-public-network","type":"public"}],"operational_state":"pending","region":"europe-1","updated_at":"2024-02-29T11:35:35.232664Z","usage":{"total_objects":0,"total_size_bytes":0},"users":[],"uuid":"121a0efa-c579-457c-ae30-86d11b24d628"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"username":"testuser"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/121a0efa-c579-457c-ae30-86d11b24d628/users
    method: POST
  response:
    body: '{"access_keys":[],"arn":"urn:ecs:iam::121a0efac579457cae3086d11b24d628:user/testuser","created_at":"2024-02-29T11:35:35Z","policies":[],"username":"testuser"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/121a0efa-c579-457c-ae30-86d11b24d628/users/testuser/access-keys
    method: POST
  response:
    body: '{"access_key_id":"AKIA33F6D0C87AF2BA62","created_at":"2024-02-29T11:35:35Z","last_used_at":"0001-01-01T00:00:00Z","secret_access_key":"jcs50xvEkiw++MdZhR2mUqf6LA6vNRcaYu5mTxLp","status":"Active"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/121a0efa-c579-457c-ae30-86d11b24d628/users/testuser
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/121a0efa-c579-457c-ae30-86d11b24d628
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
