---
version: 1
interactions:
- request:
    body: '{"hostname_prefix":"getmanageddatabaselogs","plan":"2x2xCPU-4GB-100GB","properties":{"automatic_utility_network_ip_filter":true,"ip_filter":["10.0.0.1/32"],"public_access":true},"title":"getmanageddatabaselogs","type":"pg","zone":"fi-hel2","maintenance":{"dow":"monday","time":"12:00:00"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database
    method: POST
  response:
    body: '{"backups":[],"components":[{"component":"pg","host":"getmanageddatabaselogs-zhbmidiechch.db.upclouddatabases.com","port":11550,"route":"dynamic","usage":"primary"},{"component":"pg","host":"replica-getmanageddatabaselogs-zhbmidiechch.db.upclouddatabases.com","port":11550,"route":"dynamic","usage":"replica"},{"component":"pg","host":"public-getmanageddatabaselogs-zhbmidiechch.db.upclouddatabases.com","port":11550,"route":"public","usage":"primary"},{"component":"pg","host":"public-replica-getmanageddatabaselogs-zhbmidiechch.db.upclouddatabases.com","port":11550,"route":"public","usage":"replica"},{"component":"pgbouncer","host":"getmanageddatabaselogs-zhbmidiechch.db.upclouddatabases.com","port":11551,"route":"dynamic","usage":"primary"},{"component":"pgbouncer","host":"replica-getmanageddatabaselogs-zhbmidiechch.db.upclouddatabases.com","port":11551,"route":"dynamic","usage":"replica"},{"component":"pgbouncer","host":"public-getmanageddatabaselogs-zhbmidiechch.db.upclouddatabases.com","port":11551,"route":"public","usage":"primary"},{"component":"pgbouncer","host":"public-replica-getmanageddatabaselogs-zhbmidiechch.db.upclouddatabases.com","port":11551,"route":"public","usage":"replica"}],"create_time":"0001-01-01T00:00:00Z","maintenance":{"dow":"monday","time":"12:00:00","pending_updates":[]},"name":"getmanageddatabaselogs","node_count":2,"node_states":[{"name":"getmanageddatabaselogs-1","role":"standby","state":"setting_up_vm"}],"plan":"2x2xCPU-4GB-100GB","powered":true,"metadata":{"max_connections":100,"pg_version":"15","write_block_threshold_exceeded":null},"properties":{"automatic_utility_network_ip_filter":true,"backup_hour":12,"backup_minute":4,"ip_filter":["10.0.0.1/32"],"pg_stat_monitor_enable":false,"pglookout":{"max_failover_replication_time_lag":60},"public_access":true,"version":"15"},"uuid":"0942d1dc-247b-4606-9ee4-7ea7e2d2f798","state":"rebuilding","title":"getmanageddatabaselogs","type":"pg","update_time":"0001-01-01T00:00:00Z","service_uri":"postgres://upadmin:AVNS_nJECbqmNeK377bwQb0h@getmanageddatabaselogs-zhbmidiechch.db.upclouddatabases.com:11550/defaultdb?sslmode=require","service_uri_params":{"dbname":"defaultdb","host":"getmanageddatabaselogs-zhbmidiechch.db.upclouddatabases.com","password":"AVNS_nJECbqmNeK377bwQb0h","port":"11550","ssl_mode":"require","user":"upadmin"},"users":[{"username":"upadmin","type":"primary"}],"databases":[{"name":"defaultdb"}],"zone":"fi-hel2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/0942d1dc-247b-4606-9ee4-7ea7e2d2f798/logs?limit=5&offset=0&order=asc
    method: GET
  response:
    body: '{"first_log_offset":"1684305700038165000","offset":"1684305700078052000","logs":[{"hostname":"getmanageddatabaselogs-1","msg":"[1-1] pid=56,user=,db=,app=,client= LOG:  pgaudit extension initialized","time":"2023-05-17T06:41:40.038165Z","service":"postgresql-15.service"},{"hostname":"getmanageddatabaselogs-1","msg":"pid=56,user=,db=,app=,client= LOG:  pgaudit extension initialized","time":"2023-05-17T06:41:40.03863Z","service":"postgresql-15.service"},{"hostname":"getmanageddatabaselogs-1","msg":"[2-1] pid=56,user=,db=,app=,client= LOG:  ending log output to stderr","time":"2023-05-17T06:41:40.077829Z","service":"postgresql-15.service"},{"hostname":"getmanageddatabaselogs-1","msg":"[2-2] pid=56,user=,db=,app=,client= HINT:  Future log output will go to log destination \"syslog\".","time":"2023-05-17T06:41:40.078015Z","service":"postgresql-15.service"},{"hostname":"getmanageddatabaselogs-1","msg":"pid=56,user=,db=,app=,client= HINT:  Future log output will go to log destination \"syslog\".","time":"2023-05-17T06:41:40.078052Z","service":"postgresql-15.service"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/0942d1dc-247b-4606-9ee4-7ea7e2d2f798/logs?limit=5&order=desc
    method: GET
  response:
    body: '{"first_log_offset":"1684305942520209000","offset":"1684305935840711000","logs":[{"hostname":"getmanageddatabaselogs-1","msg":"[14-1] pid=1377,user=postgres,db=defaultdb,app=aiven-pruned,client=[local] LOG:  disconnection: session time: 0:00:00.004 user=postg[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/0942d1dc-247b-4606-9ee4-7ea7e2d2f798/logs?limit=5&offset=1684305935840711000&order=desc
    method: GET
  response:
    body: '{"first_log_offset":"1684305935747940000","offset":"1684305935737296000","logs":[{"hostname":"getmanageddatabaselogs-1","msg":"[14-1] pid=1344,user=postgres,db=defaultdb,app=aiven-stats,client=[local] LOG:  disconnection: session ti[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/0942d1dc-247b-4606-9ee4-7ea7e2d2f798
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
