---
version: 1
interactions:
- request:
    body: '{"hostname_prefix":"querystatisticspostgres","plan":"2x2xCPU-4GB-100GB","properties":{"automatic_utility_network_ip_filter":true,"ip_filter":["0.0.0.0/0"],"public_access":true},"title":"querystatisticspostgres","type":"pg","zone":"fi-hel2","maintenance":{"dow":"monday","time":"12:00:00"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database
    method: POST
  response:
    body: '{"uuid":"096e1138-86d6-4ab3-892f-3895bba2e353","zone":"fi-hel2","name":"querystatisticspostgres","title":"querystatisticspostgres","type":"pg","plan":"2x2xCPU-4GB-100GB","state":"pending","powered":true,"termination_protection":false,"node_count":2,"create_time":"2024-01-31T21:07:51Z","update_time":"2024-01-31T21:07:51Z","service_uri":"","service_uri_params":{},"maintenance":{"dow":"monday","time":"12:00:00","pending_updates":[]},"metadata":{},"properties":{"automatic_utility_network_ip_filter":true,"ip_filter":["0.0.0.0/0"],"public_access":true},"networks":[],"node_states":[],"backups":[],"components":[],"users":[],"databases":[]}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/096e1138-86d6-4ab3-892f-3895bba2e353/query-statistics?limit=1000
    method: GET
  response:
    body: '{"pg":[{"blk_read_time":0,"blk_write_time":0,"calls":3,"database_name":"defaultdb","local_blks_dirtied":0,"local_blks_hit":0,"local_blks_read":0,"local_blks_written":0,"max_time":4588,"mean_time":4154,"min_time":3907,"query":"SELECT pg_catalog.pg_current_wal_lsn()","rows":3,"shared_blks_dirtied":0,"shared_blks_hit":0,"shared_blks_read":0,"shared_blks_written":0,"stddev_time":0,"temp_blks_read":0,"temp_blks_written":0,"total_time":12463,"user_name":"upadmin"},{"blk_read_time":0,"blk_write_time":0,"calls":3,"database_name":"defaultdb","local_blks_dirtied":0,"local_blks_hit":0,"local_blks_read":0,"local_blks_written":0,"max_time":10399,"mean_time":10209,"min_time":10028,"query":"SET default_transaction_isolation = ''read committed''","rows":0,"shared_blks_dirtied":0,"shared_blks_hit":0,"shared_blks_read":0,"shared_blks_written":0,"stddev_time":0,"temp_blks_read":0,"temp_blks_written":0,"total_time":30628,"user_name":"upadmin"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/096e1138-86d6-4ab3-892f-3895bba2e353
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
