---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/regions
    method: GET
  response:
    body: '[{"name":"europe-1","primary_zone":"fi-hel2","zones":[{"name":"fi-hel2"},{"name":"de-fra1"},{"name":"es-mad1"},{"name":"fi-hel1"},{"name":"nl-ams1"},{"name":"pl-waw1"},{"name":"uk-lon1"},{"name":"se-sto1"}]}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"configured_status":"started","labels":[{"key":"example-key","value":"example-value"}],"name":"go-sdk-integration-test","networks":[{"family":"IPv4","name":"example-public-network","type":"public"}],"region":"europe-1","users":[{"username":"test"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2
    method: POST
  response:
    body: '{"configured_status":"started","created_at":"2024-01-18T15:54:21.949089Z","endpoints":[{"domain_name":"pl3qq.upcloudobjects.com","type":"public"}],"labels":[{"key":"example-key","value":"example-value"}],"name":"go-sdk-integration-test","networks":[{"family":"IPv4","name":"example-public-network","type":"public"}],"operational_state":"pending","region":"europe-1","updated_at":"2024-01-18T15:54:21.949089Z","usage":{"total_objects":0,"total_size_bytes":0},"users":[{"access_keys":[],"created_at":"2024-01-18T15:54:21.949089Z","operational_state":"pending","updated_at":"2024-01-18T15:54:21.949089Z","username":"test"}],"uuid":"12cd47ad-9558-499f-89c8-78db7a3fa405"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"username":"test2"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/12cd47ad-9558-499f-89c8-78db7a3fa405/users
    method: POST
  response:
    body: '{"access_keys":[],"created_at":"2024-01-18T15:54:22.214203Z","operational_state":"pending","updated_at":"2024-01-18T15:54:22.214203Z","username":"test2"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/12cd47ad-9558-499f-89c8-78db7a3fa405/users/test2
    method: GET
  response:
    body: '{"access_keys":[],"created_at":"2024-01-18T15:54:22.214203Z","operational_state":"pending","updated_at":"2024-01-18T15:54:22.214203Z","username":"test2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/12cd47ad-9558-499f-89c8-78db7a3fa405
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
