---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/plans
    method: GET
  response:
    body: '{"service_types":[{"backup_tiers":["mini","regular","extended"],"componentised":true,"compute_shapes":[{"backups":["mini"],"compute":"rdb.development.1CPU-1GB","cpu":1,"dynamic_storage_supported":true,"family":"development","memory_gb":1,"node_counts":[1],"storage":{"dynamic_max_multiplier":4,"options":[{"base_gib":10,"max_gib":50}],"step_gib":10,"total_cap_gib":7168}},{"backups":["mini"],"compute":"rdb.development.1CPU-2GB","cpu":1,"dynamic_storage_supported":true,"family":"development","memory_gb":2,"node_counts":[1],"storage":{"dynamic_max_multiplier":4,"options":[{"base_gib":10,"max_gib":50},{"base_gib":80,"max_gib":400}],"step_gib":10,"total_cap_gib":7168}},{"backups":["mini"],"compute":"rdb.development.1CPU-4GB","cpu":1,"dynamic_storage_supported":true,"family":"development","memory_gb":4,"node_counts":[1],"storage":{"dynamic_max_multiplier":4,"op[...]
