---
version: 1
interactions:
- request:
    body: '{"hostname_prefix":"getmanageddatabases","plan":"2x2xCPU-4GB-100GB","properties":{"automatic_utility_network_ip_filter":true,"ip_filter":["10.0.0.1/32"],"public_access":true},"title":"test","type":"pg","zone":"fi-hel2","maintenance":{"dow":"monday","time":"12:00:00"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database
    method: POST
  response:
    body: '{"backups":[],"components":[{"component":"pg","host":"getmanageddatabases-deviyydmahgscgy.db.upclouddatabases.com","port":11550,"route":"dynamic","usage":"primary"},{"component":"pg","host":"public-getmanageddatabases-deviyydmahgscgy.db.upclouddatabases.com","port":11550,"route":"public","usage":"primary"},{"component":"pg","host":"replica-getmanageddatabases-deviyydmahgscgy.db.upclouddatabases.com","port":11550,"route":"dynamic","usage":"replica"},{"component":"pg","host":"public-replica-getmanageddatabases-deviyydmahgscgy.db.upclouddatabases.com","port":11550,"route":"public","usage":"replica"},{"component":"pgbouncer","host":"getmanageddatabases-deviyydmahgscgy.db.upclouddatabases.com","port":11551,"route":"dynamic","usage":"primary"},{"component":"pgbouncer","host":"public-getmanageddatabases-deviyydmahgscgy.db.upclouddatabases.com","port":11551,"route":"public","usage":"primary"},{"component":"pgbouncer","host":"replica-getmanageddatabases-deviyydmahgscgy.db.upclouddatabases.com","port":11551,"route":"dynamic","usage":"replica"},{"component":"pgbouncer","host":"public-replica-getmanageddatabases-deviyydmahgscgy.db.upclouddatabases.com","port":11551,"route":"public","usage":"replica"}],"create_time":"0001-01-01T00:00:00Z","maintenance":{"dow":"monday","time":"12:00:00"},"name":"getmanageddatabases","node_count":2,"node_states":[],"plan":"2x2xCPU-4GB-100GB","powered":true,"properties":{"automatic_utility_network_ip_filter":true,"ip_filter":["10.0.0.1/32"],"public_access":true},"uuid":"09cbbb6b-ef55-45ce-bd01-e3171581fe11","state":"rebuilding","title":"test","type":"pg","update_time":"0001-01-01T00:00:00Z","service_uri":"postgres://upadmin:BWz63YFwuc2TvENp@getmanageddatabases-deviyydmahgscgy.db.upclouddatabases.com:11550/defaultdb?sslmode=require","service_uri_params":{"dbname":"defaultdb","host":"getmanageddatabases-deviyydmahgscgy.db.upclouddatabases.com","password":"BWz63YFwuc2TvENp","port":"11550","ssl_mode":"require","user":"upadmin"},"users":null,"zone":"fi-hel2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database
    method: GET
  response:
    body: '[{"backups":[{"backup_time":"2021-09-12T15:16:05.447755Z","data_size":2349235434},{"backup_time":"2021-09-13T15:16:05.725335Z","data_size":2349235434}],"components":[{"component":"mysql","host":"testmysql-deviyydmahgscgy.db.upclouddatabases.com","port":11550,"route":"dynamic","usage":"primary"},{"component":"mysql","host":"public-testmysql-deviyydmahgscgy.db.upclouddatabases.com","port":11550,"route":"public","usage":"primary"},{"component":"mysqlx","host":"testmysql-deviyydmahgscgy.db.upclouddatabases.com","port":11554,"route":"dynamic","usage":"primary"},{"component":"mysqlx","host":"public-testmysql-deviyydmahgscgy.db.upclouddatabases.com","port":11554,"route":"public","usage":"primary"},{"component":"mysql","host":"replica-testmysql-deviyydmahgscgy.db.upclouddatabases.com","port":11550,"route":"dynamic","usage":"replica"},{"component":"mysql","host":"public-replica-testmysql-deviyydmahgscgy.db.upclouddatabases.com","port":11550,"route":"public","usage":"replica"},{"component":"mysqlx","host":"replica-testmysql-deviyydmahgscgy.db.upclouddatabases.com","port":11554,"route":"dynamic","usage":"replica"},{"component":"mysqlx","host":"public-replica-testmysql-deviyydmahgscgy.db.upclouddatabases.com","port":11554,"route":"public","usage":"replica"}],"create_time":"2021-08-25T08:47:06Z","maintenance":{"dow":"thursday","time":"17:53:14"},"name":"testmysql","node_count":2,"node_states":[{"name":"testmysql-2","role":"standby","state":"running"},{"name":"testmysql-3","role":"master","state":"running"}],"plan":"2x2xCPU-4GB-50GB","powered":true,"properties":{"automatic_utility_network_ip_filter":true,"backup_hour":15,"backup_minute":16,"ip_filter":["0.0.0.0/0"],"public_access":true},"uuid":"09e69439-573e-49a8-ba1b-e54156190417","state":"running","title":"","type":"mysql","update_time":"2021-09-14T10:46:27Z","service_uri":"mysql://test:au8fmdprm3xhpjdq@testmysql-deviyydmahgscgy.db.upclouddatabases.com:11550/defaultdb?ssl-mode=REQUIRED","service_uri_params":{"dbname":"defaultdb","host":"testmysql-deviyydmahgscgy.db.upclouddatabases.com","password":"au8fmdprm3xhpjdq","port":"11550","ssl_mode":"REQUIRED","user":"test"},"users":[{"username":"test","authentication":"caching_sha2_password","type":"primary"}],"zone":"de-fra1"},{"backups":[{"backup_time":"2021-09-11T15:16:04.193000Z","data_size":36864000},{"backup_time":"2021-09-12T15:16:02.757000Z","data_size":36904960},{"backup_time":"2021-09-13T15:16:04.848000Z","data_size":36935680}],"components":[{"component":"pg","host":"foo-deviyydmahgscgy-d815.db.upclouddatabases.com","port":11550,"route":"dynamic","usage":"primary"},{"component":"pg","host":"public-foo-deviyydmahgscgy-d65e.db.upclouddatabases.com","p[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/09cbbb6b-ef55-45ce-bd01-e3171581fe11
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
