---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/host
    method: GET
  response:
    body: |
      {
         "hosts" : {
            "host" : [
               {
                  "description" : "Test private host #1",
                  "id" : 6707495555,
                  "stats" : {
                     "stat" : [
                        {
                           "name" : "cpu_idle",
                           "timestamp" : "2020-08-08T06:00:24Z",
                           "value" : 99.7671614583555
                        },
                        {
                           "name" : "memory_free",
                           "timestamp" : "2020-08-08T06:00:24Z",
                           "value" : 341
                        }
                     ]
                  },
                  "windows_enabled" : "no",
                  "zone" : "uk-tst1"
               },
               {
                  "description" : "Test private host #2",
                  "id" : 4560011907,
                  "stats" : {
                     "stat" : [
                        {
                           "name" : "cpu_idle",
                           "timestamp" : "2020-08-08T06:00:24Z",
                           "value" : 99.8154861110961
                        },
                        {
                           "name" : "memory_free",
                           "timestamp" : "2020-08-08T06:00:24Z",
                           "value" : 344
                        }
                     ]
                  },
                  "windows_enabled" : "yes",
                  "zone" : "uk-tst1"
               }
            ]
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/host/6707495555
    method: GET
  response:
    body: |
      {
         "host" : {
            "description" : "Test private host #1",
            "id" : 6707495555,
            "stats" : {
               "stat" : [
                  {
                     "name" : "memory_free",
                     "timestamp" : "2020-08-08T06:00:37Z",
                     "value" : 341
                  }
               ]
            },
            "windows_enabled" : "no",
            "zone" : "uk-tst1"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
