---
version: 1
interactions:
- request:
    body: '{"hostname_prefix":"querystatisticspostgres","plan":"2x2xCPU-4GB-100GB","properties":{"automatic_utility_network_ip_filter":true,"ip_filter":["0.0.0.0/0"],"public_access":true},"title":"querystatisticspostgres","type":"pg","zone":"fi-hel2","maintenance":{"dow":"monday","time":"12:00:00"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database
    method: POST
  response:
    body: '{"backups":[],"components":[{"component":"pg","host":"querystatisticspostgres-zhbmidiechch.db.upclouddatabases.com","port":11550,"route":"dynamic","usage":"primary"},{"component":"pg","host":"replica-querystatisticspostgres-zhbmidiechch.db.upclouddatabases.com","port":11550,"route":"dynamic","usage":"replica"},{"component":"pg","host":"public-querystatisticspostgres-zhbmidiechch.db.upclouddatabases.com","port":11550,"route":"public","usage":"primary"},{"component":"pg","host":"public-replica-querystatisticspostgres-zhbmidiechch.db.upclouddatabases.com","port":11550,"route":"public","usage":"replica"},{"component":"pgbouncer","host":"querystatisticspostgres-zhbmidiechch.db.upclouddatabases.com","port":11551,"route":"dynamic","usage":"primary"},{"component":"pgbouncer","host":"replica-querystatisticspostgres-zhbmidiechch.db.upclouddatabases.com","port":11551,"route":"dynamic","usage":"replica"},{"component":"pgbouncer","host":"public-querystatisticspostgres-zhbmidiechch.db.upclouddatabases.com","port":11551,"route":"public","usage":"primary"},{"component":"pgbouncer","host":"public-replica-querystatisticspostgres-zhbmidiechch.db.upclouddatabases.com","port":11551,"route":"public","usage":"replica"}],"create_time":"0001-01-01T00:00:00Z","maintenance":{"dow":"monday","time":"12:00:00","pending_updates":[]},"name":"querystatisticspostgres","node_count":2,"node_states":[{"name":"querystatisticspostgres-1","role":"standby","state":"setting_up_vm"}],"plan":"2x2xCPU-4GB-100GB","powered":true,"metadata":{"max_connections":100,"pg_version":"15","write_block_threshold_exceeded":null},"properties":{"automatic_utility_network_ip_filter":true,"backup_hour":4,"backup_minute":46,"ip_filter":["0.0.0.0/0"],"pg_stat_monitor_enable":false,"pglookout":{"max_failover_replication_time_lag":60},"public_access":true,"version":"15"},"uuid":"09119676-7d62-4fd9-a915-900c974bda7f","state":"rebuilding","title":"querystatisticspostgres","type":"pg","update_time":"0001-01-01T00:00:00Z","service_uri":"postgres://upadmin:AVNS_RpQxyg_IGMfwI2o1WdZ@querystatisticspostgres-zhbmidiechch.db.upclouddatabases.com:11550/defaultdb?sslmode=require","service_uri_params":{"dbname":"defaultdb","host":"querystatisticspostgres-zhbmidiechch.db.upclouddatabases.com","password":"AVNS_RpQxyg_IGMfwI2o1WdZ","port":"11550","ssl_mode":"require","user":"upadmin"},"users":[{"username":"upadmin","type":"primary"}],"databases":[{"name":"defaultdb"}],"zone":"fi-hel2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/09119676-7d62-4fd9-a915-900c974bda7f/query-statistics?limit=1000
    method: GET
  response:
    body: '{"pg":[{"blk_read_time":0,"blk_write_time":0,"calls":2,"database_name":"defaultdb","local_blks_dirtied":0,"local_blks_hit":0,"local_blks_read":0,"local_blks_written":0,"max_time":4829,"mean_time":4113,"min_time":3397,"query":"SELECT pg_catalog.pg_current_wal_lsn()","rows":2,"shared_blks_dirtied":0,"shared_blks_hit":0,"shared_blks_read":0,"shared_blks_written":0,"stddev_time":0,"temp_blks_read":0,"temp_blks_written":0,"total_time":8226,"user_name":"upadmin"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/09119676-7d62-4fd9-a915-900c974bda7f
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
