---
version: 1
interactions:
- request:
    body: '{"hostname_prefix":"getmanageddatabaselogs","plan":"2x2xCPU-4GB-100GB","properties":{"automatic_utility_network_ip_filter":true,"ip_filter":["10.0.0.1/32"],"public_access":true},"title":"getmanageddatabaselogs","type":"pg","zone":"fi-hel2","maintenance":{"dow":"monday","time":"12:00:00"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database
    method: POST
  response:
    body: '{"uuid":"0993d13a-4d4f-4754-9f30-8ff606910e0f","zone":"fi-hel2","name":"getmanageddatabaselogs","title":"getmanageddatabaselogs","type":"pg","plan":"2x2xCPU-4GB-100GB","state":"pending","powered":true,"termination_protection":false,"node_count":2,"create_time":"2024-01-31T12:56:31Z","update_time":"2024-01-31T12:56:31Z","service_uri":"","service_uri_params":{},"maintenance":{"dow":"monday","time":"12:00:00","pending_updates":[]},"metadata":{},"properties":{"automatic_utility_network_ip_filter":true,"ip_filter":["10.0.0.1/32"],"public_access":true},"networks":[],"node_states":[],"backups":[],"components":[],"users":[],"databases":[]}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/0993d13a-4d4f-4754-9f30-8ff606910e0f/logs?limit=5&offset=0&order=asc
    method: GET
  response:
    body: '{"first_log_offset":"1706705991409167000","offset":"1706705991454219000","logs":[{"hostname":"getmanageddatabaselogs-1","msg":"[1-1] pid=62,user=,db=,app=,client= LOG:  pgaudit extension initialized","time":"2024-01-31T12:59:51.409167Z","service":"postgresql-15.service"},{"hostname":"getmanageddatabaselogs-1","msg":"pid=62,user=,db=,app=,client= LOG:  pgaudit extension initialized","time":"2024-01-31T12:59:51.409417Z","service":"postgresql-15.service"},{"hostname":"getmanageddatabaselogs-1","msg":"[2-1] pid=62,user=,db=,app=,client= LOG:  ending log output to stderr","time":"2024-01-31T12:59:51.454065Z","service":"postgresql-15.service"},{"hostname":"getmanageddatabaselogs-1","msg":"pid=62,user=,db=,app=,client= LOG:  ending log output to stderr","time":"2024-01-31T12:59:51.454219Z","service":"postgresql-15.service"},{"hostname":"getmanageddatabaselogs-1","msg":"pid=62,user=,db=,app=,client= HINT:  Future log output will go to log destination \"syslog\".","time":"2024-01-31T12:59:51.454219Z","service":"postgresql-15.service"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/0993d13a-4d4f-4754-9f30-8ff606910e0f/logs?limit=5&order=desc
    method: GET
  response:
    body: '{"first_log_offset":"1706706302557936000","offset":"1706706300442970000","logs":[{"hostname":"getmanageddatabaselogs-1","msg":"[13-1] pid=1755,user=postgres,db=defaultdb,app=management-agent,client=[local] LOG:  disconnection: session time: 0:00:00.007 user=p[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/0993d13a-4d4f-4754-9f30-8ff606910e0f/logs?limit=5&offset=1706706300442970000&order=desc
    method: GET
  response:
    body: '{"first_log_offset":"1706706300433955000","offset":"1706706299654878000","logs":[{"hostname":"getmanageddatabaselogs-1","msg":"[12-1] pid=1744,user=postgres,db=defaultdb,app=[unknown],client=[local] LOG:  connection authorized: user[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/0993d13a-4d4f-4754-9f30-8ff606910e0f
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
