---
version: 1
interactions:
- request:
    body: '{"hostname_prefix":"getindices","plan":"1x2xCPU-4GB-80GB-1D","properties":{"automatic_utility_network_ip_filter":true,"ip_filter":["10.0.0.1/32"],"public_access":true},"title":"getindices","type":"opensearch","zone":"fi-hel2","maintenance":{"dow":"monday","time":"12:00:00"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database
    method: POST
  response:
    body: '{"uuid":"09c294cb-7d9b-440f-ba9c-d025ebef0b9e","zone":"fi-hel2","name":"getindices","title":"getindices","type":"opensearch","plan":"1x2xCPU-4GB-80GB-1D","state":"pending","powered":true,"termination_protection":false,"node_count":1,"create_time":"2024-02-01T08:43:44Z","update_time":"2024-02-01T08:43:44Z","service_uri":"","service_uri_params":{},"maintenance":{"dow":"monday","time":"12:00:00","pending_updates":[]},"metadata":{},"properties":{"automatic_utility_network_ip_filter":true,"ip_filter":["10.0.0.1/32"],"public_access":true},"networks":[],"node_states":[],"backups":[],"components":[],"users":[]}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/09c294cb-7d9b-440f-ba9c-d025ebef0b9e/indices
    method: GET
  response:
    body: '[{"create_time":"2024-02-01T08:48:10.035Z","docs":1,"health":"green","index_name":".plugins-ml-config","number_of_replicas":0,"number_of_shards":1,"read_only_allow_delete":false,"size":3921,"status":"open"},{"create_time":"2024-02-01T08:48:00.131Z","docs":0,"health":"green","index_name":".opensearch-observability","number_of_replicas":0,"number_of_shards":1,"read_only_allow_delete":false,"size":208,"status":"open"},{"create_time":"2024-02-01T08:48:01.223Z","docs":10,"health":"green","index_name":".opendistro_security","number_of_replicas":0,"number_of_shards":1,"read_only_allow_delete":false,"size":66475,"status":"open"},{"create_time":"2024-02-01T08:48:24.036Z","docs":0,"health":"green","index_name":".kibana_1","number_of_replicas":0,"number_of_shards":1,"read_only_allow_delete":false,"size":208,"status":"open"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/09c294cb-7d9b-440f-ba9c-d025ebef0b9e
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
