---
version: 1
interactions:
- request:
    body: '{"hostname_prefix":"getindices","plan":"1x2xCPU-4GB-80GB-1D","properties":{"automatic_utility_network_ip_filter":true,"ip_filter":["10.0.0.1/32"],"public_access":true},"title":"getindices","type":"opensearch","zone":"fi-hel2","maintenance":{"dow":"monday","time":"12:00:00"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database
    method: POST
  response:
    body: '{"backups":[],"components":[{"component":"opensearch","host":"getindices-zhbmidiechch.db.upclouddatabases.com","port":11550,"route":"dynamic","usage":"primary"},{"component":"opensearch","host":"public-getindices-zhbmidiechch.db.upclouddatabases.com","port":11550,"route":"public","usage":"primary"},{"component":"opensearch_dashboards","host":"getindices-zhbmidiechch.db.upclouddatabases.com","port":443,"route":"dynamic","usage":"primary"},{"component":"opensearch_dashboards","host":"public-getindices-zhbmidiechch.db.upclouddatabases.com","port":443,"route":"public","usage":"primary"}],"create_time":"0001-01-01T00:00:00Z","maintenance":{"dow":"monday","time":"12:00:00","pending_updates":[]},"name":"getindices","node_count":1,"node_states":[{"name":"getindices-1","role":"","state":"setting_up_vm"}],"plan":"1x2xCPU-4GB-80GB-1D","powered":true,"metadata":{"opensearch_version":"2","upgrade_version":null},"properties":{"automatic_utility_network_ip_filter":true,"ip_filter":["10.0.0.1/32"],"max_index_count":0,"public_access":true,"version":"2"},"uuid":"096c08b3-5a45-4ce4-972c-8cc4ed9c306a","state":"rebuilding","title":"getindices","type":"opensearch","update_time":"0001-01-01T00:00:00Z","service_uri":"https://upadmin:AVNS_A-1b12xffPm1LYTVXAC@getindices-zhbmidiechch.db.upclouddatabases.com:11550","service_uri_params":{"host":"getindices-zhbmidiechch.db.upclouddatabases.com","password":"AVNS_A-1b12xffPm1LYTVXAC","port":"11550","user":"upadmin"},"users":[{"username":"upadmin","type":"primary"}],"zone":"fi-hel2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/096c08b3-5a45-4ce4-972c-8cc4ed9c306a/indices
    method: GET
  response:
    body: '[{"create_time":"2023-05-17T07:30:07.735Z","docs":0,"health":"green","index_name":".kibana_1","number_of_replicas":0,"number_of_shards":1,"read_only_allow_delete":false,"size":208,"status":"open"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/096c08b3-5a45-4ce4-972c-8cc4ed9c306a
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
