---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/regions
    method: GET
  response:
    body: '[{"name":"europe-1","primary_zone":"fi-hel2","zones":[{"name":"fi-hel2"},{"name":"de-fra1"},{"name":"es-mad1"},{"name":"fi-hel1"},{"name":"nl-ams1"},{"name":"pl-waw1"},{"name":"uk-lon1"},{"name":"se-sto1"}]}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"configured_status":"started","labels":[{"key":"example-key","value":"example-value"}],"name":"go-sdk-integration-test","networks":[{"family":"IPv4","name":"example-public-network","type":"public"}],"region":"europe-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2
    method: POST
  response:
    body: '{"configured_status":"started","created_at":"2024-02-29T11:33:27.007652Z","endpoints":[{"domain_name":"gd1jo.upcloudobjects.com","iam_url":"https://gd1jo.upcloudobjects.com:4443/iam","sts_url":"https://gd1jo.upcloudobjects.com:4443/sts","type":"public"}],"labels":[{"key":"example-key","value":"example-value"}],"name":"go-sdk-integration-test","networks":[{"family":"IPv4","name":"example-public-network","type":"public"}],"operational_state":"pending","region":"europe-1","updated_at":"2024-02-29T11:33:27.007652Z","usage":{"total_objects":0,"total_size_bytes":0},"users":[],"uuid":"1283433c-2ca3-41ae-a5de-e4596f650756"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"username":"testuser"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/1283433c-2ca3-41ae-a5de-e4596f650756/users
    method: POST
  response:
    body: '{"access_keys":[],"arn":"urn:ecs:iam::1283433c2ca341aea5dee4596f650756:user/testuser","created_at":"2024-02-29T11:33:27Z","policies":[],"username":"testuser"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/1283433c-2ca3-41ae-a5de-e4596f650756/users/testuser
    method: GET
  response:
    body: '{"access_keys":[],"arn":"urn:ecs:iam::1283433c2ca341aea5dee4596f650756:user/testuser","created_at":"2024-02-29T11:33:27Z","policies":[],"username":"testuser"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/1283433c-2ca3-41ae-a5de-e4596f650756
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
