---
version: 1
interactions:
- request:
    body: '{"hostname_prefix":"getmanageddatabasemetrics","plan":"2x2xCPU-4GB-100GB","properties":{"automatic_utility_network_ip_filter":true,"ip_filter":["10.0.0.1/32"],"public_access":true},"title":"getmanageddatabasemetrics","type":"pg","zone":"fi-hel2","maintenance":{"dow":"monday","time":"12:00:00"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database
    method: POST
  response:
    body: '{"uuid":"09b5c17a-567b-438e-941e-e01001f22643","zone":"fi-hel2","name":"getmanageddatabasemetrics","title":"getmanageddatabasemetrics","type":"pg","plan":"2x2xCPU-4GB-100GB","state":"pending","powered":true,"termination_protection":false,"node_count":2,"create_time":"2024-01-31T20:58:22Z","update_time":"2024-01-31T20:58:22Z","service_uri":"","service_uri_params":{},"maintenance":{"dow":"monday","time":"12:00:00","pending_updates":[]},"metadata":{},"properties":{"automatic_utility_network_ip_filter":true,"ip_filter":["10.0.0.1/32"],"public_access":true},"networks":[],"node_states":[],"backups":[],"components":[],"users":[],"databases":[]}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/09b5c17a-567b-438e-941e-e01001f22643/metrics?period=hour
    method: GET
  response:
    body: '{"cpu_usage":{"data":{"cols":[{"label":"time","type":"date"},{"label":"getmanageddatabasemetrics-1 (master)","type":"number"},{"label":"getmanageddatabasemetrics-2 (standby)","type":"number"}],"rows":[["2024-01-31T21:01:30Z",34.66288301549696,null],["2024-01-31T21:02:30Z",5.204982717423704,null],["2024-01-31T21:03:00Z",3.6678144296185877,null],["2024-01-31T21:04:00Z",4.842045812597917,null],["2024-01-31T21:04:30Z",5.458861949610039,43.152828164081846],["2024-01-31T21:05:00Z",4.889482051447274,null],["2024-01-31T21:05:30Z",4.2082970263515875,6.739871013892625]]},"hints":{"title":"CPU usage %"}},"disk_usage":{"data":{"cols":[{"label":"time","type":"date"},{"label":"getmanageddatabasemetrics-1 (master)","type":"number"},{"label":"getmanageddatabasemetrics-2 (standby)","type":"number"}],"rows":[["2024-01-31T21:01:00Z",0.000035089954658320145,null],["2024-01-31T21:01:30Z",0.12653437649790242,null],["2024-01-31T21:02:00Z",0.12653437649790242,null],["2024-01-31T21:02:30Z",0.12662794971032462,null],["2024-01-31T21:03:00Z",0.12662794971032462,null],["2024-01-31T21:03:30Z",0.12662794971032462,null],["2024-01-31T21:04:00Z",0.12660065752336816,0.000035089954658320145],["2024-01-31T21:04:30Z",0.12663184859417556,0.09438418026317934],["2024-01-31T21:05:00Z",0.12678780394821254,0.09454013561721632],["2024-01-31T21:05:30Z",0.12678780394821254,0.09454403450106724]]},"hints":{"title":"Disk space usage %"}},"diskio_reads":{"data":{"cols":[{"label":"time","type":"date"},{"label":"getmanageddatabasemetrics-1 (master)","type":"number"},{"label":"getmanageddatabasemetrics-2 (standby)","type":"number"}],"rows":[["2024-01-31T21:01:30Z",26,null],["2024-01-31T21:02:00Z",0,null],["2024-01-31T21:02:30Z",0,null],["2024-01-31T21:03:00Z",0,null],["2024-01-31T21:03:30Z",0,null],["2024-01-31T21:04:00Z",0,null],["2024-01-31T21:04:30Z",0,62],["2024-01-31T21:05:00Z",0,0],["2024-01-31T21:05:30Z",0,0]]},"hints":{"title":"Disk iops (reads)"}},"diskio_writes":{"data":{"cols":[{"label":"time","type":"date"},{"label":"getmanageddatabasemetrics-1 (master)","type":"number"},{"label":"getmanageddatabasemetrics-2 (standby)","type":"number"}],"rows":[["2024-01-31T21:01:30Z",69,null],["2024-01-31T21:02:00Z",11,null],["2024-01-31T21:02:30Z",4,null],["2024-01-31T21:03:00Z",3,null],["2024-01-31T21:03:30Z",2,null],["2024-01-31T21:04:00Z",4,null],["2024-01-31T21:04:30Z",4,41],["2024-01-31T21:05:00Z",4,8],["2024-01-31T21:05:30Z",3,6]]},"hints":{"title":"Disk iops (writes)"}},"load_average":{"data":{"cols":[{"label":"time","type":"date"},{"label":"getmanageddatabasemetrics-1 (master)","type":"number"},{"label":"getmanageddatabasemetrics-2 (standby)","type":"number"}],"rows":[["2024-01-31T21:01:00Z",0.54,null],["2024-01-31T21:01:30Z",0.55,null],["2024-01-31T21:02:00Z",0.52,null],["2024-01-31T21:02:30Z",0.46,null],["2024-01-31T21:03:00Z",0.42,null],["2024-01-31T21:03:30Z",0.4,null],["2024-01-31T21:04:00Z",0.36,0.44],["2024-01-31T21:04:30Z",0.38,0.59],["2024-01-31T21:05:00Z",0.36,0.55],["2024-01-31T21:05:30Z",0.32,0.49]]},"hints":{"title":"Load average (5 min)"}},"mem_available":{"data":{"cols":[{"label":"time","type":"date"},{"label":"getmanageddatabasemetrics-1 (master)","type":"number"},{"label":"getmanageddatabasemetrics-2 (standby)","type":"number"}],"rows":[["2024-01-31T21:01:00Z",72.3626106743147,null],["2024-01-31T21:01:30Z",63.57285811316039,null],["2024-01-31T21:02:00Z",63.47339483194031,null],["2024-01-31T21:02:30Z",62.79377946360369,null],["2024-01-31T21:03:00Z",62.497606633303974,null],["2024-01-31T21:03:30Z",63.17309029492324,null],["2024-01-31T21:04:00Z",62.62034855480961,83.43135278942276],["2024-01-31T21:04:30Z",62.23589828342702,57.50947275072557],["2024-01-31T21:05:00Z",62.20868948309326,57.57658819735569],["2024-01-31T21:05:30Z",62.087559934940735,56.91178248951951]]},"hints":{"title":"Memory available %"}},"mem_usage":{"data":{"cols":[{"label":"time","type":"date"},{"label":"getmanageddatabasemetrics-1 (master)","type":"number"},{"label":"getmanageddatabasemetrics-2 (standby)","type":"number"}],"rows":[["2024-01-31T21:01:00Z",21.274661754302517,null],["2024-01-31T21:01:30Z",27.867454848507446,null],["2024-01-31T21:02:00Z",27.89980308890425,null],["2024-01-31T21:02:30Z",28.5340704566846,null],["2024-01-31T21:03:00Z",28.830142513649747,null],["2024-01-31T21:03:30Z",28.1552634920379,null],["2024-01-31T21:04:00Z",28.705788218791003,10.744517897452434],["2024-01-31T21:04:30Z",29.090339263508163,34.846924379232505],["2024-01-31T21:05:00Z",29.11623801049252,34.71773218316672],["2024-01-31T21:05:30Z",29.23535209195365,35.33084085778781]]},"hints":{"title":"Memory usage %"}},"net_receive":{"data":{"cols":[{"label":"time","type":"date"},{"label":"getmanageddatabasemetrics-1 (master)","type":"number"},{"label":"getmanageddatabasemetrics-2 (standby)","type":"number"}],"rows":[["2024-01-31T21:01:30Z",3874,null],["2024-01-31T21:02:00Z",97,null],["2024-01-31T21:02:30Z",90,null],["2024-01-31T21:03:00Z",30,null],["2024-01-31T21:03:30Z",468,null],["2024-01-31T21:04:00Z",376,null],["2024-01-31T21:04:30Z",1074,46089],["2024-01-31T21:05:00Z",1275,408]]},"hints":{"title":"Network receive (bytes/s)"}},"net_send":{"data":{"cols":[{"label":"time","type":"date"},{"label":"getmanageddatabasemetrics-1 (master)","type":"number"},{"label":"getmanageddatabasemetrics-2 (standby)","type":"number"}],"rows":[["2024-01-31T21:01:30Z",45290,null],["2024-01-31T21:02:00Z",661,null],["2024-01-31T21:02:30Z",3450,null],["2024-01-31T21:03:00Z",296,null],["2024-01-31T21:03:30Z",868,null],["2024-01-31T21:04:00Z",548,null],["2024-01-31T21:04:30Z",813,8647],["2024-01-31T21:05:00Z",5833,1072]]},"hints":{"title":"Network transmit (bytes/s)"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/09b5c17a-567b-438e-941e-e01001f22643/metrics?period=day
    method: GET
  response:
    body: '{"cpu_usage":{"data":{"cols":[{"label":"time","type":"date"},{"label":"getmanageddatabasemetrics-1 (master)","type":"number"}],"rows":[["2024-01-31T21:00:00Z",12.094431493784292]]},"hints":{"title":"CPU usage %"}},"disk_usage":{"data":{"cols":[{"label":"time","typ[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/09b5c17a-567b-438e-941e-e01001f22643/metrics?period=week
    method: GET
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/09b5c17a-567b-438e-941e-e01001f22643/metrics?period=month
    method: GET
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/09b5c17a-567b-438e-941e-e01001f22643/metrics?period=year
    method: GET
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/09b5c17a-567b-438e-941e-e01001f22643
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
