---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/regions
    method: GET
  response:
    body: '[{"name":"europe-1","primary_zone":"fi-hel2","zones":[{"name":"fi-hel2"},{"name":"de-fra1"},{"name":"es-mad1"},{"name":"fi-hel1"},{"name":"nl-ams1"},{"name":"pl-waw1"},{"name":"uk-lon1"},{"name":"se-sto1"}]}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"configured_status":"started","labels":[{"key":"example-key","value":"example-value"}],"name":"go-sdk-integration-test","networks":[{"family":"IPv4","name":"example-public-network","type":"public"}],"region":"europe-1","users":[{"username":"test"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2
    method: POST
  response:
    body: '{"configured_status":"started","created_at":"2024-01-18T15:55:34.513498Z","endpoints":[{"domain_name":"lbmou.upcloudobjects.com","type":"public"}],"labels":[{"key":"example-key","value":"example-value"}],"name":"go-sdk-integration-test","networks":[{"family":"IPv4","name":"example-public-network","type":"public"}],"operational_state":"pending","region":"europe-1","updated_at":"2024-01-18T15:55:34.513498Z","usage":{"total_objects":0,"total_size_bytes":0},"users":[{"access_keys":[],"created_at":"2024-01-18T15:55:34.513498Z","operational_state":"pending","updated_at":"2024-01-18T15:55:34.513498Z","username":"test"}],"uuid":"12aaed8f-ef4f-4da2-98bf-74ec2ba9b880"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/12aaed8f-ef4f-4da2-98bf-74ec2ba9b880/users/test
    method: GET
  response:
    body: '{"access_keys":[],"created_at":"2024-01-18T15:55:34.513498Z","operational_state":"pending","updated_at":"2024-01-18T15:55:34.513498Z","username":"test"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"example-access-key"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/12aaed8f-ef4f-4da2-98bf-74ec2ba9b880/users/test/access-keys
    method: POST
  response:
    body: '{"access_key_id":"AKIA4423C15070469B7C","created_at":"2024-01-18T15:55:40.18749Z","enabled":true,"last_used_at":"2024-01-18T15:55:40.18749Z","name":"example-access-key","secret_access_key":"6TnbsGyuKHFmm3q1BcqE4Diguc7ZUnndjwWwTwsN","updated_at":"2024-01-18T15:55:40.18749Z"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/12aaed8f-ef4f-4da2-98bf-74ec2ba9b880
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
