---
version: 1
interactions:
- request:
    body: '{"hostname_prefix":"getmanageddatabaseconnections","plan":"2x2xCPU-4GB-100GB","properties":{"automatic_utility_network_ip_filter":true,"ip_filter":["0.0.0.0/0"],"public_access":true},"title":"test","type":"pg","zone":"fi-hel2","maintenance":{"dow":"monday","time":"12:00:00"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database
    method: POST
  response:
    body: '{"backups":[],"components":[{"component":"pg","host":"getmanageddatabaseconnections-deviyydmahgscgy.db.upclouddatabases.com","port":11550,"route":"dynamic","usage":"primary"},{"component":"pg","host":"public-getmanageddatabaseconnections-deviyydmahgscgy.db.upclouddatabases.com","port":11550,"route":"public","usage":"primary"},{"component":"pg","host":"replica-getmanageddatabaseconnections-deviyydmahgscgy.db.upclouddatabases.com","port":11550,"route":"dynamic","usage":"replica"},{"component":"pg","host":"public-replica-getmanageddatabaseconnections-deviyydmahgscgy.db.upclouddatabases.com","port":11550,"route":"public","usage":"replica"},{"component":"pgbouncer","host":"getmanageddatabaseconnections-deviyydmahgscgy.db.upclouddatabases.com","port":11551,"route":"dynamic","usage":"primary"},{"component":"pgbouncer","host":"public-getmanageddatabaseconnections-deviyydmahgscgy.db.upclouddatabases.com","port":11551,"route":"public","usage":"primary"},{"component":"pgbouncer","host":"replica-getmanageddatabaseconnections-deviyydmahgscgy.db.upclouddatabases.com","port":11551,"route":"dynamic","usage":"replica"},{"component":"pgbouncer","host":"public-replica-getmanageddatabaseconnections-deviyydmahgscgy.db.upclouddatabases.com","port":11551,"route":"public","usage":"replica"}],"create_time":"0001-01-01T00:00:00Z","maintenance":{"dow":"monday","time":"12:00:00"},"name":"getmanageddatabaseconnections","node_count":2,"node_states":[],"plan":"2x2xCPU-4GB-100GB","powered":true,"properties":{"automatic_utility_network_ip_filter":true,"ip_filter":["0.0.0.0/0"],"public_access":true},"uuid":"0968f7b7-c326-47fe-bb37-817d40c22260","state":"rebuilding","title":"test","type":"pg","update_time":"0001-01-01T00:00:00Z","service_uri":"postgres://upadmin:vj4phcj8yhNhGmao@getmanageddatabaseconnections-deviyydmahgscgy.db.upclouddatabases.com:11550/defaultdb?sslmode=require","service_uri_params":{"dbname":"defaultdb","host":"getmanageddatabaseconnections-deviyydmahgscgy.db.upclouddatabases.com","password":"vj4phcj8yhNhGmao","port":"11550","ssl_mode":"require","user":"upadmin"},"users":null,"zone":"fi-hel2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/0968f7b7-c326-47fe-bb37-817d40c22260/connections?limit=1000
    method: GET
  response:
    body: '[{"application_name":"upcloudGoTestSuite","backend_start":"2021-09-14T13:41:29.369748Z","backend_type":"client backend","backend_xid":null,"backend_xmin":null,"client_addr":"85.7.82.158","client_hostname":null,"client_port":62028,"datid":16401,"datname":"defaultdb","pid":257,"query":"SELECT 1","query_duration":291591000,"query_start":"2021-09-14T13:41:29.575568Z","state":"idle","state_change":"2021-09-14T13:41:29.575916Z","usename":"upadmin","usesysid":16400,"wait_event":"ClientRead","wait_event_type":"Client","xact_start":null}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/0968f7b7-c326-47fe-bb37-817d40c22260/connections/257?
    method: DELETE
  response:
    body: '{"success":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/0968f7b7-c326-47fe-bb37-817d40c22260/connections/257?terminate=true
    method: DELETE
  response:
    body: '{"success":true}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/0968f7b7-c326-47fe-bb37-817d40c22260
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
