---
version: 1
interactions:
- request:
    body: '{"hostname_prefix":"querystatisticspostgres","plan":"2x2xCPU-4GB-100GB","properties":{"automatic_utility_network_ip_filter":true,"ip_filter":["0.0.0.0/0"],"public_access":true},"title":"test","type":"pg","zone":"fi-hel2","maintenance":{"dow":"monday","time":"12:00:00"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database
    method: POST
  response:
    body: '{"backups":[],"components":[{"component":"pg","host":"querystatisticspostgres-deviyydmahgscgy.db.upclouddatabases.com","port":11550,"route":"dynamic","usage":"primary"},{"component":"pg","host":"public-querystatisticspostgres-deviyydmahgscgy.db.upclouddatabases.com","port":11550,"route":"public","usage":"primary"},{"component":"pg","host":"replica-querystatisticspostgres-deviyydmahgscgy.db.upclouddatabases.com","port":11550,"route":"dynamic","usage":"replica"},{"component":"pg","host":"public-replica-querystatisticspostgres-deviyydmahgscgy.db.upclouddatabases.com","port":11550,"route":"public","usage":"replica"},{"component":"pgbouncer","host":"querystatisticspostgres-deviyydmahgscgy.db.upclouddatabases.com","port":11551,"route":"dynamic","usage":"primary"},{"component":"pgbouncer","host":"public-querystatisticspostgres-deviyydmahgscgy.db.upclouddatabases.com","port":11551,"route":"public","usage":"primary"},{"component":"pgbouncer","host":"replica-querystatisticspostgres-deviyydmahgscgy.db.upclouddatabases.com","port":11551,"route":"dynamic","usage":"replica"},{"component":"pgbouncer","host":"public-replica-querystatisticspostgres-deviyydmahgscgy.db.upclouddatabases.com","port":11551,"route":"public","usage":"replica"}],"create_time":"0001-01-01T00:00:00Z","maintenance":{"dow":"monday","time":"12:00:00"},"name":"querystatisticspostgres","node_count":2,"node_states":[],"plan":"2x2xCPU-4GB-100GB","powered":true,"properties":{"automatic_utility_network_ip_filter":true,"ip_filter":["0.0.0.0/0"],"public_access":true},"uuid":"0995a7fe-4ae4-480c-b536-68893db2417a","state":"rebuilding","title":"test","type":"pg","update_time":"0001-01-01T00:00:00Z","service_uri":"postgres://upadmin:jETh097khN-R3szy@querystatisticspostgres-deviyydmahgscgy.db.upclouddatabases.com:11550/defaultdb?sslmode=require","service_uri_params":{"dbname":"defaultdb","host":"querystatisticspostgres-deviyydmahgscgy.db.upclouddatabases.com","password":"jETh097khN-R3szy","port":"11550","ssl_mode":"require","user":"upadmin"},"users":null,"zone":"fi-hel2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/0995a7fe-4ae4-480c-b536-68893db2417a/query-statistics?limit=1000
    method: GET
  response:
    body: '{"pg":[{"blk_read_time":0,"blk_write_time":0,"calls":1,"database_name":"defaultdb","local_blks_dirtied":0,"local_blks_hit":0,"local_blks_read":0,"local_blks_written":0,"max_time":3126,"mean_time":3126,"min_time":3126,"query":"BEGIN","rows":0,"shared_blks_dirtied":0,"shared_blks_hit":0,"shared_blks_read":0,"shared_blks_written":0,"stddev_time":0,"temp_blks_read":0,"temp_blks_written":0,"total_time":3126,"user_name":"upadmin"},{"blk_read_time":0,"blk_write_time":0,"calls":1,"database_name":"defaultdb","local_blks_dirtied":0,"local_blks_hit":0,"local_blks_read":0,"local_blks_written":0,"max_time":622,"mean_time":622,"min_time":622,"query":"COMMIT","rows":0,"shared_blks_dirtied":0,"shared_blks_hit":0,"shared_blks_read":0,"shared_blks_written":0,"stddev_time":0,"temp_blks_read":0,"temp_blks_written":0,"total_time":622,"user_name":"upadmin"},{"blk_read_time":0,"blk_write_time":0,"calls":1,"database_name":"defaultdb","local_blks_dirtied":0,"local_blks_hit":0,"local_blks_read":0,"local_blks_written":0,"max_time":11562,"mean_time":11562,"min_time":11562,"query":"SELECT pg_catalog.pg_current_wal_lsn()","rows":1,"shared_blks_dirtied":0,"shared_blks_hit":0,"shared_blks_read":0,"shared_blks_written":0,"stddev_time":0,"temp_blks_read":0,"temp_blks_written":0,"total_time":11562,"user_name":"upadmin"},{"blk_read_time":0,"blk_write_time":0,"calls":1,"database_name":"defaultdb","local_blks_dirtied":0,"local_blks_hit":0,"local_blks_read":0,"local_blks_written":0,"max_time":2002106813,"mean_time":2002106813,"min_time":2002106813,"query":"select pg_sleep($1)","rows":1,"shared_blks_dirtied":0,"shared_blks_hit":0,"shared_blks_read":0,"shared_blks_written":0,"stddev_time":0,"temp_blks_read":0,"temp_blks_written":0,"total_time":2002106813,"user_name":"upadmin"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/0995a7fe-4ae4-480c-b536-68893db2417a
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
