---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/regions
    method: GET
  response:
    body: '[{"name":"europe-1","primary_zone":"fi-hel2","zones":[{"name":"fi-hel2"},{"name":"de-fra1"},{"name":"es-mad1"},{"name":"fi-hel1"},{"name":"nl-ams1"},{"name":"pl-waw1"},{"name":"uk-lon1"},{"name":"se-sto1"}]}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"configured_status":"started","labels":[{"key":"example-key","value":"example-value"}],"name":"go-sdk-integration-test","networks":[{"family":"IPv4","name":"example-public-network","type":"public"}],"region":"europe-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2
    method: POST
  response:
    body: '{"configured_status":"started","created_at":"2024-02-29T11:36:11.039315Z","endpoints":[{"domain_name":"d0ik2.upcloudobjects.com","iam_url":"https://d0ik2.upcloudobjects.com:4443/iam","sts_url":"https://d0ik2.upcloudobjects.com:4443/sts","type":"public"}],"labels":[{"key":"example-key","value":"example-value"}],"name":"go-sdk-integration-test","networks":[{"family":"IPv4","name":"example-public-network","type":"public"}],"operational_state":"pending","region":"europe-1","updated_at":"2024-02-29T11:36:11.039315Z","usage":{"total_objects":0,"total_size_bytes":0},"users":[],"uuid":"12682541-f356-4aa8-8459-0dafb6dc9856"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"username":"testuser"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/12682541-f356-4aa8-8459-0dafb6dc9856/users
    method: POST
  response:
    body: '{"access_keys":[],"arn":"urn:ecs:iam::12682541f3564aa884590dafb6dc9856:user/testuser","created_at":"2024-02-29T11:36:11Z","policies":[],"username":"testuser"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/12682541-f356-4aa8-8459-0dafb6dc9856/users/testuser/access-keys
    method: POST
  response:
    body: '{"access_key_id":"AKIA0296E35AD80129D7","created_at":"2024-02-29T11:36:11Z","last_used_at":"0001-01-01T00:00:00Z","secret_access_key":"1zt1/C+DfoV5isQDSZMB1HWybm08sn4VeHxDsaDg","status":"Active"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/12682541-f356-4aa8-8459-0dafb6dc9856/users/testuser/access-keys/AKIA0296E35AD80129D7
    method: GET
  response:
    body: '{"access_key_id":"AKIA0296E35AD80129D7","created_at":"2024-02-29T11:36:11Z","last_used_at":"2024-02-29T11:36:11Z","status":"Active"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/12682541-f356-4aa8-8459-0dafb6dc9856/users/testuser
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/12682541-f356-4aa8-8459-0dafb6dc9856
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
