---
version: 1
interactions:
- request:
    body: '{"server":{"hostname":"uploud-go-sdk-integration-test-testgetnetworksinzone.example.com","metadata":"no","networking":{"interfaces":{"interface":[{"ip_addresses":{"ip_address":[{"family":"IPv4"}]},"type":"utility"},{"ip_addresses":{"ip_address":[{"family":"IPv4"}]},"type":"public"},{"ip_addresses":{"ip_address":[{"family":"IPv6"}]},"type":"public"}]}},"password_delivery":"none","storage_devices":{"storage_device":[{"action":"clone","storage":"01000000-0000-4000-8000-000030080200","title":"disk1","size":30,"tier":"maxiops"}]},"title":"uploud-go-sdk-integration-test-TestGetNetworksInZone","remote_access_enabled":"no","zone":"fi-hel2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1623406231,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testgetnetworksinzone.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "utility",
                     "address" : "10.6.0.150",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:b4d7:dbff:feb8:4d36",
                     "family" : "IPv6"
                  },
                  {
                     "access" : "public",
                     "address" : "94.237.12.95",
                     "family" : "IPv4"
                  }
               ]
            },
            "license" : 0,
            "memory_amount" : "1024",
            "metadata" : "no",
            "networking" : {
               "interfaces" : {
                  "interface" : [
                     {
                        "bootable" : "no",
                        "index" : 1,
                        "ip_addresses" : {
                           "ip_address" : [
                              {
                                 "address" : "10.6.0.150",
                                 "family" : "IPv4",
                                 "floating" : "no"
                              }
                           ]
                        },
                        "mac" : "b6:d7:db:b8:a1:a6",
                        "network" : "03313828-5514-498b-81b6-85f450a382f5",
                        "source_ip_filtering" : "yes",
                        "type" : "utility"
                     },
                     {
                        "bootable" : "no",
                        "index" : 2,
                        "ip_addresses" : {
                           "ip_address" : [
                              {
                                 "address" : "94.237.12.95",
                                 "family" : "IPv4",
                                 "floating" : "no"
                              }
       [...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/005cec1a-fed7-4337-ac04-32594603cdae
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1623406231,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testgetnetworksinzone.example.com",
            "ip_addresses[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/005cec1a-fed7-4337-ac04-32594603cdae
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1623406231,
            "firewall" : "off",
            "host" : 6862160515,
            "hostname" : "uploud-go-sdk-integration-test-testgetnetworksinzone.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "utility",
                     "address" : "10.6.0.150",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:b4d7:dbff:feb8:4d36",
                     "fa[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/?zone=fi-hel2
    method: GET
  response:
    body: |
      {
         "networks" : {
            "network" : [
               {
                  "ip_networks" : {
                     "ip_network" : [
                        {
                           "address" : "94.237.8.0/22",
                           "dhcp" : "yes",
                           "dhcp_default_route" : "yes",
                           "dhcp_dns" : [
                              "94.237.127.9",
                              "94.237.40.9"
                           ],
                           "family" : "IPv4",
                           "gateway" : "94.237.8.1"
                        }
                     ]
                  },
                  "name" : "Public 94.237.8.0/22",
                  "type" : "public",
                  "uuid" : "03000000-0000-4000-8044-000000000000",
                  "zone" : "fi-hel2"
               },
               {
                  "ip_networks" : {
                     "ip_network" : [
                        {
                           "address" : "10.6.0.0/22",
                           "dhcp" : "yes",
                           "dhcp_default_route" : "no",
                           "dhcp_routes" : [
                              "10.0.0.0/8"
                           ],
                           "family" : "IPv4",
                           "gateway" : "10.6.0.1"
                        }
                     ]
                  },
                  "name" : "Private 10.6.0.0/22",
                  "type" : "utility",
                  "uuid" : "03000000-0000-4000-8045-000000000000",
                  "zone" : "fi-hel2"
               },
               {
                  "ip_networks" : {
                     "ip_network" : [
                        {
                           "address" : "2a04:3545:1000:720::/64",
                           "dhcp" : "yes",
                           "dhcp_default_route" : "yes",
                           "dhcp_dns" : [
                              "2a04:3540:53::1",
                              "2a04:3544:53::1"
                           ],
                           "family" : "IPv6",
                           "gateway" : "2a04:3545:1000:720::1"
                        }
                     ]
                  },
                  "name" : "Public 2a04:3545:1000:720::/64",
                  "servers" : {
                     "server" : [
                        {
                           "title" : "uploud-go-sdk-integration-test-TestGetNetworksInZone",
                           "uuid" : "005cec1a-fed7-4337-ac04-32594603cdae"
                        }
                     ]
                  },
                  "type" : "public",
                  "uuid" : "03000000-0000-4000-8046-000000000000",
                  "zone" : "fi-hel2"
               },
               {
                  "ip_n[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/03313828-5514-498b-81b6-85f450a382f5
    method: GET
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "10.6.0.0/22",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "dhcp_routes" : [
                        "10.0.0.0/8"
                     ],
                     "family" : "IPv4",
                     "gateway" : "10.6.0.1"
                  }
               ]
            },
            "name" : "Private 10.6.0.0/22",
            "router" : "04a20b43-96c1-403e-86ba-136aefcdff3a",
            "servers" : {
               "server" : [
                  {
                     "title" : "uploud-go-sdk-integration-test-TestGetNetworksInZone",
                     "uuid" : "005cec1a-fed7-4337-ac04-32594603cdae"
                  }
               ]
            },
            "type" : "utility",
            "uuid" : "03313828-5514-498b-81b6-85f450a382f5",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
