---
version: 1
interactions:
- request:
    body: '{"server":{"hostname":"uploud-go-sdk-integration-test-testgetnetworksinzone.example.com","metadata":"no","networking":{"interfaces":{"interface":[{"ip_addresses":{"ip_address":[{"family":"IPv4"}]},"type":"utility"},{"ip_addresses":{"ip_address":[{"family":"IPv4"}]},"type":"public"},{"ip_addresses":{"ip_address":[{"family":"IPv6"}]},"type":"public"}]}},"password_delivery":"none","storage_devices":{"storage_device":[{"action":"clone","storage":"01000000-0000-4000-8000-000030060200","title":"disk1","size":30,"tier":"maxiops"}]},"title":"uploud-go-sdk-integration-test-TestGetNetworksInZone","remote_access_enabled":"no","zone":"fi-hel2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1596997182,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testgetnetworksinzone.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "utility",
                     "address" : "10.6.6.209",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:ec1b:dbff:feca:4875",
                     "family" : "IPv6"
                  },
                  {
                     "access" : "public",
                     "address" : "94.237.104.76",
                     "family" : "IPv4"
                  }
               ]
            },
            "license" : 0,
            "memory_amount" : "1024",
            "metadata" : "no",
            "networking" : {
               "interfaces" : {
                  "interface" : [
                     {
                        "bootable" : "no",
                        "index" : 1,
                        "ip_addresses" : {
                           "ip_address" : [
                              {
                                 "address" : "10.6.6.209",
                                 "family" : "IPv4",
                                 "floating" : "no"
                              }
                           ]
                        },
                        "mac" : "ee:1b:db:ca:cb:bb",
                        "network" : "03a002de-994e-45aa-9e1c-9918f0908c57",
                        "source_ip_filtering" : "yes",
                        "type" : "utility"
                     },
                     {
                        "bootable" : "no",
                        "index" : 2,
                        "ip_addresses" : {
                           "ip_address" : [
                              {
                                 "address" : "94.237.104.76",
                                 "family" : "IPv4",
                                 "floating" : "no"
                              }
      [...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/00b44936-70ca-4776-9f33-2ed408c5fde0
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1596997182,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testgetnetworksinzone.example.com",
            "ip_addresses[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/00b44936-70ca-4776-9f33-2ed408c5fde0
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1596997182,
            "firewall" : "off",
            "host" : 7617135235,
            "hostname" : "uploud-go-sdk-integration-test-testgetnetworksinzone.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "utility",
                     "address" : "10.6.6.209",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:ec1b:dbff:feca:4875",
                     "fa[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/?zone=fi-hel2
    method: GET
  response:
    body: |
      {
         "networks" : {
            "network" : [
               {
                  "ip_networks" : {
                     "ip_network" : [
                        {
                           "address" : "94.237.8.0/22",
                           "dhcp" : "yes",
                           "dhcp_default_route" : "yes",
                           "dhcp_dns" : [
                              "94.237.127.9",
                              "94.237.40.9"
                           ],
                           "family" : "IPv4",
                           "gateway" : "94.237.8.1"
                        }
                     ]
                  },
                  "name" : "Public 94.237.8.0/22",
                  "type" : "public",
                  "uuid" : "03000000-0000-4000-8044-000000000000",
                  "zone" : "fi-hel2"
               },
               {
                  "ip_networks" : {
                     "ip_network" : [
                        {
                           "address" : "10.6.0.0/22",
                           "dhcp" : "yes",
                           "dhcp_default_route" : "no",
                           "dhcp_routes" : [
                              "10.0.0.0/8"
                           ],
                           "family" : "IPv4",
                           "gateway" : "10.6.0.1"
                        }
                     ]
                  },
                  "name" : "Private 10.6.0.0/22",
                  "type" : "utility",
                  "uuid" : "03000000-0000-4000-8045-000000000000",
                  "zone" : "fi-hel2"
               },
               {
                  "ip_networks" : {
                     "ip_network" : [
                        {
                           "address" : "2a04:3545:1000:720::/64",
                           "dhcp" : "yes",
                           "dhcp_default_route" : "yes",
                           "dhcp_dns" : [
                              "2a04:3540:53::1",
                              "2a04:3544:53::1"
                           ],
                           "family" : "IPv6",
                           "gateway" : "2a04:3545:1000:720::1"
                        }
                     ]
                  },
                  "name" : "Public 2a04:3545:1000:720::/64",
                  "servers" : {
                     "server" : [
                        {
                           "title" : "uploud-go-sdk-integration-test-TestGetNetworksInZone",
                           "uuid" : "00b44936-70ca-4776-9f33-2ed408c5fde0"
                        },
                        {
                           "title" : "uploud-go-sdk-integration-test-TestGetNetworks",
                           "uuid" : "00f98dd0-fa3e-4f5f-a001-02b81e7de9b1"
                        }
                     ]
     [...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/03baf748-c757-4317-90b4-da92f7f94743
    method: GET
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "10.6.0.0/22",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "dhcp_routes" : [
                        "10.0.0.0/8"
                     ],
                     "family" : "IPv4",
                     "gateway" : "10.6.0.1"
                  }
               ]
            },
            "name" : "Private 10.6.0.0/22",
            "router" : "0495fef9-b234-4819-ac51-431b934037c0",
            "type" : "utility",
            "uuid" : "03baf748-c757-4317-90b4-da92f7f94743",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
