---
version: 1
interactions:
- request:
    body: '{"server":{"hostname":"uploud-go-sdk-integration-test-testgetnetworks.example.com","labels":{"label":[{"key":"managedBy","value":"upcloud-sdk-integration-test"},{"key":"testName","value":"TestGetNetworks"}]},"metadata":"no","networking":{"interfaces":{"interface":[{"ip_addresses":{"ip_address":[{"family":"IPv4"}]},"type":"utility"},{"ip_addresses":{"ip_address":[{"family":"IPv4"}]},"type":"public"},{"ip_addresses":{"ip_address":[{"family":"IPv6"}]},"type":"public"}]}},"password_delivery":"none","storage_devices":{"storage_device":[{"action":"clone","storage":"01000000-0000-4000-8000-000020060100","title":"disk1","size":10,"tier":"maxiops"}]},"title":"uploud-go-sdk-integration-test-TestGetNetworks","remote_access_enabled":"no","zone":"fi-hel2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1666619631,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testgetnetworks.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "utility",
                     "address" : "10.6.6.178",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:d845:c4ff:fe5c:6cd7",
                     "family" : "IPv6"
                  },
                  {
                     "access" : "public",
                     "address" : "94.237.15.243",
                     "family" : "IPv4"
                  }
               ]
            },
            "labels" : {
               "label" : [
                  {
                     "key" : "managedBy",
                     "value" : "upcloud-sdk-integration-test"
                  },
                  {
                     "key" : "testName",
                     "value" : "TestGetNetworks"
                  }
               ]
            },
            "license" : 0,
            "memory_amount" : "1024",
            "metadata" : "no",
            "networking" : {
               "interfaces" : {
                  "interface" : [
                     {
                        "bootable" : "no",
                        "index" : 1,
                        "ip_addresses" : {
                           "ip_address" : [
                              {
                                 "address" : "10.6.6.178",
                                 "family" : "IPv4",
                                 "floating" : "no"
                              }
                           ]
                        },
                        "mac" : "da:45:c4:5c:d2:34",
                        "network" : "0343ede2-9890-4470-b680-0dcda6d9f7e3",
                        "source_ip_filtering" : "yes",
                        "type" : "utility"
                     },
                     {
                        "bootable" : "no",
                        "index" : 2,
                        "ip_addresses" : {
                           "ip_address" : [
                              {
                                 "address" : "94.237.15.243",
                                 "family" : "IPv4",
                                 "floating" : "no"
                              }
      [...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/0044f682-6b2f-4503-855c-1a257483a13a
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1666619631,
            "firewall" : "off",
            "host" : 5872304771,
            "hostname" : "uploud-go-sdk-integration-test-testgetnetworks.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "utility",
                     "address" : "10.6.6.178",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:d845:c4ff:fe5c:6cd7",
                     "family" [...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network
    method: GET
  response:
    body: |
      {
         "networks" : {
            "network" : [
               {
                  "ip_networks" : {
                     "ip_network" : [
                        {
                           "address" : "80.69.172.0/22",
                           "dhcp" : "yes",
                           "dhcp_default_route" : "yes",
                           "dhcp_dns" : [
                              "94.237.127.9",
                              "94.237.40.9"
                           ],
                           "family" : "IPv4",
                           "gateway" : "80.69.172.1"
                        }
                     ]
                  },
                  "name" : "Public 80.69.172.0/22",
                  "type" : "public",
                  "uuid" : "03000000-0000-4000-8001-000000000000",
                  "zone" : "fi-hel1"
               },
               {
                  "ip_networks" : {
                     "ip_network" : [
                        {
                           "address" : "185.20.136.0/22",
                           "dhcp" : "yes",
                           "dhcp_default_route" : "yes",
                           "dhcp_dns" : [
                              "94.237.127.9",
                              "94.237.40.[...]
