---
version: 1
interactions:
  - request:
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://api.upcloud.com/1.3/object-storage
      method: GET
    response:
      body: |
        {
          "object_storages": {
            "object_storage": [
              {
                "created": "2020-11-05T08:07:43Z",
                "description": "cp-obs-name",
                "name": "cp-obs-name",
                "size": 250,
                "state": "started",
                "url": "https://cp-obs-name.fi-hel2.upcloudobjects.com/",
                "uuid": "06088cba-eca2-4dff-9109-44276aed0c40",
                "zone": "fi-hel2"
              }
            ]
          }
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 200 OK
      code: 200
      duration: ""
