---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage
    method: GET
  response:
    body: |
      {
         "object_storages" : {
            "object_storage" : [
               {
                  "created" : "2020-11-12T07:13:59Z",
                  "description" : "Test getobjectstorages",
                  "name" : "uploud-go-test-getobjectstorages",
                  "size" : 500,
                  "state" : "started",
                  "url" : "https://uploud-go-test-getobjectstorages.fi-hel2.upcloudobjects.com/",
                  "uuid" : "0635220f-c664-49ea-bc8d-a16a3ff7f186",
                  "zone" : "fi-hel2"
               }
            ]
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
