---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/price
    method: GET
  response:
    body: |
      {
         "prices" : {
            "zone" : [
               {
                  "firewall" : {
                     "amount" : 1,
                     "price" : 0.56
                  },
                  "io_request_backup" : {
                     "amount" : 1000000,
                     "price" : 0
                  },
                  "io_request_hdd" : {
                     "amount" : 1000000,
                     "price" : 0
                  },
                  "io_request_maxiops" : {
                     "amount" : 1000000,
                     "price" : 0
                  },
                  "ipv4_address" : {
                     "amount" : 1,
                     "price" : 0.336
                  },
                  "ipv6_address" : {
                     "amount" : 1,
                     "price" : 0
                  },
                  "name" : "de-fra1",
                  "network_private_vlan" : {
                     "amount" : 1,
                     "price" : 0.694
                  },
                  "public_ipv4_bandwidth_in" : {
                     "amount" : 1,
                     "price" : 0
                  },
                  "public_ipv4_bandwidth_out" : {
                     "amount" : 1,
                     "price" : 1
                  },
                  "public_ipv6_bandwidth_in" : {
                     "amount" : 1,
                     "price" : 0
                  },
                  "public_ipv6_bandwidth_out" : {
                     "amount" : 1,
                     "price" : 1
                  },
                  "server_core" : {
                     "amount" : 1,
                     "price" : 1.12
                  },
                  "server_memory" : {
                     "amount" : 256,
                     "price" : 0.14
                  },
                  "server_plan_12xCPU-48GB" : {
                     "amount" : 1,
                     "price" : 35.7142
                  },
                  "server_plan_16xCPU-64GB" : {
                     "amount" : 1,
                     "price" : 47.619
                  },
                  "server_plan_1xCPU-1GB" : {
                     "amount" : 1,
                     "price" : 0.744
                  },
                  "server_plan_1xCPU-2GB" : {
                     "amount" : 1,
                     "price" : 1.488
                  },
                  "server_plan_20xCPU-128GB" : {
                     "amount" : 1,
                     "price" : 95.238
                  },
                  "server_plan_20xCPU-96GB" : {
                     "amount" : 1,
                     "price" : 71.4285
                  },
                  "server_plan_2xCPU-4GB" : {
                     "amount" : 1,
                     "price" : 2.9761
                  },
                  "server_plan_4xCPU-8GB" : {
                     "amount" : 1,
                     "price" : 5.9523
                  },
                  "server_plan_6xCPU-16GB" : {
                     "amount" : 1,
                     "price" : 11.9047
                  },
                  "server_plan_8xCPU-32GB" : {
                     "amount" : 1,
                     "price" : 23.8095
                  },
                  "simple_backup_dailies_12xCPU-48GB" : {
                     "amount" : 1,
                     "price" : 7.1428
                  },
                  "simple_backup_dailies_16xCPU-64GB" : {
                     "amount" : 1,
                     "price" : 9.5238
                  },
                  "simple_backup_dailies_1xCPU-1GB" : {
                     "amount" : 1,
                     "price" : 0.1488
                  },
                  "simple_backup_dailies_1xCPU-2GB" : {
                     "amount" : 1,
                     "price" : 0.2976
                  },
                  "simple_backup_dailies_20xCPU-128GB" : {
                     "amount" : 1,
                     "price" : 19.0476
                  },
                  "simple_backup_dailies_20xCPU-96GB" : {
                     "amount" : 1,
                     "price" : 14.2857
                  },
                  "simple_backup_dailies_2xCPU-4GB" : {
                     "amount" : 1,
                     "price" : 0.5952
                  },
                  "simple_backup_dailies_4xCPU-8GB" : {
                     "amount" : 1,
                     "price" : 1.1905
                  },
                  "simple_backup_dailies_6xCPU-16GB" : {
                     "amount" : 1,
                     "price" : 2.3809
                  },
                  "simple_backup_dailies_8xCPU-32GB" : {
                     "amount" : 1,
                     "price" : 4.7619
                  },
                  "simple_backup_extra_dailies" : {
                     "amount" : 1,
                     "price" : 0.0069
                  },
                  "simple_backup_extra_monthlies" : {
                     "amount" : 1,
                     "price" : 0.0208
                  },
                  "simple_backup_extra_weeklies" : {
                     "amount" : 1,
                     "price" : 0.0138
                  },
                  "simple_backup_monthlies_12xCPU-48GB" : {
                     "amount" : 1,
                     "price" : 21.4285
                  },
                  "simple_backup_monthlies_16xCPU-64GB" : {
                     "amount" : 1,
                     "price" : 28.5714
                  },
                  "simple_backup_monthlies_1xCPU-1GB" : {
                     "amount" : 1,
                     "price" : 0.4464
                  },
                  "simple_backup_monthlies_1xCPU-2GB" : {
                     "amount" : 1,
                     "price" : 0.8928
                  },
                  "simple_backup_monthlies_20xCPU-128GB" : {
                     "amount" : 1,
                     "price" : 57.1428
                  },
                  "simple_backup_monthlies_20xCPU-96GB" : {
                     "amount" : 1,
                     "price" : 42.8571
                  },
                  "simple_backup_monthlies_2xCPU-4GB" : {
                     "amount" : 1,
                     "price" : 1.7857
                  },
                  "simple_backup_monthlies_4xCPU-8GB" : {
                     "amount" : 1,
                     "price" : 3.5714
                  },
                  "simple_backup_monthlies_6xCPU-16GB" : {
                     "amount" : 1,
                     "price" : 7.1428
                  },
                  "simple_backup_monthlies_8xCPU-32GB" : {
                     "amount" : 1,
                     "price" : 14.2857
                  },
                  "simple_backup_weeklies_12xCPU-48GB" : {
                     "amount" : 1,
                     "price" : 14.2857
                  },
                  "simple_backup_weeklies_16xCPU-64GB" : {
                     "amount" : 1,
                     "price" : 19.0476
                  },
                  "simple_backup_weeklies_1xCPU-1GB" : {
                     "amount" : 1,
                     "price" : 0.2976
                  },
                  "simple_backup_weeklies_1xCPU-2GB" : {
                     "amount" : 1,
                     "price" : 0.5952
                  },
                  "simple_backup_weeklies_20xCPU-128GB" : {
                     "amount" : 1,
                     "price" : 38.0952
                  },
                  "simple_backup_weeklies_20xCPU-96GB" : {
                     "amount" : 1,
                     "price" : 28.5714
                  },
                  "simple_backup_weeklies_2xCPU-4GB" : {
                     "amount" : 1,
                     "price" : 1.1904
                  },
                  "simple_backup_weeklies_4xCPU-8GB" : {
                     "amount" : 1,
                     "price" : 2.3809
                  },
                  "simple_backup_weeklies_6xCPU-16GB" : {
                     "amount" : 1,
                     "price" : 4.7619
                  },
                  "simple_backup_weeklies_8xCPU-32GB" : {
                     "amount" : 1,
                     "price" : 9.5238
                  },
                  "storage_backup" : {
                     "amount" : 1,
                     "price" : 0.0078
                  },
                  "storage_hdd" : {
                     "amount" : 1,
                     "price" : 0.0078
                  },
                  "storage_maxiops" : {
                     "amount" : 1,
                     "price" : 0.031
                  },
                  "storage_template" : {
                     "amount" : 1,
                     "price" : 0.031
                  }
               },
               {
                  "firewall" : {
                     "amount" : 1,
                     "price" : 0.56
                  },
                  "io_request_backup" : {
                     "amount" : 1000000,
                     "price" : 0
                  },
                  "io_request_hdd" : {
                     "amount" : 1000000,
                     "price"[...]
