---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/plan
    method: GET
  response:
    body: |
      {
         "plans" : {
            "plan" : [
               {
                  "core_number" : 1,
                  "memory_amount" : 1024,
                  "name" : "1xCPU-1GB",
                  "public_traffic_out" : 1024,
                  "storage_size" : 25,
                  "storage_tier" : "maxiops"
               },
               {
                  "core_number" : 1,
                  "memory_amount" : 2048,
                  "name" : "1xCPU-2GB",
                  "public_traffic_out" : 2048,
                  "storage_size" : 50,
                  "storage_tier" : "maxiops"
               },
               {
                  "core_number" : 2,
                  "memory_amount" : 4096,
                  "name" : "2xCPU-4GB",
                  "public_traffic_out" : 4096,
   [...]
