---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/router
    method: GET
  response:
    body: |
      {
         "routers" : {
            "router" : [
               {
                  "attached_networks" : {
                     "network" : [
                        {
                           "uuid" : "03206c92-50f2-40b0-ad05-5f02cab2e932"
                        },
                        {
                           "uuid" : "03d781c3-65e3-4a7a-b6cd-a7ce7e23b8c5"
                        },
                        {
                           "uuid" : "03854a28-fafe-428f-964f-760cd1b83f1f"
                        },
                        {
                           "uuid" : "03bae36d-a30a-4640-9a35-f2ccb0e2cddc"
                        }
                     ]
                  },
                  "name" : "Utility network router for zone fi-hel1",
                  "type" : "service",
                  "uuid" : "040e9e7c-d773-4b0f-bab0-6b61a26ce96e"
               },
               {
                  "attached_networks" : {
                     "network" : [
                        {
                           "uuid" : "03baf748-c757-4317-90b4-da92f7f94743"
                        },
                        {
                           "uuid" : "03a002de-994e-45aa-9e1c-9918f0908c57"
                        }
                     ]
                  },
                  "name" : "Utility network router for zone fi-hel2",
                  "type" : "service",
                  "uuid" : "0495fef9-b234-4819-ac51-431b934037c0"
               }
            ]
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/router/040e9e7c-d773-4b0f-bab0-6b61a26ce96e
    method: GET
  response:
    body: |
      {
         "router" : {
            "attached_networks" : {
               "network" : [
                  {
                     "uuid" : "03206c92-50f2-40b0-ad05-5f02cab2e932"
                  },
                  {
                     "uuid" : "03d781c3-65e3-4a7a-b6cd-a7ce7e23b8c5"
                  },
                  {
                     "uuid" : "03854a28-fafe-428f-964f-760cd1b83f1f"
                  },
                  {
                     "uuid" : "03bae36d-a30a-4640-9a35-f2ccb0e2cddc"
                  }
               ]
            },
            "name" : "Utility network router for zone fi-hel1",
            "type" : "service",
            "uuid" : "040e9e7c-d773-4b0f-bab0-6b61a26ce96e"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
