---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/router
    method: GET
  response:
    body: |
      {
         "routers" : {
            "router" : [
               {
                  "attached_networks" : {
                     "network" : [
                        {
                           "uuid" : "0343ede2-9890-4470-b680-0dcda6d9f7e3"
                        },
                        {
                           "uuid" : "03c40911-2f43-4138-bb91-7561a8351353"
                        }
                     ]
                  },
                  "name" : "Utility network router for zone fi-hel2",
                  "static_routes" : [],
                  "type" : "service",
                  "uuid" : "041e39c9-d2b5-4b26-a9b9-d732fc900189"
               },
               {
                  "attached_networks" : {
                     "network" : [
                        {
                           "uuid" : "03e3babd-fc75-49a2-aa41-8eb697c3ed6d"
                        },
                        {
                           "uuid" : "03ae51b3-5f99-4de3-92ee-7ced572e13b9"
                        }
                     ]
                  },
           [...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/router/041e39c9-d2b5-4b26-a9b9-d732fc900189
    method: GET
  response:
    body: |
      {
         "router" : {
            "attached_networks" : {
               "network" : [
                  {
                     "uuid" : "03c40911-2f43-4138-bb91-7561a8351353"
                  },
                  {
                     "uuid" : "0343ede2-9890-4470-b680-0dcda6d9f7e3"
                  }
               ]
            },
            "name" : "Utility network router for zone fi-hel2",
            "static_routes" : [],
            "type" : "service",
            "uuid" : "041e39c9-d2b5-4b26-a9b9-d732fc900189"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
