---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server_size
    method: GET
  response:
    body: |
      {
         "server_sizes" : {
            "server_size" : [
               {
                  "core_number" : "1",
                  "memory_amount" : "1024"
               },
               {
                  "core_number" : "1",
                  "memory_amount" : "2048"
               },
               {
                  "core_number" : "1",
                  "memory_amount" : "3072"
               },
               {
                  "core_number" : "1",
                  "memory_amount" : "4096"
               },
               {
                  "core_number" : "1",
                  "memory_amount" : "5120"
               },
      [...]
