---
version: 1
interactions:
- request:
    body: '{"server":{"hostname":"uploud-go-sdk-integration-test-getserverswithfilters.example.com","labels":{"label":[{"key":"managedBy","value":"upcloud-sdk-integration-test"},{"key":"testName","value":"getserverswithfilters"}]},"metadata":"no","networking":{"interfaces":{"interface":[{"ip_addresses":{"ip_address":[{"family":"IPv4"}]},"type":"utility"},{"ip_addresses":{"ip_address":[{"family":"IPv4"}]},"type":"public"},{"ip_addresses":{"ip_address":[{"family":"IPv6"}]},"type":"public"}]}},"password_delivery":"none","storage_devices":{"storage_device":[{"action":"clone","storage":"01000000-0000-4000-8000-000020060100","title":"disk1","size":10,"tier":"maxiops"}]},"title":"uploud-go-sdk-integration-test-getserverswithfilters","remote_access_enabled":"no","zone":"fi-hel2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1666609538,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-getserverswithfilters.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "utility",
                     "address" : "10.6.6.178",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:d845:c4ff:fe5c:231b",
                     "family" : "IPv6"
                  },
                  {
                     "access" : "public",
                     "address" : "94.237.14.47",
                     "family" : "IPv4"
                  }
               ]
            },
            "labels" : {
               "label" : [
                  {
                     "key" : "managedBy",
                     "value" : "upcloud-sdk-integration-test"
                  },
                  {
                     "key" : "testName",
                     "value" : "getserverswithfilters"
                  }
               ]
            },
            "license" : 0,
            "memory_amount" : "1024",
            "metadata" : "no",
            "networking" : {
               "interfaces" : {
                  "interface" : [
                     {
                        "bootable" : "no",
                        "index" : 1,
                        "ip_addresses" : {
                           "ip_address" : [
                              {
                                 "address" : "10.6.6.178",
                                 "family" : "IPv4",
                                 "floating" : "no"
                              }
                           ]
                        },
                        "mac" : "da:45:c4:5c:f2:a5",
                        "network" : "0343ede2-9890-4470-b680-0dcda6d9f7e3",
                        "source_ip_filtering" : "yes",
                        "type" : "utility"
                     },
                     {
                        "bootable" : "no",
                        "index" : 2,
                        "ip_addresses" : {
                           "ip_address" : [
                              {
                                 "address" : "94.237.14.47",
                                 "family" : "IPv4",
                                 "floating" : "no"
                              }
       [...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/0001d405-12df-4a7f-9706-fb0f6c864366
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1666609538,
            "firewall" : "off",
            "host" : 4395909763,
            "hostname" : "uploud-go-sdk-integration-test-getserverswithfilters.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "utility",
                     "address" : "10.6.6.178",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:d845:c4ff:fe5c:231b",
                     "fa[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/?labels=managedBy&labels=testName=getserverswithfilters
    method: GET
  response:
    body: |
      {
         "servers" : {
            "server" : [
               {
                  "core_number" : "1",
                  "created" : 1666609538,
                  "host" : 4395909763,
                  "hostname" : "uploud-go-sdk-integration-test-getserverswithfilters.example.com",
                  "labels" : {
                     "label" : [
                        {
                           "key" : "managedBy",
                           "value" : "upcloud-sdk-integration-test"
                        },
                        {
                           "key" : "testName",
                           "value" : "getserverswithfilters"
                        }
                     ]
                  },
                  "license" : 0,
                  "memory_amount" : "1024",
                  "plan" : "custom",
                  "plan_ipv4_bytes" : "0",
                  "plan_ipv6_bytes" : "0",
                  "simple_backup" : "no",
                  "state" : "started",
                  "tags" : {
                     "tag" : []
                  },
                  "title" : "uploud-go-sdk-integration-test-getserverswithfilters",
                  "uuid" : "0001d405-12df-4a7f-9706-fb0f6c864366",
                  "zone" : "fi-hel2"
               },
               {
                  "core_number" : "1",
                  "created" : 1666609507,
                  "host" : 7348699779,
                  "hostname" : "uploud-go-sdk-integration-test-getserverswithfilters.example.com",
                  "labels" : {
                     "label" : [
                        {
                           "key" : "managedBy",
                           "value" : "upcloud-sdk-integration-test"
                        },
                        {
                           "key" : "testName",
                           "value" : "getserverswithfilters"
                        }
                     ]
                  },
                  "license" : 0,
                  "memory_amount" : "1024",
                  "plan" : "custom",
                  "plan_ipv4_bytes" : "0",
                  "plan_ipv6_bytes" : "0",
                  "simple_backup" : "no",
                  "state" : "started",
                  "tags" : {
                     "tag" : []
                  },
                  "title" : "uploud-go-sdk-integration-test-getserverswithfilters",
                  "uuid" : "00e776b7-18a9-4cb7-8efc-7ea3758a0429",
                  "zone" : "fi-hel2"
               }
            ]
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
