---
version: 1
interactions:
- request:
    body: '{"server":{"hostname":"uploud-go-sdk-integration-test-getserverswithfilters.example.com","labels":{"label":[{"key":"managedBy","value":"upcloud-sdk-integration-test"},{"key":"testName","value":"getserverswithfilters"}]},"metadata":"no","networking":{"interfaces":{"interface":[{"ip_addresses":{"ip_address":[{"family":"IPv4"}]},"type":"utility"},{"ip_addresses":{"ip_address":[{"family":"IPv4"}]},"type":"public"},{"ip_addresses":{"ip_address":[{"family":"IPv6"}]},"type":"public"}]}},"password_delivery":"none","storage_devices":{"storage_device":[{"action":"clone","storage":"01000000-0000-4000-8000-000020060100","title":"disk1","size":10,"tier":"maxiops"}]},"title":"uploud-go-sdk-integration-test-getserverswithfilters","remote_access_enabled":"no","zone":"fi-hel2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1674047846,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-getserverswithfilters.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "utility",
                     "address" : "10.6.2.151",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:7cbc:e1ff:fe58:504d",
                     "family" : "IPv6"
                  },
                  {
                     "access" : "public",
                     "address" : "94.237.105.105",
                     "family" : "IPv4"
                  }
               ]
            },
            "labels" : {
               "label" : [
                  {
                     "key" : "managedBy",
                     "value" : "upcloud-sdk-integration-test"
                  },
                  {
                     "key" : "testName",
                     "value" : "getserverswithfilters"
                  }
               ]
            },
            "license" : 0,
            "memory_amount" : "1024",
            "metadata" : "no",
            "networking" : {
               "interfaces" : {
                  "interface" : [
                     {
                        "bootable" : "no",
                        "index" : 1,
                        "ip_addresses" : {
                           "ip_address" : [
                              {
                                 "address" : "10.6.2.151",
                                 "dhcp_provided" : "yes",
                                 "family" : "IPv4",
                                 "floating" : "no"
                              }
                           ]
                        },
                        "mac" : "7e:bc:e1:58:f3:56",
                        "network" : "038c8cb6-2c23-4d81-a286-032a794b1baf",
                        "source_ip_filtering" : "yes",
                        "type" : "utility"
                     },
                     {
                        "bootable" : "no",
                        "index" : 2,
                        "ip_addresses" : {
                           "ip_address" : [
                              {
                                 "address" : "94.237.105.105",
                                 "dhcp_provided" : "yes",
                                 "family" : "IPv4",
                              [...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/00a47181-df7b-42c2-a6cc-107c9603e1e8
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1674047846,
            "firewall" : "off",
            "host" : 6862160515,
            "hostname" : "uploud-go-sdk-integration-test-getserverswithfilters.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "utility",
                     "address" : "10.6.2.151",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:7cbc:e1ff:fe58:504d",
                     "fa[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/?label=managedBy&label=testName%3Dgetserverswithfilters
    method: GET
  response:
    body: |
      {
         "servers" : {
            "server" : [
               {
                  "core_number" : "1",
                  "created" : 1674045436,
                  "host" : 6862160515,
                  "hostname" : "uploud-go-sdk-integration-test-getserverswithfilters.example.com",
                  "labels" : {
                     "label" : [
                        {
                           "key" : "managedBy",
                           "value" : "upcloud-sdk-integration-test"
                        },
                        {
                           "key" : "testName",
                           "value" : "getserverswithfilters"
                        }
                     ]
                  },
                  "license" : 0,
                  "memory_amount" : "1024",
                  "plan" : "custom",
                  "plan_ipv4_bytes" : "0",
                  "plan_ipv6_bytes" : "0",
                  "server_group" : null,
                  "simple_backup" : "no",
                  "state" : "started",
                  "tags" : {
                     "tag" : []
                  },
                  "title" : "uploud-go-sdk-integration-test-getserverswithfilters",
                  "uuid" : "009a78e4-5595-4551-8ba2-88eb0daaad29",
                  "zone" : "fi-hel2"
               },
               {
                  "core_number" : "1",
                  "created" : 1674047846,
                  "host" : 6862160515,
                  "hostname" : "uploud-go-sdk-integration-test-getserverswithfilters.example.com",
                  "labels" : {
                     "label" : [
                        {
                           "key" : "managedBy",
                           "value" : "upcloud-sdk-integration-test"
                        },
                        {
                           "key" : "testName",
                           "value" : "getserverswithfilters"
                        }
                     ]
                  },
                  "license" : 0,
                  "memory_amount" : "1024",
                  "plan" : "custom",
                  "plan_ipv4_bytes" : "0",
                  "plan_ipv6_bytes" : "0",
                  "server_group" : null,
                  "simple_backup" : "no",
                  "state" : "started",
                  "tags" : {
                     "tag" : []
                  },
                  "title" : "uploud-go-sdk-integration-test-getserverswithfilters",
                  "uuid" : "00a47181-df7b-42c2-a6cc-107c9603e1e8",
                  "zone" : "fi-hel2"
               }
            ]
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
