---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/tag/testgettags_tag1
    method: DELETE
  response:
    body: |
      {
         "error" : {
            "error_code" : "TAG_NOT_FOUND",
            "error_message" : "The tag testgettags_tag1 does not exist."
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: '{"tag":{"name":"testgettags_tag1","description":"testgettags_tag1 description","servers":{"server":[]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/tag
    method: POST
  response:
    body: |
      {
         "tag" : {
            "description" : "testgettags_tag1 description",
            "name" : "testgettags_tag1",
            "servers" : {
               "server" : []
            }
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/tag
    method: GET
  response:
    body: |
      {
         "tags" : {
            "tag" : [
               {
                  "description" : "testgettags_tag1 description",
                  "name" : "testgettags_tag1",
                  "servers" : {
                     "server" : []
                  }
               },
               {
                  "description" : "testgettags_tag2 description",
                  "name" : "testgettags_tag2",
                  "servers" : {
                     "server" : []
                  }
               },
               {
                  "description" : "testgettags_tag3 description",
                  "name" : "testgettags_tag3",
                  "servers" : {
                     "server" : []
                  }
               },
               {
                  "description" : "",
                  "name" : "testTag",
                  "servers" : {
                     "server" : []
                  }
               }
            ]
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/tag/testTag
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
