---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/zone
    method: GET
  response:
    body: |
      {
         "zones" : {
            "zone" : [
               {
                  "description" : "Frankfurt #1",
                  "id" : "de-fra1",
                  "public" : "yes"
               },
               {
                  "description" : "Helsinki #1",
                  "id" : "fi-hel1",
                  "public" : "yes"
               },
               {
                  "description" : "Helsinki #2",
                  "id" : "fi-hel2",
                  "public" : "yes"
               },
               {
                  "description" : "Amsterdam #1",
                  "id" : "nl-ams1",
                  "public" : "yes"
               },
         [...]
