---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/zone
    method: GET
  response:
    body: |
      {
         "zones" : {
            "zone" : [
               {
                  "description" : "Frankfurt #1",
                  "id" : "de-fra1"
               },
               {
                  "description" : "Helsinki #1",
                  "id" : "fi-hel1"
               },
               {
                  "description" : "Helsinki #2",
                  "id" : "fi-hel2"
               },
               {
                  "description" : "Amsterdam #1",
                  "id" : "nl-ams1"
               },
               {
                  "description" : "Singapore #1",
                  "id" : "sg-sin1"
               },
               {
                  "description" : "London #1",
                  "id" : "uk-lon1"
               },
               {
                  "description" : "Test Cloud #1",
                  "id" : "uk-tst1"
               },
               {
                  "description" : "Chicago #1",
                  "id" : "us-chi1"
               },
               {
                  "description" : "New York #1",
                  "id" : "us-nyc1"
               },
               {
                  "description" : "San Jose #1",
                  "id" : "us-sjo1"
               }
            ]
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
