---
version: 1
interactions:
- request:
    body: '{"network":{"name":"go-test-lb-1686162644","zone":"fi-hel2","ip_networks":{"ip_network":[{"address":"172.16.0.0/24","dhcp":"yes","dhcp_default_route":"no","family":"IPv4"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "172.16.0.0/24",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "family" : "IPv4",
                     "gateway" : "172.16.0.1"
                  }
               ]
            },
            "labels" : [],
            "name" : "go-test-lb-1686162644",
            "type" : "private",
            "uuid" : "036b8041-6759-4820-80a1-0a2471da241f",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-test-lb-fi-hel2-1686162645","plan":"development","zone":"fi-hel2","network_uuid":"036b8041-6759-4820-80a1-0a2471da241f","configured_status":"started","frontends":[],"backends":[],"resolvers":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer
    method: POST
  response:
    body: '{"backends":[],"configured_status":"started","created_at":"2023-06-07T18:30:45.625882Z","dns_name":"lb-0a4b7f4b30d84a629d6caf701f3ce3e4-1.upcloudlb.com","frontends":[],"labels":[],"maintenance_dow":"saturday","maintenance_time":"05:09:07Z","name":"go-test-lb-fi-hel2-1686162645","network_uuid":"036b8041-6759-4820-80a1-0a2471da241f","networks":[{"created_at":"2023-06-07T18:30:45.625882Z","dns_name":"lb-0a4b7f4b30d84a629d6caf701f3ce3e4-1.upcloudlb.com","family":"IPv4","name":"public-IPv4","type":"public","updated_at":"2023-06-07T18:30:45.625882Z"},{"created_at":"2023-06-07T18:30:45.625882Z","dns_name":"lb-0a4b7f4b30d84a629d6caf701f3ce3e4-2.upcloudlb.com","family":"IPv4","name":"private-IPv4","type":"private","updated_at":"2023-06-07T18:30:45.625882Z","uuid":"036b8041-6759-4820-80a1-0a2471da241f"}],"nodes":[],"operational_state":"pending","plan":"development","resolvers":[],"updated_at":"2023-06-07T18:30:45.625882Z","uuid":"0a4b7f4b-30d8-4a62-9d6c-af701f3ce3e4","zone":"fi-hel2"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer?limit=2&offset=0
    method: GET
  response:
    body: '[{"backends":[],"configured_status":"started","created_at":"2023-06-07T18:30:45.625882Z","dns_name":"lb-0a4b7f4b30d84a629d6caf701f3ce3e4-1.upcloudlb.com","frontends":[],"labels":[],"maintenance_dow":"saturday","maintenance_time":"05:09:07Z","name":"go-test-lb-fi-hel2-1686162645","network_uuid":"03[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a4b7f4b-30d8-4a62-9d6c-af701f3ce3e4
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a4b7f4b-30d8-4a62-9d6c-af701f3ce3e4
    method: GET
  response:
    body: |
      {"type":"https://developers.upcloud.com/1.3/errors#ERROR_RESOURCE_NOT_FOUND","title":"Service not found.","correlation_id":"01H2BJ5SW15E5QRZ7PB3B0QJ2Z","status":404}
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/problem+json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/036b8041-6759-4820-80a1-0a2471da241f
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
[...]
