---
version: 1
interactions:
- request:
    body: '{"network":{"name":"go-api-lb-1768916641","zone":"fi-hel1","ip_networks":{"ip_network":[{"address":"10.0.4.0/24","dhcp":"yes","dhcp_default_route":"no","family":"IPv4","dhcp_routes_configuration":{"effective_routes_auto_population":{"enabled":"no"}}}]}}}'
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: '{"network":{"effective_routes":[],"ip_networks":{"ip_network":[{"address":"10.0.4.0/24","dhcp":"yes","dhcp_default_route":"no","dhcp_effective_routes":[],"dhcp_routes_configuration":{"effective_routes_auto_population":{"enabled":"no"}},"family":"IPv4","gateway":"10.0.4.1"}]},"labels":[],"name":"go-api-lb-1768916641","type":"private","uuid":"0384c005-f9df-471c-b9fb-f0eb8b8e46c3","zone":"fi-hel1"}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Upcloud-Cid:
      - 01KFDTBSM2DP90D26RKD4ZH4TD
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-api-lb-fi-hel1-1768916642","plan":"development","zone":"fi-hel1","network_uuid":"0384c005-f9df-471c-b9fb-f0eb8b8e46c3","configured_status":"started","frontends":[{"name":"fe-1","mode":"http","port":80,"default_backend":"be-1"}],"backends":[{"name":"be-1","resolver":"ns-1","members":[]}],"resolvers":[{"name":"ns-1","nameservers":["10.1.1.100"],"retries":10,"timeout":10,"timeout_retry":10,"cache_valid":10,"cache_invalid":10}]}'
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer
    method: POST
  response:
    body: '{"backends":[{"created_at":"2026-01-20T13:44:02.298643Z","members":[],"name":"be-1","properties":{"health_check_expected_status":200,"health_check_fall":3,"health_check_interval":10,"health_check_on_down":"","health_check_rise":3,"health_check_tls_verify":false,"health_check_type":"tcp","health_check_url":"/","http2_enabled":false,"outbound_proxy_protocol":"","sticky_session_cookie_attributes":null,"sticky_session_cookie_name":"","timeout_server":10,"timeout_tunnel":3600,"tls_enabled":false,"tls_use_system_ca":false,"tls_verify":false},"resolver":"ns-1","tls_configs":[],"updated_at":"2026-01-20T13:44:02.298643Z"}],"configured_status":"started","created_at":"2026-01-20T13:44:02.298643Z","dns_name":"lb-0a5e1a475fe549be9f9c38f1c5b562c4-1.upcloudlb.com","frontends":[{"created_at":"2026-01-20T13:44:02.298643Z","default_backend":"be-1","mode":"http","name":"fe-1","networks":[{"name":"public-IPv4"}],"port":80,"properties":{"http2_enabled":false,"timeout_client":10},"rules":[],"tls_configs":[],"updated_at":"2026-01-20T13:44:02.298643Z"}],"ip_addresses":[],"labels":[],"maintenance_dow":"sunday","maintenance_time":"01:42:17Z","name":"go-api-lb-fi-hel1-1768916642","network_uuid":"0384c005-f9df-471c-b9fb-f0eb8b8e46c3","networks":[{"created_at":"2026-01-20T13:44:02.298643Z","dns_name":"lb-0a5e1a475fe549be9f9c38f1c5b562c4-1.upcloudlb.com","family":"IPv4","name":"public-IPv4","type":"public","updated_at":"2026-01-20T13:44:02.298643Z"},{"created_at":"2026-01-20T13:44:02.298643Z","dns_name":"lb-0a5e1a475fe549be9f9c38f1c5b562c4-2.upcloudlb.com","family":"IPv4","name":"private-IPv4","type":"private","updated_at":"2026-01-20T13:44:02.298643Z","uuid":"0384c005-f9df-471c-b9fb-f0eb8b8e46c3"}],"nodes":[],"operational_state":"pending","plan":"development","resolvers":[{"cache_invalid":10,"cache_valid":10,"created_at":"2026-01-20T13:44:02.298643Z","name":"ns-1","nameservers":["10.1.1.100"],"retries":10,"timeout":10,"timeout_retry":10,"updated_at":"2026-01-20T13:44:02.298643Z"}],"updated_at":"2026-01-20T13:44:02.298643Z","uuid":"0a5e1a47-5fe5-49be-9f9c-38f1c5b562c4","zone":"fi-hel1"}'
    headers:
      Content-Type:
      - application/json
      Upcloud-Cid:
      - 01KFDTBTANPE94F8E3SGB0SYAA
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"type":"manual","name":"go-api-fe-manual-certificate","certificate":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUZhekNDQTFPZ0F3SUJBZ0lVRzR1KzRDZmlHQ3pQSDk4dDA4QXh5VkE0QzVnd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1JURUxNQWtHQTFVRUJoTUNRVlV4RXpBUkJnTlZCQWdNQ2xOdmJXVXRVM1JoZEdVeElUQWZCZ05WQkFvTQpHRWx1ZEdWeWJtVjBJRmRwWkdkcGRITWdVSFI1SUV4MFpEQWVGdzB5TWpBek1UY3hNekUxTURoYUZ3MHlNekF6Ck1UY3hNekUxTURoYU1FVXhDekFKQmdOVkJBWVRBa0ZWTVJNd0VRWURWUVFJREFwVGIyMWxMVk4wWVhSbE1TRXcKSHdZRFZRUUtEQmhKYm5SbGNtNWxkQ0JYYVdSbmFYUnpJRkIwZVNCTWRHUXdnZ0lpTUEwR0NTcUdTSWIzRFFFQgpBUVVBQTRJQ0R3QXdnZ0lLQW9JQ0F[...]
- request:
    body: '{"type":"dynamic","name":"go-api-fe-dynamic-certificate","key_type":"rsa","hostnames":["example.com","app.example.com"]}'
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/certificate-bundles
    method: POST
  response:
    body: '{"created_at":"2026-01-20T13:44:02.747798Z","hostnames":["example.com","app.example.com"],"key_type":"rsa","labels":[],"name":"go-api-fe-dynamic-certificate","not_after":"0001-01-01T00:00:00Z","not_before":"0001-01-01T00:00:00Z","operational_state":"idle","services":[],"type":"dynamic","updated_at":"2026-01-20T13:44:02.747798Z","uuid":"0a4d7e3f-54c8-4ccd-8805-150161214718"}'
    headers:
      Content-Type:
      - application/json
      Upcloud-Cid:
      - 01KFDTBTWBXF0YQH4ZH9FQDZ4M
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"intermediates":null,"name":"go-api-fe-manual-certificate-edit"}'
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/certificate-bundles/0ac23039-6b0c-4b1d-9f4d-6f18b8eef802
    method: PATCH
  response:
    body: '{"certificate":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUZhekNDQTFPZ0F3SUJBZ0lVRzR1KzRDZmlHQ3pQSDk4dDA4QXh5VkE0QzVnd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1JURUxNQWtHQTFVRUJoTUNRVlV4RXpBUkJnTlZC[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/certificate-bundles?limit=100&offset=0
    method: GET
  response:
    body: '[{"certificate":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUZhekNDQTFPZ0F3SUJBZ0lVRzR1KzRDZmlHQ3pQSDk4dDA4QXh5VkE0QzVnd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1JURUxNQWtHQTFVRUJoTUNRVlV4RXpBUkJnTlZCQWdNQ2xOdmJXVXRVM1JoZEdVeElUQWZCZ05WQkFvTQpHR[...]
[...]
- request:
    body: '{"name":"go-api-fe-manual-certificate-edit","certificate_bundle_uuid":"0ac23039-6b0c-4b1d-9f4d-6f18b8eef802"}'
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a5e1a47-5fe5-49be-9f9c-38f1c5b562c4/frontends/fe-1/tls-configs
    method: POST
  response:
    body: '{"certificate_bundle_uuid":"0ac23039-6b0c-4b1d-9f4d-6f18b8eef802","created_at":"2026-01-20T13:44:03.424458Z","name":"go-api-fe-manual-certificate-edit","updated_at":"2026-01-20T13:44:03.424458Z"}'
    headers:
      Content-Type:
      - application/json
      Upcloud-Cid:
      - 01KFDTBVEPWH52NFZB5KPGPKAX
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-api-fe-dynamic-certificate-edit","certificate_bundle_uuid":"0a4d7e3f-54c8-4ccd-8805-150161214718"}'
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a5e1a47-5fe5-49be-9f9c-38f1c5b562c4/frontends/fe-1/tls-configs/go-api-fe-manual-certificate-edit
    method: PATCH
  response:
    body: '{"certificate_bundle_uuid":"0a4d7e3f-54c8-4ccd-8805-150161214718","created_at":"2026-01-20T13:44:03.424458Z","name":"go-api-fe-dynamic-certificate-edit","updated_at":"2026-01-20T13:44:03.674744Z"}'
    headers:
      Content-Type:
      - application/json
      Upcloud-Cid:
      - 01KFDTBVPKXE05H1ZE5A0V24NG
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"fe-1","mode":"tcp","port":80,"properties":{"inbound_proxy_protocol":true,"http2_enabled":true}}'
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a5e1a47-5fe5-49be-9f9c-38f1c5b562c4/frontends/fe-1
    method: PATCH
  response:
    body: '{"created_at":"2026-01-20T13:44:02.298643Z","default_backend":"be-1","mode":"tcp","name":"fe-1","networks":[{"name":"public-IPv4"}],"port":80,"properties":{"http2_enabled":true,"inbound_proxy_protocol":true,"timeout_client":10},"rules":[],"tls_configs":[{"certificate_bundle_uuid":"0a4d7e3f-54c8-4ccd-8805-150161214718","created_at":"2026-01-20T13:44:03.424458Z","name":"go-api-fe-dynamic-certificate-edit","updated_at":"2026-01-20T13:44:03.997293Z"}],"updated_at":"2026-01-20T13:44:03.997293Z"}'
    headers:
      Content-Type:
      - application/json
      Upcloud-Cid:
      - 01KFDTBVXN7QKJVVEXW30SSY08
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a5e1a47-5fe5-49be-9f9c-38f1c5b562c4/frontends/fe-1/tls-configs/go-api-fe-dynamic-certificate-edit
    method: GET
  response:
    body: '{"certificate_bundle_uuid":"0a4d7e3f-54c8-4ccd-8805-150161214718","created_at":"2026-01-20T13:44:03.424458Z","name":"go-api-fe-dynamic-certificate-edit","updated_at":"2026-01-20T13:44:03.997293Z"}'
    headers:
      Content-Type:
      - application/json
      Upcloud-Cid:
      - 01KFDTBWD2BC1QF7F167C8Z07K
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a5e1a47-5fe5-49be-9f9c-38f1c5b562c4/frontends/fe-1/tls-configs/go-api-fe-dynamic-certificate-edit
    method: DELETE
  response:
    body: '{"correlation_id":"01KFDTBWFKWSYR6T8BDHY1JD5J","invalid_params":[{"name":"frontends.0.properties.http2_enabled","reason":"At
      least one certificate bundle must be attached to enable HTTP/2."}],"status":400,"title":"Validation
      error.","type":"https://developers.upcloud.com/1.3/errors#ERROR_INVALID_REQUEST"}'
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/problem+json
      Upcloud-Cid:
      - 01KFDTBWFKWSYR6T8BDHY1JD5J
    status: 400 Bad Request
    code: 400
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a5e1a47-5fe5-49be-9f9c-38f1c5b562c4
    method: DELETE
  response:
    body: ""
    headers:
      Upcloud-Cid:
      - 01KFDTBWZ1TBSEKX6RWAJPK2E2
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/0384c005-f9df-471c-b9fb-f0eb8b8e46c3
    method: DELETE
  response:
    body: ""
    headers:
      Upcloud-Cid:
      - 01KFDTFQ6FVV9DZMFGAXF86HVW
    status: 204 No Content
    code: 204
    duration: ""
