---
version: 1
interactions:
- request:
    body: '{"network":{"name":"go-api-lb-1699962884","zone":"fi-hel2","ip_networks":{"ip_network":[{"address":"172.16.2.0/24","dhcp":"yes","dhcp_default_route":"no","family":"IPv4"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "172.16.2.0/24",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "family" : "IPv4",
                     "gateway" : "172.16.2.1"
                  }
               ]
            },
            "labels" : [],
            "name" : "go-api-lb-1699962884",
            "type" : "private",
            "uuid" : "039ee618-700b-4973-91e3-f74709cc36a7",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-api-lb-fi-hel2-1699962885","plan":"development","zone":"fi-hel2","network_uuid":"039ee618-700b-4973-91e3-f74709cc36a7","configured_status":"started","frontends":[],"backends":[],"resolvers":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer
    method: POST
  response:
    body: '{"backends":[],"configured_status":"started","created_at":"2023-11-14T11:54:45.592202Z","dns_name":"lb-0a2e7524521b40dc8014c675eea3230c-1.upcloudlb.com","frontends":[],"labels":[],"maintenance_dow":"sunday","maintenance_time":"03:55:54Z","name":"go-api-lb-fi-hel2-1699962885","network_uuid":"039ee618-700b-4973-91e3-f74709cc36a7","networks":[{"created_at":"2023-11-14T11:54:45.592202Z","dns_name":"lb-0a2e7524521b40dc8014c675eea3230c-1.upcloudlb.com","family":"IPv4","name":"public-IPv4","type":"public","updated_at":"2023-11-14T11:54:45.592202Z"},{"created_at":"2023-11-14T11:54:45.592202Z","dns_name":"lb-0a2e7524521b40dc8014c675eea3230c-2.upcloudlb.com","family":"IPv4","name":"private-IPv4","type":"private","updated_at":"2023-11-14T11:54:45.592202Z","uuid":"039ee618-700b-4973-91e3-f74709cc36a7"}],"nodes":[],"operational_state":"pending","plan":"development","resolvers":[],"updated_at":"2023-11-14T11:54:45.592202Z","uuid":"0a2e7524-521b-40dc-8014-c675eea3230c","zone":"fi-hel2"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-api-lb-backend-1699962885","members":[{"name":"default-lb-backend-member","weight":100,"max_sessions":1000,"enabled":true,"type":"dynamic","ip":"196.123.123.123","port":8000}],"properties":{"timeout_server":30,"tls_enabled":true,"tls_verify":true,"tls_use_system_ca":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a2e7524-521b-40dc-8014-c675eea3230c/backends
    method: POST
  response:
    body: '{"created_at":"2023-11-14T11:54:45.782736Z","members":[{"created_at":"2023-11-14T11:54:45.782736Z","enabled":true,"ip":"196.123.123.123","max_sessions":1000,"name":"default-lb-backend-member","port":8000,"type":"dynamic","updated_at":"2023-11-14T11:54:45.782736Z","weight":100}],"name":"go-api-lb-backend-1699962885","properties":{"health_check_expected_status":200,"health_check_fall":3,"health_check_interval":10,"health_check_on_down":"","health_check_rise":3,"health_check_tls_verify":false,"health_check_type":"tcp","health_check_url":"/","http2_enabled":false,"outbound_proxy_protocol":"","sticky_session_cookie_name":"","timeout_server":30,"timeout_tunnel":3600,"tls_enabled":true,"tls_use_system_ca":true,"tls_verify":true},"resolver":"","tls_configs":[],"updated_at":"2023-11-14T11:54:45.782736Z"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"updatedName","properties":{"health_check_type":"tcp"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a2e7524-521b-40dc-8014-c675eea3230c/backends/go-api-lb-backend-1699962885
    method: PATCH
  response:
    body: '{"created_at":"2023-11-14T11:54:45.782736Z","members":[{"created_at":"2023-11-14T11:54:45.782736Z","enabled":true,"ip":"196.123.123.123","max_sessions":1000,"name":"default-lb-backend-member","port":8000,"type":"dynamic","updated_at":"2023-11-14T11:54:45.958831Z","weight":100}],"name":"updatedName","properties":{"health_check_expected_status":200,"health_check_fall":3,"health_check_interval":10,"health_check_on_down":"","health_check_rise":3,"health_check_tls_verify":false,"health_check_type":"tcp","health_check_url":"/","http2_enabled":false,"outbound_proxy_protocol":"","sticky_session_cookie_name":"","timeout_server":30,"timeout_tunnel":3600,"tls_enabled":true,"tls_use_system_ca":true,"tls_verify":true},"resolver":"","tls_configs":[],"updated_at":"2023-11-14T11:54:45.958831Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a2e7524-521b-40dc-8014-c675eea3230c/backends/updatedName
    method: GET
  response:
    body: '{"created_at":"2023-11-14T11:54:45.782736Z","members":[{"created_at":"2023-11-14T11:54:45.782736Z","enabled":true,"ip":"196.123.123.123","max_sessions":1000,"name":"default-lb-backend-member","port":8000,"type":"dynamic","updated_at":"2023-11-14T11:54:45.958831Z","weight":100}],"name":"updatedName","properties":{"health_check_expected_status":200,"health_check_fall":3,"health_check_interval":10,"health_check_on_down":"","health_check_rise":3,"health_check_tls_verify":false,"health_check_type":"tcp","health_check_url":"/","http2_enabled":false,"outbound_proxy_protocol":"","sticky_session_cookie_name":"","timeout_server":30,"timeout_tunnel":3600,"tls_enabled":true,"tls_use_system_ca":true,"tls_verify":true},"resolver":"","tls_configs":[],"updated_at":"2023-11-14T11:54:45.958831Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a2e7524-521b-40dc-8014-c675eea3230c
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a2e7524-521b-40dc-8014-c675eea3230c
    method: GET
  response:
    body: |
      {"type":"https://developers.upcloud.com/1.3/errors#ERROR_RESOURCE_NOT_FOUND","title":"Service not found.","correlation_id":"01HF6V085AGBB0ZBJE5YAC42DT","status":404}
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/problem+json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/039ee618-700b-4973-91e3-f74709cc36a7
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
