---
version: 1
interactions:
- request:
    body: '{"network":{"name":"go-test-lb-1686163040","zone":"fi-hel2","ip_networks":{"ip_network":[{"address":"172.16.12.0/24","dhcp":"yes","dhcp_default_route":"no","family":"IPv4"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "172.16.12.0/24",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "family" : "IPv4",
                     "gateway" : "172.16.12.1"
                  }
               ]
            },
            "labels" : [],
            "name" : "go-test-lb-1686163040",
            "type" : "private",
            "uuid" : "0350d4ac-d377-4a98-8cbe-51267552d714",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-test-lb-fi-hel2-1686163041","plan":"development","zone":"fi-hel2","network_uuid":"0350d4ac-d377-4a98-8cbe-51267552d714","configured_status":"started","frontends":[],"backends":[],"resolvers":[],"labels":[{"key":"zone","value":"hel2"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer
    method: POST
  response:
    body: '{"backends":[],"configured_status":"started","created_at":"2023-06-07T18:37:21.399166Z","dns_name":"lb-0a33295bacda4289915d628ba9403eb7-1.upcloudlb.com","frontends":[],"labels":[{"key":"zone","value":"hel2"}],"maintenance_dow":"sunday","maintenance_time":"00:50:16Z","name":"go-test-lb-fi-hel2-1686163041","network_uuid":"0350d4ac-d377-4a98-8cbe-51267552d714","networks":[{"created_at":"2023-06-07T18:37:21.399166Z","dns_name":"lb-0a33295bacda4289915d628ba9403eb7-1.upcloudlb.com","family":"IPv4","name":"public-IPv4","type":"public","updated_at":"2023-06-07T18:37:21.399166Z"},{"created_at":"2023-06-07T18:37:21.399166Z","dns_name":"lb-0a33295bacda4289915d628ba9403eb7-2.upcloudlb.com","family":"IPv4","name":"private-IPv4","type":"private","updated_at":"2023-06-07T18:37:21.399166Z","uuid":"0350d4ac-d377-4a98-8cbe-51267552d714"}],"nodes":[],"operational_state":"pending","plan":"development","resolvers":[],"updated_at":"2023-06-07T18:37:21.399166Z","uuid":"0a33295b-acda-4289-915d-628ba9403eb7","zone":"fi-hel2"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer?label=zone&limit=100&offset=0
    method: GET
  response:
    body: '[{"backends":[],"configured_status":"started","created_at":"2023-06-07T18:37:21.399166Z","dns_name":"lb-0a33295bacda4289915d628ba9403eb7-1.upcloudlb.com","frontends":[],"labels":[{"key":"zone","value":"hel2"}],"maintenance_dow":"sunday","maintenance_time":"00:50:16Z","name":"go-test-l[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer?label=zone%3Dhel1&limit=100&offset=0
    method: GET
  response:
    body: '[{"backends":[],"configured_status":"started","created_at":"2023-06-07T18:37:22.435383Z","dns_name":"lb-0a843cc28b2d4875aedd88e03eaebe34-1.upcloudlb.com","frontends":[],"labels":[{"key":"zone","value":"hel1"}],"maintenance_dow":"sunday","maintenance_time":"00:00:12Z","name":"go-test-lb-fi-hel1-1686163042","network_uuid":"03e4f0c3-7907-457e-8f02-94a3c1fdabfe","networks":[{"created_at":"2023-06-07T18:37:22.435383Z","dns_name":"lb-0a843cc28b2d4875aedd88e03eaebe34-1.upcloudlb.com","family":"IPv4","name":"public-IPv4","type":"public","updated_at":"2023-06-07T18:37:22.435383Z"},{"created_at":"2023-06-07T18:37:22.435383Z","dns_name":"lb-0a843cc28b2d4875aedd88e03eaebe34-2.upcloudlb.com","family":"IPv4","name":"private-IPv4","type":"private","updated_at":"2023-06-07T18:37:22.435383Z","uuid":"03e4f0c3-7907-457e-8f02-94a3c1fdabfe"}],"nodes":[{"networks":[],"operational_state":"pending"}],"operational_state":"setup-server","plan":"development","resolvers":[],"updated_at":"2023-06-07T18:37:22.644194Z","uuid":"0a843cc2-8b2d-4875-aedd-88e03eaebe34","zone":"fi-hel1"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"labels":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a33295b-acda-4289-915d-628ba9403eb7
    method: PATCH
  response:
    body: '{"backends":[],"configured_status":"started","created_at":"2023-06-07T18:37:21.399166Z","dns_name":"lb-0a33295bacda4289915d628ba9403eb7-1.upcloudlb.com","frontends":[],"labels":[],"maintenance_dow":"sunday","maintenance_time":"00:50:16Z","name":"go-test-lb-fi-hel2-1686163041","network_uuid":"0350d4ac-d377-4a98-8cbe-51267552d714","networks":[{"created_at":"2023-06-07T18:37:21.399166Z","dns_name":"lb-0a33295bacda4289915d628ba9403eb7-1.upcloudlb.com","family":"IPv4","name":"public-IPv4","type":"public","updated_at":"2023-06-07T18:37:21.399166Z"},{"created_at":"2023-06-07T18:37:21.399166Z","dns_name":"lb-0a33295bacda4289915d628ba9403eb7-2.upcloudlb.com","family":"IPv4","name":"private-IPv4","type":"private","updated_at":"2023-06-07T18:37:21.399166Z","uuid":"0350d4ac-d377-4a98-8cbe-51267552d714"}],"nodes":[{"networks":[],"operational_state":"pending"}],"operational_state":"pending","plan":"development","resolvers":[],"updated_at":"2023-06-07T18:37:23.056178Z","uuid":"0a33295b-acda-4289-915d-628ba9403eb7","zone":"fi-hel2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a33295b-acda-4289-915d-628ba9403eb7
    method: GET
  response:
    body: |
      {"type":"https://developers.upcloud.com/1.3/errors#ERROR_RESOURCE_NOT_FOUND","title":"Service not found.","correlation_id":"01H2BJE96D2N787BAQAG4J9Q78","status":404}
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/problem+json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/0350d4ac-d377-4a98-8cbe-51267552d714
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
[...]
