---
version: 1
interactions:
- request:
    body: '{"network":{"name":"go-test-lb-1648824209","zone":"fi-hel2","ip_networks":{"ip_network":[{"address":"172.16.2.0/24","dhcp":"yes","dhcp_default_route":"no","family":"IPv4"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "172.16.2.0/24",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "family" : "IPv4",
                     "gateway" : "172.16.2.1"
                  }
               ]
            },
            "name" : "go-test-lb-1648824209",
            "type" : "private",
            "uuid" : "03f46d5d-2701-417e-9458-2db6ee4bdfd5",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-test-lb-fi-hel2-1648824209","plan":"development","zone":"fi-hel2","network_uuid":"03f46d5d-2701-417e-9458-2db6ee4bdfd5","configured_status":"started","frontends":[],"backends":[],"resolvers":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer
    method: POST
  response:
    body: '{"backends":[],"configured_status":"started","created_at":"2022-04-01T14:43:29.826476Z","dns_name":"lb-0a4f0474d40e4d7eb0b5e8cf3be714e8.upcloudlb.com","frontends":[],"name":"go-test-lb-fi-hel2-1648824209","network_uuid":"03f46d5d-2701-417e-9458-2db6ee4bdfd5","operational_state":"pending","plan":"development","resolvers":[],"updated_at":"2022-04-01T14:43:29.826476Z","uuid":"0a4f0474-d40e-4d7e-b0b5-e8cf3be714e8","zone":"fi-hel2"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-test-lb-backend-1648824209","members":[{"name":"default-lb-backend-member","weight":100,"max_sessions":1000,"enabled":true,"type":"dynamic","ip":"196.123.123.123","port":8000}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a4f0474-d40e-4d7e-b0b5-e8cf3be714e8/backends
    method: POST
  response:
    body: '{"created_at":"2022-04-01T14:43:29.894784Z","members":[{"created_at":"2022-04-01T14:43:29.894784Z","enabled":true,"ip":"196.123.123.123","max_sessions":1000,"name":"default-lb-backend-member","port":8000,"type":"dynamic","updated_at":"2022-04-01T14:43:29.894784Z","weight":100}],"name":"go-test-lb-backend-1648824209","properties":{"timeout_server":10,"timeout_tunnel":3600},"updated_at":"2022-04-01T14:43:29.894784Z"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"updatedName"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a4f0474-d40e-4d7e-b0b5-e8cf3be714e8/backends/go-test-lb-backend-1648824209
    method: PATCH
  response:
    body: '{"created_at":"2022-04-01T14:43:29.894784Z","members":[{"created_at":"2022-04-01T14:43:29.894784Z","enabled":true,"ip":"196.123.123.123","max_sessions":1000,"name":"default-lb-backend-member","port":8000,"type":"dynamic","updated_at":"2022-04-01T14:43:29.894784Z","weight":100}],"name":"updatedName","properties":{"timeout_server":10,"timeout_tunnel":3600},"updated_at":"2022-04-01T14:43:29.966093Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a4f0474-d40e-4d7e-b0b5-e8cf3be714e8/backends/updatedName
    method: GET
  response:
    body: '{"created_at":"2022-04-01T14:43:29.894784Z","members":[{"created_at":"2022-04-01T14:43:29.894784Z","enabled":true,"ip":"196.123.123.123","max_sessions":1000,"name":"default-lb-backend-member","port":8000,"type":"dynamic","updated_at":"2022-04-01T14:43:29.894784Z","weight":100}],"name":"updatedName","properties":{"timeout_server":10,"timeout_tunnel":3600},"updated_at":"2022-04-01T14:43:29.966093Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a4f0474-d40e-4d7e-b0b5-e8cf3be714e8
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a4f0474-d40e-4d7e-b0b5-e8cf3be714e8
    method: GET
  response:
    body: |
      {"type":"https://developers.upcloud.com/1.3/errors#ERROR_RESOURCE_NOT_FOUND","title":"Service not found.","correlation_id":"01FZJSAWXWCFH480EE8B1Z55G5","status":404}
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/problem+json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/03f46d5d-2701-417e-9458-2db6ee4bdfd5
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
