---
version: 1
interactions:
- request:
    body: '{"network":{"name":"go-test-lb-1647414260","zone":"nl-ams1","ip_networks":{"ip_network":[{"address":"172.16.3.0/24","dhcp":"yes","dhcp_default_route":"no","family":"IPv4"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "172.16.3.0/24",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "family" : "IPv4",
                     "gateway" : "172.16.3.1"
                  }
               ]
            },
            "name" : "go-test-lb-1647414260",
            "type" : "private",
            "uuid" : "0391e917-907f-4e25-bbf7-28ad5e60fae2",
            "zone" : "nl-ams1"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-test-lb-nl-ams1-1647414261","plan":"development","zone":"nl-ams1","network_uuid":"0391e917-907f-4e25-bbf7-28ad5e60fae2","configured_status":"started","frontends":[],"backends":[],"resolvers":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/loadbalancer
    method: POST
  response:
    body: '{"backends":[],"configured_status":"started","created_at":"2022-03-16T07:04:21.259548Z","dns_name":"lb-0af8ca0745a94196843f00fd43436ace.upcloudlb.com","frontends":[],"name":"go-test-lb-nl-ams1-1647414261","network_uuid":"0391e917-907f-4e25-bbf7-28ad5e60fae2","operational_state":"pending","plan":"development","resolvers":[],"updated_at":"2022-03-16T07:04:21.259548Z","uuid":"0af8ca07-45a9-4196-843f-00fd43436ace","zone":"nl-ams1"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-test-lb-backend-1647414261","members":[{"name":"default-lb-backend-member","weight":100,"max_sessions":1000,"enabled":true,"type":"dynamic","ip":"196.123.123.123","port":8000}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/loadbalancer/0af8ca07-45a9-4196-843f-00fd43436ace/backends
    method: POST
  response:
    body: '{"created_at":"0001-01-01T00:00:00Z","members":[{"created_at":"0001-01-01T00:00:00Z","enabled":true,"ip":"196.123.123.123","max_sessions":1000,"name":"default-lb-backend-member","port":8000,"type":"dynamic","updated_at":"0001-01-01T00:00:00Z","weight":100}],"name":"go-test-lb-backend-1647414261","updated_at":"0001-01-01T00:00:00Z"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"test_member","weight":100,"max_sessions":123,"enabled":true,"type":"static","ip":"10.0.0.2","port":80,"server_uuid":"0050febf-b881-4db1-85ce-4c92776a47e2"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/loadbalancer/0af8ca07-45a9-4196-843f-00fd43436ace/backends/go-test-lb-backend-1647414261/members
    method: POST
  response:
    body: '{"created_at":"0001-01-01T00:00:00Z","enabled":true,"ip":"10.0.0.2","max_sessions":123,"name":"test_member","port":80,"server_uuid":"0050febf-b881-4db1-85ce-4c92776a47e2","type":"static","updated_at":"0001-01-01T00:00:00Z","weight":100}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"test_member_TURBO","weight":50,"max_sessions":321}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/loadbalancer/0af8ca07-45a9-4196-843f-00fd43436ace/backends/go-test-lb-backend-1647414261/members/test_member
    method: PATCH
  response:
    body: '{"created_at":"2022-03-16T07:04:21.419144Z","enabled":true,"ip":"10.0.0.2","max_sessions":321,"name":"test_member_TURBO","port":80,"server_uuid":"0050febf-b881-4db1-85ce-4c92776a47e2","type":"static","updated_at":"2022-03-16T07:04:21.419144Z","weight":50}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ip":"231.231.231.231","port":3003}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/loadbalancer/0af8ca07-45a9-4196-843f-00fd43436ace/backends/go-test-lb-backend-1647414261/members/test_member_TURBO
    method: PATCH
  response:
    body: '{"created_at":"2022-03-16T07:04:21.419144Z","enabled":true,"ip":"231.231.231.231","max_sessions":321,"name":"test_member_TURBO","port":3003,"server_uuid":"0050febf-b881-4db1-85ce-4c92776a47e2","type":"static","updated_at":"2022-03-16T07:04:21.490707Z","weight":50}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/loadbalancer/0af8ca07-45a9-4196-843f-00fd43436ace
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/0391e917-907f-4e25-bbf7-28ad5e60fae2
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
