---
version: 1
interactions:
- request:
    body: '{"network":{"name":"go-test-lb-1647499541","zone":"fi-hel2","ip_networks":{"ip_network":[{"address":"10.0.1.1/24","dhcp":"yes","dhcp_default_route":"no","family":"IPv4"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "10.0.1.1/24",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "family" : "IPv4",
                     "gateway" : "10.0.1.1"
                  }
               ]
            },
            "name" : "go-test-lb-1647499541",
            "type" : "private",
            "uuid" : "03fab675-e9dc-4ff2-93f6-74152c4b5976",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-test-lb-fi-hel2-1647499542","plan":"development","zone":"fi-hel2","network_uuid":"03fab675-e9dc-4ff2-93f6-74152c4b5976","configured_status":"started","frontends":[{"name":"fe-1","mode":"http","port":80,"default_backend":"be-1"}],"backends":[{"name":"be-1","resolver":"ns-1","members":[]}],"resolvers":[{"name":"ns-1","nameservers":["10.1.1.100"],"retries":10,"timeout":10,"timeout_retry":10,"cache_valid":10,"cache_invalid":10}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/loadbalancer
    method: POST
  response:
    body: '{"backends":[{"created_at":"2022-03-17T06:45:42.822742Z","members":[],"name":"be-1","resolver":"ns-1","updated_at":"2022-03-17T06:45:42.822742Z"}],"configured_status":"started","created_at":"2022-03-17T06:45:42.822742Z","dns_name":"lb-0a642c1039a847a297e7cb5bc0e6d1f8.upcloudlb.com","frontends":[{"created_at":"2022-03-17T06:45:42.822742Z","default_backend":"be-1","mode":"http","name":"fe-1","port":80,"rules":[],"tls_configs":[],"updated_at":"2022-03-17T06:45:42.822742Z"}],"name":"go-test-lb-fi-hel2-1647499542","network_uuid":"03fab675-e9dc-4ff2-93f6-74152c4b5976","operational_state":"pending","plan":"development","resolvers":[{"cache_invalid":10,"cache_valid":10,"created_at":"2022-03-17T06:45:42.822742Z","name":"ns-1","nameservers":["10.1.1.100"],"retries":10,"timeout":10,"timeout_retry":10,"updated_at":"2022-03-17T06:45:42.822742Z"}],"updated_at":"2022-03-17T06:45:42.822742Z","uuid":"0a642c10-39a8-47a2-97e7-cb5bc0e6d1f8","zone":"fi-hel2"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"rule-1","priority":10,"matchers":[{"type":"src_ip","match_src_ip":{"value":"10.1.1.200"}}],"actions":[{"type":"tcp_reject","action_tcp_reject":{}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/loadbalancer/0a642c10-39a8-47a2-97e7-cb5bc0e6d1f8/frontends/fe-1/rules
    method: POST
  response:
    body: '{"actions":[{"type":"tcp_reject","action_tcp_reject":{}}],"created_at":"0001-01-01T00:00:00Z","matchers":[{"type":"src_ip","match_src_ip":{"value":"10.1.1.200"}}],"name":"rule-1","priority":10,"updated_at":"0001-01-01T00:00:00Z"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"rule","priority":20}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/loadbalancer/0a642c10-39a8-47a2-97e7-cb5bc0e6d1f8/frontends/fe-1/rules/rule-1
    method: PATCH
  response:
    body: '{"actions":[{"type":"tcp_reject","action_tcp_reject":{}}],"created_at":"2022-03-17T06:45:42.924095Z","matchers":[{"type":"src_ip","match_src_ip":{"value":"10.1.1.200"}}],"name":"rule","priority":20,"updated_at":"2022-03-17T06:45:42.924095Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"rule-1","priority":10,"matchers":[{"type":"src_ip","match_src_ip":{"value":"10.1.1.201"}}],"actions":[{"type":"http_return","action_http_return":{"status":404,"content_type":"text/html","payload":"PGgxPmFwcGxlYmVlPC9oMT4K"}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/loadbalancer/0a642c10-39a8-47a2-97e7-cb5bc0e6d1f8/frontends/fe-1/rules/rule
    method: PUT
  response:
    body: '{"actions":[{"type":"http_return","action_http_return":{"status":404,"content_type":"text/html","payload":"PGgxPmFwcGxlYmVlPC9oMT4K"}}],"created_at":"0001-01-01T00:00:00Z","matchers":[{"type":"src_ip","match_src_ip":{"value":"10.1.1.201"}}],"name":"rule-1","priority":10,"updated_at":"0001-01-01T00:00:00Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/loadbalancer/0a642c10-39a8-47a2-97e7-cb5bc0e6d1f8
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/03fab675-e9dc-4ff2-93f6-74152c4b5976
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
