---
version: 1
interactions:
- request:
    body: '{"network":{"name":"go-test-lb-1686162854","zone":"pl-waw1","ip_networks":{"ip_network":[{"address":"192.168.55.0/24","dhcp":"yes","dhcp_default_route":"no","family":"IPv4"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "192.168.55.0/24",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "family" : "IPv4",
                     "gateway" : "192.168.55.1"
                  }
               ]
            },
            "labels" : [],
            "name" : "go-test-lb-1686162854",
            "type" : "private",
            "uuid" : "03b5e42a-339e-4466-999a-03021a0219e1",
            "zone" : "pl-waw1"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-test-lb-networks-pl-waw1-1686162856","plan":"development","zone":"pl-waw1","networks":[{"name":"public_net","type":"public","family":"IPv4"},{"name":"private_net","type":"private","family":"IPv4","uuid":"03b5e42a-339e-4466-999a-03021a0219e1"}],"configured_status":"started","frontends":[{"name":"fe1_network_test","mode":"http","port":80,"default_backend":"be_network_test","networks":[{"name":"public_net"},{"name":"private_net"}]}],"backends":[{"name":"be_network_test","members":[]}],"resolvers":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer
    method: POST
  response:
    body: '{"backends":[{"created_at":"2023-06-07T18:34:16.304532Z","members":[],"name":"be_network_test","properties":{"health_check_expected_status":200,"health_check_fall":3,"health_check_interval":10,"health_check_rise":3,"health_check_tls_verify":false,"health_check_type":"tcp","health_check_url":"/","outbound_proxy_protocol":"","sticky_session_cookie_name":"","timeout_server":10,"timeout_tunnel":3600},"resolver":"","updated_at":"2023-06-07T18:34:16.304532Z"}],"configured_status":"started","created_at":"2023-06-07T18:34:16.304532Z","dns_name":"lb-0a32aa773c9b47938064df52efb7309f-1.upcloudlb.com","frontends":[{"created_at":"2023-06-07T18:34:16.304532Z","default_backend":"be_network_test","mode":"http","name":"fe1_network_test","networks":[{"name":"public_net"},{"name":"private_net"}],"port":80,"properties":{"timeout_client":10},"rules":[],"tls_configs":[],"updated_at":"2023-06-07T18:34:16.304532Z"}],"labels":[],"maintenance_dow":"saturday","maintenance_time":"03:03:04Z","name":"go-test-lb-networks-pl-waw1-1686162856","networks":[{"created_at":"2023-06-07T18:34:16.304532Z","dns_name":"lb-0a32aa773c9b47938064df52efb7309f-1.upcloudlb.com","family":"IPv4","name":"public_net","type":"public","updated_at":"2023-06-07T18:34:16.304532Z"},{"created_at":"2023-06-07T18:34:16.304532Z","dns_name":"lb-0a32aa773c9b47938064df52efb7309f-2.upcloudlb.com","family":"IPv4","name":"private_net","type":"private","updated_at":"2023-06-07T18:34:16.304532Z","uuid":"03b5e42a-339e-4466-999a-03021a0219e1"}],"nodes":[],"operational_state":"pending","plan":"development","resolvers":[],"updated_at":"2023-06-07T18:34:16.304532Z","uuid":"0a32aa77-3c9b-4793-8064-df52efb7309f","zone":"pl-waw1"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"fe2_network_test","mode":"http","port":443,"default_backend":"be_network_test","networks":[{"name":"private_net"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a32aa77-3c9b-4793-8064-df52efb7309f/frontends
    method: POST
  response:
    body: '{"created_at":"2023-06-07T18:34:16.492211Z","default_backend":"be_network_test","mode":"http","name":"fe2_network_test","networks":[{"name":"private_net"}],"port":443,"properties":{"timeout_client":10},"rules":[],"tls_configs":[],"updated_at":"2023-06-07T18:34:16.492211Z"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a32aa77-3c9b-4793-8064-df52efb7309f
    method: GET
  response:
    body: '{"backends":[{"created_at":"2023-06-07T18:34:16.304532Z","members":[],"name":"be_network_test","properties":{"health_check_expected_status":200,"health_check_fall":3,"health_check_interval":10,"health_check_rise":3,"health_check_tls_verify":false,"health_check_type":"tcp","heal[...]
- request:
    body: '{"name":"internal_net"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a32aa77-3c9b-4793-8064-df52efb7309f/networks/private_net
    method: PATCH
  response:
    body: '{"created_at":"2023-06-07T18:34:16.304532Z","dns_name":"lb-0a32aa773c9b47938064df52efb7309f-2.upcloudlb.com","family":"IPv4","name":"internal_net","type":"private","updated_at":"2023-06-07T18:36:44.021991Z","uuid":"03b5e42a-339e-4466-999a-03021a0219e1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"private_net"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a32aa77-3c9b-4793-8064-df52efb7309f/networks/internal_net
    method: PATCH
  response:
    body: '{"created_at":"2023-06-07T18:34:16.304532Z","dns_name":"lb-0a32aa773c9b47938064df52efb7309f-2.upcloudlb.com","family":"IPv4","name":"private_net","type":"private","updated_at":"2023-06-07T18:36:44.161423Z","uuid":"03b5e42a-339e-4466-999a-03021a0219e1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a32aa77-3c9b-4793-8064-df52efb7309f
    method: GET
  response:
    body: |
      {"type":"https://developers.upcloud.com/1.3/errors#ERROR_RESOURCE_NOT_FOUND","title":"Service not found.","correlation_id":"01H2BJBXW1CY7DT5SNKSGFBVR5","status":404}
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/problem+json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/03b5e42a-339e-4466-999a-03021a0219e1
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
