---
version: 1
interactions:
- request:
    body: '{"network":{"name":"go-api-lb-1699963132","zone":"de-fra1","ip_networks":{"ip_network":[{"address":"10.0.3.0/24","dhcp":"yes","dhcp_default_route":"no","family":"IPv4"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "10.0.3.0/24",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "family" : "IPv4",
                     "gateway" : "10.0.3.1"
                  }
               ]
            },
            "labels" : [],
            "name" : "go-api-lb-1699963132",
            "type" : "private",
            "uuid" : "03e39d7e-4bd9-4ccf-b2cd-be4103b6c0cb",
            "zone" : "de-fra1"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-api-lb-de-fra1-1699963133","plan":"development","zone":"de-fra1","network_uuid":"03e39d7e-4bd9-4ccf-b2cd-be4103b6c0cb","configured_status":"started","frontends":[],"backends":[],"resolvers":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer
    method: POST
  response:
    body: '{"backends":[],"configured_status":"started","created_at":"2023-11-14T11:58:53.993625Z","dns_name":"lb-0a68bd507afe4328940c9622813623f3-1.upcloudlb.com","frontends":[],"labels":[],"maintenance_dow":"sunday","maintenance_time":"02:21:01Z","name":"go-api-lb-de-fra1-1699963133","network_uuid":"03e39d7e-4bd9-4ccf-b2cd-be4103b6c0cb","networks":[{"created_at":"2023-11-14T11:58:53.993625Z","dns_name":"lb-0a68bd507afe4328940c9622813623f3-1.upcloudlb.com","family":"IPv4","name":"public-IPv4","type":"public","updated_at":"2023-11-14T11:58:53.993625Z"},{"created_at":"2023-11-14T11:58:53.993625Z","dns_name":"lb-0a68bd507afe4328940c9622813623f3-2.upcloudlb.com","family":"IPv4","name":"private-IPv4","type":"private","updated_at":"2023-11-14T11:58:53.993625Z","uuid":"03e39d7e-4bd9-4ccf-b2cd-be4103b6c0cb"}],"nodes":[],"operational_state":"pending","plan":"development","resolvers":[],"updated_at":"2023-11-14T11:58:53.993625Z","uuid":"0a68bd50-7afe-4328-940c-9622813623f3","zone":"de-fra1"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-api-lb-backend-1699963134","members":[{"name":"default-lb-backend-member","weight":100,"max_sessions":1000,"enabled":true,"type":"dynamic","ip":"196.123.123.123","port":8000}],"properties":{"timeout_server":30,"tls_enabled":true,"tls_verify":true,"tls_use_system_ca":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a68bd50-7afe-4328-940c-9622813623f3/backends
    method: POST
  response:
    body: '{"created_at":"2023-11-14T11:58:54.216633Z","members":[{"created_at":"2023-11-14T11:58:54.216633Z","enabled":true,"ip":"196.123.123.123","max_sessions":1000,"name":"default-lb-backend-member","port":8000,"type":"dynamic","updated_at":"2023-11-14T11:58:54.216633Z","weight":100}],"name":"go-api-lb-backend-1699963134","properties":{"health_check_expected_status":200,"health_check_fall":3,"health_check_interval":10,"health_check_on_down":"","health_check_rise":3,"health_check_tls_verify":false,"health_check_type":"tcp","health_check_url":"/","http2_enabled":false,"outbound_proxy_protocol":"","sticky_session_cookie_name":"","timeout_server":30,"timeout_tunnel":3600,"tls_enabled":true,"tls_use_system_ca":true,"tls_verify":true},"resolver":"","tls_configs":[],"updated_at":"2023-11-14T11:58:54.216633Z"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"fe-1","mode":"http","port":443,"default_backend":"go-api-lb-backend-1699963134","properties":{"timeout_client":10,"inbound_proxy_protocol":true,"http2_enabled":false}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a68bd50-7afe-4328-940c-9622813623f3/frontends
    method: POST
  response:
    body: '{"created_at":"2023-11-14T11:58:54.388735Z","default_backend":"go-api-lb-backend-1699963134","mode":"http","name":"fe-1","networks":[{"name":"public-IPv4"}],"port":443,"properties":{"http2_enabled":false,"inbound_proxy_protocol":true,"timeout_client":10},"rules":[],"tls_configs":[],"updated_at":"2023-11-14T11:58:54.388735Z"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"fe-2","mode":"tcp","port":80,"properties":{"http2_enabled":false}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a68bd50-7afe-4328-940c-9622813623f3/frontends/fe-1
    method: PATCH
  response:
    body: '{"created_at":"2023-11-14T11:58:54.388735Z","default_backend":"go-api-lb-backend-1699963134","mode":"tcp","name":"fe-2","networks":[{"name":"public-IPv4"}],"port":80,"properties":{"http2_enabled":false,"inbound_proxy_protocol":true,"timeout_client":10},"rules":[],"tls_configs":[],"updated_at":"2023-11-14T11:58:54.566366Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a68bd50-7afe-4328-940c-9622813623f3
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a68bd50-7afe-4328-940c-9622813623f3
    method: GET
  response:
    body: |
      {"type":"https://developers.upcloud.com/1.3/errors#ERROR_RESOURCE_NOT_FOUND","title":"Service not found.","correlation_id":"01HF6V8MB1GK3R6Z27JBVMVWPN","status":404}
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/problem+json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/03e39d7e-4bd9-4ccf-b2cd-be4103b6c0cb
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
