---
version: 1
interactions:
- request:
    body: '{"network":{"name":"go-test-lb-1649160313","zone":"nl-ams1","ip_networks":{"ip_network":[{"address":"172.16.3.0/24","dhcp":"yes","dhcp_default_route":"no","family":"IPv4"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "172.16.3.0/24",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "family" : "IPv4",
                     "gateway" : "172.16.3.1"
                  }
               ]
            },
            "name" : "go-test-lb-1649160313",
            "type" : "private",
            "uuid" : "03dc285d-4517-4ffe-922e-593b02fa5196",
            "zone" : "nl-ams1"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-test-lb-nl-ams1-1649160314","plan":"development","zone":"nl-ams1","network_uuid":"03dc285d-4517-4ffe-922e-593b02fa5196","configured_status":"started","frontends":[],"backends":[],"resolvers":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer
    method: POST
  response:
    body: '{"backends":[],"configured_status":"started","created_at":"2022-04-05T12:05:14.301917Z","dns_name":"lb-0af5fe7710f04e2b81d8a10c154a44b7.upcloudlb.com","frontends":[],"name":"go-test-lb-nl-ams1-1649160314","network_uuid":"03dc285d-4517-4ffe-922e-593b02fa5196","operational_state":"pending","plan":"development","resolvers":[],"updated_at":"2022-04-05T12:05:14.301917Z","uuid":"0af5fe77-10f0-4e2b-81d8-a10c154a44b7","zone":"nl-ams1"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-test-lb-backend-1649160314","members":[{"name":"default-lb-backend-member","weight":100,"max_sessions":1000,"enabled":true,"type":"dynamic","ip":"196.123.123.123","port":8000}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0af5fe77-10f0-4e2b-81d8-a10c154a44b7/backends
    method: POST
  response:
    body: '{"created_at":"2022-04-05T12:05:14.380639Z","members":[{"created_at":"2022-04-05T12:05:14.380639Z","enabled":true,"ip":"196.123.123.123","max_sessions":1000,"name":"default-lb-backend-member","port":8000,"type":"dynamic","updated_at":"2022-04-05T12:05:14.380639Z","weight":100}],"name":"go-test-lb-backend-1649160314","properties":{"timeout_server":10,"timeout_tunnel":3600},"updated_at":"2022-04-05T12:05:14.380639Z"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"test_member","weight":100,"max_sessions":123,"enabled":true,"type":"static","ip":"10.0.0.2","port":80}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0af5fe77-10f0-4e2b-81d8-a10c154a44b7/backends/go-test-lb-backend-1649160314/members
    method: POST
  response:
    body: '{"created_at":"2022-04-05T12:05:14.44572Z","enabled":true,"ip":"10.0.0.2","max_sessions":123,"name":"test_member","port":80,"type":"static","updated_at":"2022-04-05T12:05:14.44572Z","weight":100}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"test_member_TURBO","weight":50,"max_sessions":321}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0af5fe77-10f0-4e2b-81d8-a10c154a44b7/backends/go-test-lb-backend-1649160314/members/test_member
    method: PATCH
  response:
    body: '{"created_at":"2022-04-05T12:05:14.44572Z","enabled":true,"ip":"10.0.0.2","max_sessions":321,"name":"test_member_TURBO","port":80,"type":"static","updated_at":"2022-04-05T12:05:14.508247Z","weight":50}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"enabled":true,"ip":"231.231.231.231","port":3003}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0af5fe77-10f0-4e2b-81d8-a10c154a44b7/backends/go-test-lb-backend-1649160314/members/test_member_TURBO
    method: PATCH
  response:
    body: '{"created_at":"2022-04-05T12:05:14.44572Z","enabled":true,"ip":"231.231.231.231","max_sessions":321,"name":"test_member_TURBO","port":3003,"type":"static","updated_at":"2022-04-05T12:05:14.569465Z","weight":50}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0af5fe77-10f0-4e2b-81d8-a10c154a44b7
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0af5fe77-10f0-4e2b-81d8-a10c154a44b7
    method: GET
  response:
    body: |
      {"type":"https://developers.upcloud.com/1.3/errors#ERROR_RESOURCE_NOT_FOUND","title":"Service not found.","correlation_id":"01FZWSW62N9DRJ5WP0SQ7XR6F4","status":404}
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/problem+json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/03dc285d-4517-4ffe-922e-593b02fa5196
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
