---
version: 1
interactions:
- request:
    body: '{"server":{"hostname":"uploud-go-sdk-integration-test-testloadejectcdrom.example.com","labels":{"label":[{"key":"managedBy","value":"upcloud-sdk-integration-test"},{"key":"testName","value":"TestLoadEjectCDROM"}]},"metadata":"no","networking":{"interfaces":{"interface":[{"ip_addresses":{"ip_address":[{"family":"IPv4"}]},"type":"utility"},{"ip_addresses":{"ip_address":[{"family":"IPv4"}]},"type":"public"},{"ip_addresses":{"ip_address":[{"family":"IPv6"}]},"type":"public"}]}},"password_delivery":"none","storage_devices":{"storage_device":[{"action":"clone","storage":"01000000-0000-4000-8000-000020060100","title":"disk1","size":10,"tier":"maxiops"}]},"title":"uploud-go-sdk-integration-test-TestLoadEjectCDROM","remote_access_enabled":"no","zone":"fi-hel2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1662692928,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testloadejectcdrom.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "utility",
                     "address" : "10.6.6.171",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:d845:c4ff:fe5c:1e7f",
                     "family" : "IPv6"
                  },
                  {
                     "access" : "public",
                     "address" : "94.237.10.20",
                     "family" : "IPv4"
                  }
               ]
            },
            "labels" : {
               "label" : [
                  {
                     "key" : "managedBy",
                     "value" : "upcloud-sdk-integration-test"
                  },
                  {
                     "key" : "testName",
                     "value" : "TestLoadEjectCDROM"
                  }
               ]
            },
            "license" : 0,
            "memory_amount" : "1024",
            "metadata" : "no",
            "networking" : {
               "interfaces" : {
                  "interface" : [
                     {
                        "bootable" : "no",
                        "index" : 1,
                        "ip_addresses" : {
                           "ip_address" : [
                              {
                                 "address" : "10.6.6.171",
                                 "family" : "IPv4",
                                 "floating" : "no"
                              }
                           ]
                        },
                        "mac" : "da:45:c4:5c:b7:d3",
                        "network" : "0343ede2-9890-4470-b680-0dcda6d9f7e3",
                        "source_ip_filtering" : "yes",
                        "type" : "utility"
                     },
                     {
                        "bootable" : "no",
                        "index" : 2,
                        "ip_addresses" : {
                           "ip_address" : [
                              {
                                 "address" : "94.237.10.20",
                                 "family" : "IPv4",
                                 "floating" : "no"
                              }
       [...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/008f86f4-19fb-4ba3-8fa4-17670f5c2d3c
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1662692928,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testloadejectcdrom.example.com",
            "ip_addresses" :[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/008f86f4-19fb-4ba3-8fa4-17670f5c2d3c
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1662692928,
            "firewall" : "off",
            "host" : 6325289603,
            "hostname" : "uploud-go-sdk-integration-test-testloadejectcdrom.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "utility",
                     "address" : "10.6.6.171",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:d845:c4ff:fe5c:1e7f",
                     "famil[...]
- request:
    body: '{"stop_server":{"stop_type":"hard","timeout":"900"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/008f86f4-19fb-4ba3-8fa4-17670f5c2d3c/stop
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1662692928,
            "firewall" : "off",
            "host" : 6325289603,
            "hostname" : "uploud-go-sdk-integration-test-testloadejectcdrom.example.com",
    [...]
[...]
- request:
    body: '{"storage_device":{"type":"cdrom"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/008f86f4-19fb-4ba3-8fa4-17670f5c2d3c/storage/attach
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1662692928,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testloadej[...]
- request:
    body: '{"storage_device":{"storage":"01000000-0000-4000-8000-000020060101"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/008f86f4-19fb-4ba3-8fa4-17670f5c2d3c/cdrom/load
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1662692928,
            "firewall" : "off",
            "hostname" : "uploud-go-s[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/008f86f4-19fb-4ba3-8fa4-17670f5c2d3c/cdrom/eject
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1662692928,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testloadejectcdrom.example.com",
            "ip[...]
