---
version: 1
interactions:
- request:
    body: '{"network":{"name":"go-test-lb-1648824256","zone":"nl-ams1","ip_networks":{"ip_network":[{"address":"172.16.3.0/24","dhcp":"yes","dhcp_default_route":"no","family":"IPv4"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "172.16.3.0/24",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "family" : "IPv4",
                     "gateway" : "172.16.3.1"
                  }
               ]
            },
            "name" : "go-test-lb-1648824256",
            "type" : "private",
            "uuid" : "0329ae15-f01c-4802-9e43-a8d5c7827bb0",
            "zone" : "nl-ams1"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-test-lb-nl-ams1-1648824257","plan":"development","zone":"nl-ams1","network_uuid":"0329ae15-f01c-4802-9e43-a8d5c7827bb0","configured_status":"started","frontends":[],"backends":[],"resolvers":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer
    method: POST
  response:
    body: '{"backends":[],"configured_status":"started","created_at":"2022-04-01T14:44:17.132625Z","dns_name":"lb-0a8b8fd7fcb84985b738912c3380c686.upcloudlb.com","frontends":[],"name":"go-test-lb-nl-ams1-1648824257","network_uuid":"0329ae15-f01c-4802-9e43-a8d5c7827bb0","operational_state":"pending","plan":"development","resolvers":[],"updated_at":"2022-04-01T14:44:17.132625Z","uuid":"0a8b8fd7-fcb8-4985-b738-912c3380c686","zone":"nl-ams1"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-test-lb-backend-1648824257","members":[{"name":"default-lb-backend-member","weight":100,"max_sessions":1000,"enabled":true,"type":"dynamic","ip":"196.123.123.123","port":8000}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a8b8fd7-fcb8-4985-b738-912c3380c686/backends
    method: POST
  response:
    body: '{"created_at":"2022-04-01T14:44:17.212538Z","members":[{"created_at":"2022-04-01T14:44:17.212538Z","enabled":true,"ip":"196.123.123.123","max_sessions":1000,"name":"default-lb-backend-member","port":8000,"type":"dynamic","updated_at":"2022-04-01T14:44:17.212538Z","weight":100}],"name":"go-test-lb-backend-1648824257","properties":{"timeout_server":10,"timeout_tunnel":3600},"updated_at":"2022-04-01T14:44:17.212538Z"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"test_member","weight":100,"max_sessions":123,"enabled":true,"type":"static","ip":"10.0.0.2","port":80}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a8b8fd7-fcb8-4985-b738-912c3380c686/backends/go-test-lb-backend-1648824257/members
    method: POST
  response:
    body: '{"created_at":"2022-04-01T14:44:17.284748Z","enabled":true,"ip":"10.0.0.2","max_sessions":123,"name":"test_member","port":80,"type":"static","updated_at":"2022-04-01T14:44:17.284748Z","weight":100}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"test_member_TURBO","weight":50,"max_sessions":321,"enabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a8b8fd7-fcb8-4985-b738-912c3380c686/backends/go-test-lb-backend-1648824257/members/test_member
    method: PATCH
  response:
    body: '{"created_at":"2022-04-01T14:44:17.284748Z","enabled":false,"ip":"10.0.0.2","max_sessions":321,"name":"test_member_TURBO","port":80,"type":"static","updated_at":"2022-04-01T14:44:17.36179Z","weight":50}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"weight":50,"max_sessions":321,"enabled":true,"ip":"231.231.231.231","port":3003}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a8b8fd7-fcb8-4985-b738-912c3380c686/backends/go-test-lb-backend-1648824257/members/test_member_TURBO
    method: PATCH
  response:
    body: '{"created_at":"2022-04-01T14:44:17.284748Z","enabled":true,"ip":"231.231.231.231","max_sessions":321,"name":"test_member_TURBO","port":3003,"type":"static","updated_at":"2022-04-01T14:44:17.441508Z","weight":50}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a8b8fd7-fcb8-4985-b738-912c3380c686
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a8b8fd7-fcb8-4985-b738-912c3380c686
    method: GET
  response:
    body: |
      {"type":"https://developers.upcloud.com/1.3/errors#ERROR_RESOURCE_NOT_FOUND","title":"Service not found.","correlation_id":"01FZJSCSBHJ8WC7MXTQ05CC1HN","status":404}
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/problem+json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/0329ae15-f01c-4802-9e43-a8d5c7827bb0
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
