---
version: 1
interactions:
- request:
    body: '{"network":{"name":"go-test-lb-1647419633","zone":"de-fra1","ip_networks":{"ip_network":[{"address":"10.0.0.1/24","dhcp":"yes","dhcp_default_route":"no","family":"IPv4"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "10.0.0.1/24",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "family" : "IPv4",
                     "gateway" : "10.0.0.1"
                  }
               ]
            },
            "name" : "go-test-lb-1647419633",
            "type" : "private",
            "uuid" : "03f7a8ed-4838-4bc1-9478-2f314cc42a98",
            "zone" : "de-fra1"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-test-lb-de-fra1-1647419634","plan":"development","zone":"de-fra1","network_uuid":"03f7a8ed-4838-4bc1-9478-2f314cc42a98","configured_status":"started","frontends":[],"backends":[],"resolvers":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/loadbalancer
    method: POST
  response:
    body: '{"backends":[],"configured_status":"started","created_at":"2022-03-16T08:33:54.815518Z","dns_name":"lb-0a496e775b6645aaa685b2ebb97d6256.upcloudlb.com","frontends":[],"name":"go-test-lb-de-fra1-1647419634","network_uuid":"03f7a8ed-4838-4bc1-9478-2f314cc42a98","operational_state":"pending","plan":"development","resolvers":[],"updated_at":"2022-03-16T08:33:54.815518Z","uuid":"0a496e77-5b66-45aa-a685-b2ebb97d6256","zone":"de-fra1"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-test-lb-backend-1647419634","members":[{"name":"default-lb-backend-member","weight":100,"max_sessions":1000,"enabled":true,"type":"dynamic","ip":"196.123.123.123","port":8000}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/loadbalancer/0a496e77-5b66-45aa-a685-b2ebb97d6256/backends
    method: POST
  response:
    body: '{"created_at":"0001-01-01T00:00:00Z","members":[{"created_at":"0001-01-01T00:00:00Z","enabled":true,"ip":"196.123.123.123","max_sessions":1000,"name":"default-lb-backend-member","port":8000,"type":"dynamic","updated_at":"0001-01-01T00:00:00Z","weight":100}],"name":"go-test-lb-backend-1647419634","updated_at":"0001-01-01T00:00:00Z"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"fe-1","mode":"http","port":443,"default_backend":"go-test-lb-backend-1647419634"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/loadbalancer/0a496e77-5b66-45aa-a685-b2ebb97d6256/frontends
    method: POST
  response:
    body: '{"created_at":"0001-01-01T00:00:00Z","default_backend":"go-test-lb-backend-1647419634","mode":"http","name":"fe-1","port":443,"rules":[],"tls_configs":[],"updated_at":"0001-01-01T00:00:00Z"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"fe-2","mode":"tcp","port":80}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/loadbalancer/0a496e77-5b66-45aa-a685-b2ebb97d6256/frontends/fe-1
    method: PATCH
  response:
    body: '{"created_at":"2022-03-16T08:33:57.232679Z","default_backend":"go-test-lb-backend-1647419634","mode":"tcp","name":"fe-2","port":80,"rules":[],"tls_configs":[],"updated_at":"2022-03-16T08:33:57.232679Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/loadbalancer/0a496e77-5b66-45aa-a685-b2ebb97d6256
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/03f7a8ed-4838-4bc1-9478-2f314cc42a98
    method: DELETE
  response:
    body: |
      {
         "error" : {
            "error_code" : "NETWORK_NOT_EMPTY",
            "error_message" : "There are 1 server interfaces attached to network 03f7a8ed-4838-4bc1-9478-2f314cc42a98."
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 409 Conflict
    code: 409
    duration: ""
