---
version: 1
interactions:
- request:
    body: '{"network":{"name":"go-api-lb-1709210104","zone":"pl-waw1","ip_networks":{"ip_network":[{"address":"10.0.0.0/24","dhcp":"yes","dhcp_default_route":"no","family":"IPv4"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "10.0.0.0/24",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "family" : "IPv4",
                     "gateway" : "10.0.0.1"
                  }
               ]
            },
            "labels" : [],
            "name" : "go-api-lb-1709210104",
            "type" : "private",
            "uuid" : "030c236d-5d25-4379-8864-750a40036c64",
            "zone" : "pl-waw1"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-api-lb-pl-waw1-1709210105","plan":"development","zone":"pl-waw1","networks":[{"name":"public","type":"public","family":"IPv4"},{"name":"private","type":"private","family":"IPv4","uuid":"030c236d-5d25-4379-8864-750a40036c64"}],"configured_status":"started","frontends":[],"backends":[],"resolvers":[],"maintenance_dow":"sunday","maintenance_time":"20:01:01Z"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer
    method: POST
  response:
    body: '{"backends":[],"configured_status":"started","created_at":"2024-02-29T12:35:05.194287Z","dns_name":"lb-0a65998c37074ec7a39ae0b38121bcb4-1.upcloudlb.com","frontends":[],"labels":[],"maintenance_dow":"sunday","maintenance_time":"20:01:01Z","name":"go-api-lb-pl-waw1-1709210105","networks":[{"created_at":"2024-02-29T12:35:05.194287Z","dns_name":"lb-0a65998c37074ec7a39ae0b38121bcb4-1.upcloudlb.com","family":"IPv4","name":"public","type":"public","updated_at":"2024-02-29T12:35:05.194287Z"},{"created_at":"2024-02-29T12:35:05.194287Z","dns_name":"lb-0a65998c37074ec7a39ae0b38121bcb4-2.upcloudlb.com","family":"IPv4","name":"private","type":"private","updated_at":"2024-02-29T12:35:05.194287Z","uuid":"030c236d-5d25-4379-8864-750a40036c64"}],"nodes":[],"operational_state":"pending","plan":"development","resolvers":[],"updated_at":"2024-02-29T12:35:05.194287Z","uuid":"0a65998c-3707-4ec7-a39a-e0b38121bcb4","zone":"pl-waw1"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"testname","nameservers":["10.0.0.1","10.0.0.2"],"retries":10,"timeout":20,"timeout_retry":10,"cache_valid":123,"cache_invalid":321}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a65998c-3707-4ec7-a39a-e0b38121bcb4/resolvers
    method: POST
  response:
    body: '{"cache_invalid":321,"cache_valid":123,"created_at":"2024-02-29T12:35:05.309485Z","name":"testname","nameservers":["10.0.0.1","10.0.0.2"],"retries":10,"timeout":20,"timeout_retry":10,"updated_at":"2024-02-29T12:35:05.309485Z"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"updated_testname","nameservers":["10.0.0.1","10.0.0.2","10.0.0.3"],"retries":5,"timeout":30}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a65998c-3707-4ec7-a39a-e0b38121bcb4/resolvers/testname
    method: PATCH
  response:
    body: '{"cache_invalid":321,"cache_valid":123,"created_at":"2024-02-29T12:35:05.309485Z","name":"updated_testname","nameservers":["10.0.0.1","10.0.0.2","10.0.0.3"],"retries":5,"timeout":30,"timeout_retry":10,"updated_at":"2024-02-29T12:35:05.409173Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"timeout_retry":15,"cache_valid":124,"cache_invalid":324}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a65998c-3707-4ec7-a39a-e0b38121bcb4/resolvers/updated_testname
    method: PATCH
  response:
    body: '{"cache_invalid":324,"cache_valid":124,"created_at":"2024-02-29T12:35:05.309485Z","name":"updated_testname","nameservers":["10.0.0.1","10.0.0.2","10.0.0.3"],"retries":5,"timeout":30,"timeout_retry":15,"updated_at":"2024-02-29T12:35:05.502088Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a65998c-3707-4ec7-a39a-e0b38121bcb4
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a65998c-3707-4ec7-a39a-e0b38121bcb4
    method: GET
  response:
    body: |
      {"type":"https://developers.upcloud.com/1.3/errors#ERROR_RESOURCE_NOT_FOUND","title":"Service not found.","correlation_id":"01HQTDV5A2T57E0Z1KFY0F3Q6P","status":404}
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/problem+json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/030c236d-5d25-4379-8864-750a40036c64
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
