---
version: 1
interactions:
- request:
    body: '{"network":{"name":"go-api-lb-1709209832","zone":"fi-hel1","ip_networks":{"ip_network":[{"address":"172.16.1.0/24","dhcp":"yes","dhcp_default_route":"no","family":"IPv4"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "172.16.1.0/24",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "family" : "IPv4",
                     "gateway" : "172.16.1.1"
                  }
               ]
            },
            "labels" : [],
            "name" : "go-api-lb-1709209832",
            "type" : "private",
            "uuid" : "03edc4d4-1c90-4f6b-8f17-f02899f47936",
            "zone" : "fi-hel1"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-api-lb-fi-hel1-1709209833","plan":"development","zone":"fi-hel1","networks":[{"name":"public","type":"public","family":"IPv4"},{"name":"private","type":"private","family":"IPv4","uuid":"03edc4d4-1c90-4f6b-8f17-f02899f47936"}],"configured_status":"started","frontends":[],"backends":[],"resolvers":[],"maintenance_dow":"sunday","maintenance_time":"20:01:01Z"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer
    method: POST
  response:
    body: '{"backends":[],"configured_status":"started","created_at":"2024-02-29T12:30:33.730492Z","dns_name":"lb-0a0d2d25e5c3451f957dd7aa09619c9b-1.upcloudlb.com","frontends":[],"labels":[],"maintenance_dow":"sunday","maintenance_time":"20:01:01Z","name":"go-api-lb-fi-hel1-1709209833","networks":[{"created_at":"2024-02-29T12:30:33.730492Z","dns_name":"lb-0a0d2d25e5c3451f957dd7aa09619c9b-1.upcloudlb.com","family":"IPv4","name":"public","type":"public","updated_at":"2024-02-29T12:30:33.730492Z"},{"created_at":"2024-02-29T12:30:33.730492Z","dns_name":"lb-0a0d2d25e5c3451f957dd7aa09619c9b-2.upcloudlb.com","family":"IPv4","name":"private","type":"private","updated_at":"2024-02-29T12:30:33.730492Z","uuid":"03edc4d4-1c90-4f6b-8f17-f02899f47936"}],"nodes":[],"operational_state":"pending","plan":"development","resolvers":[],"updated_at":"2024-02-29T12:30:33.730492Z","uuid":"0a0d2d25-e5c3-451f-957d-d7aa09619c9b","zone":"fi-hel1"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"new-name-for-lb","maintenance_dow":"monday","maintenance_time":"00:01:01Z"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a0d2d25-e5c3-451f-957d-d7aa09619c9b
    method: PATCH
  response:
    body: '{"backends":[],"configured_status":"started","created_at":"2024-02-29T12:30:33.730492Z","dns_name":"lb-0a0d2d25e5c3451f957dd7aa09619c9b-1.upcloudlb.com","frontends":[],"labels":[],"maintenance_dow":"monday","maintenance_time":"00:01:01Z","name":"new-name-for-lb","networks":[{"created_at":"2024-02-29T12:30:33.730492Z","dns_name":"lb-0a0d2d25e5c3451f957dd7aa09619c9b-1.upcloudlb.com","family":"IPv4","name":"public","type":"public","updated_at":"2024-02-29T12:30:33.730492Z"},{"created_at":"2024-02-29T12:30:33.730492Z","dns_name":"lb-0a0d2d25e5c3451f957dd7aa09619c9b-2.upcloudlb.com","family":"IPv4","name":"private","type":"private","updated_at":"2024-02-29T12:30:33.730492Z","uuid":"03edc4d4-1c90-4f6b-8f17-f02899f47936"}],"nodes":[{"networks":[],"operational_state":"pending"}],"operational_state":"pending","plan":"development","resolvers":[],"updated_at":"2024-02-29T12:30:33.864507Z","uuid":"0a0d2d25-e5c3-451f-957d-d7aa09619c9b","zone":"fi-hel1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer?limit=100&offset=0
    method: GET
  response:
    body: '[{"backends":[],"configured_status":"started","created_at":"2024-02-29T12:30:33.730492Z","dns_name":"lb-0a0d2d25e5c3451f957dd7aa09619c9b-1.upcloudlb.com","frontends":[],"labels":[],"maintenance_dow":"monday","maintenance_time":"00:01:01Z","name":"new-name-for-lb","networks":[{"created_at":"2024-02-29T12:30:33.730492Z","dns_name":"lb-0a0d2d25e5c3451f957dd7aa09619c9b-1.upcloudlb.com","family":"IPv4","name":"public","type":"public","updated_at":"2024-02-29T12:30:33.730492Z"},{"created_at":"2024-02-29T12:30:33.730492Z","dns_name":"lb-0a0d2d25e5c3451f957dd7aa09619c9b-2.upcloudlb.com","family":"IPv4","name":"private","type":"private","updated_at":"2024-02-29T12:30:33.730492Z","uuid":"03edc4d4-1c90-4f6b-8f17-f02899f47936"}],"nodes":[{"networks":[],"operational_state":"pending"}],"operational_state":"pending","plan":"development","resolvers":[],"updated_at":"2024-02-29T12:30:33.92768Z","uuid":"0a0d2d25-e5c3-451f-957d-d7aa09619c9b","zone":"fi-hel1"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a0d2d25-e5c3-451f-957d-d7aa09619c9b
    method: GET
  response:
    body: |
      {"type":"https://developers.upcloud.com/1.3/errors#ERROR_RESOURCE_NOT_FOUND","title":"Service not found.","correlation_id":"01HQTDJZV4P4HFBD0PGWTK30NQ","status":404}
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/problem+json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/03edc4d4-1c90-4f6b-8f17-f02899f47936
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
