---
version: 1
interactions:
- request:
    body: '{"network":{"name":"go-test-lb-1654851663","zone":"de-fra1","ip_networks":{"ip_network":[{"address":"10.0.0.1/24","dhcp":"yes","dhcp_default_route":"no","family":"IPv4"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "10.0.0.1/24",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "family" : "IPv4",
                     "gateway" : "10.0.0.1"
                  }
               ]
            },
            "name" : "go-test-lb-1654851663",
            "type" : "private",
            "uuid" : "0328a429-0270-477a-9c11-411369718090",
            "zone" : "de-fra1"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-test-lb-de-fra1-1654851664","plan":"development","zone":"de-fra1","network_uuid":"0328a429-0270-477a-9c11-411369718090","configured_status":"started","frontends":[],"backends":[],"resolvers":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer
    method: POST
  response:
    body: '{"backends":[],"configured_status":"started","created_at":"2022-06-10T09:01:04.475777Z","dns_name":"lb-0ae8d7a3a289443c8bc63b68375052ab.upcloudlb.com","frontends":[],"name":"go-test-lb-de-fra1-1654851664","network_uuid":"0328a429-0270-477a-9c11-411369718090","operational_state":"pending","plan":"development","resolvers":[],"updated_at":"2022-06-10T09:01:04.475777Z","uuid":"0ae8d7a3-a289-443c-8bc6-3b68375052ab","zone":"de-fra1"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-test-lb-backend-1654851664","members":[{"name":"default-lb-backend-member","weight":100,"max_sessions":1000,"enabled":true,"type":"dynamic","ip":"196.123.123.123","port":8000}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0ae8d7a3-a289-443c-8bc6-3b68375052ab/backends
    method: POST
  response:
    body: '{"created_at":"2022-06-10T09:01:04.551274Z","members":[{"created_at":"2022-06-10T09:01:04.551274Z","enabled":true,"ip":"196.123.123.123","max_sessions":1000,"name":"default-lb-backend-member","port":8000,"type":"dynamic","updated_at":"2022-06-10T09:01:04.551274Z","weight":100}],"name":"go-test-lb-backend-1654851664","properties":{"health_check_expected_status":200,"health_check_fall":3,"health_check_interval":10,"health_check_rise":3,"health_check_type":"tcp","health_check_url":"/","sticky_session_cookie_name":"","timeout_server":10,"timeout_tunnel":3600},"updated_at":"2022-06-10T09:01:04.551274Z"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"fe-1","mode":"http","port":443,"default_backend":"go-test-lb-backend-1654851664","properties":{"timeout_client":10,"inbound_proxy_protocol":false}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0ae8d7a3-a289-443c-8bc6-3b68375052ab/frontends
    method: POST
  response:
    body: '{"created_at":"2022-06-10T09:01:04.622599Z","default_backend":"go-test-lb-backend-1654851664","mode":"http","name":"fe-1","port":443,"properties":{"timeout_client":10},"rules":[],"tls_configs":[],"updated_at":"2022-06-10T09:01:04.622599Z"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"fe-2","mode":"tcp","port":80,"properties":{"inbound_proxy_protocol":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0ae8d7a3-a289-443c-8bc6-3b68375052ab/frontends/fe-1
    method: PATCH
  response:
    body: '{"created_at":"2022-06-10T09:01:04.622599Z","default_backend":"go-test-lb-backend-1654851664","mode":"tcp","name":"fe-2","port":80,"properties":{"inbound_proxy_protocol":true,"timeout_client":10},"rules":[],"tls_configs":[],"updated_at":"2022-06-10T09:01:04.693501Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0ae8d7a3-a289-443c-8bc6-3b68375052ab
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0ae8d7a3-a289-443c-8bc6-3b68375052ab
    method: GET
  response:
    body: |
      {"type":"https://developers.upcloud.com/1.3/errors#ERROR_RESOURCE_NOT_FOUND","title":"Service not found.","correlation_id":"01G56DJQ6EETKHBSQFPJ2X4EZN","status":404}
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/problem+json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/0328a429-0270-477a-9c11-411369718090
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
