---
version: 1
interactions:
- request:
    body: '{"network":{"name":"go-api-lb-1709209910","zone":"pl-waw1","ip_networks":{"ip_network":[{"address":"192.168.55.0/24","dhcp":"yes","dhcp_default_route":"no","family":"IPv4"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "192.168.55.0/24",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "family" : "IPv4",
                     "gateway" : "192.168.55.1"
                  }
               ]
            },
            "labels" : [],
            "name" : "go-api-lb-1709209910",
            "type" : "private",
            "uuid" : "03d24349-9f27-4e7d-9580-0dcc6e9536e1",
            "zone" : "pl-waw1"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-api-lb-networks-pl-waw1-1709209911","plan":"development","zone":"pl-waw1","networks":[{"name":"public_net","type":"public","family":"IPv4"},{"name":"private_net","type":"private","family":"IPv4","uuid":"03d24349-9f27-4e7d-9580-0dcc6e9536e1"}],"configured_status":"started","frontends":[{"name":"fe1_network_test","mode":"http","port":80,"default_backend":"be_network_test","networks":[{"name":"public_net"},{"name":"private_net"}]}],"backends":[{"name":"be_network_test","members":[]}],"resolvers":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer
    method: POST
  response:
    body: '{"backends":[{"created_at":"2024-02-29T12:31:51.510899Z","members":[],"name":"be_network_test","properties":{"health_check_expected_status":200,"health_check_fall":3,"health_check_interval":10,"health_check_on_down":"","health_check_rise":3,"health_check_tls_verify":false,"health_check_type":"tcp","health_check_url":"/","http2_enabled":false,"outbound_proxy_protocol":"","sticky_session_cookie_name":"","timeout_server":10,"timeout_tunnel":3600,"tls_enabled":false,"tls_use_system_ca":false,"tls_verify":false},"resolver":"","tls_configs":[],"updated_at":"2024-02-29T12:31:51.510899Z"}],"configured_status":"started","created_at":"2024-02-29T12:31:51.510899Z","dns_name":"lb-0a9b3d6871e44699a91287011242edd7-1.upcloudlb.com","frontends":[{"created_at":"2024-02-29T12:31:51.510899Z","default_backend":"be_network_test","mode":"http","name":"fe1_network_test","networks":[{"name":"public_net"},{"name":"private_net"}],"port":80,"properties":{"http2_enabled":false,"timeout_client":10},"rules":[],"tls_configs":[],"updated_at":"2024-02-29T12:31:51.510899Z"}],"labels":[],"maintenance_dow":"saturday","maintenance_time":"03:13:11Z","name":"go-api-lb-networks-pl-waw1-1709209911","networks":[{"created_at":"2024-02-29T12:31:51.510899Z","dns_name":"lb-0a9b3d6871e44699a91287011242edd7-1.upcloudlb.com","family":"IPv4","name":"public_net","type":"public","updated_at":"2024-02-29T12:31:51.510899Z"},{"created_at":"2024-02-29T12:31:51.510899Z","dns_name":"lb-0a9b3d6871e44699a91287011242edd7-2.upcloudlb.com","family":"IPv4","name":"private_net","type":"private","updated_at":"2024-02-29T12:31:51.510899Z","uuid":"03d24349-9f27-4e7d-9580-0dcc6e9536e1"}],"nodes":[],"operational_state":"pending","plan":"development","resolvers":[],"updated_at":"2024-02-29T12:31:51.510899Z","uuid":"0a9b3d68-71e4-4699-a912-87011242edd7","zone":"pl-waw1"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"fe2_network_test","mode":"http","port":443,"default_backend":"be_network_test","networks":[{"name":"private_net"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a9b3d68-71e4-4699-a912-87011242edd7/frontends
    method: POST
  response:
    body: '{"created_at":"2024-02-29T12:31:51.654921Z","default_backend":"be_network_test","mode":"http","name":"fe2_network_test","networks":[{"name":"private_net"}],"port":443,"properties":{"http2_enabled":false,"timeout_client":10},"rules":[],"tls_configs":[],"updated_at":"2024-02-29T12:31:51.654921Z"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a9b3d68-71e4-4699-a912-87011242edd7
    method: GET
  response:
    body: '{"backends":[{"created_at":"2024-02-29T12:31:51.510899Z","members":[],"name":"be_network_test","properties":{"health_check_expected_status":200,"health_check_fall":3,"health_check_interval":10,"health_check_on_down":"","health_check_rise":3,"health_check_tls_verify":false,"heal[...]
- request:
    body: '{"name":"internal_net"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a9b3d68-71e4-4699-a912-87011242edd7/networks/private_net
    method: PATCH
  response:
    body: '{"created_at":"2024-02-29T12:31:51.510899Z","dns_name":"lb-0a9b3d6871e44699a91287011242edd7-2.upcloudlb.com","family":"IPv4","name":"internal_net","type":"private","updated_at":"2024-02-29T12:35:29.355192Z","uuid":"03d24349-9f27-4e7d-9580-0dcc6e9536e1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"private_net"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a9b3d68-71e4-4699-a912-87011242edd7/networks/internal_net
    method: PATCH
  response:
    body: '{"created_at":"2024-02-29T12:31:51.510899Z","dns_name":"lb-0a9b3d6871e44699a91287011242edd7-2.upcloudlb.com","family":"IPv4","name":"private_net","type":"private","updated_at":"2024-02-29T12:35:29.474373Z","uuid":"03d24349-9f27-4e7d-9580-0dcc6e9536e1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a9b3d68-71e4-4699-a912-87011242edd7
    method: GET
  response:
    body: |
      {"type":"https://developers.upcloud.com/1.3/errors#ERROR_RESOURCE_NOT_FOUND","title":"Service not found.","correlation_id":"01HQTDTHZWRHMZ69XHTV4Q9TPD","status":404}
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/problem+json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/03d24349-9f27-4e7d-9580-0dcc6e9536e1
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
