---
version: 1
interactions:
- request:
    body: '{"network":{"name":"go-test-lb-1686162462","zone":"fi-hel2","ip_networks":{"ip_network":[{"address":"10.0.1.0/24","dhcp":"yes","dhcp_default_route":"no","family":"IPv4"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "10.0.1.0/24",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "family" : "IPv4",
                     "gateway" : "10.0.1.1"
                  }
               ]
            },
            "labels" : [],
            "name" : "go-test-lb-1686162462",
            "type" : "private",
            "uuid" : "038267fb-505d-4b12-aa24-00351611ab64",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-test-lb-fi-hel2-1686162463","plan":"development","zone":"fi-hel2","network_uuid":"038267fb-505d-4b12-aa24-00351611ab64","configured_status":"started","frontends":[{"name":"fe-1","mode":"http","port":80,"default_backend":"be-1"}],"backends":[{"name":"be-1","resolver":"ns-1","members":[]}],"resolvers":[{"name":"ns-1","nameservers":["10.1.1.100"],"retries":10,"timeout":10,"timeout_retry":10,"cache_valid":10,"cache_invalid":10}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer
    method: POST
  response:
    body: '{"backends":[{"created_at":"2023-06-07T18:27:43.857693Z","members":[],"name":"be-1","properties":{"health_check_expected_status":200,"health_check_fall":3,"health_check_interval":10,"health_check_rise":3,"health_check_tls_verify":false,"health_check_type":"tcp","health_check_url":"/","outbound_proxy_protocol":"","sticky_session_cookie_name":"","timeout_server":10,"timeout_tunnel":3600},"resolver":"ns-1","updated_at":"2023-06-07T18:27:43.857693Z"}],"configured_status":"started","created_at":"2023-06-07T18:27:43.857693Z","dns_name":"lb-0af32ff070974d8fa73ae56d03bd726d-1.upcloudlb.com","frontends":[{"created_at":"2023-06-07T18:27:43.857693Z","default_backend":"be-1","mode":"http","name":"fe-1","networks":[{"name":"public-IPv4"}],"port":80,"properties":{"timeout_client":10},"rules":[],"tls_configs":[],"updated_at":"2023-06-07T18:27:43.857693Z"}],"labels":[],"maintenance_dow":"sunday","maintenance_time":"02:36:24Z","name":"go-test-lb-fi-hel2-1686162463","network_uuid":"038267fb-505d-4b12-aa24-00351611ab64","networks":[{"created_at":"2023-06-07T18:27:43.857693Z","dns_name":"lb-0af32ff070974d8fa73ae56d03bd726d-1.upcloudlb.com","family":"IPv4","name":"public-IPv4","type":"public","updated_at":"2023-06-07T18:27:43.857693Z"},{"created_at":"2023-06-07T18:27:43.857693Z","dns_name":"lb-0af32ff070974d8fa73ae56d03bd726d-2.upcloudlb.com","family":"IPv4","name":"private-IPv4","type":"private","updated_at":"2023-06-07T18:27:43.857693Z","uuid":"038267fb-505d-4b12-aa24-00351611ab64"}],"nodes":[],"operational_state":"pending","plan":"development","resolvers":[{"cache_invalid":10,"cache_valid":10,"created_at":"2023-06-07T18:27:43.857693Z","name":"ns-1","nameservers":["10.1.1.100"],"retries":10,"timeout":10,"timeout_retry":10,"updated_at":"2023-06-07T18:27:43.857693Z"}],"updated_at":"2023-06-07T18:27:43.857693Z","uuid":"0af32ff0-7097-4d8f-a73a-e56d03bd726d","zone":"fi-hel2"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"rule-1","priority":10,"matchers":[{"type":"src_ip","match_src_ip":{"value":"10.1.1.200"}},{"type":"src_ip","match_src_ip":{"value":"10.1.2.200"},"inverse":true}],"actions":[{"type":"tcp_reject","action_tcp_reject":{}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0af32ff0-7097-4d8f-a73a-e56d03bd726d/frontends/fe-1/rules
    method: POST
  response:
    body: '{"actions":[{"type":"tcp_reject","action_tcp_reject":{}}],"created_at":"2023-06-07T18:27:44.040296Z","matchers":[{"type":"src_ip","inverse":false,"match_src_ip":{"value":"10.1.1.200"}},{"type":"src_ip","inverse":true,"match_src_ip":{"value":"10.1.2.200"}}],"name":"rule-1","priority":10,"updated_at":"2023-06-07T18:27:44.040296Z"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"rule","priority":20}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0af32ff0-7097-4d8f-a73a-e56d03bd726d/frontends/fe-1/rules/rule-1
    method: PATCH
  response:
    body: '{"actions":[{"type":"tcp_reject","action_tcp_reject":{}}],"created_at":"2023-06-07T18:27:44.040296Z","matchers":[{"type":"src_ip","inverse":false,"match_src_ip":{"value":"10.1.1.200"}},{"type":"src_ip","inverse":true,"match_src_ip":{"value":"10.1.2.200"}}],"name":"rule","priority":20,"updated_at":"2023-06-07T18:27:44.206871Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"rule-1","priority":10,"matchers":[{"type":"src_ip","match_src_ip":{"value":"10.1.1.201"}}],"actions":[{"type":"http_return","action_http_return":{"status":404,"content_type":"text/html","payload":"PGgxPmFwcGxlYmVlPC9oMT4K"}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0af32ff0-7097-4d8f-a73a-e56d03bd726d/frontends/fe-1/rules/rule
    method: PUT
  response:
    body: '{"actions":[{"type":"http_return","action_http_return":{"status":404,"content_type":"text/html","payload":"PGgxPmFwcGxlYmVlPC9oMT4K"}}],"created_at":"2023-06-07T18:27:44.386791Z","matchers":[{"type":"src_ip","inverse":false,"match_src_ip":{"value":"10.1.1.201"}}],"name":"rule-1","priority":10,"updated_at":"2023-06-07T18:27:44.386791Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0af32ff0-7097-4d8f-a73a-e56d03bd726d
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0af32ff0-7097-4d8f-a73a-e56d03bd726d
    method: GET
  response:
    body: |
      {"type":"https://developers.upcloud.com/1.3/errors#ERROR_RESOURCE_NOT_FOUND","title":"Service not found.","correlation_id":"01H2BHX75XG0JZD2J07H86V6X5","status":404}
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/problem+json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/038267fb-505d-4b12-aa24-00351611ab64
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
