---
version: 1
interactions:
- request:
    body: '{"network":{"name":"go-test-lb-1647600807","zone":"pl-waw1","ip_networks":{"ip_network":[{"address":"10.0.0.0/24","dhcp":"yes","dhcp_default_route":"no","family":"IPv4"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "10.0.0.0/24",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "family" : "IPv4",
                     "gateway" : "10.0.0.1"
                  }
               ]
            },
            "name" : "go-test-lb-1647600807",
            "type" : "private",
            "uuid" : "031e4cd0-6932-4d6d-8fac-5563a0a3d759",
            "zone" : "pl-waw1"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-test-lb-pl-waw1-1647600808","plan":"development","zone":"pl-waw1","network_uuid":"031e4cd0-6932-4d6d-8fac-5563a0a3d759","configured_status":"started","frontends":[],"backends":[],"resolvers":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/loadbalancer
    method: POST
  response:
    body: '{"backends":[],"configured_status":"started","created_at":"2022-03-18T10:53:28.27439Z","dns_name":"lb-0a0083551b9e4b99a1fce854c67d89ba.upcloudlb.com","frontends":[],"name":"go-test-lb-pl-waw1-1647600808","network_uuid":"031e4cd0-6932-4d6d-8fac-5563a0a3d759","operational_state":"pending","plan":"development","resolvers":[],"updated_at":"2022-03-18T10:53:28.27439Z","uuid":"0a008355-1b9e-4b99-a1fc-e854c67d89ba","zone":"pl-waw1"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"testname","nameservers":["10.0.0.1","10.0.0.2"],"retries":10,"timeout":20,"timeout_retry":10,"cache_valid":123,"cache_invalid":321}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a008355-1b9e-4b99-a1fc-e854c67d89ba/resolvers
    method: POST
  response:
    body: '{"cache_invalid":321,"cache_valid":123,"created_at":"0001-01-01T00:00:00Z","name":"testname","nameservers":["10.0.0.1","10.0.0.2"],"retries":10,"timeout":20,"timeout_retry":10,"updated_at":"0001-01-01T00:00:00Z"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"updated_testname","nameservers":["10.0.0.1","10.0.0.2","10.0.0.3"],"retries":5,"timeout":30}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a008355-1b9e-4b99-a1fc-e854c67d89ba/resolvers/testname
    method: PATCH
  response:
    body: '{"cache_invalid":321,"cache_valid":123,"created_at":"2022-03-18T10:53:28.362104Z","name":"updated_testname","nameservers":["10.0.0.1","10.0.0.2","10.0.0.3"],"retries":5,"timeout":30,"timeout_retry":10,"updated_at":"2022-03-18T10:53:28.362104Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"timeout_retry":15,"cache_valid":124,"cache_invalid":324}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a008355-1b9e-4b99-a1fc-e854c67d89ba/resolvers/updated_testname
    method: PATCH
  response:
    body: '{"cache_invalid":324,"cache_valid":124,"created_at":"2022-03-18T10:53:28.362104Z","name":"updated_testname","nameservers":["10.0.0.1","10.0.0.2","10.0.0.3"],"retries":5,"timeout":30,"timeout_retry":15,"updated_at":"2022-03-18T10:53:28.427657Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a008355-1b9e-4b99-a1fc-e854c67d89ba
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/031e4cd0-6932-4d6d-8fac-5563a0a3d759
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
