---
version: 1
interactions:
- request:
    body: '{"network":{"name":"go-api-lb-1709209697","zone":"fi-hel2","ip_networks":{"ip_network":[{"address":"172.16.0.0/24","dhcp":"yes","dhcp_default_route":"no","family":"IPv4"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "172.16.0.0/24",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "family" : "IPv4",
                     "gateway" : "172.16.0.1"
                  }
               ]
            },
            "labels" : [],
            "name" : "go-api-lb-1709209697",
            "type" : "private",
            "uuid" : "036a49c0-e78d-4257-b97b-8443e043d26b",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-api-lb-fi-hel2-1709209698","plan":"development","zone":"fi-hel2","networks":[{"name":"public","type":"public","family":"IPv4"},{"name":"private","type":"private","family":"IPv4","uuid":"036a49c0-e78d-4257-b97b-8443e043d26b"}],"configured_status":"started","frontends":[],"backends":[],"resolvers":[],"maintenance_dow":"sunday","maintenance_time":"20:01:01Z"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer
    method: POST
  response:
    body: '{"backends":[],"configured_status":"started","created_at":"2024-02-29T12:28:18.787576Z","dns_name":"lb-0a3e94714e2c4c09afc69f6aa11493ed-1.upcloudlb.com","frontends":[],"labels":[],"maintenance_dow":"sunday","maintenance_time":"20:01:01Z","name":"go-api-lb-fi-hel2-1709209698","networks":[{"created_at":"2024-02-29T12:28:18.787576Z","dns_name":"lb-0a3e94714e2c4c09afc69f6aa11493ed-1.upcloudlb.com","family":"IPv4","name":"public","type":"public","updated_at":"2024-02-29T12:28:18.787576Z"},{"created_at":"2024-02-29T12:28:18.787576Z","dns_name":"lb-0a3e94714e2c4c09afc69f6aa11493ed-2.upcloudlb.com","family":"IPv4","name":"private","type":"private","updated_at":"2024-02-29T12:28:18.787576Z","uuid":"036a49c0-e78d-4257-b97b-8443e043d26b"}],"nodes":[],"operational_state":"pending","plan":"development","resolvers":[],"updated_at":"2024-02-29T12:28:18.787576Z","uuid":"0a3e9471-4e2c-4c09-afc6-9f6aa11493ed","zone":"fi-hel2"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer?limit=2&offset=0
    method: GET
  response:
    body: '[{"backends":[],"configured_status":"started","created_at":"2024-02-29T12:28:18.787576Z","dns_name":"lb-0a3e94714e2c4c09afc69f6aa11493ed-1.upcloudlb.com","frontends":[],"labels":[],"maintenance_dow":"sunday","maintenance_time":"20:01:01Z","name":"go-api-lb-fi-hel2-1709209698","networks":[{"created[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a3e9471-4e2c-4c09-afc6-9f6aa11493ed
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a3e9471-4e2c-4c09-afc6-9f6aa11493ed
    method: GET
  response:
    body: |
      {"type":"https://developers.upcloud.com/1.3/errors#ERROR_RESOURCE_NOT_FOUND","title":"Service not found.","correlation_id":"01HQTDG2A1MCFGY0AY2JHX3WAT","status":404}
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/problem+json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/036a49c0-e78d-4257-b97b-8443e043d26b
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
[...]
