---
version: 1
interactions:
- request:
    body: '{"network":{"name":"go-test-lb-1686161700","zone":"pl-waw1","ip_networks":{"ip_network":[{"address":"10.0.0.0/24","dhcp":"yes","dhcp_default_route":"no","family":"IPv4"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "10.0.0.0/24",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "family" : "IPv4",
                     "gateway" : "10.0.0.1"
                  }
               ]
            },
            "labels" : [],
            "name" : "go-test-lb-1686161700",
            "type" : "private",
            "uuid" : "03c8c521-f0ce-41a1-a7ef-c4515d46b415",
            "zone" : "pl-waw1"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-test-lb-pl-waw1-1686161701","plan":"development","zone":"pl-waw1","network_uuid":"03c8c521-f0ce-41a1-a7ef-c4515d46b415","configured_status":"started","frontends":[],"backends":[],"resolvers":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer
    method: POST
  response:
    body: '{"backends":[],"configured_status":"started","created_at":"2023-06-07T18:15:01.172673Z","dns_name":"lb-0a4cd9cac8d049d383d9c32d6b1f5533-1.upcloudlb.com","frontends":[],"labels":[],"maintenance_dow":"sunday","maintenance_time":"00:59:11Z","name":"go-test-lb-pl-waw1-1686161701","network_uuid":"03c8c521-f0ce-41a1-a7ef-c4515d46b415","networks":[{"created_at":"2023-06-07T18:15:01.172673Z","dns_name":"lb-0a4cd9cac8d049d383d9c32d6b1f5533-1.upcloudlb.com","family":"IPv4","name":"public-IPv4","type":"public","updated_at":"2023-06-07T18:15:01.172673Z"},{"created_at":"2023-06-07T18:15:01.172673Z","dns_name":"lb-0a4cd9cac8d049d383d9c32d6b1f5533-2.upcloudlb.com","family":"IPv4","name":"private-IPv4","type":"private","updated_at":"2023-06-07T18:15:01.172673Z","uuid":"03c8c521-f0ce-41a1-a7ef-c4515d46b415"}],"nodes":[],"operational_state":"pending","plan":"development","resolvers":[],"updated_at":"2023-06-07T18:15:01.172673Z","uuid":"0a4cd9ca-c8d0-49d3-83d9-c32d6b1f5533","zone":"pl-waw1"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"testname","nameservers":["10.0.0.1","10.0.0.2"],"retries":10,"timeout":20,"timeout_retry":10,"cache_valid":123,"cache_invalid":321}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a4cd9ca-c8d0-49d3-83d9-c32d6b1f5533/resolvers
    method: POST
  response:
    body: '{"cache_invalid":321,"cache_valid":123,"created_at":"2023-06-07T18:15:01.34095Z","name":"testname","nameservers":["10.0.0.1","10.0.0.2"],"retries":10,"timeout":20,"timeout_retry":10,"updated_at":"2023-06-07T18:15:01.34095Z"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"updated_testname","nameservers":["10.0.0.1","10.0.0.2","10.0.0.3"],"retries":5,"timeout":30}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a4cd9ca-c8d0-49d3-83d9-c32d6b1f5533/resolvers/testname
    method: PATCH
  response:
    body: '{"cache_invalid":321,"cache_valid":123,"created_at":"2023-06-07T18:15:01.34095Z","name":"updated_testname","nameservers":["10.0.0.1","10.0.0.2","10.0.0.3"],"retries":5,"timeout":30,"timeout_retry":10,"updated_at":"2023-06-07T18:15:01.487422Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"timeout_retry":15,"cache_valid":124,"cache_invalid":324}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a4cd9ca-c8d0-49d3-83d9-c32d6b1f5533/resolvers/updated_testname
    method: PATCH
  response:
    body: '{"cache_invalid":324,"cache_valid":124,"created_at":"2023-06-07T18:15:01.34095Z","name":"updated_testname","nameservers":["10.0.0.1","10.0.0.2","10.0.0.3"],"retries":5,"timeout":30,"timeout_retry":15,"updated_at":"2023-06-07T18:15:01.627829Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a4cd9ca-c8d0-49d3-83d9-c32d6b1f5533
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a4cd9ca-c8d0-49d3-83d9-c32d6b1f5533
    method: GET
  response:
    body: |
      {"type":"https://developers.upcloud.com/1.3/errors#ERROR_RESOURCE_NOT_FOUND","title":"Service not found.","correlation_id":"01H2BH57NFSEKC66NKJWAJQDX8","status":404}
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/problem+json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/03c8c521-f0ce-41a1-a7ef-c4515d46b415
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
