---
version: 1
interactions:
- request:
    body: '{"network":{"name":"go-api-lb-1750327945","zone":"fi-hel1","ip_networks":{"ip_network":[{"address":"172.16.1.0/24","dhcp":"yes","dhcp_default_route":"no","family":"IPv4"}]}}}'
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: '{"network":{"effective_routes":[],"ip_networks":{"ip_network":[{"address":"172.16.1.0/24","dhcp":"yes","dhcp_default_route":"no","dhcp_effective_routes":[],"dhcp_routes_configuration":{"effective_routes_auto_population":{"enabled":"no"}},"family":"IPv4","gateway":"172.16.1.1"}]},"labels":[],"name":"go-api-lb-1750327945","type":"private","uuid":"03fe5652-def9-4391-9168-107ef5c6e4ae","zone":"fi-hel1"}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-api-lb-fi-hel1-1750327946","plan":"development","zone":"fi-hel1","network_uuid":"03fe5652-def9-4391-9168-107ef5c6e4ae","configured_status":"started","frontends":[],"backends":[],"resolvers":[],"maintenance_dow":"sunday","maintenance_time":"20:01:01Z"}'
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer
    method: POST
  response:
    body: '{"backends":[],"configured_status":"started","created_at":"2025-06-19T10:12:27.158028Z","dns_name":"lb-0ae49807cd0b4d759c41d8f319ef32ec-1.upcloudlb.com","frontends":[],"ip_addresses":[],"labels":[],"maintenance_dow":"sunday","maintenance_time":"20:01:01Z","name":"go-api-lb-fi-hel1-1750327946","network_uuid":"03fe5652-def9-4391-9168-107ef5c6e4ae","networks":[{"created_at":"2025-06-19T10:12:27.158028Z","dns_name":"lb-0ae49807cd0b4d759c41d8f319ef32ec-1.upcloudlb.com","family":"IPv4","name":"public-IPv4","type":"public","updated_at":"2025-06-19T10:12:27.158028Z"},{"created_at":"2025-06-19T10:12:27.158028Z","dns_name":"lb-0ae49807cd0b4d759c41d8f319ef32ec-2.upcloudlb.com","family":"IPv4","name":"private-IPv4","type":"private","updated_at":"2025-06-19T10:12:27.158028Z","uuid":"03fe5652-def9-4391-9168-107ef5c6e4ae"}],"nodes":[],"operational_state":"pending","plan":"development","resolvers":[],"updated_at":"2025-06-19T10:12:27.158028Z","uuid":"0ae49807-cd0b-4d75-9c41-d8f319ef32ec","zone":"fi-hel1"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"new-name-for-lb","maintenance_dow":"monday","maintenance_time":"00:01:01Z"}'
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0ae49807-cd0b-4d75-9c41-d8f319ef32ec
    method: PATCH
  response:
    body: '{"backends":[],"configured_status":"started","created_at":"2025-06-19T10:12:27.158028Z","dns_name":"lb-0ae49807cd0b4d759c41d8f319ef32ec-1.upcloudlb.com","frontends":[],"ip_addresses":[],"labels":[],"maintenance_dow":"monday","maintenance_time":"00:01:01Z","name":"new-name-for-lb","network_uuid":"03fe5652-def9-4391-9168-107ef5c6e4ae","networks":[{"created_at":"2025-06-19T10:12:27.158028Z","dns_name":"lb-0ae49807cd0b4d759c41d8f319ef32ec-1.upcloudlb.com","family":"IPv4","name":"public-IPv4","type":"public","updated_at":"2025-06-19T10:15:27.646948Z"},{"created_at":"2025-06-19T10:12:27.158028Z","dns_name":"lb-0ae49807cd0b4d759c41d8f319ef32ec-2.upcloudlb.com","family":"IPv4","name":"private-IPv4","type":"private","updated_at":"2025-06-19T10:15:27.646948Z","uuid":"03fe5652-def9-4391-9168-107ef5c6e4ae"}],"nodes":[{"networks":[{"ip_addresses":[{"address":"94.237.114.77","listen":true}],"name":"public-IPv4","type":"public"},{"ip_addresses":[{"address":"172.16.1.2","listen":false},{"address":"172.16.1.3","listen":true}],"name":"private-IPv4","type":"private"}],"operational_state":"running"}],"operational_state":"pending","plan":"development","resolvers":[],"updated_at":"2025-06-19T10:15:27.646948Z","uuid":"0ae49807-cd0b-4d75-9c41-d8f319ef32ec","zone":"fi-hel1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer?limit=100&offset=0
    method: GET
  response:
    body: '[{"backends":[],"configured_status":"started","created_at":"2025-06-18T08:55:42.751243Z","dns_name":"lb-0aa49e3bee134acdb92ba6e57f190654-1.upcloudlb.com","frontends":[],"ip_addresses":[],"labels":[],"maintenance_dow":"saturday","maintenance_time":"03[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0ae49807-cd0b-4d75-9c41-d8f319ef32ec
    method: GET
  response:
    body: '{"correlation_id":"01JY3V06MVWFHKM60ZYMHGE4C1","status":404,"title":"Service
      not found.","type":"https://developers.upcloud.com/1.3/errors#ERROR_RESOURCE_NOT_FOUND"}'
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/problem+json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/03fe5652-def9-4391-9168-107ef5c6e4ae
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
