---
version: 1
interactions:
- request:
    body: '{"network":{"name":"go-test-lb-1667566873","zone":"pl-waw1","ip_networks":{"ip_network":[{"address":"192.168.55.0/24","dhcp":"yes","dhcp_default_route":"no","family":"IPv4"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "192.168.55.0/24",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "family" : "IPv4",
                     "gateway" : "192.168.55.1"
                  }
               ]
            },
            "name" : "go-test-lb-1667566873",
            "type" : "private",
            "uuid" : "035d4ba8-02d1-452b-8e16-63b3f2a292c3",
            "zone" : "pl-waw1"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-test-lb-networks-pl-waw1-1667566873","plan":"development","zone":"pl-waw1","networks":[{"name":"public_net","type":"public","family":"IPv4"},{"name":"private_net","type":"private","family":"IPv4","uuid":"035d4ba8-02d1-452b-8e16-63b3f2a292c3"}],"configured_status":"started","frontends":[{"name":"fe1_network_test","mode":"http","port":80,"default_backend":"be_network_test","networks":[{"name":"public_net"},{"name":"private_net"}]}],"backends":[{"name":"be_network_test","members":[]}],"resolvers":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer
    method: POST
  response:
    body: '{"backends":[{"created_at":"2022-11-04T13:01:14.265489Z","members":[],"name":"be_network_test","properties":{"health_check_expected_status":200,"health_check_fall":3,"health_check_interval":10,"health_check_rise":3,"health_check_type":"tcp","health_check_url":"/","sticky_session_cookie_name":"","timeout_server":10,"timeout_tunnel":3600},"updated_at":"2022-11-04T13:01:14.265489Z"}],"configured_status":"started","created_at":"2022-11-04T13:01:14.265489Z","dns_name":"lb-0a6351d4666342fea8ff8c64dcd4ca6e-1.upcloudlb.com","frontends":[{"created_at":"2022-11-04T13:01:14.265489Z","default_backend":"be_network_test","mode":"http","name":"fe1_network_test","networks":[{"name":"public_net"},{"name":"private_net"}],"port":80,"properties":{"timeout_client":10},"rules":[],"tls_configs":[],"updated_at":"2022-11-04T13:01:14.265489Z"}],"name":"go-test-lb-networks-pl-waw1-1667566873","networks":[{"created_at":"2022-11-04T13:01:14.265489Z","dns_name":"lb-0a6351d4666342fea8ff8c64dcd4ca6e-1.upcloudlb.com","family":"IPv4","name":"public_net","type":"public","updated_at":"2022-11-04T13:01:14.265489Z"},{"created_at":"2022-11-04T13:01:14.265489Z","dns_name":"lb-0a6351d4666342fea8ff8c64dcd4ca6e-2.upcloudlb.com","family":"IPv4","name":"private_net","type":"private","updated_at":"2022-11-04T13:01:14.265489Z","uuid":"035d4ba8-02d1-452b-8e16-63b3f2a292c3"}],"nodes":[],"operational_state":"pending","plan":"development","resolvers":[],"updated_at":"2022-11-04T13:01:14.265489Z","uuid":"0a6351d4-6663-42fe-a8ff-8c64dcd4ca6e","zone":"pl-waw1"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"fe2_network_test","mode":"http","port":443,"default_backend":"be_network_test","networks":[{"name":"private_net"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a6351d4-6663-42fe-a8ff-8c64dcd4ca6e/frontends
    method: POST
  response:
    body: '{"created_at":"2022-11-04T13:01:14.404417Z","default_backend":"be_network_test","mode":"http","name":"fe2_network_test","networks":[{"name":"private_net"}],"port":443,"properties":{"timeout_client":10},"rules":[],"tls_configs":[],"updated_at":"2022-11-04T13:01:14.404417Z"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a6351d4-6663-42fe-a8ff-8c64dcd4ca6e
    method: GET
  response:
    body: '{"backends":[{"created_at":"2022-11-04T13:01:14.265489Z","members":[],"name":"be_network_test","properties":{"health_check_expected_status":200,"health_check_fall":3,"health_check_interval":10,"health_check_rise":3,"health_check_type":"tcp","health_check_url":"/","sticky_sessio[...]
- request:
    body: '{"name":"internal_net"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a6351d4-6663-42fe-a8ff-8c64dcd4ca6e/networks/private_net
    method: PATCH
  response:
    body: '{"created_at":"2022-11-04T13:01:14.265489Z","dns_name":"lb-0a6351d4666342fea8ff8c64dcd4ca6e-2.upcloudlb.com","family":"IPv4","name":"internal_net","type":"private","updated_at":"2022-11-04T13:03:23.252855Z","uuid":"035d4ba8-02d1-452b-8e16-63b3f2a292c3"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"private_net"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a6351d4-6663-42fe-a8ff-8c64dcd4ca6e/networks/internal_net
    method: PATCH
  response:
    body: '{"created_at":"2022-11-04T13:01:14.265489Z","dns_name":"lb-0a6351d4666342fea8ff8c64dcd4ca6e-2.upcloudlb.com","family":"IPv4","name":"private_net","type":"private","updated_at":"2022-11-04T13:03:23.349226Z","uuid":"035d4ba8-02d1-452b-8e16-63b3f2a292c3"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
