---
version: 1
interactions:
- request:
    body: '{"network":{"name":"go-test-lb-1648824572","zone":"fi-hel2","ip_networks":{"ip_network":[{"address":"172.16.0.0/24","dhcp":"yes","dhcp_default_route":"no","family":"IPv4"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "172.16.0.0/24",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "family" : "IPv4",
                     "gateway" : "172.16.0.1"
                  }
               ]
            },
            "name" : "go-test-lb-1648824572",
            "type" : "private",
            "uuid" : "03dacc38-b334-4fd5-826c-3a351b884770",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-test-lb-fi-hel2-1648824573","plan":"development","zone":"fi-hel2","network_uuid":"03dacc38-b334-4fd5-826c-3a351b884770","configured_status":"started","frontends":[],"backends":[],"resolvers":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer
    method: POST
  response:
    body: '{"backends":[],"configured_status":"started","created_at":"2022-04-01T14:49:33.538326Z","dns_name":"lb-0a71143362b54df4980f67c04710be4f.upcloudlb.com","frontends":[],"name":"go-test-lb-fi-hel2-1648824573","network_uuid":"03dacc38-b334-4fd5-826c-3a351b884770","operational_state":"pending","plan":"development","resolvers":[],"updated_at":"2022-04-01T14:49:33.538326Z","uuid":"0a711433-62b5-4df4-980f-67c04710be4f","zone":"fi-hel2"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer?limit=2&offset=0
    method: GET
  response:
    body: '[{"backends":[],"configured_status":"started","created_at":"2022-04-01T14:49:33.538326Z","dns_name":"lb-0a71143362b54df4980f67c04710be4f.upcloudlb.com","frontends":[],"name":"go-test-lb-fi-hel2-1648824573","network_uuid":"03dacc38-b334-4fd5-826c-3a351b884770","operational_state":"setup-server","plan":"development","resolvers":[],"updated_at":"2022-04-01T14:49:33.554792Z","uuid":"0a711433-62b5-4df4-980f-67c04710be4f","zone":"fi-hel2"},{"backends":[],"configured_status":"started","created_at":"2022-04-01T14:49:34.600087Z","dns_name":"lb-0af7700eb82e40e3baafbc0870730ee1.upcloudlb.com","frontends":[],"name":"go-test-lb-fi-hel2-1648824574","network_uuid":"03dacc38-b334-4fd5-826c-3a351b884770","operational_state":"setup-server","plan":"development","resolvers":[],"updated_at":"2022-04-01T14:49:34.614662Z","uuid":"0af7700e-b82e-40e3-baaf-bc0870730ee1","zone":"fi-hel2"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a711433-62b5-4df4-980f-67c04710be4f
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a711433-62b5-4df4-980f-67c04710be4f
    method: GET
  response:
    body: |
      {"type":"https://developers.upcloud.com/1.3/errors#ERROR_RESOURCE_NOT_FOUND","title":"Service not found.","correlation_id":"01FZJSPN9ZT37FTD27EQ7Y64N6","status":404}
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/problem+json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/03dacc38-b334-4fd5-826c-3a351b884770
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
[...]
