---
version: 1
interactions:
- request:
    body: '{"network":{"name":"go-test-lb-1647414250","zone":"fi-hel1","ip_networks":{"ip_network":[{"address":"172.16.0.0/24","dhcp":"yes","dhcp_default_route":"no","family":"IPv4"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "172.16.0.0/24",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "family" : "IPv4",
                     "gateway" : "172.16.0.1"
                  }
               ]
            },
            "name" : "go-test-lb-1647414250",
            "type" : "private",
            "uuid" : "03a11eec-6c7f-44ad-b158-6625b7de13de",
            "zone" : "fi-hel1"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-test-lb-fi-hel1-1647414251","plan":"development","zone":"fi-hel1","network_uuid":"03a11eec-6c7f-44ad-b158-6625b7de13de","configured_status":"started","frontends":[],"backends":[],"resolvers":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/loadbalancer
    method: POST
  response:
    body: '{"backends":[],"configured_status":"started","created_at":"2022-03-16T07:04:11.459913Z","dns_name":"lb-0acc2304221040f58f3c7648021866e4.upcloudlb.com","frontends":[],"name":"go-test-lb-fi-hel1-1647414251","network_uuid":"03a11eec-6c7f-44ad-b158-6625b7de13de","operational_state":"pending","plan":"development","resolvers":[],"updated_at":"2022-03-16T07:04:11.459913Z","uuid":"0acc2304-2210-40f5-8f3c-7648021866e4","zone":"fi-hel1"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"new-name-for-lb"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/loadbalancer/0acc2304-2210-40f5-8f3c-7648021866e4
    method: PATCH
  response:
    body: '{"backends":[],"configured_status":"started","created_at":"2022-03-16T07:04:11.459913Z","dns_name":"lb-0acc2304221040f58f3c7648021866e4.upcloudlb.com","frontends":[],"name":"new-name-for-lb","network_uuid":"03a11eec-6c7f-44ad-b158-6625b7de13de","operational_state":"pending","plan":"development","resolvers":[],"updated_at":"2022-03-16T07:04:11.539559Z","uuid":"0acc2304-2210-40f5-8f3c-7648021866e4","zone":"fi-hel1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/03a11eec-6c7f-44ad-b158-6625b7de13de
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
