---
version: 1
interactions:
- request:
    body: '{"network":{"name":"go-api-lb-1709210014","zone":"nl-ams1","ip_networks":{"ip_network":[{"address":"172.16.3.0/24","dhcp":"yes","dhcp_default_route":"no","family":"IPv4"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "172.16.3.0/24",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "family" : "IPv4",
                     "gateway" : "172.16.3.1"
                  }
               ]
            },
            "labels" : [],
            "name" : "go-api-lb-1709210014",
            "type" : "private",
            "uuid" : "03f3f292-c76b-491d-8401-5375384aa1db",
            "zone" : "nl-ams1"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-api-lb-nl-ams1-1709210015","plan":"development","zone":"nl-ams1","networks":[{"name":"public","type":"public","family":"IPv4"},{"name":"private","type":"private","family":"IPv4","uuid":"03f3f292-c76b-491d-8401-5375384aa1db"}],"configured_status":"started","frontends":[],"backends":[],"resolvers":[],"maintenance_dow":"sunday","maintenance_time":"20:01:01Z"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer
    method: POST
  response:
    body: '{"backends":[],"configured_status":"started","created_at":"2024-02-29T12:33:35.618004Z","dns_name":"lb-0ac6b63255054ba3902f7c41cc05458f-1.upcloudlb.com","frontends":[],"labels":[],"maintenance_dow":"sunday","maintenance_time":"20:01:01Z","name":"go-api-lb-nl-ams1-1709210015","networks":[{"created_at":"2024-02-29T12:33:35.618004Z","dns_name":"lb-0ac6b63255054ba3902f7c41cc05458f-1.upcloudlb.com","family":"IPv4","name":"public","type":"public","updated_at":"2024-02-29T12:33:35.618004Z"},{"created_at":"2024-02-29T12:33:35.618004Z","dns_name":"lb-0ac6b63255054ba3902f7c41cc05458f-2.upcloudlb.com","family":"IPv4","name":"private","type":"private","updated_at":"2024-02-29T12:33:35.618004Z","uuid":"03f3f292-c76b-491d-8401-5375384aa1db"}],"nodes":[],"operational_state":"pending","plan":"development","resolvers":[],"updated_at":"2024-02-29T12:33:35.618004Z","uuid":"0ac6b632-5505-4ba3-902f-7c41cc05458f","zone":"nl-ams1"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-api-lb-backend-1709210015","members":[{"name":"default-lb-backend-member","weight":100,"max_sessions":1000,"enabled":true,"type":"dynamic","ip":"196.123.123.123","port":8000}],"properties":{"timeout_server":30,"tls_enabled":true,"tls_verify":true,"tls_use_system_ca":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0ac6b632-5505-4ba3-902f-7c41cc05458f/backends
    method: POST
  response:
    body: '{"created_at":"2024-02-29T12:33:35.735812Z","members":[{"created_at":"2024-02-29T12:33:35.735812Z","enabled":true,"ip":"196.123.123.123","max_sessions":1000,"name":"default-lb-backend-member","port":8000,"type":"dynamic","updated_at":"2024-02-29T12:33:35.735812Z","weight":100}],"name":"go-api-lb-backend-1709210015","properties":{"health_check_expected_status":200,"health_check_fall":3,"health_check_interval":10,"health_check_on_down":"","health_check_rise":3,"health_check_tls_verify":false,"health_check_type":"tcp","health_check_url":"/","http2_enabled":false,"outbound_proxy_protocol":"","sticky_session_cookie_name":"","timeout_server":30,"timeout_tunnel":3600,"tls_enabled":true,"tls_use_system_ca":true,"tls_verify":true},"resolver":"","tls_configs":[],"updated_at":"2024-02-29T12:33:35.735812Z"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"test_member","weight":100,"max_sessions":123,"enabled":true,"type":"static","ip":"10.0.0.2","port":80}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0ac6b632-5505-4ba3-902f-7c41cc05458f/backends/go-api-lb-backend-1709210015/members
    method: POST
  response:
    body: '{"created_at":"2024-02-29T12:33:35.852154Z","enabled":true,"ip":"10.0.0.2","max_sessions":123,"name":"test_member","port":80,"type":"static","updated_at":"2024-02-29T12:33:35.852154Z","weight":100}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"test_member_TURBO","weight":50,"max_sessions":321}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0ac6b632-5505-4ba3-902f-7c41cc05458f/backends/go-api-lb-backend-1709210015/members/test_member
    method: PATCH
  response:
    body: '{"created_at":"2024-02-29T12:33:35.852154Z","enabled":true,"ip":"10.0.0.2","max_sessions":321,"name":"test_member_TURBO","port":80,"type":"static","updated_at":"2024-02-29T12:33:35.950049Z","weight":50}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"enabled":true,"ip":"231.231.231.231","port":3003}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0ac6b632-5505-4ba3-902f-7c41cc05458f/backends/go-api-lb-backend-1709210015/members/test_member_TURBO
    method: PATCH
  response:
    body: '{"created_at":"2024-02-29T12:33:35.852154Z","enabled":true,"ip":"231.231.231.231","max_sessions":321,"name":"test_member_TURBO","port":3003,"type":"static","updated_at":"2024-02-29T12:33:36.057478Z","weight":50}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0ac6b632-5505-4ba3-902f-7c41cc05458f
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0ac6b632-5505-4ba3-902f-7c41cc05458f
    method: GET
  response:
    body: |
      {"type":"https://developers.upcloud.com/1.3/errors#ERROR_RESOURCE_NOT_FOUND","title":"Service not found.","correlation_id":"01HQTDRW7FMEGJEAWFVPEF0FJG","status":404}
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/problem+json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/03f3f292-c76b-491d-8401-5375384aa1db
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
