---
version: 1
interactions:
- request:
    body: '{"network":{"name":"go-test-lb-1649160973","zone":"fi-hel2","ip_networks":{"ip_network":[{"address":"10.0.1.1/24","dhcp":"yes","dhcp_default_route":"no","family":"IPv4"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "10.0.1.1/24",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "family" : "IPv4",
                     "gateway" : "10.0.1.1"
                  }
               ]
            },
            "name" : "go-test-lb-1649160973",
            "type" : "private",
            "uuid" : "038dbce4-fa60-40f4-9e20-0c1408daeeda",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-test-lb-fi-hel2-1649160974","plan":"development","zone":"fi-hel2","network_uuid":"038dbce4-fa60-40f4-9e20-0c1408daeeda","configured_status":"started","frontends":[{"name":"fe-1","mode":"http","port":80,"default_backend":"be-1"}],"backends":[{"name":"be-1","resolver":"ns-1","members":[]}],"resolvers":[{"name":"ns-1","nameservers":["10.1.1.100"],"retries":10,"timeout":10,"timeout_retry":10,"cache_valid":10,"cache_invalid":10}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer
    method: POST
  response:
    body: '{"backends":[{"created_at":"2022-04-05T12:16:14.285011Z","members":[],"name":"be-1","properties":{"timeout_server":10,"timeout_tunnel":3600},"resolver":"ns-1","updated_at":"2022-04-05T12:16:14.285011Z"}],"configured_status":"started","created_at":"2022-04-05T12:16:14.285011Z","dns_name":"lb-0af8e197f1a14c1fbd3f2fb7f69efc92.upcloudlb.com","frontends":[{"created_at":"2022-04-05T12:16:14.285011Z","default_backend":"be-1","mode":"http","name":"fe-1","port":80,"properties":{"timeout_client":10},"rules":[],"tls_configs":[],"updated_at":"2022-04-05T12:16:14.285011Z"}],"name":"go-test-lb-fi-hel2-1649160974","network_uuid":"038dbce4-fa60-40f4-9e20-0c1408daeeda","operational_state":"pending","plan":"development","resolvers":[{"cache_invalid":10,"cache_valid":10,"created_at":"2022-04-05T12:16:14.285011Z","name":"ns-1","nameservers":["10.1.1.100"],"retries":10,"timeout":10,"timeout_retry":10,"updated_at":"2022-04-05T12:16:14.285011Z"}],"updated_at":"2022-04-05T12:16:14.285011Z","uuid":"0af8e197-f1a1-4c1f-bd3f-2fb7f69efc92","zone":"fi-hel2"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"rule-1","priority":10,"matchers":[{"type":"src_ip","match_src_ip":{"value":"10.1.1.200"}}],"actions":[{"type":"tcp_reject","action_tcp_reject":{}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0af8e197-f1a1-4c1f-bd3f-2fb7f69efc92/frontends/fe-1/rules
    method: POST
  response:
    body: '{"actions":[{"type":"tcp_reject","action_tcp_reject":{}}],"created_at":"2022-04-05T12:16:14.359327Z","matchers":[{"type":"src_ip","match_src_ip":{"value":"10.1.1.200"}}],"name":"rule-1","priority":10,"updated_at":"2022-04-05T12:16:14.359327Z"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"rule","priority":20}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0af8e197-f1a1-4c1f-bd3f-2fb7f69efc92/frontends/fe-1/rules/rule-1
    method: PATCH
  response:
    body: '{"actions":[{"type":"tcp_reject","action_tcp_reject":{}}],"created_at":"2022-04-05T12:16:14.359327Z","matchers":[{"type":"src_ip","match_src_ip":{"value":"10.1.1.200"}}],"name":"rule","priority":20,"updated_at":"2022-04-05T12:16:14.43201Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"rule-1","priority":10,"matchers":[{"type":"src_ip","match_src_ip":{"value":"10.1.1.201"}}],"actions":[{"type":"http_return","action_http_return":{"status":404,"content_type":"text/html","payload":"PGgxPmFwcGxlYmVlPC9oMT4K"}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0af8e197-f1a1-4c1f-bd3f-2fb7f69efc92/frontends/fe-1/rules/rule
    method: PUT
  response:
    body: '{"actions":[{"type":"http_return","action_http_return":{"status":404,"content_type":"text/html","payload":"PGgxPmFwcGxlYmVlPC9oMT4K"}}],"created_at":"2022-04-05T12:16:14.500991Z","matchers":[{"type":"src_ip","match_src_ip":{"value":"10.1.1.201"}}],"name":"rule-1","priority":10,"updated_at":"2022-04-05T12:16:14.500991Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0af8e197-f1a1-4c1f-bd3f-2fb7f69efc92
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0af8e197-f1a1-4c1f-bd3f-2fb7f69efc92
    method: GET
  response:
    body: |
      {"type":"https://developers.upcloud.com/1.3/errors#ERROR_RESOURCE_NOT_FOUND","title":"Service not found.","correlation_id":"01FZWTG4G38GVSCJHWA75NZ7CX","status":404}
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/problem+json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/038dbce4-fa60-40f4-9e20-0c1408daeeda
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
