---
version: 1
interactions:
- request:
    body: '{"network":{"name":"go-test-lb-1654854028","zone":"fi-hel2","ip_networks":{"ip_network":[{"address":"172.16.2.0/24","dhcp":"yes","dhcp_default_route":"no","family":"IPv4"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "172.16.2.0/24",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "family" : "IPv4",
                     "gateway" : "172.16.2.1"
                  }
               ]
            },
            "name" : "go-test-lb-1654854028",
            "type" : "private",
            "uuid" : "03d407ac-22e0-4915-88f8-66c6ea35ead7",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-test-lb-fi-hel2-1654854028","plan":"development","zone":"fi-hel2","network_uuid":"03d407ac-22e0-4915-88f8-66c6ea35ead7","configured_status":"started","frontends":[],"backends":[],"resolvers":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer
    method: POST
  response:
    body: '{"backends":[],"configured_status":"started","created_at":"2022-06-10T09:40:28.942054Z","dns_name":"lb-0a51eb8b8344422cb364782f3c86c69c.upcloudlb.com","frontends":[],"name":"go-test-lb-fi-hel2-1654854028","network_uuid":"03d407ac-22e0-4915-88f8-66c6ea35ead7","operational_state":"pending","plan":"development","resolvers":[],"updated_at":"2022-06-10T09:40:28.942054Z","uuid":"0a51eb8b-8344-422c-b364-782f3c86c69c","zone":"fi-hel2"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-test-lb-backend-1654854028","members":[{"name":"default-lb-backend-member","weight":100,"max_sessions":1000,"enabled":true,"type":"dynamic","ip":"196.123.123.123","port":8000}],"properties":{"timeout_server":30}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a51eb8b-8344-422c-b364-782f3c86c69c/backends
    method: POST
  response:
    body: '{"created_at":"2022-06-10T09:40:29.044816Z","members":[{"created_at":"2022-06-10T09:40:29.044816Z","enabled":true,"ip":"196.123.123.123","max_sessions":1000,"name":"default-lb-backend-member","port":8000,"type":"dynamic","updated_at":"2022-06-10T09:40:29.044816Z","weight":100}],"name":"go-test-lb-backend-1654854028","properties":{"health_check_expected_status":200,"health_check_fall":3,"health_check_interval":10,"health_check_rise":3,"health_check_type":"tcp","health_check_url":"/","sticky_session_cookie_name":"","timeout_server":30,"timeout_tunnel":3600},"updated_at":"2022-06-10T09:40:29.044816Z"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"updatedName","properties":{"health_check_type":"tcp"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a51eb8b-8344-422c-b364-782f3c86c69c/backends/go-test-lb-backend-1654854028
    method: PATCH
  response:
    body: '{"created_at":"2022-06-10T09:40:29.044816Z","members":[{"created_at":"2022-06-10T09:40:29.044816Z","enabled":true,"ip":"196.123.123.123","max_sessions":1000,"name":"default-lb-backend-member","port":8000,"type":"dynamic","updated_at":"2022-06-10T09:40:29.044816Z","weight":100}],"name":"updatedName","properties":{"health_check_expected_status":200,"health_check_fall":3,"health_check_interval":10,"health_check_rise":3,"health_check_type":"tcp","health_check_url":"/","sticky_session_cookie_name":"","timeout_server":30,"timeout_tunnel":3600},"updated_at":"2022-06-10T09:40:31.003308Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a51eb8b-8344-422c-b364-782f3c86c69c/backends/updatedName
    method: GET
  response:
    body: '{"created_at":"2022-06-10T09:40:29.044816Z","members":[{"created_at":"2022-06-10T09:40:29.044816Z","enabled":true,"ip":"196.123.123.123","max_sessions":1000,"name":"default-lb-backend-member","port":8000,"type":"dynamic","updated_at":"2022-06-10T09:40:29.044816Z","weight":100}],"name":"updatedName","properties":{"health_check_expected_status":200,"health_check_fall":3,"health_check_interval":10,"health_check_rise":3,"health_check_type":"tcp","health_check_url":"/","sticky_session_cookie_name":"","timeout_server":30,"timeout_tunnel":3600},"updated_at":"2022-06-10T09:40:31.003308Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a51eb8b-8344-422c-b364-782f3c86c69c
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a51eb8b-8344-422c-b364-782f3c86c69c
    method: GET
  response:
    body: |
      {"type":"https://developers.upcloud.com/1.3/errors#ERROR_RESOURCE_NOT_FOUND","title":"Service not found.","correlation_id":"01G56FTE3WQNEM7JPM502Z6KV8","status":404}
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/problem+json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/03d407ac-22e0-4915-88f8-66c6ea35ead7
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
