---
version: 1
interactions:
- request:
    body: '{"network":{"name":"go-test-lb-1686161605","zone":"nl-ams1","ip_networks":{"ip_network":[{"address":"172.16.3.0/24","dhcp":"yes","dhcp_default_route":"no","family":"IPv4"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "172.16.3.0/24",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "family" : "IPv4",
                     "gateway" : "172.16.3.1"
                  }
               ]
            },
            "labels" : [],
            "name" : "go-test-lb-1686161605",
            "type" : "private",
            "uuid" : "03bcd448-8480-47a7-a1b9-f155e9e0c914",
            "zone" : "nl-ams1"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-test-lb-nl-ams1-1686161606","plan":"development","zone":"nl-ams1","network_uuid":"03bcd448-8480-47a7-a1b9-f155e9e0c914","configured_status":"started","frontends":[],"backends":[],"resolvers":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer
    method: POST
  response:
    body: '{"backends":[],"configured_status":"started","created_at":"2023-06-07T18:13:26.574898Z","dns_name":"lb-0a8496c8604a48c9a213a97d0753539f-1.upcloudlb.com","frontends":[],"labels":[],"maintenance_dow":"sunday","maintenance_time":"02:47:59Z","name":"go-test-lb-nl-ams1-1686161606","network_uuid":"03bcd448-8480-47a7-a1b9-f155e9e0c914","networks":[{"created_at":"2023-06-07T18:13:26.574898Z","dns_name":"lb-0a8496c8604a48c9a213a97d0753539f-1.upcloudlb.com","family":"IPv4","name":"public-IPv4","type":"public","updated_at":"2023-06-07T18:13:26.574898Z"},{"created_at":"2023-06-07T18:13:26.574898Z","dns_name":"lb-0a8496c8604a48c9a213a97d0753539f-2.upcloudlb.com","family":"IPv4","name":"private-IPv4","type":"private","updated_at":"2023-06-07T18:13:26.574898Z","uuid":"03bcd448-8480-47a7-a1b9-f155e9e0c914"}],"nodes":[],"operational_state":"pending","plan":"development","resolvers":[],"updated_at":"2023-06-07T18:13:26.574898Z","uuid":"0a8496c8-604a-48c9-a213-a97d0753539f","zone":"nl-ams1"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-test-lb-backend-1686161606","members":[{"name":"default-lb-backend-member","weight":100,"max_sessions":1000,"enabled":true,"type":"dynamic","ip":"196.123.123.123","port":8000}],"properties":{"timeout_server":30}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a8496c8-604a-48c9-a213-a97d0753539f/backends
    method: POST
  response:
    body: '{"created_at":"2023-06-07T18:13:26.768338Z","members":[{"created_at":"2023-06-07T18:13:26.768338Z","enabled":true,"ip":"196.123.123.123","max_sessions":1000,"name":"default-lb-backend-member","port":8000,"type":"dynamic","updated_at":"2023-06-07T18:13:26.768338Z","weight":100}],"name":"go-test-lb-backend-1686161606","properties":{"health_check_expected_status":200,"health_check_fall":3,"health_check_interval":10,"health_check_rise":3,"health_check_tls_verify":false,"health_check_type":"tcp","health_check_url":"/","outbound_proxy_protocol":"","sticky_session_cookie_name":"","timeout_server":30,"timeout_tunnel":3600},"resolver":"","updated_at":"2023-06-07T18:13:26.768338Z"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"test_member","weight":100,"max_sessions":123,"enabled":true,"type":"static","ip":"10.0.0.2","port":80}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a8496c8-604a-48c9-a213-a97d0753539f/backends/go-test-lb-backend-1686161606/members
    method: POST
  response:
    body: '{"created_at":"2023-06-07T18:13:26.936217Z","enabled":true,"ip":"10.0.0.2","max_sessions":123,"name":"test_member","port":80,"type":"static","updated_at":"2023-06-07T18:13:26.936217Z","weight":100}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"test_member_TURBO","weight":50,"max_sessions":321}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a8496c8-604a-48c9-a213-a97d0753539f/backends/go-test-lb-backend-1686161606/members/test_member
    method: PATCH
  response:
    body: '{"created_at":"2023-06-07T18:13:26.936217Z","enabled":true,"ip":"10.0.0.2","max_sessions":321,"name":"test_member_TURBO","port":80,"type":"static","updated_at":"2023-06-07T18:13:27.222035Z","weight":50}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"enabled":true,"ip":"231.231.231.231","port":3003}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a8496c8-604a-48c9-a213-a97d0753539f/backends/go-test-lb-backend-1686161606/members/test_member_TURBO
    method: PATCH
  response:
    body: '{"created_at":"2023-06-07T18:13:26.936217Z","enabled":true,"ip":"231.231.231.231","max_sessions":321,"name":"test_member_TURBO","port":3003,"type":"static","updated_at":"2023-06-07T18:13:27.586853Z","weight":50}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a8496c8-604a-48c9-a213-a97d0753539f
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a8496c8-604a-48c9-a213-a97d0753539f
    method: GET
  response:
    body: |
      {"type":"https://developers.upcloud.com/1.3/errors#ERROR_RESOURCE_NOT_FOUND","title":"Service not found.","correlation_id":"01H2BH2G2THTZCNY7ZJ33MFZS2","status":404}
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/problem+json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/03bcd448-8480-47a7-a1b9-f155e9e0c914
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
