---
version: 1
interactions:
- request:
    body: '{"network":{"name":"go-test-lb-1649155917","zone":"fi-hel1","ip_networks":{"ip_network":[{"address":"10.0.1.1/24","dhcp":"yes","dhcp_default_route":"no","family":"IPv4"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "10.0.1.1/24",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "family" : "IPv4",
                     "gateway" : "10.0.1.1"
                  }
               ]
            },
            "name" : "go-test-lb-1649155917",
            "type" : "private",
            "uuid" : "0344a1a9-8878-4a2c-8470-3175e3eae6f6",
            "zone" : "fi-hel1"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-test-lb-fi-hel1-1649155918","plan":"development","zone":"fi-hel1","network_uuid":"0344a1a9-8878-4a2c-8470-3175e3eae6f6","configured_status":"started","frontends":[{"name":"fe-1","mode":"http","port":80,"default_backend":"be-1"}],"backends":[{"name":"be-1","resolver":"ns-1","members":[]}],"resolvers":[{"name":"ns-1","nameservers":["10.1.1.100"],"retries":10,"timeout":10,"timeout_retry":10,"cache_valid":10,"cache_invalid":10}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer
    method: POST
  response:
    body: '{"backends":[{"created_at":"2022-04-05T10:51:58.939242Z","members":[],"name":"be-1","properties":{"timeout_server":10,"timeout_tunnel":3600},"resolver":"ns-1","updated_at":"2022-04-05T10:51:58.939242Z"}],"configured_status":"started","created_at":"2022-04-05T10:51:58.939242Z","dns_name":"lb-0af5b4cdb0784e1bac5cfa72423d668f.upcloudlb.com","frontends":[{"created_at":"2022-04-05T10:51:58.939242Z","default_backend":"be-1","mode":"http","name":"fe-1","port":80,"properties":{"timeout_client":10},"rules":[],"tls_configs":[],"updated_at":"2022-04-05T10:51:58.939242Z"}],"name":"go-test-lb-fi-hel1-1649155918","network_uuid":"0344a1a9-8878-4a2c-8470-3175e3eae6f6","operational_state":"pending","plan":"development","resolvers":[{"cache_invalid":10,"cache_valid":10,"created_at":"2022-04-05T10:51:58.939242Z","name":"ns-1","nameservers":["10.1.1.100"],"retries":10,"timeout":10,"timeout_retry":10,"updated_at":"2022-04-05T10:51:58.939242Z"}],"updated_at":"2022-04-05T10:51:58.939242Z","uuid":"0af5b4cd-b078-4e1b-ac5c-fa72423d668f","zone":"fi-hel1"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"type":"manual","name":"example-manual-certificate","certificate":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUZhekNDQTFPZ0F3SUJBZ0lVRzR1KzRDZmlHQ3pQSDk4dDA4QXh5VkE0QzVnd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1JURUxNQWtHQTFVRUJoTUNRVlV4RXpBUkJnTlZCQWdNQ2xOdmJXVXRVM1JoZEdVeElUQWZCZ05WQkFvTQpHRWx1ZEdWeWJtVjBJRmRwWkdkcGRITWdVSFI1SUV4MFpEQWVGdzB5TWpBek1UY3hNekUxTURoYUZ3MHlNekF6Ck1UY3hNekUxTURoYU1FVXhDekFKQmdOVkJBWVRBa0ZWTVJNd0VRWURWUVFJREFwVGIyMWxMVk4wWVhSbE1TRXcKSHdZRFZRUUtEQmhKYm5SbGNtNWxkQ0JYYVdSbmFYUnpJRkIwZVNCTWRHUXdnZ0lpTUEwR0NTcUdTSWIzRFFFQgpBUVVBQTRJQ0R3QXdnZ0lLQW9JQ0F[...]
- request:
    body: '{"type":"dynamic","name":"example-dynamic-certificate","key_type":"rsa","hostnames":["example.com","app.example.com"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/certificate-bundles
    method: POST
  response:
    body: '{"created_at":"2022-04-05T10:51:59.086986Z","hostnames":["example.com","app.example.com"],"key_type":"rsa","name":"example-dynamic-certificate","not_after":"0001-01-01T00:00:00Z","not_before":"0001-01-01T00:00:00Z","operational_state":"idle","type":"dynamic","updated_at":"2022-04-05T10:51:59.086986Z","uuid":"0ab4333a-0226-40c0-8012-07fcb6503c02"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"example-manual-certificate-edit"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/certificate-bundles/0ab73b97-a8e9-4dcb-a7a6-1fafbbe503cb
    method: PATCH
  response:
    body: '{"certificate":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUZhekNDQTFPZ0F3SUJBZ0lVRzR1KzRDZmlHQ3pQSDk4dDA4QXh5VkE0QzVnd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1JURUxNQWtHQTFVRUJoTUNRVlV4RXpBUkJnTlZCQWdNQ2xOdmJXVXRVM1JoZEdVeElUQW[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/certificate-bundles?limit=100&offset=0
    method: GET
  response:
    body: '[{"certificate":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUZhekNDQTFPZ0F3SUJBZ0lVRzR1KzRDZmlHQ3pQSDk4dDA4QXh5VkE0QzVnd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1JURUxNQWtHQTFVRUJoTUNRVlV4RXpBUkJnTlZCQWdNQ2xOdmJXVXRVM1JoZEdVeElUQWZCZ05WQkFvTQpHRWx1ZEdWeWJtVjBJRmRwWkdkcGRITWdVSFI1SUV4MFpEQWV[...]
[...]
- request:
    body: '{"name":"example-manual-certificate-edit","certificate_bundle_uuid":"0ab73b97-a8e9-4dcb-a7a6-1fafbbe503cb"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0af5b4cd-b078-4e1b-ac5c-fa72423d668f/frontends/fe-1/tls-configs
    method: POST
  response:
    body: '{"certificate_bundle_uuid":"0ab73b97-a8e9-4dcb-a7a6-1fafbbe503cb","created_at":"2022-04-05T10:51:59.452551Z","name":"example-manual-certificate-edit","updated_at":"2022-04-05T10:51:59.452551Z"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"example-dynamic-certificate-edit","certificate_bundle_uuid":"0ab4333a-0226-40c0-8012-07fcb6503c02"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0af5b4cd-b078-4e1b-ac5c-fa72423d668f/frontends/fe-1/tls-configs/example-manual-certificate-edit
    method: PATCH
  response:
    body: '{"certificate_bundle_uuid":"0ab4333a-0226-40c0-8012-07fcb6503c02","created_at":"2022-04-05T10:51:59.452551Z","name":"example-dynamic-certificate-edit","updated_at":"2022-04-05T10:51:59.539795Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0af5b4cd-b078-4e1b-ac5c-fa72423d668f/frontends/fe-1/tls-configs/example-dynamic-certificate-edit
    method: GET
  response:
    body: '{"certificate_bundle_uuid":"0ab4333a-0226-40c0-8012-07fcb6503c02","created_at":"2022-04-05T10:51:59.452551Z","name":"example-dynamic-certificate-edit","updated_at":"2022-04-05T10:51:59.539795Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0af5b4cd-b078-4e1b-ac5c-fa72423d668f
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0af5b4cd-b078-4e1b-ac5c-fa72423d668f
    method: GET
  response:
    body: |
      {"type":"https://developers.upcloud.com/1.3/errors#ERROR_RESOURCE_NOT_FOUND","title":"Service not found.","correlation_id":"01FZWNP27R119PS1HQPXDSYRNB","status":404}
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/problem+json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/0344a1a9-8878-4a2c-8470-3175e3eae6f6
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
