---
version: 1
interactions:
- request:
    body: '{"network":{"name":"go-test-lb-1647600796","zone":"fi-hel2","ip_networks":{"ip_network":[{"address":"172.16.2.0/24","dhcp":"yes","dhcp_default_route":"no","family":"IPv4"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "172.16.2.0/24",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "family" : "IPv4",
                     "gateway" : "172.16.2.1"
                  }
               ]
            },
            "name" : "go-test-lb-1647600796",
            "type" : "private",
            "uuid" : "03bf480f-85b7-4326-9c87-c8721bad99c4",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-test-lb-fi-hel2-1647600797","plan":"development","zone":"fi-hel2","network_uuid":"03bf480f-85b7-4326-9c87-c8721bad99c4","configured_status":"started","frontends":[],"backends":[],"resolvers":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/loadbalancer
    method: POST
  response:
    body: '{"backends":[],"configured_status":"started","created_at":"2022-03-18T10:53:17.218176Z","dns_name":"lb-0ae4b3e8aa5c40a3b812cb21f5bad35b.upcloudlb.com","frontends":[],"name":"go-test-lb-fi-hel2-1647600797","network_uuid":"03bf480f-85b7-4326-9c87-c8721bad99c4","operational_state":"pending","plan":"development","resolvers":[],"updated_at":"2022-03-18T10:53:17.218176Z","uuid":"0ae4b3e8-aa5c-40a3-b812-cb21f5bad35b","zone":"fi-hel2"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-test-lb-backend-1647600797","members":[{"name":"default-lb-backend-member","weight":100,"max_sessions":1000,"enabled":true,"type":"dynamic","ip":"196.123.123.123","port":8000}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0ae4b3e8-aa5c-40a3-b812-cb21f5bad35b/backends
    method: POST
  response:
    body: '{"created_at":"0001-01-01T00:00:00Z","members":[{"created_at":"0001-01-01T00:00:00Z","enabled":true,"ip":"196.123.123.123","max_sessions":1000,"name":"default-lb-backend-member","port":8000,"type":"dynamic","updated_at":"0001-01-01T00:00:00Z","weight":100}],"name":"go-test-lb-backend-1647600797","updated_at":"0001-01-01T00:00:00Z"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"updatedName"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0ae4b3e8-aa5c-40a3-b812-cb21f5bad35b/backends/go-test-lb-backend-1647600797
    method: PATCH
  response:
    body: '{"created_at":"2022-03-18T10:53:17.292753Z","members":[{"created_at":"2022-03-18T10:53:17.292753Z","enabled":true,"ip":"196.123.123.123","max_sessions":1000,"name":"default-lb-backend-member","port":8000,"type":"dynamic","updated_at":"2022-03-18T10:53:17.292753Z","weight":100}],"name":"updatedName","updated_at":"2022-03-18T10:53:17.292753Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0ae4b3e8-aa5c-40a3-b812-cb21f5bad35b/backends/updatedName
    method: GET
  response:
    body: '{"created_at":"2022-03-18T10:53:17.292753Z","members":[{"created_at":"2022-03-18T10:53:17.292753Z","enabled":true,"ip":"196.123.123.123","max_sessions":1000,"name":"default-lb-backend-member","port":8000,"type":"dynamic","updated_at":"2022-03-18T10:53:17.292753Z","weight":100}],"name":"updatedName","updated_at":"2022-03-18T10:53:17.366246Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0ae4b3e8-aa5c-40a3-b812-cb21f5bad35b
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/03bf480f-85b7-4326-9c87-c8721bad99c4
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
