---
version: 1
interactions:
- request:
    body: '{"network":{"name":"go-test-lb-1686161426","zone":"fi-hel1","ip_networks":{"ip_network":[{"address":"172.16.1.0/24","dhcp":"yes","dhcp_default_route":"no","family":"IPv4"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "172.16.1.0/24",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "family" : "IPv4",
                     "gateway" : "172.16.1.1"
                  }
               ]
            },
            "labels" : [],
            "name" : "go-test-lb-1686161426",
            "type" : "private",
            "uuid" : "03c2e1f3-13b6-4891-92f8-995195c9e2a3",
            "zone" : "fi-hel1"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-test-lb-fi-hel1-1686161427","plan":"development","zone":"fi-hel1","network_uuid":"03c2e1f3-13b6-4891-92f8-995195c9e2a3","configured_status":"started","frontends":[],"backends":[],"resolvers":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer
    method: POST
  response:
    body: '{"backends":[],"configured_status":"started","created_at":"2023-06-07T18:10:27.391155Z","dns_name":"lb-0a5955c8e31a447e86e77ecab95a6ab8-1.upcloudlb.com","frontends":[],"labels":[],"maintenance_dow":"sunday","maintenance_time":"00:20:29Z","name":"go-test-lb-fi-hel1-1686161427","network_uuid":"03c2e1f3-13b6-4891-92f8-995195c9e2a3","networks":[{"created_at":"2023-06-07T18:10:27.391155Z","dns_name":"lb-0a5955c8e31a447e86e77ecab95a6ab8-1.upcloudlb.com","family":"IPv4","name":"public-IPv4","type":"public","updated_at":"2023-06-07T18:10:27.391155Z"},{"created_at":"2023-06-07T18:10:27.391155Z","dns_name":"lb-0a5955c8e31a447e86e77ecab95a6ab8-2.upcloudlb.com","family":"IPv4","name":"private-IPv4","type":"private","updated_at":"2023-06-07T18:10:27.391155Z","uuid":"03c2e1f3-13b6-4891-92f8-995195c9e2a3"}],"nodes":[],"operational_state":"pending","plan":"development","resolvers":[],"updated_at":"2023-06-07T18:10:27.391155Z","uuid":"0a5955c8-e31a-447e-86e7-7ecab95a6ab8","zone":"fi-hel1"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"new-name-for-lb"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a5955c8-e31a-447e-86e7-7ecab95a6ab8
    method: PATCH
  response:
    body: '{"backends":[],"configured_status":"started","created_at":"2023-06-07T18:10:27.391155Z","dns_name":"lb-0a5955c8e31a447e86e77ecab95a6ab8-1.upcloudlb.com","frontends":[],"labels":[],"maintenance_dow":"sunday","maintenance_time":"00:20:29Z","name":"new-name-for-lb","network_uuid":"03c2e1f3-13b6-4891-92f8-995195c9e2a3","networks":[{"created_at":"2023-06-07T18:10:27.391155Z","dns_name":"lb-0a5955c8e31a447e86e77ecab95a6ab8-1.upcloudlb.com","family":"IPv4","name":"public-IPv4","type":"public","updated_at":"2023-06-07T18:10:27.391155Z"},{"created_at":"2023-06-07T18:10:27.391155Z","dns_name":"lb-0a5955c8e31a447e86e77ecab95a6ab8-2.upcloudlb.com","family":"IPv4","name":"private-IPv4","type":"private","updated_at":"2023-06-07T18:10:27.391155Z","uuid":"03c2e1f3-13b6-4891-92f8-995195c9e2a3"}],"nodes":[{"networks":[],"operational_state":"pending"}],"operational_state":"pending","plan":"development","resolvers":[],"updated_at":"2023-06-07T18:10:27.587302Z","uuid":"0a5955c8-e31a-447e-86e7-7ecab95a6ab8","zone":"fi-hel1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer?limit=100&offset=0
    method: GET
  response:
    body: '[{"backends":[],"configured_status":"started","created_at":"2023-06-07T18:10:27.391155Z","dns_name":"lb-0a5955c8e31a447e86e77ecab95a6ab8-1.upcloudlb.com","frontends":[],"labels":[],"maintenance_dow":"sunday","maintenance_time":"00:20:29Z","name":"new-name-for-lb","network_uuid":"03c2e1f3-13b6-4891-92f8-995195c9e2a3","networks":[{"created_at":"2023-06-07T18:10:27.391155Z","dns_name":"lb-0a5955c8e31a447e86e77ecab95a6ab8-1.upcloudlb.com","family":"IPv4","name":"public-IPv4","type":"public","updated_at":"2023-06-07T18:10:27.391155Z"},{"created_at":"2023-06-07T18:10:27.391155Z","dns_name":"lb-0a5955c8e31a447e86e77ecab95a6ab8-2.upcloudlb.com","family":"IPv4","name":"private-IPv4","type":"private","updated_at":"2023-06-07T18:10:27.391155Z","uuid":"03c2e1f3-13b6-4891-92f8-995195c9e2a3"}],"nodes":[{"networks":[],"operational_state":"pending"}],"operational_state":"pending","plan":"development","resolvers":[],"updated_at":"2023-06-07T18:10:27.599554Z","uuid":"0a5955c8-e31a-447e-86e7-7ecab95a6ab8","zone":"fi-hel1"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a5955c8-e31a-447e-86e7-7ecab95a6ab8
    method: GET
  response:
    body: |
      {"type":"https://developers.upcloud.com/1.3/errors#ERROR_RESOURCE_NOT_FOUND","title":"Service not found.","correlation_id":"01H2BGXAEBA1SWDSNFWVMH3HM7","status":404}
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/problem+json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/03c2e1f3-13b6-4891-92f8-995195c9e2a3
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
