---
version: 1
interactions:
- request:
    body: '{"network":{"name":"go-api-lb-1709210237","zone":"fi-hel2","ip_networks":{"ip_network":[{"address":"10.0.1.0/24","dhcp":"yes","dhcp_default_route":"no","family":"IPv4"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "10.0.1.0/24",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "family" : "IPv4",
                     "gateway" : "10.0.1.1"
                  }
               ]
            },
            "labels" : [],
            "name" : "go-api-lb-1709210237",
            "type" : "private",
            "uuid" : "03559427-d809-45ed-bde2-4187e2bbaeb1",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-api-lb-fi-hel2-1709210237","plan":"development","zone":"fi-hel2","networks":[{"name":"public","type":"public","family":"IPv4"},{"name":"private","type":"private","family":"IPv4","uuid":"03559427-d809-45ed-bde2-4187e2bbaeb1"}],"configured_status":"started","frontends":[{"name":"fe-1","mode":"http","port":80,"default_backend":"be-1","networks":[{"name":"public"}]}],"backends":[{"name":"be-1","resolver":"ns-1","members":[]}],"resolvers":[{"name":"ns-1","nameservers":["10.1.1.100"],"retries":10,"timeout":10,"timeout_retry":10,"cache_valid":10,"cache_invalid":10}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer
    method: POST
  response:
    body: '{"backends":[{"created_at":"2024-02-29T12:37:18.023134Z","members":[],"name":"be-1","properties":{"health_check_expected_status":200,"health_check_fall":3,"health_check_interval":10,"health_check_on_down":"","health_check_rise":3,"health_check_tls_verify":false,"health_check_type":"tcp","health_check_url":"/","http2_enabled":false,"outbound_proxy_protocol":"","sticky_session_cookie_name":"","timeout_server":10,"timeout_tunnel":3600,"tls_enabled":false,"tls_use_system_ca":false,"tls_verify":false},"resolver":"ns-1","tls_configs":[],"updated_at":"2024-02-29T12:37:18.023134Z"}],"configured_status":"started","created_at":"2024-02-29T12:37:18.023134Z","dns_name":"lb-0a83a46794e145d6a7f56a6371ba4f0e-1.upcloudlb.com","frontends":[{"created_at":"2024-02-29T12:37:18.023134Z","default_backend":"be-1","mode":"http","name":"fe-1","networks":[{"name":"public"}],"port":80,"properties":{"http2_enabled":false,"timeout_client":10},"rules":[],"tls_configs":[],"updated_at":"2024-02-29T12:37:18.023134Z"}],"labels":[],"maintenance_dow":"saturday","maintenance_time":"01:36:53Z","name":"go-api-lb-fi-hel2-1709210237","networks":[{"created_at":"2024-02-29T12:37:18.023134Z","dns_name":"lb-0a83a46794e145d6a7f56a6371ba4f0e-1.upcloudlb.com","family":"IPv4","name":"public","type":"public","updated_at":"2024-02-29T12:37:18.023134Z"},{"created_at":"2024-02-29T12:37:18.023134Z","dns_name":"lb-0a83a46794e145d6a7f56a6371ba4f0e-2.upcloudlb.com","family":"IPv4","name":"private","type":"private","updated_at":"2024-02-29T12:37:18.023134Z","uuid":"03559427-d809-45ed-bde2-4187e2bbaeb1"}],"nodes":[],"operational_state":"pending","plan":"development","resolvers":[{"cache_invalid":10,"cache_valid":10,"created_at":"2024-02-29T12:37:18.023134Z","name":"ns-1","nameservers":["10.1.1.100"],"retries":10,"timeout":10,"timeout_retry":10,"updated_at":"2024-02-29T12:37:18.023134Z"}],"updated_at":"2024-02-29T12:37:18.023134Z","uuid":"0a83a467-94e1-45d6-a7f5-6a6371ba4f0e","zone":"fi-hel2"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"rule-1","priority":10,"matchers":[{"type":"src_ip","match_src_ip":{"value":"10.1.1.200"}},{"type":"src_ip","match_src_ip":{"value":"10.1.2.200"},"inverse":true}],"actions":[{"type":"tcp_reject","action_tcp_reject":{}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a83a467-94e1-45d6-a7f5-6a6371ba4f0e/frontends/fe-1/rules
    method: POST
  response:
    body: '{"actions":[{"type":"tcp_reject","action_tcp_reject":{}}],"created_at":"2024-02-29T12:37:18.13835Z","matchers":[{"type":"src_ip","inverse":false,"match_src_ip":{"value":"10.1.1.200"}},{"type":"src_ip","inverse":true,"match_src_ip":{"value":"10.1.2.200"}}],"name":"rule-1","priority":10,"updated_at":"2024-02-29T12:37:18.13835Z"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"rule","priority":20}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a83a467-94e1-45d6-a7f5-6a6371ba4f0e/frontends/fe-1/rules/rule-1
    method: PATCH
  response:
    body: '{"actions":[{"type":"tcp_reject","action_tcp_reject":{}}],"created_at":"2024-02-29T12:37:18.13835Z","matchers":[{"type":"src_ip","inverse":false,"match_src_ip":{"value":"10.1.1.200"}},{"type":"src_ip","inverse":true,"match_src_ip":{"value":"10.1.2.200"}}],"name":"rule","priority":20,"updated_at":"2024-02-29T12:37:18.251403Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"rule-1","priority":10,"matchers":[{"type":"src_ip","match_src_ip":{"value":"10.1.1.201"}}],"actions":[{"type":"http_return","action_http_return":{"status":404,"content_type":"text/html","payload":"PGgxPmFwcGxlYmVlPC9oMT4K"}}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a83a467-94e1-45d6-a7f5-6a6371ba4f0e/frontends/fe-1/rules/rule
    method: PUT
  response:
    body: '{"actions":[{"type":"http_return","action_http_return":{"status":404,"content_type":"text/html","payload":"PGgxPmFwcGxlYmVlPC9oMT4K"}}],"created_at":"2024-02-29T12:37:18.365225Z","matchers":[{"type":"src_ip","inverse":false,"match_src_ip":{"value":"10.1.1.201"}}],"name":"rule-1","priority":10,"updated_at":"2024-02-29T12:37:18.365225Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a83a467-94e1-45d6-a7f5-6a6371ba4f0e
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a83a467-94e1-45d6-a7f5-6a6371ba4f0e
    method: GET
  response:
    body: |
      {"type":"https://developers.upcloud.com/1.3/errors#ERROR_RESOURCE_NOT_FOUND","title":"Service not found.","correlation_id":"01HQTDZBD5ZMC2APM059AFH5FE","status":404}
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/problem+json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/03559427-d809-45ed-bde2-4187e2bbaeb1
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
