---
version: 1
interactions:
  - request:
      body: '{"network":{"name":"go-test-lb-1647600818","zone":"de-fra1","ip_networks":{"ip_network":[{"address":"10.0.0.1/24","dhcp":"yes","dhcp_default_route":"no","family":"IPv4"}]}}}'
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://api.upcloud.com/1.3/network/
      method: POST
    response:
      body: |
        {
           "network" : {
              "ip_networks" : {
                 "ip_network" : [
                    {
                       "address" : "10.0.0.1/24",
                       "dhcp" : "yes",
                       "dhcp_default_route" : "no",
                       "family" : "IPv4",
                       "gateway" : "10.0.0.1"
                    }
                 ]
              },
              "name" : "go-test-lb-1647600818",
              "type" : "private",
              "uuid" : "031488fa-256c-4efc-a89a-8a4ffe1c1a80",
              "zone" : "de-fra1"
           }
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 201 Created
      code: 201
      duration: ""
  - request:
      body: '{"name":"go-test-lb-de-fra1-1647600819","plan":"development","zone":"de-fra1","network_uuid":"031488fa-256c-4efc-a89a-8a4ffe1c1a80","configured_status":"started","frontends":[],"backends":[],"resolvers":[]}'
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://api.upcloud.com/1.3/load-balancer
      method: POST
    response:
      body: '{"backends":[],"configured_status":"started","created_at":"2022-03-18T10:53:39.129786Z","dns_name":"lb-0aaf6b22b1e8435c97f1b4cd22728b99.upcloudlb.com","frontends":[],"name":"go-test-lb-de-fra1-1647600819","network_uuid":"031488fa-256c-4efc-a89a-8a4ffe1c1a80","operational_state":"pending","plan":"development","resolvers":[],"updated_at":"2022-03-18T10:53:39.129786Z","uuid":"0aaf6b22-b1e8-435c-97f1-b4cd22728b99","zone":"de-fra1"}'
      headers:
        Content-Type:
          - application/json
      status: 201 Created
      code: 201
      duration: ""
  - request:
      body: '{"name":"go-test-lb-backend-1647600819","members":[{"name":"default-lb-backend-member","weight":100,"max_sessions":1000,"enabled":true,"type":"dynamic","ip":"196.123.123.123","port":8000}]}'
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://api.upcloud.com/1.3/load-balancer/0aaf6b22-b1e8-435c-97f1-b4cd22728b99/backends
      method: POST
    response:
      body: '{"created_at":"0001-01-01T00:00:00Z","members":[{"created_at":"0001-01-01T00:00:00Z","enabled":true,"ip":"196.123.123.123","max_sessions":1000,"name":"default-lb-backend-member","port":8000,"type":"dynamic","updated_at":"0001-01-01T00:00:00Z","weight":100}],"name":"go-test-lb-backend-1647600819","updated_at":"0001-01-01T00:00:00Z"}'
      headers:
        Content-Type:
          - application/json
      status: 201 Created
      code: 201
      duration: ""
  - request:
      body: '{"name":"fe-1","mode":"http","port":443,"default_backend":"go-test-lb-backend-1647600819"}'
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://api.upcloud.com/1.3/load-balancer/0aaf6b22-b1e8-435c-97f1-b4cd22728b99/frontends
      method: POST
    response:
      body: '{"created_at":"0001-01-01T00:00:00Z","default_backend":"go-test-lb-backend-1647600819","mode":"http","name":"fe-1","port":443,"rules":[],"tls_configs":[],"updated_at":"0001-01-01T00:00:00Z"}'
      headers:
        Content-Type:
          - application/json
      status: 201 Created
      code: 201
      duration: ""
  - request:
      body: '{"name":"fe-2","mode":"tcp","port":80}'
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://api.upcloud.com/1.3/load-balancer/0aaf6b22-b1e8-435c-97f1-b4cd22728b99/frontends/fe-1
      method: PATCH
    response:
      body: '{"created_at":"2022-03-18T10:53:39.274809Z","default_backend":"go-test-lb-backend-1647600819","mode":"tcp","name":"fe-2","port":80,"rules":[],"tls_configs":[],"updated_at":"2022-03-18T10:53:39.274809Z"}'
      headers:
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: ""
[...]
  - request:
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://api.upcloud.com/1.3/load-balancer/0aaf6b22-b1e8-435c-97f1-b4cd22728b99
      method: DELETE
    response:
      body: ""
      headers:
      status: 204 No Content
      code: 204
      duration: ""
  - request:
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://api.upcloud.com/1.3/network/031488fa-256c-4efc-a89a-8a4ffe1c1a80
      method: DELETE
    response:
      body: ""
      headers:
      status: 204 No Content
      code: 204
      duration: ""
