---
version: 1
interactions:
- request:
    body: '{"network":{"name":"go-test-lb-1667482704","zone":"pl-waw1","ip_networks":{"ip_network":[{"address":"192.168.54.0/24","dhcp":"yes","dhcp_default_route":"no","family":"IPv4"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "192.168.54.0/24",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "family" : "IPv4",
                     "gateway" : "192.168.54.1"
                  }
               ]
            },
            "name" : "go-test-lb-1667482704",
            "type" : "private",
            "uuid" : "034bc867-140f-42e0-a1c0-f103ce249a88",
            "zone" : "pl-waw1"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-test-lb-networks-pl-waw1-1667482704","plan":"development","zone":"pl-waw1","networks":[{"name":"public_net","type":"public","family":"IPv4"},{"name":"private_net","type":"private","family":"IPv4","uuid":"034bc867-140f-42e0-a1c0-f103ce249a88"}],"configured_status":"started","frontends":[{"name":"fe1_network_test","mode":"http","port":80,"default_backend":"be_network_test","networks":[{"name":"public_net"},{"name":"private_net"}]}],"backends":[{"name":"be_network_test","members":[]}],"resolvers":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer
    method: POST
  response:
    body: '{"backends":[{"created_at":"2022-11-03T13:38:24.914441Z","members":[],"name":"be_network_test","properties":{"health_check_expected_status":200,"health_check_fall":3,"health_check_interval":10,"health_check_rise":3,"health_check_type":"tcp","health_check_url":"/","sticky_session_cookie_name":"","timeout_server":10,"timeout_tunnel":3600},"updated_at":"2022-11-03T13:38:24.914441Z"}],"configured_status":"started","created_at":"2022-11-03T13:38:24.914441Z","dns_name":"lb-0ab95421c2d440c3bc6f43ee2228bc33-1.upcloudlb.com","frontends":[{"created_at":"2022-11-03T13:38:24.914441Z","default_backend":"be_network_test","mode":"http","name":"fe1_network_test","networks":[{"name":"public_net"},{"name":"private_net"}],"port":80,"properties":{"timeout_client":10},"rules":[],"tls_configs":[],"updated_at":"2022-11-03T13:38:24.914441Z"}],"name":"go-test-lb-networks-pl-waw1-1667482704","networks":[{"created_at":"2022-11-03T13:38:24.914441Z","dns_name":"lb-0ab95421c2d440c3bc6f43ee2228bc33-1.upcloudlb.com","family":"IPv4","name":"public_net","type":"public","updated_at":"2022-11-03T13:38:24.914441Z"},{"created_at":"2022-11-03T13:38:24.914441Z","dns_name":"lb-0ab95421c2d440c3bc6f43ee2228bc33-2.upcloudlb.com","family":"IPv4","name":"private_net","type":"private","updated_at":"2022-11-03T13:38:24.914441Z","uuid":"034bc867-140f-42e0-a1c0-f103ce249a88"}],"nodes":[],"operational_state":"pending","plan":"development","resolvers":[],"updated_at":"2022-11-03T13:38:24.914441Z","uuid":"0ab95421-c2d4-40c3-bc6f-43ee2228bc33","zone":"pl-waw1"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"fe2_network_test","mode":"http","port":443,"default_backend":"be_network_test","networks":[{"name":"private_net"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0ab95421-c2d4-40c3-bc6f-43ee2228bc33/frontends
    method: POST
  response:
    body: '{"created_at":"2022-11-03T13:38:25.056129Z","default_backend":"be_network_test","mode":"http","name":"fe2_network_test","networks":[{"name":"private_net"}],"port":443,"properties":{"timeout_client":10},"rules":[],"tls_configs":[],"updated_at":"2022-11-03T13:38:25.056129Z"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0ab95421-c2d4-40c3-bc6f-43ee2228bc33
    method: GET
  response:
    body: '{"backends":[{"created_at":"2022-11-03T13:38:24.914441Z","members":[],"name":"be_network_test","properties":{"health_check_expected_status":200,"health_check_fall":3,"health_check_interval":10,"health_check_rise":3,"health_check_type":"tcp","health_check_url":"/","sticky_sessio[...]
- request:
    body: '{"name":"internal_net"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0ab95421-c2d4-40c3-bc6f-43ee2228bc33/networks/private_net
    method: PATCH
  response:
    body: '{"created_at":"2022-11-03T13:38:24.914441Z","dns_name":"lb-0ab95421c2d440c3bc6f43ee2228bc33-2.upcloudlb.com","family":"IPv4","name":"internal_net","type":"private","updated_at":"2022-11-03T13:40:17.251583Z","uuid":"034bc867-140f-42e0-a1c0-f103ce249a88"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"private_net"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0ab95421-c2d4-40c3-bc6f-43ee2228bc33/networks/internal_net
    method: PATCH
  response:
    body: '{"created_at":"2022-11-03T13:38:24.914441Z","dns_name":"lb-0ab95421c2d440c3bc6f43ee2228bc33-2.upcloudlb.com","family":"IPv4","name":"private_net","type":"private","updated_at":"2022-11-03T13:40:17.34096Z","uuid":"034bc867-140f-42e0-a1c0-f103ce249a88"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
