---
version: 1
interactions:
- request:
    body: '{"network":{"name":"go-api-lb-1709210160","zone":"fi-hel2","ip_networks":{"ip_network":[{"address":"172.16.2.0/24","dhcp":"yes","dhcp_default_route":"no","family":"IPv4"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "172.16.2.0/24",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "family" : "IPv4",
                     "gateway" : "172.16.2.1"
                  }
               ]
            },
            "labels" : [],
            "name" : "go-api-lb-1709210160",
            "type" : "private",
            "uuid" : "035e7faf-dc47-44ff-9127-9f58627cb044",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-api-lb-fi-hel2-1709210161","plan":"development","zone":"fi-hel2","networks":[{"name":"public","type":"public","family":"IPv4"},{"name":"private","type":"private","family":"IPv4","uuid":"035e7faf-dc47-44ff-9127-9f58627cb044"}],"configured_status":"started","frontends":[],"backends":[],"resolvers":[],"maintenance_dow":"sunday","maintenance_time":"20:01:01Z"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer
    method: POST
  response:
    body: '{"backends":[],"configured_status":"started","created_at":"2024-02-29T12:36:01.31498Z","dns_name":"lb-0afceede204c45849135b6d2fff1f2dd-1.upcloudlb.com","frontends":[],"labels":[],"maintenance_dow":"sunday","maintenance_time":"20:01:01Z","name":"go-api-lb-fi-hel2-1709210161","networks":[{"created_at":"2024-02-29T12:36:01.31498Z","dns_name":"lb-0afceede204c45849135b6d2fff1f2dd-1.upcloudlb.com","family":"IPv4","name":"public","type":"public","updated_at":"2024-02-29T12:36:01.31498Z"},{"created_at":"2024-02-29T12:36:01.31498Z","dns_name":"lb-0afceede204c45849135b6d2fff1f2dd-2.upcloudlb.com","family":"IPv4","name":"private","type":"private","updated_at":"2024-02-29T12:36:01.31498Z","uuid":"035e7faf-dc47-44ff-9127-9f58627cb044"}],"nodes":[],"operational_state":"pending","plan":"development","resolvers":[],"updated_at":"2024-02-29T12:36:01.31498Z","uuid":"0afceede-204c-4584-9135-b6d2fff1f2dd","zone":"fi-hel2"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-api-lb-backend-1709210161","members":[{"name":"default-lb-backend-member","weight":100,"max_sessions":1000,"enabled":true,"type":"dynamic","ip":"196.123.123.123","port":8000}],"properties":{"timeout_server":30,"tls_enabled":true,"tls_verify":true,"tls_use_system_ca":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0afceede-204c-4584-9135-b6d2fff1f2dd/backends
    method: POST
  response:
    body: '{"created_at":"2024-02-29T12:36:01.429004Z","members":[{"created_at":"2024-02-29T12:36:01.429004Z","enabled":true,"ip":"196.123.123.123","max_sessions":1000,"name":"default-lb-backend-member","port":8000,"type":"dynamic","updated_at":"2024-02-29T12:36:01.429004Z","weight":100}],"name":"go-api-lb-backend-1709210161","properties":{"health_check_expected_status":200,"health_check_fall":3,"health_check_interval":10,"health_check_on_down":"","health_check_rise":3,"health_check_tls_verify":false,"health_check_type":"tcp","health_check_url":"/","http2_enabled":false,"outbound_proxy_protocol":"","sticky_session_cookie_name":"","timeout_server":30,"timeout_tunnel":3600,"tls_enabled":true,"tls_use_system_ca":true,"tls_verify":true},"resolver":"","tls_configs":[],"updated_at":"2024-02-29T12:36:01.429004Z"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"updatedName","properties":{"health_check_type":"tcp"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0afceede-204c-4584-9135-b6d2fff1f2dd/backends/go-api-lb-backend-1709210161
    method: PATCH
  response:
    body: '{"created_at":"2024-02-29T12:36:01.429004Z","members":[{"created_at":"2024-02-29T12:36:01.429004Z","enabled":true,"ip":"196.123.123.123","max_sessions":1000,"name":"default-lb-backend-member","port":8000,"type":"dynamic","updated_at":"2024-02-29T12:36:01.551639Z","weight":100}],"name":"updatedName","properties":{"health_check_expected_status":200,"health_check_fall":3,"health_check_interval":10,"health_check_on_down":"","health_check_rise":3,"health_check_tls_verify":false,"health_check_type":"tcp","health_check_url":"/","http2_enabled":false,"outbound_proxy_protocol":"","sticky_session_cookie_name":"","timeout_server":30,"timeout_tunnel":3600,"tls_enabled":true,"tls_use_system_ca":true,"tls_verify":true},"resolver":"","tls_configs":[],"updated_at":"2024-02-29T12:36:01.551639Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0afceede-204c-4584-9135-b6d2fff1f2dd/backends/updatedName
    method: GET
  response:
    body: '{"created_at":"2024-02-29T12:36:01.429004Z","members":[{"created_at":"2024-02-29T12:36:01.429004Z","enabled":true,"ip":"196.123.123.123","max_sessions":1000,"name":"default-lb-backend-member","port":8000,"type":"dynamic","updated_at":"2024-02-29T12:36:01.551639Z","weight":100}],"name":"updatedName","properties":{"health_check_expected_status":200,"health_check_fall":3,"health_check_interval":10,"health_check_on_down":"","health_check_rise":3,"health_check_tls_verify":false,"health_check_type":"tcp","health_check_url":"/","http2_enabled":false,"outbound_proxy_protocol":"","sticky_session_cookie_name":"","timeout_server":30,"timeout_tunnel":3600,"tls_enabled":true,"tls_use_system_ca":true,"tls_verify":true},"resolver":"","tls_configs":[],"updated_at":"2024-02-29T12:36:01.551639Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0afceede-204c-4584-9135-b6d2fff1f2dd
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0afceede-204c-4584-9135-b6d2fff1f2dd
    method: GET
  response:
    body: |
      {"type":"https://developers.upcloud.com/1.3/errors#ERROR_RESOURCE_NOT_FOUND","title":"Service not found.","correlation_id":"01HQTDWY1D6HWH9JM8Q2GWGPKH","status":404}
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/problem+json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/035e7faf-dc47-44ff-9127-9f58627cb044
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
