---
version: 1
interactions:
- request:
    body: '{"network":{"name":"go-test-lb-1686161989","zone":"de-fra1","ip_networks":{"ip_network":[{"address":"10.0.3.0/24","dhcp":"yes","dhcp_default_route":"no","family":"IPv4"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "10.0.3.0/24",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "family" : "IPv4",
                     "gateway" : "10.0.3.1"
                  }
               ]
            },
            "labels" : [],
            "name" : "go-test-lb-1686161989",
            "type" : "private",
            "uuid" : "03e11e32-af22-420e-91ef-ebfb248daa6f",
            "zone" : "de-fra1"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-test-lb-de-fra1-1686161990","plan":"development","zone":"de-fra1","network_uuid":"03e11e32-af22-420e-91ef-ebfb248daa6f","configured_status":"started","frontends":[],"backends":[],"resolvers":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer
    method: POST
  response:
    body: '{"backends":[],"configured_status":"started","created_at":"2023-06-07T18:19:51.13509Z","dns_name":"lb-0a630741321e4652ae4507dda730c073-1.upcloudlb.com","frontends":[],"labels":[],"maintenance_dow":"saturday","maintenance_time":"03:54:28Z","name":"go-test-lb-de-fra1-1686161990","network_uuid":"03e11e32-af22-420e-91ef-ebfb248daa6f","networks":[{"created_at":"2023-06-07T18:19:51.13509Z","dns_name":"lb-0a630741321e4652ae4507dda730c073-1.upcloudlb.com","family":"IPv4","name":"public-IPv4","type":"public","updated_at":"2023-06-07T18:19:51.13509Z"},{"created_at":"2023-06-07T18:19:51.13509Z","dns_name":"lb-0a630741321e4652ae4507dda730c073-2.upcloudlb.com","family":"IPv4","name":"private-IPv4","type":"private","updated_at":"2023-06-07T18:19:51.13509Z","uuid":"03e11e32-af22-420e-91ef-ebfb248daa6f"}],"nodes":[],"operational_state":"pending","plan":"development","resolvers":[],"updated_at":"2023-06-07T18:19:51.13509Z","uuid":"0a630741-321e-4652-ae45-07dda730c073","zone":"de-fra1"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-test-lb-backend-1686161991","members":[{"name":"default-lb-backend-member","weight":100,"max_sessions":1000,"enabled":true,"type":"dynamic","ip":"196.123.123.123","port":8000}],"properties":{"timeout_server":30}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a630741-321e-4652-ae45-07dda730c073/backends
    method: POST
  response:
    body: '{"created_at":"2023-06-07T18:19:51.319069Z","members":[{"created_at":"2023-06-07T18:19:51.319069Z","enabled":true,"ip":"196.123.123.123","max_sessions":1000,"name":"default-lb-backend-member","port":8000,"type":"dynamic","updated_at":"2023-06-07T18:19:51.319069Z","weight":100}],"name":"go-test-lb-backend-1686161991","properties":{"health_check_expected_status":200,"health_check_fall":3,"health_check_interval":10,"health_check_rise":3,"health_check_tls_verify":false,"health_check_type":"tcp","health_check_url":"/","outbound_proxy_protocol":"","sticky_session_cookie_name":"","timeout_server":30,"timeout_tunnel":3600},"resolver":"","updated_at":"2023-06-07T18:19:51.319069Z"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"fe-1","mode":"http","port":443,"default_backend":"go-test-lb-backend-1686161991","properties":{"timeout_client":10,"inbound_proxy_protocol":false}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a630741-321e-4652-ae45-07dda730c073/frontends
    method: POST
  response:
    body: '{"created_at":"2023-06-07T18:19:51.466745Z","default_backend":"go-test-lb-backend-1686161991","mode":"http","name":"fe-1","networks":[{"name":"public-IPv4"}],"port":443,"properties":{"timeout_client":10},"rules":[],"tls_configs":[],"updated_at":"2023-06-07T18:19:51.466745Z"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"fe-2","mode":"tcp","port":80,"properties":{"inbound_proxy_protocol":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a630741-321e-4652-ae45-07dda730c073/frontends/fe-1
    method: PATCH
  response:
    body: '{"created_at":"2023-06-07T18:19:51.466745Z","default_backend":"go-test-lb-backend-1686161991","mode":"tcp","name":"fe-2","networks":[{"name":"public-IPv4"}],"port":80,"properties":{"inbound_proxy_protocol":true,"timeout_client":10},"rules":[],"tls_configs":[],"updated_at":"2023-06-07T18:19:51.626563Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a630741-321e-4652-ae45-07dda730c073
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a630741-321e-4652-ae45-07dda730c073
    method: GET
  response:
    body: |
      {"type":"https://developers.upcloud.com/1.3/errors#ERROR_RESOURCE_NOT_FOUND","title":"Service not found.","correlation_id":"01H2BHEZYSMPF4AVE6YH3G5MVV","status":404}
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/problem+json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/03e11e32-af22-420e-91ef-ebfb248daa6f
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
