---
version: 1
interactions:
- request:
    body: '{"network":{"name":"go-test-lb-1648824372","zone":"de-fra1","ip_networks":{"ip_network":[{"address":"10.0.0.1/24","dhcp":"yes","dhcp_default_route":"no","family":"IPv4"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "10.0.0.1/24",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "family" : "IPv4",
                     "gateway" : "10.0.0.1"
                  }
               ]
            },
            "name" : "go-test-lb-1648824372",
            "type" : "private",
            "uuid" : "036c412c-05c3-4a0a-8e14-e3efe0b53927",
            "zone" : "de-fra1"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-test-lb-de-fra1-1648824373","plan":"development","zone":"de-fra1","network_uuid":"036c412c-05c3-4a0a-8e14-e3efe0b53927","configured_status":"started","frontends":[],"backends":[],"resolvers":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer
    method: POST
  response:
    body: '{"backends":[],"configured_status":"started","created_at":"2022-04-01T14:46:13.458627Z","dns_name":"lb-0accce9cdf434362a29a0c53d1cdf266.upcloudlb.com","frontends":[],"name":"go-test-lb-de-fra1-1648824373","network_uuid":"036c412c-05c3-4a0a-8e14-e3efe0b53927","operational_state":"pending","plan":"development","resolvers":[],"updated_at":"2022-04-01T14:46:13.458627Z","uuid":"0accce9c-df43-4362-a29a-0c53d1cdf266","zone":"de-fra1"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-test-lb-backend-1648824373","members":[{"name":"default-lb-backend-member","weight":100,"max_sessions":1000,"enabled":true,"type":"dynamic","ip":"196.123.123.123","port":8000}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0accce9c-df43-4362-a29a-0c53d1cdf266/backends
    method: POST
  response:
    body: '{"created_at":"2022-04-01T14:46:13.532336Z","members":[{"created_at":"2022-04-01T14:46:13.532336Z","enabled":true,"ip":"196.123.123.123","max_sessions":1000,"name":"default-lb-backend-member","port":8000,"type":"dynamic","updated_at":"2022-04-01T14:46:13.532336Z","weight":100}],"name":"go-test-lb-backend-1648824373","properties":{"timeout_server":10,"timeout_tunnel":3600},"updated_at":"2022-04-01T14:46:13.532336Z"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"fe-1","mode":"http","port":443,"default_backend":"go-test-lb-backend-1648824373"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0accce9c-df43-4362-a29a-0c53d1cdf266/frontends
    method: POST
  response:
    body: '{"created_at":"2022-04-01T14:46:13.596625Z","default_backend":"go-test-lb-backend-1648824373","mode":"http","name":"fe-1","port":443,"properties":{"timeout_client":10},"rules":[],"tls_configs":[],"updated_at":"2022-04-01T14:46:13.596625Z"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"fe-2","mode":"tcp","port":80}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0accce9c-df43-4362-a29a-0c53d1cdf266/frontends/fe-1
    method: PATCH
  response:
    body: '{"created_at":"2022-04-01T14:46:13.596625Z","default_backend":"go-test-lb-backend-1648824373","mode":"tcp","name":"fe-2","port":80,"properties":{"timeout_client":10},"rules":[],"tls_configs":[],"updated_at":"2022-04-01T14:46:13.666647Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0accce9c-df43-4362-a29a-0c53d1cdf266
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0accce9c-df43-4362-a29a-0c53d1cdf266
    method: GET
  response:
    body: |
      {"type":"https://developers.upcloud.com/1.3/errors#ERROR_RESOURCE_NOT_FOUND","title":"Service not found.","correlation_id":"01FZJSG2S6YZFZXQFY2ESGS6QC","status":404}
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/problem+json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/036c412c-05c3-4a0a-8e14-e3efe0b53927
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
