---
version: 1
interactions:
- request:
    body: '{"network":{"name":"go-test-lb-1666617503","zone":"pl-waw1","ip_networks":{"ip_network":[{"address":"10.0.0.0/24","dhcp":"yes","dhcp_default_route":"no","family":"IPv4"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "10.0.0.0/24",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "family" : "IPv4",
                     "gateway" : "10.0.0.1"
                  }
               ]
            },
            "name" : "go-test-lb-1666617503",
            "type" : "private",
            "uuid" : "039d51f0-632f-481c-b07a-151ac070c975",
            "zone" : "pl-waw1"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-test-lb-pl-waw1-1666617504","plan":"development","zone":"pl-waw1","network_uuid":"039d51f0-632f-481c-b07a-151ac070c975","configured_status":"started","frontends":[],"backends":[],"resolvers":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer
    method: POST
  response:
    body: '{"backends":[],"configured_status":"started","created_at":"2022-10-24T13:18:24.334668Z","dns_name":"lb-0a278537c53b462d92dfc0b4f272da61.upcloudlb.com","frontends":[],"name":"go-test-lb-pl-waw1-1666617504","network_uuid":"039d51f0-632f-481c-b07a-151ac070c975","nodes":[],"operational_state":"pending","plan":"development","resolvers":[],"updated_at":"2022-10-24T13:18:24.334668Z","uuid":"0a278537-c53b-462d-92df-c0b4f272da61","zone":"pl-waw1"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"testname","nameservers":["10.0.0.1","10.0.0.2"],"retries":10,"timeout":20,"timeout_retry":10,"cache_valid":123,"cache_invalid":321}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a278537-c53b-462d-92df-c0b4f272da61/resolvers
    method: POST
  response:
    body: '{"cache_invalid":321,"cache_valid":123,"created_at":"2022-10-24T13:18:24.528311Z","name":"testname","nameservers":["10.0.0.1","10.0.0.2"],"retries":10,"timeout":20,"timeout_retry":10,"updated_at":"2022-10-24T13:18:24.528311Z"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"updated_testname","nameservers":["10.0.0.1","10.0.0.2","10.0.0.3"],"retries":5,"timeout":30}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a278537-c53b-462d-92df-c0b4f272da61/resolvers/testname
    method: PATCH
  response:
    body: '{"cache_invalid":321,"cache_valid":123,"created_at":"2022-10-24T13:18:24.528311Z","name":"updated_testname","nameservers":["10.0.0.1","10.0.0.2","10.0.0.3"],"retries":5,"timeout":30,"timeout_retry":10,"updated_at":"2022-10-24T13:18:24.702038Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"timeout_retry":15,"cache_valid":124,"cache_invalid":324}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a278537-c53b-462d-92df-c0b4f272da61/resolvers/updated_testname
    method: PATCH
  response:
    body: '{"cache_invalid":324,"cache_valid":124,"created_at":"2022-10-24T13:18:24.528311Z","name":"updated_testname","nameservers":["10.0.0.1","10.0.0.2","10.0.0.3"],"retries":5,"timeout":30,"timeout_retry":15,"updated_at":"2022-10-24T13:18:24.920538Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a278537-c53b-462d-92df-c0b4f272da61
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a278537-c53b-462d-92df-c0b4f272da61
    method: GET
  response:
    body: '{"backends":[],"configured_status":"started","created_at":"2022-10-24T13:18:24.334668Z","dns_name":"lb-0a278537c53b462d92dfc0b4f272da61.upcloudlb.com","frontends":[],"name":"go-test-lb-pl-waw1-1666617504","network_uuid":"039d51f0-632f-481c-b07a-151ac070c975","nodes":[{"backend_ip":"","frontend_ips":[],"operational_state":"pending"}],"operational_state":"pending","plan":"development","resolvers":[],"updated_at":"2022-10-24T13:18:25.623135Z","uuid":"0a278537-c53b-462d-92df-c0b4f272da61","zone":"pl-waw1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a278537-c53b-462d-92df-c0b4f272da61
    method: GET
  response:
    body: |
      {"type":"https://developers.upcloud.com/1.3/errors#ERROR_RESOURCE_NOT_FOUND","title":"Service not found.","correlation_id":"01GG52B6TXNXZFEVTGFQGE5G7W","status":404}
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/problem+json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/039d51f0-632f-481c-b07a-151ac070c975
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
