---
version: 1
interactions:
- request:
    body: '{"network":{"name":"go-test-lb-1648826267","zone":"fi-hel1","ip_networks":{"ip_network":[{"address":"172.16.1.0/24","dhcp":"yes","dhcp_default_route":"no","family":"IPv4"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "172.16.1.0/24",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "family" : "IPv4",
                     "gateway" : "172.16.1.1"
                  }
               ]
            },
            "name" : "go-test-lb-1648826267",
            "type" : "private",
            "uuid" : "031c09fe-98bd-4504-83c8-0583f52ef7d9",
            "zone" : "fi-hel1"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-test-lb-fi-hel1-1648826268","plan":"development","zone":"fi-hel1","network_uuid":"031c09fe-98bd-4504-83c8-0583f52ef7d9","configured_status":"started","frontends":[],"backends":[],"resolvers":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer
    method: POST
  response:
    body: '{"backends":[],"configured_status":"started","created_at":"2022-04-01T15:17:48.105034Z","dns_name":"lb-0a79267ad4f447d0bb8d8ae79108e9c7.upcloudlb.com","frontends":[],"name":"go-test-lb-fi-hel1-1648826268","network_uuid":"031c09fe-98bd-4504-83c8-0583f52ef7d9","operational_state":"pending","plan":"development","resolvers":[],"updated_at":"2022-04-01T15:17:48.105034Z","uuid":"0a79267a-d4f4-47d0-bb8d-8ae79108e9c7","zone":"fi-hel1"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"new-name-for-lb"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a79267a-d4f4-47d0-bb8d-8ae79108e9c7
    method: PATCH
  response:
    body: '{"backends":[],"configured_status":"started","created_at":"2022-04-01T15:17:48.105034Z","dns_name":"lb-0a79267ad4f447d0bb8d8ae79108e9c7.upcloudlb.com","frontends":[],"name":"new-name-for-lb","network_uuid":"031c09fe-98bd-4504-83c8-0583f52ef7d9","operational_state":"pending","plan":"development","resolvers":[],"updated_at":"2022-04-01T15:17:48.185847Z","uuid":"0a79267a-d4f4-47d0-bb8d-8ae79108e9c7","zone":"fi-hel1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer?limit=100&offset=0
    method: GET
  response:
    body: '[{"backends":[],"configured_status":"started","created_at":"2022-04-01T15:17:48.105034Z","dns_name":"lb-0a79267ad4f447d0bb8d8ae79108e9c7.upcloudlb.com","frontends":[],"name":"new-name-for-lb","network_uuid":"031c09fe-98bd-4504-83c8-0583f52ef7d9","operational_state":"pending","plan":"development","resolvers":[],"updated_at":"2022-04-01T15:17:48.185847Z","uuid":"0a79267a-d4f4-47d0-bb8d-8ae79108e9c7","zone":"fi-hel1"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a79267a-d4f4-47d0-bb8d-8ae79108e9c7
    method: GET
  response:
    body: |
      {"type":"https://developers.upcloud.com/1.3/errors#ERROR_RESOURCE_NOT_FOUND","title":"Service not found.","correlation_id":"01FZJV9YXD36DD0YF3X72KHXYB","status":404}
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/problem+json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/031c09fe-98bd-4504-83c8-0583f52ef7d9
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
