---
version: 1
interactions:
- request:
    body: '{"network":{"name":"go-api-lb-1706705640","zone":"fi-hel1","ip_networks":{"ip_network":[{"address":"172.16.1.0/24","dhcp":"yes","dhcp_default_route":"no","family":"IPv4"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "172.16.1.0/24",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "family" : "IPv4",
                     "gateway" : "172.16.1.1"
                  }
               ]
            },
            "labels" : [],
            "name" : "go-api-lb-1706705640",
            "type" : "private",
            "uuid" : "03406795-5846-4b1f-8c48-a831c8ad9fa3",
            "zone" : "fi-hel1"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-api-lb-fi-hel1-1706705641","plan":"development","zone":"fi-hel1","network_uuid":"03406795-5846-4b1f-8c48-a831c8ad9fa3","configured_status":"started","frontends":[],"backends":[],"resolvers":[],"maintenance_dow":"sunday","maintenance_time":"20:01:01Z"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer
    method: POST
  response:
    body: '{"backends":[],"configured_status":"started","created_at":"2024-01-31T12:54:01.888822Z","dns_name":"lb-0a85a2ccd1ac4576a4f265e0e240b092-1.upcloudlb.com","frontends":[],"labels":[],"maintenance_dow":"sunday","maintenance_time":"20:01:01Z","name":"go-api-lb-fi-hel1-1706705641","network_uuid":"03406795-5846-4b1f-8c48-a831c8ad9fa3","networks":[{"created_at":"2024-01-31T12:54:01.888822Z","dns_name":"lb-0a85a2ccd1ac4576a4f265e0e240b092-1.upcloudlb.com","family":"IPv4","name":"public-IPv4","type":"public","updated_at":"2024-01-31T12:54:01.888822Z"},{"created_at":"2024-01-31T12:54:01.888822Z","dns_name":"lb-0a85a2ccd1ac4576a4f265e0e240b092-2.upcloudlb.com","family":"IPv4","name":"private-IPv4","type":"private","updated_at":"2024-01-31T12:54:01.888822Z","uuid":"03406795-5846-4b1f-8c48-a831c8ad9fa3"}],"nodes":[],"operational_state":"pending","plan":"development","resolvers":[],"updated_at":"2024-01-31T12:54:01.888822Z","uuid":"0a85a2cc-d1ac-4576-a4f2-65e0e240b092","zone":"fi-hel1"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"new-name-for-lb","maintenance_dow":"monday","maintenance_time":"00:01:01Z"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a85a2cc-d1ac-4576-a4f2-65e0e240b092
    method: PATCH
  response:
    body: '{"backends":[],"configured_status":"started","created_at":"2024-01-31T12:54:01.888822Z","dns_name":"lb-0a85a2ccd1ac4576a4f265e0e240b092-1.upcloudlb.com","frontends":[],"labels":[],"maintenance_dow":"monday","maintenance_time":"00:01:01Z","name":"new-name-for-lb","network_uuid":"03406795-5846-4b1f-8c48-a831c8ad9fa3","networks":[{"created_at":"2024-01-31T12:54:01.888822Z","dns_name":"lb-0a85a2ccd1ac4576a4f265e0e240b092-1.upcloudlb.com","family":"IPv4","name":"public-IPv4","type":"public","updated_at":"2024-01-31T12:54:01.888822Z"},{"created_at":"2024-01-31T12:54:01.888822Z","dns_name":"lb-0a85a2ccd1ac4576a4f265e0e240b092-2.upcloudlb.com","family":"IPv4","name":"private-IPv4","type":"private","updated_at":"2024-01-31T12:54:01.888822Z","uuid":"03406795-5846-4b1f-8c48-a831c8ad9fa3"}],"nodes":[{"networks":[],"operational_state":"pending"}],"operational_state":"pending","plan":"development","resolvers":[],"updated_at":"2024-01-31T12:54:02.386724Z","uuid":"0a85a2cc-d1ac-4576-a4f2-65e0e240b092","zone":"fi-hel1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer?limit=100&offset=0
    method: GET
  response:
    body: '[{"backends":[],"configured_status":"started","created_at":"2024-01-31T12:54:01.888822Z","dns_name":"lb-0a85a2ccd1ac4576a4f265e0e240b092-1.upcloudlb.com","frontends":[],"labels":[],"maintenance_dow":"monday","maintenance_time":"00:01:01Z","name":"new-name-for-lb","network_uuid":"03406795-5846-4b1f-8c48-a831c8ad9fa3","networks":[{"created_at":"2024-01-31T12:54:01.888822Z","dns_name":"lb-0a85a2ccd1ac4576a4f265e0e240b092-1.upcloudlb.com","family":"IPv4","name":"public-IPv4","type":"public","updated_at":"2024-01-31T12:54:01.888822Z"},{"created_at":"2024-01-31T12:54:01.888822Z","dns_name":"lb-0a85a2ccd1ac4576a4f265e0e240b092-2.upcloudlb.com","family":"IPv4","name":"private-IPv4","type":"private","updated_at":"2024-01-31T12:54:01.888822Z","uuid":"03406795-5846-4b1f-8c48-a831c8ad9fa3"}],"nodes":[{"networks":[],"operational_state":"pending"}],"operational_state":"pending","plan":"development","resolvers":[],"updated_at":"2024-01-31T12:54:02.386724Z","uuid":"0a85a2cc-d1ac-4576-a4f2-65e0e240b092","zone":"fi-hel1"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a85a2cc-d1ac-4576-a4f2-65e0e240b092
    method: GET
  response:
    body: |
      {"type":"https://developers.upcloud.com/1.3/errors#ERROR_RESOURCE_NOT_FOUND","title":"Service not found.","correlation_id":"01HNFSCYZC2G9BMPG9YR55WX8Y","status":404}
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/problem+json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/03406795-5846-4b1f-8c48-a831c8ad9fa3
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
