---
version: 1
interactions:
- request:
    body: '{"network":{"name":"go-test-lb-1648824330","zone":"pl-waw1","ip_networks":{"ip_network":[{"address":"10.0.0.0/24","dhcp":"yes","dhcp_default_route":"no","family":"IPv4"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "10.0.0.0/24",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "family" : "IPv4",
                     "gateway" : "10.0.0.1"
                  }
               ]
            },
            "name" : "go-test-lb-1648824330",
            "type" : "private",
            "uuid" : "03ce0e3c-5b2c-49fb-b6c3-b60d47b23ab7",
            "zone" : "pl-waw1"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-test-lb-pl-waw1-1648824331","plan":"development","zone":"pl-waw1","network_uuid":"03ce0e3c-5b2c-49fb-b6c3-b60d47b23ab7","configured_status":"started","frontends":[],"backends":[],"resolvers":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer
    method: POST
  response:
    body: '{"backends":[],"configured_status":"started","created_at":"2022-04-01T14:45:31.379327Z","dns_name":"lb-0a7739f39eba4c918e8f585c9126c2ad.upcloudlb.com","frontends":[],"name":"go-test-lb-pl-waw1-1648824331","network_uuid":"03ce0e3c-5b2c-49fb-b6c3-b60d47b23ab7","operational_state":"pending","plan":"development","resolvers":[],"updated_at":"2022-04-01T14:45:31.379327Z","uuid":"0a7739f3-9eba-4c91-8e8f-585c9126c2ad","zone":"pl-waw1"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"testname","nameservers":["10.0.0.1","10.0.0.2"],"retries":10,"timeout":20,"timeout_retry":10,"cache_valid":123,"cache_invalid":321}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a7739f3-9eba-4c91-8e8f-585c9126c2ad/resolvers
    method: POST
  response:
    body: '{"cache_invalid":321,"cache_valid":123,"created_at":"2022-04-01T14:45:31.461634Z","name":"testname","nameservers":["10.0.0.1","10.0.0.2"],"retries":10,"timeout":20,"timeout_retry":10,"updated_at":"2022-04-01T14:45:31.461634Z"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"updated_testname","nameservers":["10.0.0.1","10.0.0.2","10.0.0.3"],"retries":5,"timeout":30}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a7739f3-9eba-4c91-8e8f-585c9126c2ad/resolvers/testname
    method: PATCH
  response:
    body: '{"cache_invalid":321,"cache_valid":123,"created_at":"2022-04-01T14:45:31.461634Z","name":"updated_testname","nameservers":["10.0.0.1","10.0.0.2","10.0.0.3"],"retries":5,"timeout":30,"timeout_retry":10,"updated_at":"2022-04-01T14:45:31.530106Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"timeout_retry":15,"cache_valid":124,"cache_invalid":324}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a7739f3-9eba-4c91-8e8f-585c9126c2ad/resolvers/updated_testname
    method: PATCH
  response:
    body: '{"cache_invalid":324,"cache_valid":124,"created_at":"2022-04-01T14:45:31.461634Z","name":"updated_testname","nameservers":["10.0.0.1","10.0.0.2","10.0.0.3"],"retries":5,"timeout":30,"timeout_retry":15,"updated_at":"2022-04-01T14:45:31.604741Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a7739f3-9eba-4c91-8e8f-585c9126c2ad
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a7739f3-9eba-4c91-8e8f-585c9126c2ad
    method: GET
  response:
    body: |
      {"type":"https://developers.upcloud.com/1.3/errors#ERROR_RESOURCE_NOT_FOUND","title":"Service not found.","correlation_id":"01FZJSE9KQ5FCRDFCPPD8M2KHM","status":404}
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/problem+json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/03ce0e3c-5b2c-49fb-b6c3-b60d47b23ab7
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
