---
version: 1
interactions:
- request:
    body: '{"network":{"name":"go-api-lb-1709209911","zone":"fi-hel2","ip_networks":{"ip_network":[{"address":"172.16.12.0/24","dhcp":"yes","dhcp_default_route":"no","family":"IPv4"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "172.16.12.0/24",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "family" : "IPv4",
                     "gateway" : "172.16.12.1"
                  }
               ]
            },
            "labels" : [],
            "name" : "go-api-lb-1709209911",
            "type" : "private",
            "uuid" : "0363b5f3-1380-440a-9679-0ff110969c6d",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-api-lb-fi-hel2-1709209912","plan":"development","zone":"fi-hel2","networks":[{"name":"public","type":"public","family":"IPv4"},{"name":"private","type":"private","family":"IPv4","uuid":"0363b5f3-1380-440a-9679-0ff110969c6d"}],"configured_status":"started","frontends":[],"backends":[],"resolvers":[],"labels":[{"key":"zone","value":"hel2"}],"maintenance_dow":"sunday","maintenance_time":"20:01:01Z"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer
    method: POST
  response:
    body: '{"backends":[],"configured_status":"started","created_at":"2024-02-29T12:31:52.274494Z","dns_name":"lb-0a01ac2f45dd4754a3a4fa62009b3b29-1.upcloudlb.com","frontends":[],"labels":[{"key":"zone","value":"hel2"}],"maintenance_dow":"sunday","maintenance_time":"20:01:01Z","name":"go-api-lb-fi-hel2-1709209912","networks":[{"created_at":"2024-02-29T12:31:52.274494Z","dns_name":"lb-0a01ac2f45dd4754a3a4fa62009b3b29-1.upcloudlb.com","family":"IPv4","name":"public","type":"public","updated_at":"2024-02-29T12:31:52.274494Z"},{"created_at":"2024-02-29T12:31:52.274494Z","dns_name":"lb-0a01ac2f45dd4754a3a4fa62009b3b29-2.upcloudlb.com","family":"IPv4","name":"private","type":"private","updated_at":"2024-02-29T12:31:52.274494Z","uuid":"0363b5f3-1380-440a-9679-0ff110969c6d"}],"nodes":[],"operational_state":"pending","plan":"development","resolvers":[],"updated_at":"2024-02-29T12:31:52.274494Z","uuid":"0a01ac2f-45dd-4754-a3a4-fa62009b3b29","zone":"fi-hel2"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer?label=zone&limit=100&offset=0
    method: GET
  response:
    body: '[{"backends":[],"configured_status":"started","created_at":"2024-02-29T12:31:52.274494Z","dns_name":"lb-0a01ac2f45dd4754a3a4fa62009b3b29-1.upcloudlb.com","frontends":[],"labels":[{"key":"zone","value":"hel2"}],"maintenance_dow":"sunday","maintenance_time":"20:01:01Z","name":"go-api-lb[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer?label=zone%3Dhel1&limit=100&offset=0
    method: GET
  response:
    body: '[{"backends":[],"configured_status":"started","created_at":"2024-02-29T12:31:53.934646Z","dns_name":"lb-0abbb6e03a554aacad927de84c6c86f6-1.upcloudlb.com","frontends":[],"labels":[{"key":"zone","value":"hel1"}],"maintenance_dow":"sunday","maintenance_time":"20:01:01Z","name":"go-api-lb-fi-hel1-1709209913","networks":[{"created_at":"2024-02-29T12:31:53.934646Z","dns_name":"lb-0abbb6e03a554aacad927de84c6c86f6-1.upcloudlb.com","family":"IPv4","name":"public","type":"public","updated_at":"2024-02-29T12:31:53.934646Z"},{"created_at":"2024-02-29T12:31:53.934646Z","dns_name":"lb-0abbb6e03a554aacad927de84c6c86f6-2.upcloudlb.com","family":"IPv4","name":"private","type":"private","updated_at":"2024-02-29T12:31:53.934646Z","uuid":"038f567e-571f-45b0-bf99-5e65da786865"}],"nodes":[{"networks":[],"operational_state":"pending"}],"operational_state":"setup-server","plan":"development","resolvers":[],"updated_at":"2024-02-29T12:31:54.143041Z","uuid":"0abbb6e0-3a55-4aac-ad92-7de84c6c86f6","zone":"fi-hel1"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"labels":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a01ac2f-45dd-4754-a3a4-fa62009b3b29
    method: PATCH
  response:
    body: '{"backends":[],"configured_status":"started","created_at":"2024-02-29T12:31:52.274494Z","dns_name":"lb-0a01ac2f45dd4754a3a4fa62009b3b29-1.upcloudlb.com","frontends":[],"labels":[],"maintenance_dow":"sunday","maintenance_time":"20:01:01Z","name":"go-api-lb-fi-hel2-1709209912","networks":[{"created_at":"2024-02-29T12:31:52.274494Z","dns_name":"lb-0a01ac2f45dd4754a3a4fa62009b3b29-1.upcloudlb.com","family":"IPv4","name":"public","type":"public","updated_at":"2024-02-29T12:31:52.274494Z"},{"created_at":"2024-02-29T12:31:52.274494Z","dns_name":"lb-0a01ac2f45dd4754a3a4fa62009b3b29-2.upcloudlb.com","family":"IPv4","name":"private","type":"private","updated_at":"2024-02-29T12:31:52.274494Z","uuid":"0363b5f3-1380-440a-9679-0ff110969c6d"}],"nodes":[{"networks":[],"operational_state":"pending"}],"operational_state":"pending","plan":"development","resolvers":[],"updated_at":"2024-02-29T12:31:54.268934Z","uuid":"0a01ac2f-45dd-4754-a3a4-fa62009b3b29","zone":"fi-hel2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0a01ac2f-45dd-4754-a3a4-fa62009b3b29
    method: GET
  response:
    body: |
      {"type":"https://developers.upcloud.com/1.3/errors#ERROR_RESOURCE_NOT_FOUND","title":"Service not found.","correlation_id":"01HQTDNA48VSRQNWXB9JGWWXZ3","status":404}
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/problem+json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/0363b5f3-1380-440a-9679-0ff110969c6d
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
[...]
