---
version: 1
interactions:
- request:
    body: '{"network":{"name":"go-api-lb-1709209832","zone":"de-fra1","ip_networks":{"ip_network":[{"address":"10.0.3.0/24","dhcp":"yes","dhcp_default_route":"no","family":"IPv4"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "10.0.3.0/24",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "family" : "IPv4",
                     "gateway" : "10.0.3.1"
                  }
               ]
            },
            "labels" : [],
            "name" : "go-api-lb-1709209832",
            "type" : "private",
            "uuid" : "037e1e20-6789-4eec-a85c-e512832de857",
            "zone" : "de-fra1"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-api-lb-de-fra1-1709209834","plan":"development","zone":"de-fra1","networks":[{"name":"public","type":"public","family":"IPv4"},{"name":"private","type":"private","family":"IPv4","uuid":"037e1e20-6789-4eec-a85c-e512832de857"}],"configured_status":"started","frontends":[],"backends":[],"resolvers":[],"maintenance_dow":"sunday","maintenance_time":"20:01:01Z"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer
    method: POST
  response:
    body: '{"backends":[],"configured_status":"started","created_at":"2024-02-29T12:30:34.29511Z","dns_name":"lb-0abdb7f32714428e83558cac32aa6d25-1.upcloudlb.com","frontends":[],"labels":[],"maintenance_dow":"sunday","maintenance_time":"20:01:01Z","name":"go-api-lb-de-fra1-1709209834","networks":[{"created_at":"2024-02-29T12:30:34.29511Z","dns_name":"lb-0abdb7f32714428e83558cac32aa6d25-1.upcloudlb.com","family":"IPv4","name":"public","type":"public","updated_at":"2024-02-29T12:30:34.29511Z"},{"created_at":"2024-02-29T12:30:34.29511Z","dns_name":"lb-0abdb7f32714428e83558cac32aa6d25-2.upcloudlb.com","family":"IPv4","name":"private","type":"private","updated_at":"2024-02-29T12:30:34.29511Z","uuid":"037e1e20-6789-4eec-a85c-e512832de857"}],"nodes":[],"operational_state":"pending","plan":"development","resolvers":[],"updated_at":"2024-02-29T12:30:34.29511Z","uuid":"0abdb7f3-2714-428e-8355-8cac32aa6d25","zone":"de-fra1"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-api-lb-backend-1709209834","members":[{"name":"default-lb-backend-member","weight":100,"max_sessions":1000,"enabled":true,"type":"dynamic","ip":"196.123.123.123","port":8000}],"properties":{"timeout_server":30,"tls_enabled":true,"tls_verify":true,"tls_use_system_ca":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0abdb7f3-2714-428e-8355-8cac32aa6d25/backends
    method: POST
  response:
    body: '{"created_at":"2024-02-29T12:30:34.451005Z","members":[{"created_at":"2024-02-29T12:30:34.451005Z","enabled":true,"ip":"196.123.123.123","max_sessions":1000,"name":"default-lb-backend-member","port":8000,"type":"dynamic","updated_at":"2024-02-29T12:30:34.451005Z","weight":100}],"name":"go-api-lb-backend-1709209834","properties":{"health_check_expected_status":200,"health_check_fall":3,"health_check_interval":10,"health_check_on_down":"","health_check_rise":3,"health_check_tls_verify":false,"health_check_type":"tcp","health_check_url":"/","http2_enabled":false,"outbound_proxy_protocol":"","sticky_session_cookie_name":"","timeout_server":30,"timeout_tunnel":3600,"tls_enabled":true,"tls_use_system_ca":true,"tls_verify":true},"resolver":"","tls_configs":[],"updated_at":"2024-02-29T12:30:34.451005Z"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"fe-1","mode":"http","port":443,"default_backend":"go-api-lb-backend-1709209834","properties":{"timeout_client":10,"inbound_proxy_protocol":true,"http2_enabled":false},"networks":[{"name":"public"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0abdb7f3-2714-428e-8355-8cac32aa6d25/frontends
    method: POST
  response:
    body: '{"created_at":"2024-02-29T12:30:34.571729Z","default_backend":"go-api-lb-backend-1709209834","mode":"http","name":"fe-1","networks":[{"name":"public"}],"port":443,"properties":{"http2_enabled":false,"inbound_proxy_protocol":true,"timeout_client":10},"rules":[],"tls_configs":[],"updated_at":"2024-02-29T12:30:34.571729Z"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"fe-2","mode":"tcp","port":80,"properties":{"http2_enabled":false}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0abdb7f3-2714-428e-8355-8cac32aa6d25/frontends/fe-1
    method: PATCH
  response:
    body: '{"created_at":"2024-02-29T12:30:34.571729Z","default_backend":"go-api-lb-backend-1709209834","mode":"tcp","name":"fe-2","networks":[{"name":"public"}],"port":80,"properties":{"http2_enabled":false,"inbound_proxy_protocol":true,"timeout_client":10},"rules":[],"tls_configs":[],"updated_at":"2024-02-29T12:30:34.727927Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0abdb7f3-2714-428e-8355-8cac32aa6d25
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0abdb7f3-2714-428e-8355-8cac32aa6d25
    method: GET
  response:
    body: |
      {"type":"https://developers.upcloud.com/1.3/errors#ERROR_RESOURCE_NOT_FOUND","title":"Service not found.","correlation_id":"01HQTDJZ5HKQ1MJCHTDCWJD1JJ","status":404}
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/problem+json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/037e1e20-6789-4eec-a85c-e512832de857
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
