---
version: 1
interactions:
  - request:
      body: '{"network":{"name":"go-test-lb-1647600789","zone":"fi-hel1","ip_networks":{"ip_network":[{"address":"172.16.0.0/24","dhcp":"yes","dhcp_default_route":"no","family":"IPv4"}]}}}'
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://api.upcloud.com/1.3/network/
      method: POST
    response:
      body: |
        {
           "network" : {
              "ip_networks" : {
                 "ip_network" : [
                    {
                       "address" : "172.16.0.0/24",
                       "dhcp" : "yes",
                       "dhcp_default_route" : "no",
                       "family" : "IPv4",
                       "gateway" : "172.16.0.1"
                    }
                 ]
              },
              "name" : "go-test-lb-1647600789",
              "type" : "private",
              "uuid" : "03594b04-551e-4242-a4d9-c6cee3c42060",
              "zone" : "fi-hel1"
           }
        }
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      status: 201 Created
      code: 201
      duration: ""
  - request:
      body: '{"name":"go-test-lb-fi-hel1-1647600790","plan":"development","zone":"fi-hel1","network_uuid":"03594b04-551e-4242-a4d9-c6cee3c42060","configured_status":"started","frontends":[],"backends":[],"resolvers":[]}'
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://api.upcloud.com/1.3/load-balancer
      method: POST
    response:
      body: '{"backends":[],"configured_status":"started","created_at":"2022-03-18T10:53:10.485564Z","dns_name":"lb-0a3ff7c3f96a4b019c2de1c22fb402b9.upcloudlb.com","frontends":[],"name":"go-test-lb-fi-hel1-1647600790","network_uuid":"03594b04-551e-4242-a4d9-c6cee3c42060","operational_state":"pending","plan":"development","resolvers":[],"updated_at":"2022-03-18T10:53:10.485564Z","uuid":"0a3ff7c3-f96a-4b01-9c2d-e1c22fb402b9","zone":"fi-hel1"}'
      headers:
        Content-Type:
          - application/json
      status: 201 Created
      code: 201
      duration: ""
  - request:
      body: '{"name":"new-name-for-lb"}'
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://api.upcloud.com/1.3/load-balancer/0a3ff7c3-f96a-4b01-9c2d-e1c22fb402b9
      method: PATCH
    response:
      body: '{"backends":[],"configured_status":"started","created_at":"2022-03-18T10:53:10.485564Z","dns_name":"lb-0a3ff7c3f96a4b019c2de1c22fb402b9.upcloudlb.com","frontends":[],"name":"new-name-for-lb","network_uuid":"03594b04-551e-4242-a4d9-c6cee3c42060","operational_state":"pending","plan":"development","resolvers":[],"updated_at":"2022-03-18T10:53:10.583741Z","uuid":"0a3ff7c3-f96a-4b01-9c2d-e1c22fb402b9","zone":"fi-hel1"}'
      headers:
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: ""
[...]
  - request:
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://api.upcloud.com/1.3/network/03594b04-551e-4242-a4d9-c6cee3c42060
      method: DELETE
    response:
      body: ""
      headers:
      status: 204 No Content
      code: 204
      duration: ""
