---
version: 1
interactions:
- request:
    body: '{"network":{"name":"go-api-lb-1699963244","zone":"fi-hel1","ip_networks":{"ip_network":[{"address":"10.0.4.0/24","dhcp":"yes","dhcp_default_route":"no","family":"IPv4"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "10.0.4.0/24",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "family" : "IPv4",
                     "gateway" : "10.0.4.1"
                  }
               ]
            },
            "labels" : [],
            "name" : "go-api-lb-1699963244",
            "type" : "private",
            "uuid" : "03d89953-0556-4683-8a68-d13d4f574fc9",
            "zone" : "fi-hel1"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-api-lb-fi-hel1-1699963245","plan":"development","zone":"fi-hel1","network_uuid":"03d89953-0556-4683-8a68-d13d4f574fc9","configured_status":"started","frontends":[{"name":"fe-1","mode":"http","port":80,"default_backend":"be-1"}],"backends":[{"name":"be-1","resolver":"ns-1","members":[]}],"resolvers":[{"name":"ns-1","nameservers":["10.1.1.100"],"retries":10,"timeout":10,"timeout_retry":10,"cache_valid":10,"cache_invalid":10}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer
    method: POST
  response:
    body: '{"backends":[{"created_at":"2023-11-14T12:00:45.984849Z","members":[],"name":"be-1","properties":{"health_check_expected_status":200,"health_check_fall":3,"health_check_interval":10,"health_check_on_down":"","health_check_rise":3,"health_check_tls_verify":false,"health_check_type":"tcp","health_check_url":"/","http2_enabled":false,"outbound_proxy_protocol":"","sticky_session_cookie_name":"","timeout_server":10,"timeout_tunnel":3600,"tls_enabled":false,"tls_use_system_ca":false,"tls_verify":false},"resolver":"ns-1","tls_configs":[],"updated_at":"2023-11-14T12:00:45.984849Z"}],"configured_status":"started","created_at":"2023-11-14T12:00:45.984849Z","dns_name":"lb-0adc89c55f9b4df98f564e13bfc73e21-1.upcloudlb.com","frontends":[{"created_at":"2023-11-14T12:00:45.984849Z","default_backend":"be-1","mode":"http","name":"fe-1","networks":[{"name":"public-IPv4"}],"port":80,"properties":{"http2_enabled":false,"timeout_client":10},"rules":[],"tls_configs":[],"updated_at":"2023-11-14T12:00:45.984849Z"}],"labels":[],"maintenance_dow":"saturday","maintenance_time":"03:24:57Z","name":"go-api-lb-fi-hel1-1699963245","network_uuid":"03d89953-0556-4683-8a68-d13d4f574fc9","networks":[{"created_at":"2023-11-14T12:00:45.984849Z","dns_name":"lb-0adc89c55f9b4df98f564e13bfc73e21-1.upcloudlb.com","family":"IPv4","name":"public-IPv4","type":"public","updated_at":"2023-11-14T12:00:45.984849Z"},{"created_at":"2023-11-14T12:00:45.984849Z","dns_name":"lb-0adc89c55f9b4df98f564e13bfc73e21-2.upcloudlb.com","family":"IPv4","name":"private-IPv4","type":"private","updated_at":"2023-11-14T12:00:45.984849Z","uuid":"03d89953-0556-4683-8a68-d13d4f574fc9"}],"nodes":[],"operational_state":"pending","plan":"development","resolvers":[{"cache_invalid":10,"cache_valid":10,"created_at":"2023-11-14T12:00:45.984849Z","name":"ns-1","nameservers":["10.1.1.100"],"retries":10,"timeout":10,"timeout_retry":10,"updated_at":"2023-11-14T12:00:45.984849Z"}],"updated_at":"2023-11-14T12:00:45.984849Z","uuid":"0adc89c5-5f9b-4df9-8f56-4e13bfc73e21","zone":"fi-hel1"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"type":"manual","name":"go-api-fe-manual-certificate","certificate":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUZhekNDQTFPZ0F3SUJBZ0lVRzR1KzRDZmlHQ3pQSDk4dDA4QXh5VkE0QzVnd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1JURUxNQWtHQTFVRUJoTUNRVlV4RXpBUkJnTlZCQWdNQ2xOdmJXVXRVM1JoZEdVeElUQWZCZ05WQkFvTQpHRWx1ZEdWeWJtVjBJRmRwWkdkcGRITWdVSFI1SUV4MFpEQWVGdzB5TWpBek1UY3hNekUxTURoYUZ3MHlNekF6Ck1UY3hNekUxTURoYU1FVXhDekFKQmdOVkJBWVRBa0ZWTVJNd0VRWURWUVFJREFwVGIyMWxMVk4wWVhSbE1TRXcKSHdZRFZRUUtEQmhKYm5SbGNtNWxkQ0JYYVdSbmFYUnpJRkIwZVNCTWRHUXdnZ0lpTUEwR0NTcUdTSWIzRFFFQgpBUVVBQTRJQ0R3QXdnZ0lLQW9JQ0F[...]
- request:
    body: '{"type":"dynamic","name":"go-api-fe-dynamic-certificate","key_type":"rsa","hostnames":["example.com","app.example.com"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/certificate-bundles
    method: POST
  response:
    body: '{"created_at":"2023-11-14T12:00:46.360251Z","hostnames":["example.com","app.example.com"],"key_type":"rsa","labels":[],"name":"go-api-fe-dynamic-certificate","not_after":"0001-01-01T00:00:00Z","not_before":"0001-01-01T00:00:00Z","operational_state":"idle","services":[],"type":"dynamic","updated_at":"2023-11-14T12:00:46.360251Z","uuid":"0ae64b89-31ea-4c0a-8e91-ec71c6a63157"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-api-fe-manual-certificate-edit"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/certificate-bundles/0a45aa3f-699f-4c5f-9c54-3f43c594bdad
    method: PATCH
  response:
    body: '{"certificate":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUZhekNDQTFPZ0F3SUJBZ0lVRzR1KzRDZmlHQ3pQSDk4dDA4QXh5VkE0QzVnd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1JURUxNQWtHQTFVRUJoTUNRVlV4RXpBUkJnTlZCQWdNQ2xOdmJXVXRVM1JoZEdVeElU[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/certificate-bundles?limit=100&offset=0
    method: GET
  response:
    body: '[{"certificate":"LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUZhekNDQTFPZ0F3SUJBZ0lVRzR1KzRDZmlHQ3pQSDk4dDA4QXh5VkE0QzVnd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1JURUxNQWtHQTFVRUJoTUNRVlV4RXpBUkJnTlZCQWdNQ2xOdmJXVXRVM1JoZEdVeElUQWZCZ05WQkFvTQpHRWx1ZEdWeWJtVjBJRmRwWkdkcGRITWdVSFI1SUV4MFpEQWV[...]
[...]
- request:
    body: '{"name":"go-api-fe-manual-certificate-edit","certificate_bundle_uuid":"0a45aa3f-699f-4c5f-9c54-3f43c594bdad"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0adc89c5-5f9b-4df9-8f56-4e13bfc73e21/frontends/fe-1/tls-configs
    method: POST
  response:
    body: '{"certificate_bundle_uuid":"0a45aa3f-699f-4c5f-9c54-3f43c594bdad","created_at":"2023-11-14T12:00:47.331824Z","name":"go-api-fe-manual-certificate-edit","updated_at":"2023-11-14T12:00:47.331824Z"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-api-fe-dynamic-certificate-edit","certificate_bundle_uuid":"0ae64b89-31ea-4c0a-8e91-ec71c6a63157"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0adc89c5-5f9b-4df9-8f56-4e13bfc73e21/frontends/fe-1/tls-configs/go-api-fe-manual-certificate-edit
    method: PATCH
  response:
    body: '{"certificate_bundle_uuid":"0ae64b89-31ea-4c0a-8e91-ec71c6a63157","created_at":"2023-11-14T12:00:47.331824Z","name":"go-api-fe-dynamic-certificate-edit","updated_at":"2023-11-14T12:00:47.548301Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"fe-1","mode":"tcp","port":80,"properties":{"inbound_proxy_protocol":true,"http2_enabled":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0adc89c5-5f9b-4df9-8f56-4e13bfc73e21/frontends/fe-1
    method: PATCH
  response:
    body: '{"created_at":"2023-11-14T12:00:45.984849Z","default_backend":"be-1","mode":"tcp","name":"fe-1","networks":[{"name":"public-IPv4"}],"port":80,"properties":{"http2_enabled":true,"inbound_proxy_protocol":true,"timeout_client":10},"rules":[],"tls_configs":[{"certificate_bundle_uuid":"0ae64b89-31ea-4c0a-8e91-ec71c6a63157","created_at":"2023-11-14T12:00:47.331824Z","name":"go-api-fe-dynamic-certificate-edit","updated_at":"2023-11-14T12:00:47.738395Z"}],"updated_at":"2023-11-14T12:00:47.738395Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0adc89c5-5f9b-4df9-8f56-4e13bfc73e21/frontends/fe-1/tls-configs/go-api-fe-dynamic-certificate-edit
    method: GET
  response:
    body: '{"certificate_bundle_uuid":"0ae64b89-31ea-4c0a-8e91-ec71c6a63157","created_at":"2023-11-14T12:00:47.331824Z","name":"go-api-fe-dynamic-certificate-edit","updated_at":"2023-11-14T12:00:47.738395Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0adc89c5-5f9b-4df9-8f56-4e13bfc73e21/frontends/fe-1/tls-configs/go-api-fe-dynamic-certificate-edit
    method: DELETE
  response:
    body: |
      {"type":"https://developers.upcloud.com/1.3/errors#ERROR_INVALID_REQUEST","title":"Validation error.","invalid_params":[{"name":"frontends.0.properties.http2_enabled","reason":"At least one certificate bundle must be attached to enable HTTP/2."}],"correlation_id":"01HF6V97H51WVEPXGC15FJAMN4","status":400}
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/problem+json
    status: 400 Bad Request
    code: 400
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/load-balancer/0adc89c5-5f9b-4df9-8f56-4e13bfc73e21
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/03d89953-0556-4683-8a68-d13d4f574fc9
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
