---
version: 1
interactions:
- request:
    body: '{"network":{"name":"go-test-lb-1647414255","zone":"fi-hel2","ip_networks":{"ip_network":[{"address":"172.16.2.0/24","dhcp":"yes","dhcp_default_route":"no","family":"IPv4"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/
    method: POST
  response:
    body: |
      {
         "network" : {
            "ip_networks" : {
               "ip_network" : [
                  {
                     "address" : "172.16.2.0/24",
                     "dhcp" : "yes",
                     "dhcp_default_route" : "no",
                     "family" : "IPv4",
                     "gateway" : "172.16.2.1"
                  }
               ]
            },
            "name" : "go-test-lb-1647414255",
            "type" : "private",
            "uuid" : "0338ead5-3e7b-4ac8-b026-bd09f2e3b2d9",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-test-lb-fi-hel2-1647414256","plan":"development","zone":"fi-hel2","network_uuid":"0338ead5-3e7b-4ac8-b026-bd09f2e3b2d9","configured_status":"started","frontends":[],"backends":[],"resolvers":[]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/loadbalancer
    method: POST
  response:
    body: '{"backends":[],"configured_status":"started","created_at":"2022-03-16T07:04:16.556222Z","dns_name":"lb-0a4a20421de14372becc00e34c57e1ca.upcloudlb.com","frontends":[],"name":"go-test-lb-fi-hel2-1647414256","network_uuid":"0338ead5-3e7b-4ac8-b026-bd09f2e3b2d9","operational_state":"pending","plan":"development","resolvers":[],"updated_at":"2022-03-16T07:04:16.556222Z","uuid":"0a4a2042-1de1-4372-becc-00e34c57e1ca","zone":"fi-hel2"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"go-test-lb-backend-1647414256","members":[{"name":"default-lb-backend-member","weight":100,"max_sessions":1000,"enabled":true,"type":"dynamic","ip":"196.123.123.123","port":8000}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/loadbalancer/0a4a2042-1de1-4372-becc-00e34c57e1ca/backends
    method: POST
  response:
    body: '{"created_at":"0001-01-01T00:00:00Z","members":[{"created_at":"0001-01-01T00:00:00Z","enabled":true,"ip":"196.123.123.123","max_sessions":1000,"name":"default-lb-backend-member","port":8000,"type":"dynamic","updated_at":"0001-01-01T00:00:00Z","weight":100}],"name":"go-test-lb-backend-1647414256","updated_at":"0001-01-01T00:00:00Z"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"updatedName"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/loadbalancer/0a4a2042-1de1-4372-becc-00e34c57e1ca/backends/go-test-lb-backend-1647414256
    method: PATCH
  response:
    body: '{"created_at":"2022-03-16T07:04:16.637934Z","members":[{"created_at":"2022-03-16T07:04:16.637934Z","enabled":true,"ip":"196.123.123.123","max_sessions":1000,"name":"default-lb-backend-member","port":8000,"type":"dynamic","updated_at":"2022-03-16T07:04:16.637934Z","weight":100}],"name":"updatedName","updated_at":"2022-03-16T07:04:16.637934Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/loadbalancer/0a4a2042-1de1-4372-becc-00e34c57e1ca/backends/updatedName
    method: GET
  response:
    body: '{"created_at":"2022-03-16T07:04:16.637934Z","members":[{"created_at":"2022-03-16T07:04:16.637934Z","enabled":true,"ip":"196.123.123.123","max_sessions":1000,"name":"default-lb-backend-member","port":8000,"type":"dynamic","updated_at":"2022-03-16T07:04:16.637934Z","weight":100}],"name":"updatedName","updated_at":"2022-03-16T07:04:16.714299Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/loadbalancer/0a4a2042-1de1-4372-becc-00e34c57e1ca
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/network/0338ead5-3e7b-4ac8-b026-bd09f2e3b2d9
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
