---
version: 1
interactions:
- request:
    body: '{"hostname_prefix":"managemanageddatabaseusers","plan":"2x2xCPU-4GB-100GB","properties":{"automatic_utility_network_ip_filter":true,"ip_filter":["10.0.0.1/32"],"public_access":true},"title":"managemanageddatabaseusers","type":"pg","zone":"fi-hel2","maintenance":{"dow":"monday","time":"12:00:00"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database
    method: POST
  response:
    body: '{"uuid":"099c19a4-657f-4dd1-9a54-9d9538180729","zone":"fi-hel2","name":"managemanageddatabaseusers","title":"managemanageddatabaseusers","type":"pg","plan":"2x2xCPU-4GB-100GB","state":"pending","powered":true,"termination_protection":false,"node_count":2,"create_time":"2024-02-01T09:44:40Z","update_time":"2024-02-01T09:44:40Z","service_uri":"","service_uri_params":{},"maintenance":{"dow":"monday","time":"12:00:00","pending_updates":[]},"metadata":{},"properties":{"automatic_utility_network_ip_filter":true,"ip_filter":["10.0.0.1/32"],"public_access":true},"networks":[],"node_states":[],"backups":[],"components":[],"users":[],"databases":[]}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/099c19a4-657f-4dd1-9a54-9d9538180729
    method: GET
  response:
    body: '{"uuid":"099c19a4-657f-4dd1-9a54-9d9538180729","zone":"fi-hel2","name":"managemanageddatabaseusers","title":"managemanageddatabaseusers","type":"pg","plan":"2x2xCPU-4GB-100GB","state":"running","powered":true,"termination_protection":false,"node_count":2,"create_time":"2024-02-01T09:44:40Z","update_time":"2024-02-01T09:44:50Z","service_uri":"postgres://upadmin:AVNS_6j-in8ZxLoA-72y7FjP@managemanageddatabaseusers-zhbmidiechch.db.upclouddatabases.com:11569/defaultdb?sslmode=require","service_uri_params":{"dbname":"defaultdb","host":"managemanageddatabaseusers-zhbmidiechch.db.upclouddatabases.com","password":"AVNS_6j-in8ZxLoA-72y7FjP","port":"11569","ssl_mode":"require","user":"upadmin"},"maintenance":{"dow":"monday","time":"12:00:00","pending_updates":[]},"metadata":{"max_connections":100,"pg_version":"15.5","write_block_threshold_exceeded":false},"properties":{"automatic_utility_network_ip_filter":true,"backup_hour":4,"backup_minute":43,"ip_filter":["10.0.0.1/32"],"pg_stat_monitor_enable":false,"pglookout":{"max_failover_replication_time_lag":60},"public_access":true,"version":"15"},"networks":[],"node_states":[{"name":"managemanageddatabaseusers-1","role":"master","state":"running"},{"name":"managemanageddatabaseusers-2","role":"standby","state":"running"}],"backups":[{"backup_name":"2024-02-01_09-47_0.00000000.pghoard","backup_time":"2024-02-01T09:47:46.988001Z","data_size":33587414}],"components":[{"component":"pg","host":"managemanageddatabaseusers-zhbmidiechch.db.upclouddatabases.com","port":11569,"route":"dynamic","usage":"primary"},{"component":"pg","host":"replica-managemanageddatabaseusers-zhbmidiechch.db.upclouddatabases.com","port":11569,"route":"dynamic","usage":"replica"},{"component":"pg","host":"public-managemanageddatabaseusers-zhbmidiechch.db.upclouddatabases.com","port":11569,"route":"public","usage":"primary"},{"component":"pg","host":"public-replica-managemanageddatabaseusers-zhbmidiechch.db.upclouddatabases.com","port":11569,"route":"public","usage":"replica"},{"component":"pgbouncer","host":"managemanageddatabaseusers-zhbmidiechch.db.upclouddatabases.com","port":11570,"route":"dynamic","usage":"primary"},{"component":"pgbouncer","host":"replica-managemanageddatabaseusers-zhbmidiechch.db.upclouddatabases.com","port":11570,"route":"dynamic","usage":"replica"},{"component":"pgbouncer","host":"public-managemanageddatabaseusers-zhbmidiechch.db.upclouddatabases.com","port":11570,"route":"public","usage":"primary"},{"component":"pgbouncer","host":"public-replica-managemanageddatabaseusers-zhbmidiechch.db.upclouddatabases.com","port":11570,"route":"public","usage":"replica"}],"users":[{"username":"upadmin","type":"primary"}],"databases":[{"name":"defaultdb"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"username":"testuser"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/099c19a4-657f-4dd1-9a54-9d9538180729/users
    method: POST
  response:
    body: '{"username":"testuser","password":"AVNS_p1qf5S4LkV5dB74Snst","type":"normal","pg_access_control":{}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/099c19a4-657f-4dd1-9a54-9d9538180729/users/testuser
    method: GET
  response:
    body: '{"username":"testuser","password":"AVNS_p1qf5S4LkV5dB74Snst","type":"normal","pg_access_control":{"allow_replication":false}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/099c19a4-657f-4dd1-9a54-9d9538180729/users/upadmin
    method: DELETE
  response:
    body: |
      {"type":"https://developers.upcloud.com/1.3/errors#ERROR_SERVICE_ERROR","title":"Service user 'upadmin' is main service account and cannot be deleted.","correlation_id":"01HNJ19JGFAB2V9G9HFXH30041","status":403}
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/problem+json
    status: 403 Forbidden
    code: 403
    duration: ""
[...]
