---
version: 1
interactions:
- request:
    body: '{"hostname_prefix":"managemanageddatabaslogicaldbs","plan":"2x2xCPU-4GB-100GB","properties":{"automatic_utility_network_ip_filter":true,"ip_filter":["10.0.0.1/32"],"public_access":true},"title":"managemanageddatabaslogicaldbs","type":"pg","zone":"fi-hel2","maintenance":{"dow":"monday","time":"12:00:00"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database
    method: POST
  response:
    body: '{"uuid":"09b26012-71f4-437c-805e-c37cbac20b80","zone":"fi-hel2","name":"managemanageddatabaslogicaldbs","title":"managemanageddatabaslogicaldbs","type":"pg","plan":"2x2xCPU-4GB-100GB","state":"pending","powered":true,"termination_protection":false,"node_count":2,"create_time":"2024-02-01T08:22:18Z","update_time":"2024-02-01T08:22:18Z","service_uri":"","service_uri_params":{},"maintenance":{"dow":"monday","time":"12:00:00","pending_updates":[]},"metadata":{},"properties":{"automatic_utility_network_ip_filter":true,"ip_filter":["10.0.0.1/32"],"public_access":true},"networks":[],"node_states":[],"backups":[],"components":[],"users":[],"databases":[]}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"test","lc_collate":"fr_FR.UTF-8","lc_ctype":"fr_FR.UTF-8"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/09b26012-71f4-437c-805e-c37cbac20b80/databases
    method: POST
  response:
    body: '{"name":"test","lc_collate":"fr_FR.UTF-8","lc_ctype":"fr_FR.UTF-8"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/09b26012-71f4-437c-805e-c37cbac20b80/databases/test
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/09b26012-71f4-437c-805e-c37cbac20b80
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
