---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/regions
    method: GET
  response:
    body: '[{"name":"apac-1","primary_zone":"sg-sin1","zones":[{"name":"sg-sin1"}]},{"name":"europe-1","primary_zone":"fi-hel2","zones":[{"name":"fi-hel2"},{"name":"de-fra1"},{"name":"es-mad1"},{"name":"fi-hel1"},{"name":"nl-ams1"},{"name":"pl-waw1"},{"name":"uk-lon1"},{"name":"se-sto1"}]}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"configured_status":"started","labels":[{"key":"example-key","value":"example-value"}],"name":"go-sdk-integration-test","networks":[{"family":"IPv4","name":"example-public-network","type":"public"}],"region":"apac-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2
    method: POST
  response:
    body: '{"configured_status":"started","created_at":"2024-09-06T11:55:14.264972Z","custom_domains":[],"endpoints":[{"domain_name":"9amku.upcloudobjects.com","iam_url":"https://9amku.upcloudobjects.com:4443/iam","sts_url":"https://9amku.upcloudobjects.com:4443/sts","type":"public"}],"labels":[{"key":"example-key","value":"example-value"}],"name":"go-sdk-integration-test","networks":[{"family":"IPv4","name":"example-public-network","type":"public"}],"operational_state":"pending","region":"apac-1","updated_at":"2024-09-06T11:55:14.264972Z","usage":{"total_objects":0,"total_size_bytes":0},"users":[],"uuid":"124aad4f-adf8-48e5-aee0-d2f38fb06cd2"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"domain_name":"obj.example.com","type":"public"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/124aad4f-adf8-48e5-aee0-d2f38fb06cd2/custom-domains
    method: POST
  response:
    body: '{"domain_name":"obj.example.com","type":"public"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/124aad4f-adf8-48e5-aee0-d2f38fb06cd2
    method: GET
  response:
    body: '{"configured_status":"started","created_at":"2024-09-06T11:55:14.264972Z","custom_domains":[{"domain_name":"obj.example.com","type":"public"}],"endpoints":[{"domain_name":"9amku.upcloudobjects.com","iam_url":"https://9amku.upcloudobjects.com:4443/iam","sts_url":"https://9amku.upcloudobjects.com:4443/sts","type":"public"},{"domain_name":"obj.example.com","iam_url":"https://obj.example.com:4443/iam","sts_url":"https://obj.example.com:4443/sts","type":"public"}],"labels":[{"key":"example-key","value":"example-value"}],"name":"go-sdk-integration-test","networks":[{"family":"IPv4","name":"example-public-network","type":"public"}],"operational_state":"pending","region":"apac-1","updated_at":"2024-09-06T11:55:16.093505Z","usage":{"total_objects":0,"total_size_bytes":0},"users":[],"uuid":"124aad4f-adf8-48e5-aee0-d2f38fb06cd2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/124aad4f-adf8-48e5-aee0-d2f38fb06cd2/custom-domains/obj.example.com
    method: GET
  response:
    body: '{"domain_name":"obj.example.com","type":"public"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/124aad4f-adf8-48e5-aee0-d2f38fb06cd2/custom-domains/objects.example.com
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/124aad4f-adf8-48e5-aee0-d2f38fb06cd2/users
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
