---
version: 1
interactions:
- request:
    body: '{"hostname_prefix":"managemanageddatabaseusers","plan":"2x2xCPU-4GB-100GB","properties":{"automatic_utility_network_ip_filter":true,"ip_filter":["10.0.0.1/32"],"public_access":true},"title":"managemanageddatabaseusers","type":"pg","zone":"fi-hel2","maintenance":{"dow":"monday","time":"12:00:00"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database
    method: POST
  response:
    body: '{"backups":[],"components":[{"component":"pg","host":"managemanageddatabaseusers-zhbmidiechch.db.upclouddatabases.com","port":11550,"route":"dynamic","usage":"primary"},{"component":"pg","host":"replica-managemanageddatabaseusers-zhbmidiechch.db.upclouddatabases.com","port":11550,"route":"dynamic","usage":"replica"},{"component":"pg","host":"public-managemanageddatabaseusers-zhbmidiechch.db.upclouddatabases.com","port":11550,"route":"public","usage":"primary"},{"component":"pg","host":"public-replica-managemanageddatabaseusers-zhbmidiechch.db.upclouddatabases.com","port":11550,"route":"public","usage":"replica"},{"component":"pgbouncer","host":"managemanageddatabaseusers-zhbmidiechch.db.upclouddatabases.com","port":11551,"route":"dynamic","usage":"primary"},{"component":"pgbouncer","host":"replica-managemanageddatabaseusers-zhbmidiechch.db.upclouddatabases.com","port":11551,"route":"dynamic","usage":"replica"},{"component":"pgbouncer","host":"public-managemanageddatabaseusers-zhbmidiechch.db.upclouddatabases.com","port":11551,"route":"public","usage":"primary"},{"component":"pgbouncer","host":"public-replica-managemanageddatabaseusers-zhbmidiechch.db.upclouddatabases.com","port":11551,"route":"public","usage":"replica"}],"create_time":"0001-01-01T00:00:00Z","maintenance":{"dow":"monday","time":"12:00:00","pending_updates":[]},"name":"managemanageddatabaseusers","node_count":2,"node_states":[],"plan":"2x2xCPU-4GB-100GB","powered":true,"metadata":{"max_connections":100,"pg_version":"15","write_block_threshold_exceeded":null},"properties":{"automatic_utility_network_ip_filter":true,"backup_hour":16,"backup_minute":12,"ip_filter":["10.0.0.1/32"],"pg_stat_monitor_enable":false,"pglookout":{"max_failover_replication_time_lag":60},"public_access":true,"version":"15"},"uuid":"09020fbc-d1d4-4bae-8f5e-30a060c5b798","state":"rebuilding","title":"managemanageddatabaseusers","type":"pg","update_time":"0001-01-01T00:00:00Z","service_uri":"postgres://upadmin:AVNS_tXpBGmim4qK23O929hL@managemanageddatabaseusers-zhbmidiechch.db.upclouddatabases.com:11550/defaultdb?sslmode=require","service_uri_params":{"dbname":"defaultdb","host":"managemanageddatabaseusers-zhbmidiechch.db.upclouddatabases.com","password":"AVNS_tXpBGmim4qK23O929hL","port":"11550","ssl_mode":"require","user":"upadmin"},"users":[{"username":"upadmin","type":"primary"}],"databases":[{"name":"defaultdb"}],"zone":"fi-hel2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"username":"testuser"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/09020fbc-d1d4-4bae-8f5e-30a060c5b798/users
    method: POST
  response:
    body: '{"username":"testuser","password":"AVNS_7nUwZAWWVwOeHH6K404","type":"normal"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/09020fbc-d1d4-4bae-8f5e-30a060c5b798/users/testuser
    method: GET
  response:
    body: '{"username":"testuser","password":"AVNS_7nUwZAWWVwOeHH6K404","type":"normal"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"password":"yXB8gePmxHuESbJx_I-Iag"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/09020fbc-d1d4-4bae-8f5e-30a060c5b798/users/testuser
    method: PATCH
  response:
    body: '{"username":"testuser","password":"yXB8gePmxHuESbJx_I-Iag","type":"normal","pg_access_control":{"allow_replication":false}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/09020fbc-d1d4-4bae-8f5e-30a060c5b798/users/upadmin
    method: DELETE
  response:
    body: '{"error":{"error_code":"ACTION_FORBIDDEN","error_message":"Cannot delete the database user used to create the initial database service."}}'
    headers:
      Content-Type:
      - application/json
    status: 403 Forbidden
    code: 403
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/09020fbc-d1d4-4bae-8f5e-30a060c5b798
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
