---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/regions
    method: GET
  response:
    body: '[{"allow_new":true,"name":"apac-1","primary_zone":"sg-sin1","zones":[{"name":"sg-sin1"},{"name":"au-syd1"}]},{"allow_new":true,"name":"europe-1","primary_zone":"fi-hel2","zones":[{"name":"de-fra1"},{"name":"es-mad1"},{"name":"fi-hel1"},{"name":"fi-hel2"},{"name":"nl-ams1"},{"name":"pl-waw1"},{"name":"se-sto1"},{"name":"uk-lon1"},{"name":"dk-cph1"}]},{"allow_new":true,"name":"europe-2","primary_zone":"de-fra1","zones":[{"name":"de-fra1"},{"name":"es-mad1"},{"name":"fi-hel1"},{"name":"fi-hel2"},{"name":"nl-ams1"},{"name":"pl-waw1"},{"name":"se-sto1"},{"name":"uk-lon1"},{"name":"dk-cph1"}]},{"allow_new":true,"name":"europe-3","primary_zone":"se-sto1","zones":[{"name":"de-fra1"},{"name":"es-mad1"},{"name":"fi-hel1"},{"name":"fi-hel2"},{"name":"nl-ams1"},{"name":"pl-waw1"},{"name":"se-sto1"},{"name":"uk-lon1"},{"name":"dk-cph1"}]},{"allow_new":true,"name":"us-1","primary_zone":"us-chi1","zones":[{"name":"us-chi1"},{"name":"us-sjo1"},{"name":"us-nyc1"}]}]'
    headers:
      Content-Type:
      - application/json
      Upcloud-Cid:
      - 01KDN6PGACFXEXX6R5202JYGTF
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"configured_status":"started","labels":[{"key":"example-key","value":"example-value"}],"name":"go-sdk-integration-test","networks":[{"family":"IPv4","name":"example-public-network","type":"public"}],"region":"apac-1"}'
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2
    method: POST
  response:
    body: '{"configured_status":"started","created_at":"2025-12-29T14:02:52.955296Z","custom_domains":[],"endpoints":[{"domain_name":"dct8e.upcloudobjects.com","iam_url":"https://dct8e.upcloudobjects.com:4443/iam","sts_url":"https://dct8e.upcloudobjects.com:4443/sts","type":"public"}],"labels":[{"key":"example-key","value":"example-value"}],"name":"go-sdk-integration-test","networks":[{"family":"IPv4","name":"example-public-network","type":"public"}],"operational_state":"pending","region":"apac-1","state_messages":[],"updated_at":"2025-12-29T14:02:52.955296Z","usage":{"total_objects":0,"total_size_bytes":0},"users":[],"uuid":"126b3a87-1630-4939-94ac-a01bb2b881c0"}'
    headers:
      Content-Type:
      - application/json
      Upcloud-Cid:
      - 01KDN6PGD5AA3SFW7NCGZPWCAV
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"testpolicy","description":"description2","document":"%7B%22Version%22%3A%20%222012-10-17%22%2C%20%20%22Statement%22%3A%20%5B%7B%22Action%22%3A%20%5B%22iam%3AGetUser%22%5D%2C%20%22Resource%22%3A%20%22%2A%22%2C%20%22Effect%22%3A%20%22Allow%22%2C%20%22Sid%22%3A%20%22editor%22%7D%5D%7D"}'
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/126b3a87-1630-4939-94ac-a01bb2b881c0/policies
    method: POST
  response:
    body: '{"arn":"urn:ecs:iam::126b3a871630493994aca01bb2b881c0:policy/testpolicy","attachment_count":0,"created_at":"2025-12-29T14:02:58Z","default_version_id":"v1","description":"description2","document":"%7B%22Version%22%3A%222012-10-17%22%2C%22Statement%22%3A%5B%7B%22Action%22%3A%5B%22iam%3AGetUser%22%5D%2C%22Resource%22%3A%22*%22%2C%22Effect%22%3A%22Allow%22%2C%22Sid%22%3A%22editor%22%7D%5D%7D","name":"testpolicy","system":false,"updated_at":"2025-12-29T14:02:58Z"}'
    headers:
      Content-Type:
      - application/json
      Upcloud-Cid:
      - 01KDN6PJ2Z18SW1Z69YKS1JVC5
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/126b3a87-1630-4939-94ac-a01bb2b881c0/policies/testpolicy
    method: GET
  response:
    body: '{"arn":"urn:ecs:iam::126b3a871630493994aca01bb2b881c0:policy/testpolicy","attachment_count":0,"created_at":"2025-12-29T14:02:58Z","default_version_id":"v1","description":"description2","document":"%7B%22Version%22%3A%222012-10-17%22%2C%22Statement%22%3A%5B%7B%22Action%22%3A%5B%22iam%3AGetUser%22%5D%2C%22Resource%22%3A%22*%22%2C%22Effect%22%3A%22Allow%22%2C%22Sid%22%3A%22editor%22%7D%5D%7D","name":"testpolicy","system":false,"updated_at":"2025-12-29T14:02:58Z"}'
    headers:
      Content-Type:
      - application/json
      Upcloud-Cid:
      - 01KDN6PQ2X5HKK96F4T00W0Q85
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/126b3a87-1630-4939-94ac-a01bb2b881c0/users
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
      Upcloud-Cid:
      - 01KDN6PTCGSVKP6EKP9V2D68TD
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/126b3a87-1630-4939-94ac-a01bb2b881c0
    method: DELETE
  response:
    body: ""
    headers:
      Upcloud-Cid:
      - 01KDN6PV30SSH3ST9MD6BA2TCG
    status: 204 No Content
    code: 204
    duration: ""
