---
version: 1
interactions:
- request:
    body: '{"hostname_prefix":"modifyuseraccesscontrolos","plan":"1x2xCPU-4GB-80GB-1D","properties":{"automatic_utility_network_ip_filter":true,"ip_filter":["10.0.0.1/32"],"public_access":true},"title":"modifyuseraccesscontrolos","type":"opensearch","zone":"fi-hel2","maintenance":{"dow":"monday","time":"12:00:00"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database
    method: POST
  response:
    body: '{"uuid":"09a46797-93b3-4cec-afd9-7bca62f71dc0","zone":"fi-hel2","name":"modifyuseraccesscontrolos","title":"modifyuseraccesscontrolos","type":"opensearch","plan":"1x2xCPU-4GB-80GB-1D","state":"pending","powered":true,"termination_protection":false,"node_count":1,"create_time":"2024-01-25T14:58:38Z","update_time":"2024-01-25T14:58:38Z","service_uri":"","service_uri_params":{},"maintenance":{"dow":"monday","time":"12:00:00","pending_updates":[]},"metadata":{},"properties":{"automatic_utility_network_ip_filter":true,"ip_filter":["10.0.0.1/32"],"public_access":true},"networks":[],"node_states":[],"backups":[],"components":[],"users":[]}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"username":"demouser","opensearch_access_control":{"rules":[{"index":"index_1","permission":"readwrite"}]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/09a46797-93b3-4cec-afd9-7bca62f71dc0/users
    method: POST
  response:
    body: '{"username":"demouser","password":"AVNS_XuxX0BnzMNq_-CF_V_d","type":"normal","opensearch_access_control":{"rules":[{"index":"index_1","permission":"readwrite"}]}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"opensearch_access_control":{"rules":[{"index":"index_1","permission":"read"}]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/09a46797-93b3-4cec-afd9-7bca62f71dc0/users/demouser/access-control
    method: PATCH
  response:
    body: '{"username":"demouser","password":"AVNS_XuxX0BnzMNq_-CF_V_d","type":"normal","opensearch_access_control":{"rules":[{"index":"index_1","permission":"read"}]}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/09a46797-93b3-4cec-afd9-7bca62f71dc0
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
