---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/regions
    method: GET
  response:
    body: '[{"name":"europe-1","primary_zone":"fi-hel2","zones":[{"name":"fi-hel2"},{"name":"de-fra1"},{"name":"es-mad1"},{"name":"fi-hel1"},{"name":"nl-ams1"},{"name":"pl-waw1"},{"name":"uk-lon1"},{"name":"se-sto1"}]}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"configured_status":"started","labels":[{"key":"example-key","value":"example-value"}],"name":"go-sdk-integration-test","networks":[{"family":"IPv4","name":"example-public-network","type":"public"}],"region":"europe-1","users":[{"username":"test"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2
    method: POST
  response:
    body: '{"configured_status":"started","created_at":"2024-01-18T15:59:11.619476Z","endpoints":[{"domain_name":"qemnk.upcloudobjects.com","type":"public"}],"labels":[{"key":"example-key","value":"example-value"}],"name":"go-sdk-integration-test","networks":[{"family":"IPv4","name":"example-public-network","type":"public"}],"operational_state":"pending","region":"europe-1","updated_at":"2024-01-18T15:59:11.619476Z","usage":{"total_objects":0,"total_size_bytes":0},"users":[{"access_keys":[],"created_at":"2024-01-18T15:59:11.619476Z","operational_state":"pending","updated_at":"2024-01-18T15:59:11.619476Z","username":"test"}],"uuid":"12d3ad7a-698c-486d-bee5-11a028f3caa8"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/12d3ad7a-698c-486d-bee5-11a028f3caa8/users/test
    method: GET
  response:
    body: '{"access_keys":[],"created_at":"2024-01-18T15:59:11.619476Z","operational_state":"pending","updated_at":"2024-01-18T15:59:11.619476Z","username":"test"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"example-access-key"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/12d3ad7a-698c-486d-bee5-11a028f3caa8/users/test/access-keys
    method: POST
  response:
    body: '{"access_key_id":"AKIA499B64707ECDD0EF","created_at":"2024-01-18T15:59:17.567804Z","enabled":true,"last_used_at":"2024-01-18T15:59:17.567804Z","name":"example-access-key","secret_access_key":"2hP/uqVzO71qo0t1iTgL8S6/k/w3POxhJkF/0fcD","updated_at":"2024-01-18T15:59:17.567804Z"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"example-access-key","enabled":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/12d3ad7a-698c-486d-bee5-11a028f3caa8/users/test/access-keys/example-access-key
    method: PATCH
  response:
    body: '{"id":536,"name":"example-access-key","user_id":1208,"access_key_id":"AKIA499B64707ECDD0EF","enabled":true,"username":"test","last_used_at":"2024-01-18T15:59:17.567804Z","created_at":"2024-01-18T15:59:17.567804Z","updated_at":"2024-01-18T15:59:17.757585Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/12d3ad7a-698c-486d-bee5-11a028f3caa8
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
