---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/regions
    method: GET
  response:
    body: '[{"allow_new":true,"name":"apac-1","primary_zone":"sg-sin1","zones":[{"name":"sg-sin1"},{"name":"au-syd1"}]},{"allow_new":true,"name":"europe-1","primary_zone":"fi-hel2","zones":[{"name":"de-fra1"},{"name":"dk-cph1"},{"name":"es-mad1"},{"name":"fi-hel1"},{"name":"fi-hel2"},{"name":"nl-ams1"},{"name":"pl-waw1"},{"name":"se-sto1"},{"name":"uk-lon1"},{"name":"no-svg1"}]},{"allow_new":true,"name":"europe-2","primary_zone":"de-fra1","zones":[{"name":"de-fra1"},{"name":"dk-cph1"},{"name":"es-mad1"},{"name":"fi-hel1"},{"name":"fi-hel2"},{"name":"nl-ams1"},{"name":"pl-waw1"},{"name":"se-sto1"},{"name":"uk-lon1"},{"name":"no-svg1"}]},{"allow_new":true,"name":"europe-3","primary_zone":"se-sto1","zones":[{"name":"de-fra1"},{"name":"dk-cph1"},{"name":"es-mad1"},{"name":"fi-hel1"},{"name":"fi-hel2"},{"name":"nl-ams1"},{"name":"pl-waw1"},{"name":"se-sto1"},{"name":"uk-lon1"},{"name":"no-svg1"}]},{"allow_new":true,"name":"europe-4","primary_zone":"dk-cph1","zones":[{"name":"de-fra1"},{"name":"fi-hel2"},{"name":"es-mad1"},{"name":"fi-hel1"},{"name":"nl-ams1"},{"name":"pl-waw1"},{"name":"uk-lon1"},{"name":"se-sto1"},{"name":"no-svg1"},{"name":"dk-cph1"}]},{"allow_new":true,"name":"us-1","primary_zone":"us-chi1","zones":[{"name":"us-chi1"},{"name":"us-sjo1"},{"name":"us-nyc1"}]}]'
    headers:
      Content-Type:
      - application/json
      Upcloud-Cid:
      - 01M0YZY10YZ87N4FCP64QJD505
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"configured_status":"started","labels":[{"key":"example-key","value":"example-value"}],"name":"go-sdk-integration-test","networks":[{"family":"IPv4","name":"example-public-network","type":"public"}],"region":"apac-1","termination_protection":false}'
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2
    method: POST
  response:
    body: '{"configured_status":"started","created_at":"2026-08-26T12:15:22.241934Z","custom_domains":[],"endpoints":[{"domain_name":"ovh1g.upcloudobjects.com","iam_url":"https://ovh1g.upcloudobjects.com:4443/iam","mode":"api","sts_url":"https://ovh1g.upcloudobjects.com:4443/sts","type":"public"}],"labels":[{"key":"example-key","value":"example-value"}],"name":"go-sdk-integration-test","networks":[{"family":"IPv4","name":"example-public-network","type":"public"}],"operational_state":"pending","region":"apac-1","state_messages":[],"termination_protection":false,"updated_at":"2026-08-26T12:15:22.241934Z","usage":{"total_objects":0,"total_size_bytes":0},"users":[],"uuid":"12c7e218-73a0-48e1-bf2c-3a2b86cac807"}'
    headers:
      Content-Type:
      - application/json
      Upcloud-Cid:
      - 01M0YZY2N5Q0JP2SQ07MKD42P5
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"configured_status":"stopped","labels":[],"termination_protection":true}'
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/12c7e218-73a0-48e1-bf2c-3a2b86cac807
    method: PATCH
  response:
    body: '{"correlation_id":"01M0YZY6K05T5KC3PWYMWVYBDA","invalid_params":[{"name":"termination_protection","reason":"Service
      cannot be powered down if termination protection is enabled."}],"status":400,"title":"Validation
      error.","type":"https://developers.upcloud.com/1.3/errors#ERROR_INVALID_REQUEST"}'
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/problem+json
      Upcloud-Cid:
      - 01M0YZY6K05T5KC3PWYMWVYBDA
    status: 400 Bad Request
    code: 400
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic [REDACTED]
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/12c7e218-73a0-48e1-bf2c-3a2b86cac807/users
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
      Upcloud-Cid:
      - 01M0YZY86DKCFB2QSF1DZQMDQ7
    status: 200 OK
    code: 200
    duration: ""
[...]
