---
version: 1
interactions:
- request:
    body: '{"hostname_prefix":"modifyuseraccesscontrolos","plan":"1x2xCPU-4GB-80GB-1D","properties":{"automatic_utility_network_ip_filter":true,"ip_filter":["10.0.0.1/32"],"public_access":true},"title":"modifyuseraccesscontrolos","type":"opensearch","zone":"fi-hel2","maintenance":{"dow":"monday","time":"12:00:00"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database
    method: POST
  response:
    body: '{"backups":[],"components":[{"component":"opensearch","host":"modifyuseraccesscontrolos-zhbmidiechch.db.upclouddatabases.com","port":11550,"route":"dynamic","usage":"primary"},{"component":"opensearch","host":"public-modifyuseraccesscontrolos-zhbmidiechch.db.upclouddatabases.com","port":11550,"route":"public","usage":"primary"},{"component":"opensearch_dashboards","host":"modifyuseraccesscontrolos-zhbmidiechch.db.upclouddatabases.com","port":443,"route":"dynamic","usage":"primary"},{"component":"opensearch_dashboards","host":"public-modifyuseraccesscontrolos-zhbmidiechch.db.upclouddatabases.com","port":443,"route":"public","usage":"primary"}],"create_time":"0001-01-01T00:00:00Z","maintenance":{"dow":"monday","time":"12:00:00","pending_updates":[]},"name":"modifyuseraccesscontrolos","node_count":1,"node_states":[],"plan":"1x2xCPU-4GB-80GB-1D","powered":true,"metadata":{"opensearch_version":"2","upgrade_version":null},"properties":{"automatic_utility_network_ip_filter":true,"ip_filter":["10.0.0.1/32"],"max_index_count":0,"public_access":true,"version":"2"},"uuid":"0945b8a5-1f38-48d9-b438-0dc28d54bd23","state":"rebuilding","title":"modifyuseraccesscontrolos","type":"opensearch","update_time":"0001-01-01T00:00:00Z","service_uri":"https://upadmin:AVNS_zU4CN-VSleXdVdfPUxG@modifyuseraccesscontrolos-zhbmidiechch.db.upclouddatabases.com:11550","service_uri_params":{"host":"modifyuseraccesscontrolos-zhbmidiechch.db.upclouddatabases.com","password":"AVNS_zU4CN-VSleXdVdfPUxG","port":"11550","user":"upadmin"},"users":[{"username":"upadmin","type":"primary"}],"zone":"fi-hel2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"username":"demouser","opensearch_access_control":{"rules":[{"index":"index_1","permission":"readwrite"}]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/0945b8a5-1f38-48d9-b438-0dc28d54bd23/users
    method: POST
  response:
    body: '{"username":"demouser","password":"AVNS_FbytqpIQZ91cy13xAzQ","type":"normal","opensearch_access_control":{"rules":[{"index":"index_1","permission":"readwrite"}]}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"opensearch_access_control":{"rules":[{"index":"index_1","permission":"read"}]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/0945b8a5-1f38-48d9-b438-0dc28d54bd23/users/demouser/access-control
    method: PATCH
  response:
    body: '{"username":"demouser","password":"AVNS_FbytqpIQZ91cy13xAzQ","type":"normal","opensearch_access_control":{"rules":[{"index":"index_1","permission":"read"}]}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/0945b8a5-1f38-48d9-b438-0dc28d54bd23
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
