---
version: 1
interactions:
- request:
    body: '{"hostname_prefix":"modifyuseraccesscontrolvalkey","plan":"1x1xCPU-2GB","properties":{"automatic_utility_network_ip_filter":true,"ip_filter":["10.0.0.1/32"],"public_access":true},"title":"modifyuseraccesscontrolvalkey","type":"valkey","zone":"fi-hel2","maintenance":{"dow":"monday","time":"12:00:00"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database
    method: POST
  response:
    body: '{"uuid":"09b70a90-f478-472c-967b-43af4b612483","zone":"fi-hel2","name":"modifyuseraccesscontrolvalkey","title":"modifyuseraccesscontrolvalkey","type":"valkey","plan":"1x1xCPU-2GB","state":"pending","powered":true,"termination_protection":false,"node_count":1,"create_time":"2024-11-12T15:47:38Z","update_time":"2024-11-12T15:47:38Z","service_uri":"","service_uri_params":{},"maintenance":{"dow":"monday","time":"12:00:00","pending_updates":[]},"metadata":{},"properties":{"automatic_utility_network_ip_filter":true,"ip_filter":["10.0.0.1/32"],"public_access":true},"networks":[],"node_states":[],"labels":[],"backups":[],"components":[],"users":[]}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"username":"demouser","valkey_access_control":{"categories":["+@set"],"channels":["*"],"commands":["+set"],"keys":["key_*"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/09b70a90-f478-472c-967b-43af4b612483/users
    method: POST
  response:
    body: '{"username":"demouser","password":"AVNS_bBI7bIVzU3r2EQ5pf_C","type":"normal","valkey_access_control":{"categories":["+@set"],"channels":["*"],"commands":["+set"],"keys":["key_*"]}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"valkey_access_control":{"categories":[],"channels":[],"commands":[],"keys":["key_*"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/09b70a90-f478-472c-967b-43af4b612483/users/demouser/access-control
    method: PATCH
  response:
    body: '{"username":"demouser","password":"AVNS_bBI7bIVzU3r2EQ5pf_C","type":"regular","valkey_access_control":{"categories":[],"channels":[],"commands":[],"keys":["key_*"]}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/09b70a90-f478-472c-967b-43af4b612483
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
