---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/regions
    method: GET
  response:
    body: '[{"name":"europe-1","primary_zone":"fi-hel2","zones":[{"name":"fi-hel2"},{"name":"de-fra1"},{"name":"es-mad1"},{"name":"fi-hel1"},{"name":"nl-ams1"},{"name":"pl-waw1"},{"name":"uk-lon1"},{"name":"se-sto1"}]}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"configured_status":"started","labels":[{"key":"example-key","value":"example-value"}],"name":"go-sdk-integration-test","networks":[{"family":"IPv4","name":"example-public-network","type":"public"}],"region":"europe-1","users":[{"username":"test"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2
    method: POST
  response:
    body: '{"configured_status":"started","created_at":"2024-01-26T10:38:44.280814Z","endpoints":[{"domain_name":"jqteu.upcloudobjects.com","type":"public"}],"labels":[{"key":"example-key","value":"example-value"}],"name":"go-sdk-integration-test","networks":[{"family":"IPv4","name":"example-public-network","type":"public"}],"operational_state":"pending","region":"europe-1","updated_at":"2024-01-26T10:38:44.280814Z","usage":{"total_objects":0,"total_size_bytes":0},"users":[{"access_keys":[],"created_at":"2024-01-26T10:38:44.280814Z","operational_state":"pending","updated_at":"2024-01-26T10:38:44.280814Z","username":"test"}],"uuid":"129ebaef-8e70-4d99-bd86-b2a62ee075ff"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/129ebaef-8e70-4d99-bd86-b2a62ee075ff/users/test
    method: GET
  response:
    body: '{"access_keys":[],"created_at":"2024-01-26T10:38:44.280814Z","operational_state":"pending","updated_at":"2024-01-26T10:38:44.280814Z","username":"test"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"example-access-key","enabled":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/129ebaef-8e70-4d99-bd86-b2a62ee075ff/users/test/access-keys
    method: POST
  response:
    body: '{"access_key_id":"AKIAA1CC323BCD817038","created_at":"2024-01-26T10:38:50.46369Z","enabled":false,"last_used_at":"2024-01-26T10:38:50.46369Z","name":"example-access-key","secret_access_key":"/TWsOWyfsVS2zdM0TCmMuqAB0arioy9veqYs72uS","updated_at":"2024-01-26T10:38:50.46369Z"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"example-access-key","enabled":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/129ebaef-8e70-4d99-bd86-b2a62ee075ff/users/test/access-keys/example-access-key
    method: PATCH
  response:
    body: '{"id":580,"name":"example-access-key","user_id":1310,"access_key_id":"AKIAA1CC323BCD817038","enabled":true,"username":"test","last_used_at":"2024-01-26T10:38:50.46369Z","created_at":"2024-01-26T10:38:50.46369Z","updated_at":"2024-01-26T10:38:50.740882Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/129ebaef-8e70-4d99-bd86-b2a62ee075ff
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
