---
version: 1
interactions:
- request:
    body: '{"hostname_prefix":"modifyaccesscontrol","plan":"1x2xCPU-4GB-80GB-1D","properties":{"automatic_utility_network_ip_filter":true,"ip_filter":["10.0.0.1/32"],"public_access":true},"title":"modifyaccesscontrol","type":"opensearch","zone":"fi-hel2","maintenance":{"dow":"monday","time":"12:00:00"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database
    method: POST
  response:
    body: '{"backups":[],"components":[{"component":"opensearch","host":"modifyaccesscontrol-zhbmidiechch.db.upclouddatabases.com","port":11550,"route":"dynamic","usage":"primary"},{"component":"opensearch","host":"public-modifyaccesscontrol-zhbmidiechch.db.upclouddatabases.com","port":11550,"route":"public","usage":"primary"},{"component":"opensearch_dashboards","host":"modifyaccesscontrol-zhbmidiechch.db.upclouddatabases.com","port":443,"route":"dynamic","usage":"primary"},{"component":"opensearch_dashboards","host":"public-modifyaccesscontrol-zhbmidiechch.db.upclouddatabases.com","port":443,"route":"public","usage":"primary"}],"create_time":"0001-01-01T00:00:00Z","maintenance":{"dow":"monday","time":"12:00:00","pending_updates":[]},"name":"modifyaccesscontrol","node_count":1,"node_states":[{"name":"modifyaccesscontrol-1","role":"","state":"setting_up_vm"}],"plan":"1x2xCPU-4GB-80GB-1D","powered":true,"metadata":{"opensearch_version":"2","upgrade_version":null},"properties":{"automatic_utility_network_ip_filter":true,"ip_filter":["10.0.0.1/32"],"max_index_count":0,"public_access":true,"version":"2"},"uuid":"09b6125c-b2b5-43f2-a9d0-720f72fffbf0","state":"rebuilding","title":"modifyaccesscontrol","type":"opensearch","update_time":"0001-01-01T00:00:00Z","service_uri":"https://upadmin:AVNS_Q5uzb-Npqc2iuAmImY-@modifyaccesscontrol-zhbmidiechch.db.upclouddatabases.com:11550","service_uri_params":{"host":"modifyaccesscontrol-zhbmidiechch.db.upclouddatabases.com","password":"AVNS_Q5uzb-Npqc2iuAmImY-","port":"11550","user":"upadmin"},"users":[{"username":"upadmin","type":"primary"}],"zone":"fi-hel2"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/09b6125c-b2b5-43f2-a9d0-720f72fffbf0/access-control
    method: GET
  response:
    body: '{"access_control":false,"extended_access_control":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/09b6125c-b2b5-43f2-a9d0-720f72fffbf0
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
