---
version: 1
interactions:
- request:
    body: '{"hostname_prefix":"modifyaccesscontrol","plan":"1x2xCPU-4GB-80GB-1D","properties":{"automatic_utility_network_ip_filter":true,"ip_filter":["10.0.0.1/32"],"public_access":true},"title":"modifyaccesscontrol","type":"opensearch","zone":"fi-hel2","maintenance":{"dow":"monday","time":"12:00:00"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database
    method: POST
  response:
    body: '{"uuid":"09e96b9f-5b9c-4394-9449-0ee8918035d9","zone":"fi-hel2","name":"modifyaccesscontrol","title":"modifyaccesscontrol","type":"opensearch","plan":"1x2xCPU-4GB-80GB-1D","state":"pending","powered":true,"termination_protection":false,"node_count":1,"create_time":"2024-02-01T08:38:19Z","update_time":"2024-02-01T08:38:19Z","service_uri":"","service_uri_params":{},"maintenance":{"dow":"monday","time":"12:00:00","pending_updates":[]},"metadata":{},"properties":{"automatic_utility_network_ip_filter":true,"ip_filter":["10.0.0.1/32"],"public_access":true},"networks":[],"node_states":[],"backups":[],"components":[],"users":[]}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/09e96b9f-5b9c-4394-9449-0ee8918035d9/access-control
    method: GET
  response:
    body: '{"access_control":false,"extended_access_control":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/09e96b9f-5b9c-4394-9449-0ee8918035d9
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
