---
version: 1
interactions:
- request:
    body: '{"hostname_prefix":"modifyuseraccesscontrol","plan":"2x2xCPU-4GB-100GB","properties":{"automatic_utility_network_ip_filter":true,"ip_filter":["10.0.0.1/32"],"public_access":true},"title":"modifyuseraccesscontrol","type":"pg","zone":"fi-hel2","maintenance":{"dow":"monday","time":"12:00:00"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database
    method: POST
  response:
    body: '{"uuid":"094833a2-a2b9-4cf2-ba51-f8df703311dc","zone":"fi-hel2","name":"modifyuseraccesscontrol","title":"modifyuseraccesscontrol","type":"pg","plan":"2x2xCPU-4GB-100GB","state":"pending","powered":true,"termination_protection":false,"node_count":2,"create_time":"2024-02-01T09:26:51Z","update_time":"2024-02-01T09:26:51Z","service_uri":"","service_uri_params":{},"maintenance":{"dow":"monday","time":"12:00:00","pending_updates":[]},"metadata":{},"properties":{"automatic_utility_network_ip_filter":true,"ip_filter":["10.0.0.1/32"],"public_access":true},"networks":[],"node_states":[],"backups":[],"components":[],"users":[],"databases":[]}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"username":"demouser","pg_access_control":{"allow_replication":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/094833a2-a2b9-4cf2-ba51-f8df703311dc/users
    method: POST
  response:
    body: '{"username":"demouser","password":"AVNS_X5jZn6zJ22JZG05x0zt","type":"normal","pg_access_control":{"allow_replication":true}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"pg_access_control":{"allow_replication":false}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/094833a2-a2b9-4cf2-ba51-f8df703311dc/users/demouser/access-control
    method: PATCH
  response:
    body: '{"username":"demouser","password":"AVNS_X5jZn6zJ22JZG05x0zt","type":"normal","pg_access_control":{"allow_replication":false}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/094833a2-a2b9-4cf2-ba51-f8df703311dc
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
