---
version: 1
interactions:
- request:
    body: '{"count":2,"name":"my-group","plan":"K8S-2xCPU-4GB","storage":"00000000-0000-0000-0000-000000000000"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/kubernetes/0dca7a18-98e1-4e2d-aea5-ef5dd5fa450e/node-groups
    method: POST
  response:
    body: '{"count":2,"name":"my-group","plan":"K8S-2xCPU-4GB","storage":"00000000-0000-0000-0000-000000000000"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/kubernetes/0dca7a18-98e1-4e2d-aea5-ef5dd5fa450e/node-groups
    method: GET
  response:
    body: '[{"count":2,"kubelet_args":[],"labels":[],"name":"my-group","plan":"K8S-2xCPU-4GB","ssh_keys":[],"storage":"01000000-0000-4000-8000-000160010100"},{"count":2,"kubelet_args":[],"labels":[{"key":"managedBy","value":"go-sdk"}],"name":"testgroup","plan":"K8S-2xCPU-4GB","ssh_keys":["ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIO3fnjc8UrsYDNU8365mL3lnOPQJg18V42Lt8U/8Sm+r testy_test"],"storage":"01000000-0000-4000-8000-000160010100"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/kubernetes/0dca7a18-98e1-4e2d-aea5-ef5dd5fa450e/node-groups/my-group
    method: GET
  response:
    body: '{"count":2,"kubelet_args":[],"labels":[],"name":"my-group","plan":"K8S-2xCPU-4GB","ssh_keys":[],"storage":"01000000-0000-4000-8000-000160010100"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/kubernetes/0dca7a18-98e1-4e2d-aea5-ef5dd5fa450e/node-groups/my-group
    method: DELETE
  response:
    body: '{"message":"deletion started for node group ''my-group''"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 202 Accepted
    code: 202
    duration: ""
