---
version: 1
interactions:
- request:
    body: '{"hostname_prefix":"modifyuseraccesscontrolredis","plan":"1x1xCPU-2GB","properties":{"automatic_utility_network_ip_filter":true,"ip_filter":["10.0.0.1/32"],"public_access":true},"title":"modifyuseraccesscontrolredis","type":"redis","zone":"fi-hel2","maintenance":{"dow":"monday","time":"12:00:00"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database
    method: POST
  response:
    body: '{"uuid":"0955ce9e-26b2-4ed5-8cf6-e7eb234b1e30","zone":"fi-hel2","name":"modifyuseraccesscontrolredis","title":"modifyuseraccesscontrolredis","type":"redis","plan":"1x1xCPU-2GB","state":"pending","powered":true,"termination_protection":false,"node_count":1,"create_time":"2024-02-01T08:38:02Z","update_time":"2024-02-01T08:38:02Z","service_uri":"","service_uri_params":{},"maintenance":{"dow":"monday","time":"12:00:00","pending_updates":[]},"metadata":{},"properties":{"automatic_utility_network_ip_filter":true,"ip_filter":["10.0.0.1/32"],"public_access":true},"networks":[],"node_states":[],"backups":[],"components":[],"users":[]}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"username":"demouser","redis_access_control":{"categories":["+@set"],"channels":["*"],"commands":["+set"],"keys":["key_*"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/0955ce9e-26b2-4ed5-8cf6-e7eb234b1e30/users
    method: POST
  response:
    body: '{"username":"demouser","password":"AVNS_oGfIHI7FtNTL0doMF3k","type":"normal","redis_access_control":{"categories":["+@set"],"channels":["*"],"commands":["+set"],"keys":["key_*"]}}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"redis_access_control":{"categories":[],"channels":[],"commands":[],"keys":["key_*"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/0955ce9e-26b2-4ed5-8cf6-e7eb234b1e30/users/demouser/access-control
    method: PATCH
  response:
    body: '{"username":"demouser","password":"AVNS_oGfIHI7FtNTL0doMF3k","type":"regular","redis_access_control":{"categories":[],"channels":[],"commands":[],"keys":["key_*"]}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/0955ce9e-26b2-4ed5-8cf6-e7eb234b1e30
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
