---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/regions
    method: GET
  response:
    body: '[{"name":"europe-1","primary_zone":"fi-hel2","zones":[{"name":"fi-hel2"},{"name":"de-fra1"},{"name":"es-mad1"},{"name":"fi-hel1"},{"name":"nl-ams1"},{"name":"pl-waw1"},{"name":"uk-lon1"},{"name":"se-sto1"}]}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"sub_account":{"username":"managedobjectstorage","password":"","first_name":"","last_name":"","company":"","address":"","postal_code":"","city":"","email":"managedobjectstorage@example.com","phone":"+358.123456789","state":"","country":"","currency":"EUR","language":"en","vat_number":"","timezone":"Europe/Helsinki","allow_api":"no","allow_gui":"no","tag_access":{"tag":null},"roles":{"role":null},"server_access":{"server":null},"storage_access":{"storage":null},"network_access":{"network":null},"ip_filters":{"ip_filter":null}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/account/sub
    method: POST
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/account/details/managedobjectstorage
    method: GET
  response:
    body: |
      {
         "account" : {
            "address" : "",
            "allow_api" : "no",
            "allow_gui" : "no",
            "campaigns" : {
               "campaign" : []
            },
            "city" : "",
            "company" : "",
            "country" : "",
            "currency" : "EUR",
            "email" : "managedobjectstorage@example.com",
            "enable_3rd_party_services" : "yes",
            "first_name" : "",
            "ip_filters" : {
               "ip_filter" : []
            },
            "labels" : [],
            "language" : "en",
            "last_name" : "",
            "main_account" : "example",
            "network_access" : {
               "network" : []
            },
            "phone" : "+358.123456789",
            "postal_code" : "",
            "roles" : {
               "role" : []
            },
            "server_access" : {
               "server" : []
            },
            "state" : "",
            "storage_access" : {
               "storage" : []
            },
            "tag_access" : {
               "tag" : []
            },
            "timezone" : "Europe/Helsinki",
            "type" : "sub",
            "username" : "managedobjectstorage",
            "vat_number" : ""
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"configured_status":"started","labels":[{"key":"example-key","value":"example-value"}],"networks":[{"family":"IPv4","name":"example-public-network","type":"public"}],"region":"europe-1","users":[{"username":"managedobjectstorage"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2
    method: POST
  response:
    body: '{"configured_status":"started","created_at":"2023-10-10T01:11:18.284473Z","endpoints":[{"domain_name":"jrqvq.upcloudobjects.com","type":"public"}],"labels":[{"key":"example-key","value":"example-value"}],"networks":[{"family":"IPv4","name":"example-public-network","type":"public"}],"operational_state":"pending","region":"europe-1","updated_at":"2023-10-10T01:11:18.284473Z","users":[{"access_keys":[],"created_at":"2023-10-10T01:11:18.284473Z","operational_state":"pending","updated_at":"2023-10-10T01:11:18.284473Z","username":"managedobjectstorage"}],"uuid":"129ef5fd-6a55-4025-9653-0d741f153d69"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/129ef5fd-6a55-4025-9653-0d741f153d69/users/managedobjectstorage
    method: GET
  response:
    body: '{"access_keys":[],"created_at":"2023-10-10T01:11:18.284473Z","operational_state":"pending","updated_at":"2023-10-10T01:11:18.284473Z","username":"managedobjectstorage"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"example-access-key"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/129ef5fd-6a55-4025-9653-0d741f153d69/users/managedobjectstorage/access-keys
    method: POST
  response:
    body: '{"access_key_id":"AKIAF08D38C17C555881","created_at":"2023-10-10T01:11:23.836205Z","enabled":true,"last_used_at":"2023-10-10T01:11:23.836205Z","name":"example-access-key","secret_access_key":"z8XXQuBATRPI1er6DfGGiQOPIsxLG6GoER3ZyK2H","updated_at":"2023-10-10T01:11:23.836205Z"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"example-access-key","enabled":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/129ef5fd-6a55-4025-9653-0d741f153d69/users/managedobjectstorage/access-keys/example-access-key
    method: PATCH
  response:
    body: '{"id":24,"name":"example-access-key","user_id":138,"access_key_id":"AKIAF08D38C17C555881","enabled":true,"username":"managedobjectstorage","last_used_at":"2023-10-10T01:11:23.836205Z","created_at":"2023-10-10T01:11:23.836205Z","updated_at":"2023-10-10T01:11:23.992422Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/129ef5fd-6a55-4025-9653-0d741f153d69/users
    method: GET
  response:
    body: '[{"access_keys":[{"access_key_id":"AKIAF08D38C17C555881","created_at":"2023-10-10T01:11:23.836205Z","enabled":true,"last_used_at":"2023-10-10T01:11:23.836205Z","name":"example-access-key","updated_at":"2023-10-10T01:11:23.992422Z"}],"created_at":"2023-10-10T01:11:18.284473Z","operational_state":"ready","updated_at":"2023-10-10T01:11:18.563468Z","username":"managedobjectstorage"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/129ef5fd-6a55-4025-9653-0d741f153d69
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/129ef5fd-6a55-4025-9653-0d741f153d69
    method: GET
  response:
    body: |
      {"type":"https://developers.upcloud.com/1.3/errors#ERROR_RESOURCE_NOT_FOUND","title":"The resource you requested does not exist.","correlation_id":"01HCBJ7M9S7EBGH62TE5CJ9RQH","status":404}
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/problem+json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/account/sub/managedobjectstorage
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
