---
version: 1
interactions:
   - request:
        body: '{"sub_account":{"username":"sdk_test_permissions_subaccount","password":"mysecr3tPassword","first_name":"Test","last_name":"User","company":"UpCloud Ltd","address":"my address","postal_code":"00130","city":"Helsinki","email":"test@myhost.mydomain","phone":"+358.31245434","state":"","country":"FIN","currency":"EUR","language":"en","vat_number":"FI24315605","timezone":"UTC","allow_api":"yes","allow_gui":"no","tag_access":{"tag":null},"roles":{"role":null},"server_access":{"server":null},"storage_access":{"storage":null},"network_access":{"network":null},"ip_filters":{"ip_filter":null}}}'
        form: {}
        headers:
           Content-Type:
              - application/json
        url: https://api.upcloud.com/1.3/account/sub
        method: POST
     response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: ""
   - request:
        body: ""
        form: {}
        headers:
           Content-Type:
              - application/json
        url: https://api.upcloud.com/1.3/account/details/sdk_test_permissions_subaccount
        method: GET
     response:
        body: |
           {
              "account" : {
                 "username" : "sdk_test_permissions_subaccount"
              }
           }
        headers:
           Content-Type:
              - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: ""
   - request:
        body: '{"permission":{"target_identifier":"*","target_type":"server","user":"sdk_test_permissions_subaccount","options":{"storage":"yes"}}}'
        form: {}
        headers:
           Content-Type:
              - application/json
        url: https://api.upcloud.com/1.3/permission/grant
        method: POST
     response:
        body: |
           {
              "permission" : {
                 "options" : {
                    "storage" : "yes"
                 },
                 "target_identifier" : "*",
                 "target_type" : "server",
                 "user" : "sdk_test_permissions_subaccount"
              }
           }
        headers:
           Content-Type:
              - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: ""
   - request:
        body: ""
        form: {}
        headers:
           Content-Type:
              - application/json
        url: https://api.upcloud.com/1.3/permission
        method: GET
     response:
        body: |
           {
              "permissions" : {
                 "permission" : [
                    {
                       "options" : {
                          "storage" : "yes"
                       },
                       "target_identifier" : "*",
                       "target_type" : "server",
                       "user" : "sdk_test_permissions_subaccount"
                    }
                 ]
              }
           }
        headers:
           Content-Type:
              - application/json; charset=UTF-8
        status: 200 OK
        code: 200
        duration: ""
   - request:
        body: '{"permission":{"target_identifier":"*","target_type":"server","user":"sdk_test_permissions_subaccount","options":{"storage":"yes"}}}'
        form: {}
        headers:
           Content-Type:
              - application/json
        url: https://api.upcloud.com/1.3/permission/revoke
        method: POST
     response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: ""
   - request:
        body: ""
        form: {}
        headers:
           Content-Type:
              - application/json
        url: https://api.upcloud.com/1.3/account/sub/sdk_test_permissions_subaccount
        method: DELETE
     response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: ""
