---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/regions
    method: GET
  response:
    body: '[{"name":"europe-1","primary_zone":"fi-hel2","zones":[{"name":"fi-hel2"},{"name":"de-fra1"},{"name":"es-mad1"},{"name":"fi-hel1"},{"name":"nl-ams1"},{"name":"pl-waw1"},{"name":"uk-lon1"},{"name":"se-sto1"}]}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"configured_status":"started","labels":[{"key":"example-key","value":"example-value"}],"name":"go-sdk-integration-test","networks":[{"family":"IPv4","name":"example-public-network","type":"public"}],"region":"europe-1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2
    method: POST
  response:
    body: '{"configured_status":"started","created_at":"2024-02-29T11:27:56.87113Z","endpoints":[{"domain_name":"or980.upcloudobjects.com","iam_url":"https://or980.upcloudobjects.com:4443/iam","sts_url":"https://or980.upcloudobjects.com:4443/sts","type":"public"}],"labels":[{"key":"example-key","value":"example-value"}],"name":"go-sdk-integration-test","networks":[{"family":"IPv4","name":"example-public-network","type":"public"}],"operational_state":"pending","region":"europe-1","updated_at":"2024-02-29T11:27:56.87113Z","usage":{"total_objects":0,"total_size_bytes":0},"users":[],"uuid":"12c6d280-745b-4fc9-bfe8-55b3da144baf"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"configured_status":"stopped","name":"test2","networks":[{"family":"IPv4","name":"replaced-network","type":"public"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/12c6d280-745b-4fc9-bfe8-55b3da144baf
    method: PUT
  response:
    body: '{"configured_status":"stopped","created_at":"2024-02-29T11:27:56.87113Z","endpoints":[],"labels":[],"name":"test2","networks":[{"family":"IPv4","name":"replaced-network","type":"public"}],"operational_state":"pending","region":"europe-1","updated_at":"2024-02-29T11:27:57.378785Z","usage":{"total_objects":0,"total_size_bytes":0},"users":[],"uuid":"12c6d280-745b-4fc9-bfe8-55b3da144baf"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/12c6d280-745b-4fc9-bfe8-55b3da144baf/users
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
