---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/regions
    method: GET
  response:
    body: '[{"name":"europe-1","primary_zone":"fi-hel2","zones":[{"name":"fi-hel2"},{"name":"de-fra1"},{"name":"es-mad1"},{"name":"fi-hel1"},{"name":"nl-ams1"},{"name":"pl-waw1"},{"name":"uk-lon1"},{"name":"se-sto1"}]}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"configured_status":"started","labels":[{"key":"example-key","value":"example-value"}],"name":"go-sdk-integration-test","networks":[{"family":"IPv4","name":"example-public-network","type":"public"}],"region":"europe-1","users":[{"username":"test"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2
    method: POST
  response:
    body: '{"configured_status":"started","created_at":"2024-01-18T15:50:00.898635Z","endpoints":[{"domain_name":"agaua.upcloudobjects.com","type":"public"}],"labels":[{"key":"example-key","value":"example-value"}],"name":"go-sdk-integration-test","networks":[{"family":"IPv4","name":"example-public-network","type":"public"}],"operational_state":"pending","region":"europe-1","updated_at":"2024-01-18T15:50:00.898635Z","usage":{"total_objects":0,"total_size_bytes":0},"users":[{"access_keys":[],"created_at":"2024-01-18T15:50:00.898635Z","operational_state":"pending","updated_at":"2024-01-18T15:50:00.898635Z","username":"test"}],"uuid":"125415e5-4c4c-4f25-8827-f216646271e0"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"configured_status":"stopped","name":"test2","networks":[{"family":"IPv4","name":"replaced-network","type":"public"}],"users":[{"username":"test"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/object-storage-2/125415e5-4c4c-4f25-8827-f216646271e0
    method: PUT
  response:
    body: '{"configured_status":"stopped","created_at":"2024-01-18T15:50:00.898635Z","endpoints":[],"labels":[],"name":"test2","networks":[{"family":"IPv4","name":"replaced-network","type":"public"}],"operational_state":"pending","region":"europe-1","updated_at":"2024-01-18T15:50:01.130729Z","usage":{"total_objects":0,"total_size_bytes":0},"users":[{"access_keys":[],"created_at":"2024-01-18T15:50:00.898635Z","operational_state":"pending","updated_at":"2024-01-18T15:50:01.130729Z","username":"test"}],"uuid":"125415e5-4c4c-4f25-8827-f216646271e0"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
