---
version: 1
interactions:
- request:
    body: '{"server":{"hostname":"uploud-go-sdk-integration-test-testresizestoragefilesystem.example.com","metadata":"no","networking":{"interfaces":{"interface":[{"ip_addresses":{"ip_address":[{"family":"IPv4"}]},"type":"utility"}]}},"password_delivery":"none","storage_devices":{"storage_device":[{"action":"clone","storage":"01000000-0000-4000-8000-000020060100","title":"disk1","size":10,"tier":"maxiops"}]},"title":"uploud-go-sdk-integration-test-TestResizeStorageFilesystem","remote_access_enabled":"no","zone":"fi-hel2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1666944912,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testresizestoragefilesystem.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "utility",
                     "address" : "10.6.0.11",
                     "family" : "IPv4"
                  }
               ]
            },
            "labels" : {
               "label" : []
            },
            "license" : 0,
            "memory_amount" : "1024",
            "metadata" : "no",
            "networking" : {
               "interfaces" : {
                  "interface" : [
                     {
                        "bootable" : "no",
                        "index" : 1,
                        "ip_addresses" : {
                           "ip_address" : [
                              {
                                 "address" : "10.6.0.11",
                                 "dhcp_provided" : "yes",
                                 "family" : "IPv4",
                                 "floating" : "no"
                              }
                           ]
                        },
                        "mac" : "da:45:c4:5c:e2:7a",
                        "network" : "03c40911-2f43-4138-bb91-7561a8351353",
                        "source_ip_filtering" : "yes",
                        "type" : "utility"
                     }
                  ]
               }
            },
            "nic_model" : "virtio",
            "password" : "q67m36fd6hky334a",
            "plan" : "custom",
            "plan_ipv4_bytes" : "0",
            "plan_ipv6_bytes" : "0",
            "progress" : "0",
            "remote_access_enabled" : "no",
            "remote_access_password" : "VjAJ8W2p",
            "remote_access_type" : "vnc",
            "simple_backup" : "no",
            "state" : "maintenance",
            "storage_devices" : {
               "storage_device" : [
                  {
                     "address" : "virtio:0",
                     "boot_disk" : "0",
                     "storage" : "01747698-ae36-4ab7-bf6f-1df8e621cb13",
                     "storage_size" : 10,
                     "storage_tier" : "maxiops",
                     "storage_title" : "disk1",
                     "type" : "disk"
                  }
               ]
            },
            "tags" : {
               "tag" : []
            },
            "timezone" : "UTC",
            "title" : "uploud-go-sdk-integration-test-TestResizeStorageFilesystem",
            "username" : "root",
            "uuid" : "00563630-8c2b-4db2-8831-4be0e4a6911b",
            "video_model" : "cirrus",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/00563630-8c2b-4db2-8831-4be0e4a6911b
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1666944912,
            "firewall" : "off",
            "host" : 5872304771,
            "hostname" : "uploud-go-sdk-integration-test-testresizestoragefilesystem.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "utility",
                     "address" : "10.6.0.11",
                     "family" : "IPv4"
                  }
               ]
            },
            "labels" : {
               "label" : []
            },
            "license" : 0,
            "memory_amount" : [...]
- request:
    body: '{"stop_server":{"stop_type":"hard","timeout":"900"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/00563630-8c2b-4db2-8831-4be0e4a6911b/stop
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1666944912,
            "firewall" : "off",
            "host" : 5872304771,
            "hostname" : "uploud-go-sdk-integration-test-testresizestoragefilesystem.example.c[...]
- request:
    body: '{"storage":{"size":"20"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/storage/01747698-ae36-4ab7-bf6f-1df8e621cb13
    method: PUT
  response:
    body: |
      {
         "storage" : {
            "access" : "private",
            "backup_rule" : {},
            "backups" : {
               "backup" : []
            },
            "created" : "2022-10-28T08:15:13Z",
            "license" : 0,
            "servers" : {
               "server" : [
                  "00563630-8c2b-4db2-8831-4be0e4a6911b"
               ]
            },
            "size" : 20,
            "state" : "online",
            "tier" : "maxiops",
            "title" : "disk1",
            "type" : "normal",
            "uuid" : "01747698-ae36-4ab7-bf6f-1df8e621cb13",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 202 Accepted
    code: 202
    duration: ""
[...]
- request:
    body: '{"UUID":"01747698-ae36-4ab7-bf6f-1df8e621cb13"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/storage/01747698-ae36-4ab7-bf6f-1df8e621cb13/resize
    method: POST
  response:
    body: |
      {
         "resize_backup" : {
            "access" : "private",
            "created" : "2022-10-28T08:15:56Z",
            "license" : 0,
            "origin" : "01747698-ae36-4ab7-bf6f-1df8e621cb13",
            "servers" : {
               "server" : []
            },
            "size" : 20,
            "state" : "online",
            "title" : "Resize Backup",
            "type" : "backup",
            "uuid" : "017d628f-0381-4410-97a2-7e73223aac25",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/00563630-8c2b-4db2-8831-4be0e4a6911b/?storages=1
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
