---
version: 1
interactions:
- request:
    body: '{"server":{"hostname":"uploud-go-sdk-integration-test-testresizefilesystem.example.com","metadata":"no","networking":{"interfaces":{"interface":[{"ip_addresses":{"ip_address":[{"family":"IPv4"}]},"type":"utility"}]}},"password_delivery":"none","storage_devices":{"storage_device":[{"action":"clone","storage":"01000000-0000-4000-8000-000020060100","title":"disk1","size":10,"tier":"maxiops"}]},"title":"uploud-go-sdk-integration-test-TestResizeFilesystem","remote_access_enabled":"no","zone":"fi-hel2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1643637404,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testresizefilesystem.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "utility",
                     "address" : "10.6.0.178",
                     "family" : "IPv4"
                  }
               ]
            },
            "license" : 0,
            "memory_amount" : "1024",
            "metadata" : "no",
            "networking" : {
               "interfaces" : {
                  "interface" : [
                     {
                        "bootable" : "no",
                        "index" : 1,
                        "ip_addresses" : {
                           "ip_address" : [
                              {
                                 "address" : "10.6.0.178",
                                 "family" : "IPv4",
                                 "floating" : "no"
                              }
                           ]
                        },
                        "mac" : "7e:bc:e1:58:a7:69",
                        "network" : "038c8cb6-2c23-4d81-a286-032a794b1baf",
                        "source_ip_filtering" : "yes",
                        "type" : "utility"
                     }
                  ]
               }
            },
            "nic_model" : "virtio",
            "password" : "h48z9tv29y6x9asj",
            "plan" : "custom",
            "plan_ipv4_bytes" : "0",
            "plan_ipv6_bytes" : "0",
            "progress" : "0",
            "remote_access_enabled" : "no",
            "remote_access_password" : "Xr4292G6",
            "remote_access_type" : "vnc",
            "simple_backup" : "no",
            "state" : "maintenance",
            "storage_devices" : {
               "storage_device" : [
                  {
                     "address" : "virtio:0",
                     "boot_disk" : "0",
                     "storage" : "01f1b4c8-b2f4-4d1d-abb7-cc6c1500822b",
                     "storage_size" : 10,
                     "storage_tier" : "maxiops",
                     "storage_title" : "disk1",
                     "type" : "disk"
                  }
               ]
            },
            "tags" : {
               "tag" : []
            },
            "timezone" : "UTC",
            "title" : "uploud-go-sdk-integration-test-TestResizeFilesystem",
            "username" : "root",
            "uuid" : "008bb6a0-12fa-43dd-8922-62617d072b03",
            "video_model" : "cirrus",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/008bb6a0-12fa-43dd-8922-62617d072b03
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1643637404,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testresizefilesystem.example.com",
            "ip_addresses"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/008bb6a0-12fa-43dd-8922-62617d072b03
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1643637404,
            "firewall" : "off",
            "host" : 7348699779,
            "hostname" : "uploud-go-sdk-integration-test-testresizefilesystem.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "utility",
                     "address" : "10.6.0.178",
                     "family" : "IPv4"
                  }
               ]
            },
            "license" : 0,
            "memory_amount" : "1024",
            "metadata" : "no",
            "networking" : {
      [...]
- request:
    body: '{"stop_server":{"stop_type":"hard","timeout":"900"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/008bb6a0-12fa-43dd-8922-62617d072b03/stop
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1643637404,
            "firewall" : "off",
            "host" : 7348699779,
            "hostname" : "uploud-go-sdk-integration-test-testresizefilesystem.example.com",
  [...]
[...]
- request:
    body: '{"storage":{"size":"20"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/storage/01f1b4c8-b2f4-4d1d-abb7-cc6c1500822b
    method: PUT
  response:
    body: |
      {
         "storage" : {
            "access" : "private",
            "backup_rule" : {},
            "backups" : {
               "backup" : []
            },
            "created" : "2022-01-31T13:56:44Z",
            "license" : 0,
            "servers" : {
               "server" : [
                  "008bb6a0-12fa-43dd-8922-62617d072b03"
               ]
            },
            "size" : 20,
            "state" : "online",
            "tier" : "maxiops",
            "title" : "disk1",
            "type" : "normal",
            "uuid" : "01f1b4c8-b2f4-4d1d-abb7-cc6c1500822b",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 202 Accepted
    code: 202
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/storage/01f1b4c8-b2f4-4d1d-abb7-cc6c1500822b/resize
    method: POST
  response:
    body: |
      {
         "resize_backup" : {
            "access" : "private",
            "created" : "2022-01-31T13:57:24Z",
            "license" : 0,
            "origin" : "01f1b4c8-b2f4-4d1d-abb7-cc6c1500822b",
            "servers" : {
               "server" : []
            },
            "size" : 20,
            "state" : "online",
            "title" : "Resize Backup",
            "type" : "backup",
            "uuid" : "018c59cd-b64b-48f4-9511-395e92ce6fff",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/008bb6a0-12fa-43dd-8922-62617d072b03/?storages=1
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
