---
version: 1
interactions:
- request:
    body: '{"server":{"hostname":"uploud-go-sdk-integration-test-testresizestorage.example.com","metadata":"no","networking":{"interfaces":{"interface":[{"ip_addresses":{"ip_address":[{"family":"IPv4"}]},"type":"utility"}]}},"password_delivery":"none","storage_devices":{"storage_device":[{"action":"clone","storage":"01000000-0000-4000-8000-000020060100","title":"disk1","size":10,"tier":"maxiops"}]},"title":"uploud-go-sdk-integration-test-TestResizeStorage","remote_access_enabled":"no","zone":"fi-hel2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1643036487,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testresizestorage.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "utility",
                     "address" : "10.6.5.195",
                     "family" : "IPv4"
                  }
               ]
            },
            "license" : 0,
            "memory_amount" : "1024",
            "metadata" : "no",
            "networking" : {
               "interfaces" : {
                  "interface" : [
                     {
                        "bootable" : "no",
                        "index" : 1,
                        "ip_addresses" : {
                           "ip_address" : [
                              {
                                 "address" : "10.6.5.195",
                                 "family" : "IPv4",
                                 "floating" : "no"
                              }
                           ]
                        },
                        "mac" : "7e:bc:e1:58:e7:ba",
                        "network" : "03703755-7781-430c-b92d-38ae827d02ba",
                        "source_ip_filtering" : "yes",
                        "type" : "utility"
                     }
                  ]
               }
            },
            "nic_model" : "virtio",
            "password" : "955sg6t42rzaqg9w",
            "plan" : "custom",
            "plan_ipv4_bytes" : "0",
            "plan_ipv6_bytes" : "0",
            "progress" : "0",
            "remote_access_enabled" : "no",
            "remote_access_password" : "fN2B44Td",
            "remote_access_type" : "vnc",
            "simple_backup" : "no",
            "state" : "maintenance",
            "storage_devices" : {
               "storage_device" : [
                  {
                     "address" : "virtio:0",
                     "boot_disk" : "0",
                     "storage" : "01b4829d-9fa5-4b20-891b-954f03b495eb",
                     "storage_size" : 10,
                     "storage_tier" : "maxiops",
                     "storage_title" : "disk1",
                     "type" : "disk"
                  }
               ]
            },
            "tags" : {
               "tag" : []
            },
            "timezone" : "UTC",
            "title" : "uploud-go-sdk-integration-test-TestResizeStorage",
            "username" : "root",
            "uuid" : "000401d4-35e3-4bf8-bf10-fafb9a5e8ab8",
            "video_model" : "cirrus",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/000401d4-35e3-4bf8-bf10-fafb9a5e8ab8
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1643036487,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testresizestorage.example.com",
            "ip_addresses" : [...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/000401d4-35e3-4bf8-bf10-fafb9a5e8ab8
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1643036487,
            "firewall" : "off",
            "host" : 7348699779,
            "hostname" : "uploud-go-sdk-integration-test-testresizestorage.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "utility",
                     "address" : "10.6.5.195",
                     "family" : "IPv4"
                  }
               ]
            },
            "license" : 0,
            "memory_amount" : "1024",
            "metadata" : "no",
            "networking" : {
         [...]
- request:
    body: '{"stop_server":{"stop_type":"hard","timeout":"900"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/000401d4-35e3-4bf8-bf10-fafb9a5e8ab8/stop
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1643036487,
            "firewall" : "off",
            "host" : 7348699779,
            "hostname" : "uploud-go-sdk-integration-test-testresizestorage.example.com",
     [...]
[...]
- request:
    body: '{"storage":{"size":"20"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/storage/01b4829d-9fa5-4b20-891b-954f03b495eb
    method: PUT
  response:
    body: |
      {
         "storage" : {
            "access" : "private",
            "backup_rule" : {},
            "backups" : {
               "backup" : []
            },
            "created" : "2022-01-24T15:01:27Z",
            "license" : 0,
            "servers" : {
               "server" : [
                  "000401d4-35e3-4bf8-bf10-fafb9a5e8ab8"
               ]
            },
            "size" : 20,
            "state" : "online",
            "tier" : "maxiops",
            "title" : "disk1",
            "type" : "normal",
            "uuid" : "01b4829d-9fa5-4b20-891b-954f03b495eb",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 202 Accepted
    code: 202
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/storage/01b4829d-9fa5-4b20-891b-954f03b495eb/resize
    method: POST
  response:
    body: |
      {
         "resize_backup" : {
            "access" : "private",
            "created" : "2022-01-24T15:02:10Z",
            "license" : 0,
            "origin" : "01b4829d-9fa5-4b20-891b-954f03b495eb",
            "servers" : {
               "server" : []
            },
            "size" : 20,
            "state" : "online",
            "title" : "Resize Backup",
            "type" : "backup",
            "uuid" : "01f36ed4-d537-4d6e-ba21-adc22baae3de",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/000401d4-35e3-4bf8-bf10-fafb9a5e8ab8/?storages=1
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
