---
version: 1
interactions:
- request:
    body: '{"server":{"hostname":"uploud-go-sdk-integration-test-testresizestorage.example.com","metadata":"no","networking":{"interfaces":{"interface":[{"ip_addresses":{"ip_address":[{"family":"IPv4"}]},"type":"utility"}]}},"password_delivery":"none","storage_devices":{"storage_device":[{"action":"clone","storage":"01000000-0000-4000-8000-000020060100","title":"disk1","size":10,"tier":"maxiops"}]},"title":"uploud-go-sdk-integration-test-TestResizeStorage","remote_access_enabled":"no","zone":"fi-hel2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1643017294,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testresizestorage.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "utility",
                     "address" : "10.6.3.22",
                     "family" : "IPv4"
                  }
               ]
            },
            "license" : 0,
            "memory_amount" : "1024",
            "metadata" : "no",
            "networking" : {
               "interfaces" : {
                  "interface" : [
                     {
                        "bootable" : "no",
                        "index" : 1,
                        "ip_addresses" : {
                           "ip_address" : [
                              {
                                 "address" : "10.6.3.22",
                                 "family" : "IPv4",
                                 "floating" : "no"
                              }
                           ]
                        },
                        "mac" : "7e:bc:e1:58:86:4c",
                        "network" : "038c8cb6-2c23-4d81-a286-032a794b1baf",
                        "source_ip_filtering" : "yes",
                        "type" : "utility"
                     }
                  ]
               }
            },
            "nic_model" : "virtio",
            "password" : "3yu4h5su886qy67z",
            "plan" : "custom",
            "plan_ipv4_bytes" : "0",
            "plan_ipv6_bytes" : "0",
            "progress" : "0",
            "remote_access_enabled" : "no",
            "remote_access_password" : "kQY59cgj",
            "remote_access_type" : "vnc",
            "simple_backup" : "no",
            "state" : "maintenance",
            "storage_devices" : {
               "storage_device" : [
                  {
                     "address" : "virtio:0",
                     "boot_disk" : "0",
                     "storage" : "016b0292-097d-4b53-8e7d-2213f19f142d",
                     "storage_size" : 10,
                     "storage_tier" : "maxiops",
                     "storage_title" : "disk1",
                     "type" : "disk"
                  }
               ]
            },
            "tags" : {
               "tag" : []
            },
            "timezone" : "UTC",
            "title" : "uploud-go-sdk-integration-test-TestResizeStorage",
            "username" : "root",
            "uuid" : "00ad2888-1137-4092-bf07-310b5dc0fab8",
            "video_model" : "cirrus",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/00ad2888-1137-4092-bf07-310b5dc0fab8
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1643017294,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testresizestorage.example.com",
            "ip_addresses" : [...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/00ad2888-1137-4092-bf07-310b5dc0fab8
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1643017294,
            "firewall" : "off",
            "host" : 6543393411,
            "hostname" : "uploud-go-sdk-integration-test-testresizestorage.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "utility",
                     "address" : "10.6.3.22",
                     "family" : "IPv4"
                  }
               ]
            },
            "license" : 0,
            "memory_amount" : "1024",
            "metadata" : "no",
            "networking" : {
          [...]
- request:
    body: '{"stop_server":{"stop_type":"hard","timeout":"900"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/00ad2888-1137-4092-bf07-310b5dc0fab8/stop
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1643017294,
            "firewall" : "off",
            "host" : 6543393411,
            "hostname" : "uploud-go-sdk-integration-test-testresizestorage.example.com",
     [...]
[...]
- request:
    body: '{"storage_device":{"address":"virtio:0"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/00ad2888-1137-4092-bf07-310b5dc0fab8/storage/detach
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1643017294,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-test[...]
- request:
    body: '{"storage":{"size":"20"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/storage/016b0292-097d-4b53-8e7d-2213f19f142d
    method: PUT
  response:
    body: |
      {
         "storage" : {
            "access" : "private",
            "backup_rule" : {},
            "backups" : {
               "backup" : []
            },
            "created" : "2022-01-24T09:41:35Z",
            "license" : 0,
            "servers" : {
               "server" : []
            },
            "size" : 20,
            "state" : "online",
            "tier" : "maxiops",
            "title" : "disk1",
            "type" : "normal",
            "uuid" : "016b0292-097d-4b53-8e7d-2213f19f142d",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: '{"storage_device":{"type":"disk","address":"virtio:0","storage":"016b0292-097d-4b53-8e7d-2213f19f142d"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/00ad2888-1137-4092-bf07-310b5dc0fab8/storage/attach
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1643017294,
            "firewall" : "off"[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/storage/016b0292-097d-4b53-8e7d-2213f19f142d/resize
    method: POST
  response:
    body: |
      {
         "resize_backup" : {
            "access" : "private",
            "created" : "2022-01-24T09:42:23Z",
            "license" : 0,
            "origin" : "016b0292-097d-4b53-8e7d-2213f19f142d",
            "servers" : {
               "server" : []
            },
            "size" : 20,
            "state" : "online",
            "title" : "Resize Backup",
            "type" : "backup",
            "uuid" : "01ec5337-2bf1-4c79-958c-b29c4eb8b521",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/00ad2888-1137-4092-bf07-310b5dc0fab8/?storages=1
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
