---
version: 1
interactions:
- request:
    body: '{"router":{"name":"test_router_labels_and_filters_1","labels":[{"key":"color","value":"blue"}]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/router
    method: POST
  response:
    body: |
      {
         "router" : {
            "attached_networks" : {
               "network" : []
            },
            "labels" : [
               {
                  "key" : "color",
                  "value" : "blue"
               }
            ],
            "name" : "test_router_labels_and_filters_1",
            "static_routes" : [],
            "type" : "normal",
            "uuid" : "04841ba6-2fa3-47c7-9306-f6e53ace6b97"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/router?label=color
    method: GET
  response:
    body: |
      {
         "routers" : {
            "router" : [
               {
                  "attached_networks" : {
                     "network" : []
                  },
                  "labels" : [
                     {
                        "key" : "color",
                        "value" : "red"
                     }
                  ],
                  "name" : "test_router_labels_and_filters_1",
                  "static_routes" : [],
                  "type" : "normal",
                  "uuid" : "041d21e2-30ca-41eb-8498-a2eddce05796"
               },
               {
                  "attached_networks" : {
                     "network" : []
                  },
                  "labels" : [
                     {
                        "key" : "color",
                        "value" : "blue"
                     }
                  ],
                  "name" : "test_router_labels_and_filters_1",
                  "static_routes" : [],
                  "type" : "normal",
                  "uuid" : "04841ba6-2fa3-47c7-9306-f6e53ace6b97"
               }
            ]
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/router?label=color%3Dred
    method: GET
  response:
    body: |
      {
         "routers" : {
            "router" : [
               {
                  "attached_networks" : {
                     "network" : []
                  },
                  "labels" : [
                     {
                        "key" : "color",
                        "value" : "red"
                     }
                  ],
                  "name" : "test_router_labels_and_filters_1",
                  "static_routes" : [],
                  "type" : "normal",
                  "uuid" : "041d21e2-30ca-41eb-8498-a2eddce05796"
               }
            ]
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"router":{"name":"test_router_labels_and_filters_1","labels":[]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/router/041d21e2-30ca-41eb-8498-a2eddce05796
    method: PATCH
  response:
    body: |
      {
         "router" : {
            "attached_networks" : {
               "network" : []
            },
            "labels" : [],
            "name" : "test_router_labels_and_filters_1",
            "static_routes" : [],
            "type" : "normal",
            "uuid" : "041d21e2-30ca-41eb-8498-a2eddce05796"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
