---
version: 1
interactions:
- request:
    body: '{"server":{"hostname":"uploud-go-sdk-integration-test-testservergroups.example.com","metadata":"no","networking":{"interfaces":{"interface":[{"ip_addresses":{"ip_address":[{"family":"IPv4"}]},"type":"utility"}]}},"password_delivery":"none","storage_devices":{"storage_device":[{"action":"clone","storage":"01000000-0000-4000-8000-000020060100","title":"disk1","size":10,"tier":"maxiops"}]},"title":"uploud-go-sdk-integration-test-TestServerGroups","remote_access_enabled":"no","zone":"fi-hel2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1674047795,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testservergroups.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "utility",
                     "address" : "10.6.2.151",
                     "family" : "IPv4"
                  }
               ]
            },
            "labels" : {
               "label" : []
            },
            "license" : 0,
            "memory_amount" : "1024",
            "metadata" : "no",
            "networking" : {
               "interfaces" : {
                  "interface" : [
                     {
                        "bootable" : "no",
                        "index" : 1,
                        "ip_addresses" : {
                           "ip_address" : [
                              {
                                 "address" : "10.6.2.151",
                                 "dhcp_provided" : "yes",
                                 "family" : "IPv4",
                                 "floating" : "no"
                              }
                           ]
                        },
                        "mac" : "7e:bc:e1:58:f1:82",
                        "network" : "038c8cb6-2c23-4d81-a286-032a794b1baf",
                        "source_ip_filtering" : "yes",
                        "type" : "utility"
                     }
                  ]
               }
            },
            "nic_model" : "virtio",
            "password" : "h669c9tmg2y8539c",
            "plan" : "custom",
            "plan_ipv4_bytes" : "0",
            "plan_ipv6_bytes" : "0",
            "progress" : "0",
            "remote_access_enabled" : "no",
            "remote_access_password" : "97DGPuf2",
            "remote_access_type" : "vnc",
            "server_group" : null,
            "simple_backup" : "no",
            "state" : "maintenance",
            "storage_devices" : {
               "storage_device" : [
                  {
                     "address" : "virtio:0",
                     "boot_disk" : "0",
                     "storage" : "01ab6b24-72d0-4310-a0f1-4e6ef960c449",
                     "storage_size" : 10,
                     "storage_tier" : "maxiops",
                     "storage_title" : "disk1",
                     "type" : "disk"
                  }
               ]
            },
            "tags" : {
               "tag" : []
            },
            "timezone" : "UTC",
            "title" : "uploud-go-sdk-integration-test-TestServerGroups",
            "username" : "root",
            "uuid" : "009df88e-523a-423a-9033-a0013e27166f",
            "video_model" : "cirrus",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/009df88e-523a-423a-9033-a0013e27166f
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1674047795,
            "firewall" : "off",
            "host" : 6862160515,
            "hostname" : "uploud-go-sdk-integration-test-testservergroups.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "utility",
                     "address" : "10.6.2.151",
                     "family" : "IPv4"
                  }
               ]
            },
            "labels" : {
               "label" : []
            },
            "license" : 0,
            "memory_amount" : "1024",
  [...]
- request:
    body: '{"server_group":{"labels":{"label":[{"key":"managedBy","value":"upcloud-go-sdk-integration-test"}]},"servers":{"server":["009df88e-523a-423a-9033-a0013e27166f"]},"anti_affinity":"yes","title":"test-title"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server-group
    method: POST
  response:
    body: |
      {
         "server_group" : {
            "anti_affinity" : "yes",
            "anti_affinity_status" : [
               {
                  "status" : "met",
                  "uuid" : "009df88e-523a-423a-9033-a0013e27166f"
               }
            ],
            "labels" : {
               "label" : [
                  {
                     "key" : "managedBy",
                     "value" : "upcloud-go-sdk-integration-test"
                  }
               ]
            },
            "servers" : {
               "server" : [
                  "009df88e-523a-423a-9033-a0013e27166f"
               ]
            },
            "title" : "test-title",
            "uuid" : "0b7a2e3f-e356-4a22-869c-04df35a51525"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"server_group":{"servers":{"server":[]},"title":"test-title-edit"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server-group/0b7a2e3f-e356-4a22-869c-04df35a51525
    method: PATCH
  response:
    body: |
      {
         "server_group" : {
            "anti_affinity" : "yes",
            "anti_affinity_status" : [],
            "labels" : {
               "label" : [
                  {
                     "key" : "managedBy",
                     "value" : "upcloud-go-sdk-integration-test"
                  }
               ]
            },
            "servers" : {
               "server" : []
            },
            "title" : "test-title-edit",
            "uuid" : "0b7a2e3f-e356-4a22-869c-04df35a51525"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server-group
    method: GET
  response:
    body: |
      {
         "server_groups" : {
            "server_group" : [
               {
                  "anti_affinity" : "no",
                  "anti_affinity_status" : [
                     {
                        "status" : "met",
                        "uuid" : "009df88e-523a-423a-9033-a0013e27166f"
                     }
                  ],
                  "labels" : {
                     "label" : [
                        {
                           "key" : "managedBy",
                           "value" : "upcloud-go-sdk-integration-test"
                        },
                        {
                           "key" : "title",
                           "value" : "test-title"
                        }
                     ]
                  },
                  "servers" : {
                     "server" : [
                        "009df88e-523a-423a-9033-a0013e27166f"
                     ]
                  },
                  "title" : "test-title",
                  "uuid" : "0b7a2e3f-e356-4a22-869c-04df35a51525"
               }
            ]
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server-group?label=managedBy&label=title%3Dtest-title
    method: GET
  response:
    body: |
      {
         "server_groups" : {
            "server_group" : [
               {
                  "anti_affinity" : "no",
                  "anti_affinity_status" : [
                     {
                        "status" : "met",
                        "uuid" : "009df88e-523a-423a-9033-a0013e27166f"
                     }
                  ],
                  "labels" : {
                     "label" : [
                        {
                           "key" : "managedBy",
                           "value" : "upcloud-go-sdk-integration-test"
                        },
                        {
                           "key" : "title",
                           "value" : "test-title"
                        }
                     ]
                  },
                  "servers" : {
                     "server" : [
                        "009df88e-523a-423a-9033-a0013e27166f"
                     ]
                  },
                  "title" : "test-title",
                  "uuid" : "0b7a2e3f-e356-4a22-869c-04df35a51525"
               }
            ]
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"stop_server":{"stop_type":"hard","timeout":"900"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/009df88e-523a-423a-9033-a0013e27166f/stop
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1674047795,
            "firewall" : "off",
            "host" : 6862160515,
            "hostname" : "uploud-go-sdk-integration-test-testservergroups.example.com",
      [...]
[...]
