---
version: 1
interactions:
- request:
    body: '{"server":{"hostname":"uploud-go-sdk-integration-test-testservergroups.example.com","metadata":"no","networking":{"interfaces":{"interface":[{"ip_addresses":{"ip_address":[{"family":"IPv4"}]},"type":"utility"}]}},"password_delivery":"none","storage_devices":{"storage_device":[{"action":"clone","storage":"01000000-0000-4000-8000-000020060100","title":"disk1","size":10,"tier":"maxiops"}]},"title":"uploud-go-sdk-integration-test-TestServerGroups","remote_access_enabled":"no","zone":"fi-hel2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1666945203,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testservergroups.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "utility",
                     "address" : "10.6.0.11",
                     "family" : "IPv4"
                  }
               ]
            },
            "labels" : {
               "label" : []
            },
            "license" : 0,
            "memory_amount" : "1024",
            "metadata" : "no",
            "networking" : {
               "interfaces" : {
                  "interface" : [
                     {
                        "bootable" : "no",
                        "index" : 1,
                        "ip_addresses" : {
                           "ip_address" : [
                              {
                                 "address" : "10.6.0.11",
                                 "dhcp_provided" : "yes",
                                 "family" : "IPv4",
                                 "floating" : "no"
                              }
                           ]
                        },
                        "mac" : "da:45:c4:5c:f8:fa",
                        "network" : "03c40911-2f43-4138-bb91-7561a8351353",
                        "source_ip_filtering" : "yes",
                        "type" : "utility"
                     }
                  ]
               }
            },
            "nic_model" : "virtio",
            "password" : "823h8d9fevq52827",
            "plan" : "custom",
            "plan_ipv4_bytes" : "0",
            "plan_ipv6_bytes" : "0",
            "progress" : "0",
            "remote_access_enabled" : "no",
            "remote_access_password" : "77AwnnNf",
            "remote_access_type" : "vnc",
            "simple_backup" : "no",
            "state" : "maintenance",
            "storage_devices" : {
               "storage_device" : [
                  {
                     "address" : "virtio:0",
                     "boot_disk" : "0",
                     "storage" : "01027041-9820-4d6f-a0d7-3482b5ebf2fc",
                     "storage_size" : 10,
                     "storage_tier" : "maxiops",
                     "storage_title" : "disk1",
                     "type" : "disk"
                  }
               ]
            },
            "tags" : {
               "tag" : []
            },
            "timezone" : "UTC",
            "title" : "uploud-go-sdk-integration-test-TestServerGroups",
            "username" : "root",
            "uuid" : "00d3c8db-c9a6-40d6-b859-01a8d4cb24ee",
            "video_model" : "cirrus",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/00d3c8db-c9a6-40d6-b859-01a8d4cb24ee
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1666945203,
            "firewall" : "off",
            "host" : 5872304771,
            "hostname" : "uploud-go-sdk-integration-test-testservergroups.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "utility",
                     "address" : "10.6.0.11",
                     "family" : "IPv4"
                  }
               ]
            },
            "labels" : {
               "label" : []
            },
            "license" : 0,
            "memory_amount" : "1024",
   [...]
- request:
    body: '{"server_group":{"labels":{"label":[{"key":"managedBy","value":"upcloud-go-sdk-integration-test"}]},"servers":{"server":["00d3c8db-c9a6-40d6-b859-01a8d4cb24ee"]},"title":"test-title"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server-group
    method: POST
  response:
    body: |
      {
         "server_group" : {
            "anti_affinity" : 0,
            "anti_affinity_status" : null,
            "labels" : {
               "label" : [
                  {
                     "key" : "managedBy",
                     "value" : "upcloud-go-sdk-integration-test"
                  }
               ]
            },
            "servers" : {
               "server" : [
                  "00d3c8db-c9a6-40d6-b859-01a8d4cb24ee"
               ]
            },
            "title" : "test-title",
            "uuid" : "0bef37c2-989e-490b-92eb-5c8d1a9abc18"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"server_group":{"servers":{"server":[]},"title":"test-title-edit"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server-group/0bef37c2-989e-490b-92eb-5c8d1a9abc18
    method: PATCH
  response:
    body: |
      {
         "server_group" : {
            "anti_affinity" : 0,
            "anti_affinity_status" : null,
            "labels" : {
               "label" : [
                  {
                     "key" : "managedBy",
                     "value" : "upcloud-go-sdk-integration-test"
                  }
               ]
            },
            "servers" : {
               "server" : []
            },
            "title" : "test-title-edit",
            "uuid" : "0bef37c2-989e-490b-92eb-5c8d1a9abc18"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server-group
    method: GET
  response:
    body: |
      {
         "server_groups" : {
            "server_group" : [
               {
                  "anti_affinity" : "no",
                  "anti_affinity_status" : null,
                  "labels" : {
                     "label" : [
                        {
                           "key" : "managedBy",
                           "value" : "upcloud-go-sdk-integration-test"
                        },
                        {
                           "key" : "title",
                           "value" : "test-title"
                        }
                     ]
                  },
                  "servers" : {
                     "server" : [
                        "00d3c8db-c9a6-40d6-b859-01a8d4cb24ee"
                     ]
                  },
                  "title" : "test-title",
                  "uuid" : "0bef37c2-989e-490b-92eb-5c8d1a9abc18"
               }
            ]
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server-group?labels=managedBy&labels=title=test-title
    method: GET
  response:
    body: |
      {
         "server_groups" : {
            "server_group" : [
               {
                  "anti_affinity" : "no",
                  "anti_affinity_status" : null,
                  "labels" : {
                     "label" : [
                        {
                           "key" : "managedBy",
                           "value" : "upcloud-go-sdk-integration-test"
                        },
                        {
                           "key" : "title",
                           "value" : "test-title"
                        }
                     ]
                  },
                  "servers" : {
                     "server" : [
                        "00d3c8db-c9a6-40d6-b859-01a8d4cb24ee"
                     ]
                  },
                  "title" : "test-title",
                  "uuid" : "0bef37c2-989e-490b-92eb-5c8d1a9abc18"
               }
            ]
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"stop_server":{"stop_type":"hard","timeout":"900"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/00d3c8db-c9a6-40d6-b859-01a8d4cb24ee/stop
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1666945203,
            "firewall" : "off",
            "host" : 5872304771,
            "hostname" : "uploud-go-sdk-integration-test-testservergroups.example.com",
      [...]
[...]
