---
version: 1
interactions:
- request:
    body: '{"server":{"hostname":"uploud-go-sdk-integration-test-testservergroups.example.com","metadata":"no","networking":{"interfaces":{"interface":[{"ip_addresses":{"ip_address":[{"family":"IPv4"}]},"type":"utility"}]}},"password_delivery":"none","storage_devices":{"storage_device":[{"action":"clone","storage":"01000000-0000-4000-8000-000020060100","title":"disk1","size":10,"tier":"maxiops"}]},"title":"uploud-go-sdk-integration-test-TestServerGroups","remote_access_enabled":"no","zone":"fi-hel2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1668005111,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testservergroups.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "utility",
                     "address" : "10.6.6.223",
                     "family" : "IPv4"
                  }
               ]
            },
            "labels" : {
               "label" : []
            },
            "license" : 0,
            "memory_amount" : "1024",
            "metadata" : "no",
            "networking" : {
               "interfaces" : {
                  "interface" : [
                     {
                        "bootable" : "no",
                        "index" : 1,
                        "ip_addresses" : {
                           "ip_address" : [
                              {
                                 "address" : "10.6.6.223",
                                 "dhcp_provided" : "yes",
                                 "family" : "IPv4",
                                 "floating" : "no"
                              }
                           ]
                        },
                        "mac" : "d6:0e:4a:6f:ba:fd",
                        "network" : "0331463e-9d39-4147-b7ec-ee4949dd40ab",
                        "source_ip_filtering" : "yes",
                        "type" : "utility"
                     }
                  ]
               }
            },
            "nic_model" : "virtio",
            "password" : "t57759ys9b75c433",
            "plan" : "custom",
            "plan_ipv4_bytes" : "0",
            "plan_ipv6_bytes" : "0",
            "progress" : "0",
            "remote_access_enabled" : "no",
            "remote_access_password" : "f76J3385",
            "remote_access_type" : "vnc",
            "simple_backup" : "no",
            "state" : "maintenance",
            "storage_devices" : {
               "storage_device" : [
                  {
                     "address" : "virtio:0",
                     "boot_disk" : "0",
                     "storage" : "01a767bc-e959-4ee2-94f7-b8321a1e8e6b",
                     "storage_size" : 10,
                     "storage_tier" : "maxiops",
                     "storage_title" : "disk1",
                     "type" : "disk"
                  }
               ]
            },
            "tags" : {
               "tag" : []
            },
            "timezone" : "UTC",
            "title" : "uploud-go-sdk-integration-test-TestServerGroups",
            "username" : "root",
            "uuid" : "00ef32b5-af4b-4918-b37f-5a38d04f786a",
            "video_model" : "cirrus",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/00ef32b5-af4b-4918-b37f-5a38d04f786a
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1668005111,
            "firewall" : "off",
            "host" : 4395909763,
            "hostname" : "uploud-go-sdk-integration-test-testservergroups.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "utility",
                     "address" : "10.6.6.223",
                     "family" : "IPv4"
                  }
               ]
            },
            "labels" : {
               "label" : []
            },
            "license" : 0,
            "memory_amount" : "1024",
  [...]
- request:
    body: '{"server_group":{"labels":{"label":[{"key":"managedBy","value":"upcloud-go-sdk-integration-test"}]},"servers":{"server":["00ef32b5-af4b-4918-b37f-5a38d04f786a"]},"anti_affinity":"yes","title":"test-title"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server-group
    method: POST
  response:
    body: |
      {
         "server_group" : {
            "anti_affinity" : 1,
            "anti_affinity_status" : [
               {
                  "status" : "met",
                  "uuid" : "00ef32b5-af4b-4918-b37f-5a38d04f786a"
               }
            ],
            "labels" : {
               "label" : [
                  {
                     "key" : "managedBy",
                     "value" : "upcloud-go-sdk-integration-test"
                  }
               ]
            },
            "servers" : {
               "server" : [
                  "00ef32b5-af4b-4918-b37f-5a38d04f786a"
               ]
            },
            "title" : "test-title",
            "uuid" : "0b6bb850-af22-47a2-b5d0-a5c466855f3d"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"server_group":{"servers":{"server":[]},"title":"test-title-edit"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server-group/0b6bb850-af22-47a2-b5d0-a5c466855f3d
    method: PATCH
  response:
    body: |
      {
         "server_group" : {
            "anti_affinity" : 1,
            "anti_affinity_status" : [],
            "labels" : {
               "label" : [
                  {
                     "key" : "managedBy",
                     "value" : "upcloud-go-sdk-integration-test"
                  }
               ]
            },
            "servers" : {
               "server" : []
            },
            "title" : "test-title-edit",
            "uuid" : "0b6bb850-af22-47a2-b5d0-a5c466855f3d"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server-group
    method: GET
  response:
    body: |
      {
         "server_groups" : {
            "server_group" : [
               {
                  "anti_affinity" : "no",
                  "anti_affinity_status" : null,
                  "labels" : {
                     "label" : [
                        {
                           "key" : "managedBy",
                           "value" : "upcloud-go-sdk-integration-test"
                        },
                        {
                           "key" : "title",
                           "value" : "test-title"
                        }
                     ]
                  },
                  "servers" : {
                     "server" : [
                        "00ef32b5-af4b-4918-b37f-5a38d04f786a"
                     ]
                  },
                  "title" : "test-title",
                  "uuid" : "0b6bb850-af22-47a2-b5d0-a5c466855f3d"
               }
            ]
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server-group?labels=managedBy&labels=title=test-title
    method: GET
  response:
    body: |
      {
         "server_groups" : {
            "server_group" : [
               {
                  "anti_affinity" : "no",
                  "anti_affinity_status" : null,
                  "labels" : {
                     "label" : [
                        {
                           "key" : "managedBy",
                           "value" : "upcloud-go-sdk-integration-test"
                        },
                        {
                           "key" : "title",
                           "value" : "test-title"
                        }
                     ]
                  },
                  "servers" : {
                     "server" : [
                        "00ef32b5-af4b-4918-b37f-5a38d04f786a"
                     ]
                  },
                  "title" : "test-title",
                  "uuid" : "0b6bb850-af22-47a2-b5d0-a5c466855f3d"
               }
            ]
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"stop_server":{"stop_type":"hard","timeout":"900"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/00ef32b5-af4b-4918-b37f-5a38d04f786a/stop
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1668005111,
            "firewall" : "off",
            "host" : 4395909763,
            "hostname" : "uploud-go-sdk-integration-test-testservergroups.example.com",
      [...]
[...]
