---
version: 1
interactions:
- request:
    body: '{"server":{"hostname":"uploud-go-sdk-integration-test-testservergroups.example.com","metadata":"no","networking":{"interfaces":{"interface":[{"ip_addresses":{"ip_address":[{"family":"IPv4"}]},"type":"utility"}]}},"password_delivery":"none","storage_devices":{"storage_device":[{"action":"clone","storage":"01000000-0000-4000-8000-000020060100","title":"disk1","size":10,"tier":"maxiops"}]},"title":"uploud-go-sdk-integration-test-TestServerGroups","remote_access_enabled":"no","zone":"fi-hel2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1650435889,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testservergroups.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "utility",
                     "address" : "10.6.4.125",
                     "family" : "IPv4"
                  }
               ]
            },
            "license" : 0,
            "memory_amount" : "1024",
            "metadata" : "no",
            "networking" : {
               "interfaces" : {
                  "interface" : [
                     {
                        "bootable" : "no",
                        "index" : 1,
                        "ip_addresses" : {
                           "ip_address" : [
                              {
                                 "address" : "10.6.4.125",
                                 "family" : "IPv4",
                                 "floating" : "no"
                              }
                           ]
                        },
                        "mac" : "7e:bc:e1:58:99:35",
                        "network" : "03703755-7781-430c-b92d-38ae827d02ba",
                        "source_ip_filtering" : "yes",
                        "type" : "utility"
                     }
                  ]
               }
            },
            "nic_model" : "virtio",
            "password" : "57988h24ecyyh995",
            "plan" : "custom",
            "plan_ipv4_bytes" : "0",
            "plan_ipv6_bytes" : "0",
            "progress" : "0",
            "remote_access_enabled" : "no",
            "remote_access_password" : "equ4gP8N",
            "remote_access_type" : "vnc",
            "simple_backup" : "no",
            "state" : "maintenance",
            "storage_devices" : {
               "storage_device" : [
                  {
                     "address" : "virtio:0",
                     "boot_disk" : "0",
                     "storage" : "01c4b422-82e3-4140-a8de-cd26cbda2853",
                     "storage_size" : 10,
                     "storage_tier" : "maxiops",
                     "storage_title" : "disk1",
                     "type" : "disk"
                  }
               ]
            },
            "tags" : {
               "tag" : []
            },
            "timezone" : "UTC",
            "title" : "uploud-go-sdk-integration-test-TestServerGroups",
            "username" : "root",
            "uuid" : "00b28e96-b628-4445-9696-129692a6a844",
            "video_model" : "cirrus",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/00b28e96-b628-4445-9696-129692a6a844
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1650435889,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testservergroups.example.com",
            "ip_addresses" : {[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/00b28e96-b628-4445-9696-129692a6a844
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1650435889,
            "firewall" : "off",
            "host" : 4932780675,
            "hostname" : "uploud-go-sdk-integration-test-testservergroups.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "utility",
                     "address" : "10.6.4.125",
                     "family" : "IPv4"
                  }
               ]
            },
            "license" : 0,
            "memory_amount" : "1024",
            "metadata" : "no",
            "networking" : {
          [...]
- request:
    body: '{"server_group":{"title":"test-title","servers":{"server":["00b28e96-b628-4445-9696-129692a6a844"]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server-group
    method: POST
  response:
    body: |
      {
         "server_group" : {
            "servers" : {
               "server" : [
                  "00b28e96-b628-4445-9696-129692a6a844"
               ]
            },
            "title" : "test-title",
            "uuid" : "0be15aa3-74b7-4575-88bc-9a728a9aec85"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"server_group":{"title":"test-title-edit","servers":{"server":[]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server-group/0be15aa3-74b7-4575-88bc-9a728a9aec85
    method: PATCH
  response:
    body: |
      {
         "server_group" : {
            "servers" : {
               "server" : []
            },
            "title" : "test-title-edit",
            "uuid" : "0be15aa3-74b7-4575-88bc-9a728a9aec85"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server-group
    method: GET
  response:
    body: |
      {
         "server_groups" : {
            "server_group" : [
               {
                  "servers" : {
                     "server" : [
                        "00b28e96-b628-4445-9696-129692a6a844"
                     ]
                  },
                  "title" : "test-title",
                  "uuid" : "0be15aa3-74b7-4575-88bc-9a728a9aec85"
               }
            ]
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"stop_server":{"stop_type":"hard","timeout":"900"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/00b28e96-b628-4445-9696-129692a6a844/stop
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1650435889,
            "firewall" : "off",
            "host" : 4932780675,
            "hostname" : "uploud-go-sdk-integration-test-testservergroups.example.com",
      [...]
[...]
