---
version: 1
interactions:
- request:
    body: '{"hostname_prefix":"shutdownstartmanageddatabase","plan":"2x2xCPU-4GB-100GB","properties":{"automatic_utility_network_ip_filter":true,"ip_filter":["10.0.0.1/32"],"public_access":true},"title":"shutdownstartmanageddatabase","termination_protection":true,"type":"pg","zone":"fi-hel2","maintenance":{"dow":"monday","time":"12:00:00"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database
    method: POST
  response:
    body: '{"uuid":"098b5c48-b612-431a-a6c6-bd3f1c7f2020","zone":"fi-hel2","name":"shutdownstartmanageddatabase","title":"shutdownstartmanageddatabase","type":"pg","plan":"2x2xCPU-4GB-100GB","state":"pending","powered":true,"termination_protection":true,"node_count":2,"create_time":"2024-11-25T19:47:09Z","update_time":"2024-11-25T19:47:09Z","service_uri":"","service_uri_params":{},"maintenance":{"dow":"monday","time":"12:00:00","pending_updates":[]},"metadata":{},"properties":{"automatic_utility_network_ip_filter":true,"ip_filter":["10.0.0.1/32"],"public_access":true},"networks":[],"node_states":[],"labels":[],"backups":[],"components":[],"users":[],"databases":[]}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"powered":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/098b5c48-b612-431a-a6c6-bd3f1c7f2020
    method: PATCH
  response:
    body: |
      {"type":"https://developers.upcloud.com/1.3/errors#ERROR_INVALID_REQUEST","title":"Validation error.","invalid_params":[{"name":"powered","reason":"Service state cannot be updated, termination protection is enabled."}],"correlation_id":"01JDJE6Z12NC3NZNQGXNZME5Q8","status":400}
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/problem+json
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/098b5c48-b612-431a-a6c6-bd3f1c7f2020
    method: GET
  response:
    body: '{"uuid":"098b5c48-b612-431a-a6c6-bd3f1c7f2020","zone":"fi-hel2","name":"shutdownstartmanageddatabase","title":"shutdownstartmanageddatabase","type":"pg","plan":"2x2xCPU-4GB-100GB","state":"running","powered":true,"termination_protection":true,"node_count":2,"create_time":"2024-11-25T19:47:09Z","update_time":"2024-11-25T19:47:11Z","service_uri":"postgres://upadmin:AVNS_4YOzSfKVeUBlFiMQ69c@shutdownstartmanageddatabase-cmqcyitseohp.db.upclouddatabases.com:11569/defaultdb?sslmode=require","service_uri_params":{"dbname":"defaultdb","host":"shutdownstartmanageddatabase-cmqcyitseohp.db.upclouddatabases.com","password":"AVNS_4YOzSfKVeUBlFiMQ69c","port":"11569","ssl_mode":"require","user":"upadmin"},"maintenance":{"dow":"monday","time":"12:00:00","pending_updates":[]},"metadata":{"max_connections":100,"pg_version":"16.4","write_block_threshold_exceeded":false},"properties":{"automatic_utility_network_ip_filter":true,"backup_hour":1,"backup_minute":45,"ip_filter":["10.0.0.1/32"],"pg_stat_monitor_enable":false,"pglookout":{"max_failover_replication_time_lag":60},"public_access":true,"version":"16"},"networks":[],"node_states":[{"name":"shutdownstartmanageddatabase-1","role":"master","state":"running"},{"name":"shutdownstartmanageddatabase-2","role":"standby","state":"running"}],"labels":[],"backups":[{"backup_name":"2024-11-25_19-50_0.00000000.pghoard","backup_time":"2024-11-25T19:50:28.534835Z","data_size":33771734}],"components":[{"component":"pg","host":"shutdownstartmanageddatabase-cmqcyitseohp.db.upclouddatabases.com","port":11569,"route":"dynamic","usage":"primary"},{"component":"pg","host":"replica-shutdownstartmanageddatabase-cmqcyitseohp.db.upclouddatabases.com","port":11569,"route":"dynamic","usage":"replica"},{"component":"pg","host":"public-shutdownstartmanageddatabase-cmqcyitseohp.db.upclouddatabases.com","port":11569,"route":"public","usage":"primary"},{"component":"pg","host":"public-replica-shutdownstartmanageddatabase-cmqcyitseohp.db.upclouddatabases.com","port":11569,"route":"public","usage":"replica"},{"component":"pgbouncer","host":"shutdownstartmanageddatabase-cmqcyitseohp.db.upclouddatabases.com","port":11570,"route":"dynamic","usage":"primary"},{"component":"pgbouncer","host":"replica-shutdownstartmanageddatabase-cmqcyitseohp.db.upclouddatabases.com","port":11570,"route":"dynamic","usage":"replica"},{"component":"pgbouncer","host":"public-shutdownstartmanageddatabase-cmqcyitseohp.db.upclouddatabases.com","port":11570,"route":"public","usage":"primary"},{"component":"pgbouncer","host":"public-replica-shutdownstartmanageddatabase-cmqcyitseohp.db.upclouddatabases.com","port":11570,"route":"public","usage":"replica"}],"users":[{"username":"upadmin","type":"primary"}],"databases":[{"name":"defaultdb"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
