---
version: 1
interactions:
- request:
    body: '{"hostname_prefix":"shutdownstartmanageddatabase","plan":"2x2xCPU-4GB-100GB","properties":{"automatic_utility_network_ip_filter":true,"ip_filter":["10.0.0.1/32"],"public_access":true},"title":"shutdownstartmanageddatabase","type":"pg","zone":"fi-hel2","maintenance":{"dow":"monday","time":"12:00:00"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database
    method: POST
  response:
    body: '{"uuid":"099abd28-3519-4915-847f-a9cec83dd6eb","zone":"fi-hel2","name":"shutdownstartmanageddatabase","title":"shutdownstartmanageddatabase","type":"pg","plan":"2x2xCPU-4GB-100GB","state":"pending","powered":true,"termination_protection":false,"node_count":2,"create_time":"2024-01-31T21:40:00Z","update_time":"2024-01-31T21:40:00Z","service_uri":"","service_uri_params":{},"maintenance":{"dow":"monday","time":"12:00:00","pending_updates":[]},"metadata":{},"properties":{"automatic_utility_network_ip_filter":true,"ip_filter":["10.0.0.1/32"],"public_access":true},"networks":[],"node_states":[],"backups":[],"components":[],"users":[],"databases":[]}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"powered":false}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/099abd28-3519-4915-847f-a9cec83dd6eb
    method: PATCH
  response:
    body: '{"uuid":"099abd28-3519-4915-847f-a9cec83dd6eb","zone":"fi-hel2","name":"shutdownstartmanageddatabase","title":"shutdownstartmanageddatabase","type":"pg","plan":"2x2xCPU-4GB-100GB","state":"pending","powered":false,"termination_protection":false,"node_count":2,"create_time":"2024-01-31T21:40:00Z","update_time":"2024-01-31T21:46:12Z","service_uri":"postgres://upadmin:AVNS_hFdSrFvHMyyMxCwFnXC@shutdownstartmanageddatabase-zhbmidiechch.db.upclouddatabases.com:11569/defaultdb?sslmode=require","service_uri_params":{"dbname":"defaultdb","host":"shutdownstartmanageddatabase-zhbmidiechch.db.upclouddatabases.com","password":"AVNS_hFdSrFvHMyyMxCwFnXC","port":"11569","ssl_mode":"require","user":"upadmin"},"maintenance":{"dow":"monday","time":"12:00:00","pending_updates":[]},"metadata":{"max_connections":100,"pg_version":"15.5","write_block_threshold_exceeded":false},"properties":{"automatic_utility_network_ip_filter":true,"backup_hour":4,"backup_minute":21,"ip_filter":["10.0.0.1/32"],"pg_stat_monitor_enable":false,"pglookout":{"max_failover_replication_time_lag":60},"public_access":true,"version":"15"},"networks":[],"node_states":[{"name":"shutdownstartmanageddatabase-1","role":"master","state":"running"},{"name":"shutdownstartmanageddatabase-2","role":"standby","state":"running"}],"backups":[{"backup_name":"2024-01-31_21-42_0.00000000.pghoard","backup_time":"2024-01-31T21:42:57.630713Z","data_size":33587414}],"components":[{"component":"pg","host":"shutdownstartmanageddatabase-zhbmidiechch.db.upclouddatabases.com","port":11569,"route":"dynamic","usage":"primary"},{"component":"pg","host":"replica-shutdownstartmanageddatabase-zhbmidiechch.db.upclouddatabases.com","port":11569,"route":"dynamic","usage":"replica"},{"component":"pg","host":"public-shutdownstartmanageddatabase-zhbmidiechch.db.upclouddatabases.com","port":11569,"route":"public","usage":"primary"},{"component":"pg","host":"public-replica-shutdownstartmanageddatabase-zhbmidiechch.db.upclouddatabases.com","port":11569,"route":"public","usage":"replica"},{"component":"pgbouncer","host":"shutdownstartmanageddatabase-zhbmidiechch.db.upclouddatabases.com","port":11570,"route":"dynamic","usage":"primary"},{"component":"pgbouncer","host":"replica-shutdownstartmanageddatabase-zhbmidiechch.db.upclouddatabases.com","port":11570,"route":"dynamic","usage":"replica"},{"component":"pgbouncer","host":"public-shutdownstartmanageddatabase-zhbmidiechch.db.upclouddatabases.com","port":11570,"route":"public","usage":"primary"},{"component":"pgbouncer","host":"public-replica-shutdownstartmanageddatabase-zhbmidiechch.db.upclouddatabases.com","port":11570,"route":"public","usage":"replica"}],"users":[{"username":"upadmin","type":"primary"}],"databases":[{"name":"defaultdb"}]}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
