---
version: 1
interactions:
- request:
    body: '{"storage":{"size":"10","tier":"maxiops","title":"Alpine Linux (test)","zone":"fi-hel2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/storage
    method: POST
  response:
    body: |
      {
         "storage" : {
            "access" : "private",
            "backup_rule" : {},
            "backups" : {
               "backup" : []
            },
            "created" : "2022-10-27T17:15:46Z",
            "license" : 0,
            "servers" : {
               "server" : []
            },
            "size" : 10,
            "state" : "online",
            "tier" : "maxiops",
            "title" : "Alpine Linux (test)",
            "type" : "normal",
            "uuid" : "0117019c-64bb-46c8-b2a1-c7da19f676f0",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"storage_import":{"source":"http_import","source_location":"http://dl-cdn.alpinelinux.org/alpine/v3.12/releases/x86/alpine-standard-3.12.0-x86.iso"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/storage/0117019c-64bb-46c8-b2a1-c7da19f676f0/import
    method: POST
  response:
    body: |
      {
         "storage_import" : {
            "client_content_length" : 0,
            "client_content_type" : "",
            "completed" : "",
            "created" : "2022-10-27T17:15:56Z",
            "error_code" : "",
            "error_message" : "",
            "md5sum" : "",
            "read_bytes" : 0,
            "sha256sum" : "",
            "source" : "http_import",
            "source_location" : "http://dl-cdn.alpinelinux.org/alpine/v3.12/releases/x86/alpine-standard-3.12.0-x86.iso",
            "state" : "prepared",
            "uuid" : "07768aef-61dd-45a2-9ed5-3b121da53f07",
            "written_bytes" : 0
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
[...]
