---
version: 1
interactions:
- request:
    body: '{"server":{"hostname":"uploud-go-sdk-integration-test-testtagging.example.com","labels":{"label":[{"key":"managedBy","value":"upcloud-sdk-integration-test"},{"key":"testName","value":"TestTagging"}]},"metadata":"no","networking":{"interfaces":{"interface":[{"ip_addresses":{"ip_address":[{"family":"IPv4"}]},"type":"utility"},{"ip_addresses":{"ip_address":[{"family":"IPv4"}]},"type":"public"},{"ip_addresses":{"ip_address":[{"family":"IPv6"}]},"type":"public"}]}},"password_delivery":"none","storage_devices":{"storage_device":[{"action":"clone","storage":"01000000-0000-4000-8000-000020060100","title":"disk1","size":10,"tier":"maxiops"}]},"title":"uploud-go-sdk-integration-test-TestTagging","remote_access_enabled":"no","zone":"fi-hel2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1666901651,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testtagging.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "utility",
                     "address" : "10.6.6.216",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:d845:c4ff:fe5c:0ebd",
                     "family" : "IPv6"
                  },
                  {
                     "access" : "public",
                     "address" : "94.237.107.150",
                     "family" : "IPv4"
                  }
               ]
            },
            "labels" : {
               "label" : [
                  {
                     "key" : "managedBy",
                     "value" : "upcloud-sdk-integration-test"
                  },
                  {
                     "key" : "testName",
                     "value" : "TestTagging"
                  }
               ]
            },
            "license" : 0,
            "memory_amount" : "1024",
            "metadata" : "no",
            "networking" : {
               "interfaces" : {
                  "interface" : [
                     {
                        "bootable" : "no",
                        "index" : 1,
                        "ip_addresses" : {
                           "ip_address" : [
                              {
                                 "address" : "10.6.6.216",
                                 "dhcp_provided" : "yes",
                                 "family" : "IPv4",
                                 "floating" : "no"
                              }
                           ]
                        },
                        "mac" : "da:45:c4:5c:f9:bb",
                        "network" : "0343ede2-9890-4470-b680-0dcda6d9f7e3",
                        "source_ip_filtering" : "yes",
                        "type" : "utility"
                     },
                     {
                        "bootable" : "no",
                        "index" : 2,
                        "ip_addresses" : {
                           "ip_address" : [
                              {
                                 "address" : "94.237.107.150",
                                 "dhcp_provided" : "yes",
                                 "family" : "IPv4",
                              [...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/00a217dc-4fa8-4aa2-a20a-306d398362ed
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1666901651,
            "firewall" : "off",
            "host" : 5872304771,
            "hostname" : "uploud-go-sdk-integration-test-testtagging.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "utility",
                     "address" : "10.6.6.216",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:d845:c4ff:fe5c:0ebd",
                     "family" : "I[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/tag
    method: GET
  response:
    body: |
      {
         "tags" : {
            "tag" : [
               {
                  "description" : "",
                  "name" : "tag1",
                  "servers" : {
                     "server" : []
                  }
               },
               {
                  "description" : "",
                  "name" : "tag2_renamed",
                  "servers" : {
                     "server" : []
                  }
               }
            ]
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/tag/tag1
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/tag/tag2_renamed
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/00a217dc-4fa8-4aa2-a20a-306d398362ed/tag/tag1
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1666901651,
            "firewall" : "off",
            "host" : 5872304771,
            "hostname" : "uploud-go-sdk-integration-test-testtagging.exampl[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/00a217dc-4fa8-4aa2-a20a-306d398362ed/untag/tag1
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1666901651,
            "firewall" : "off",
            "host" : 5872304771,
            "hostname" : "uploud-go-sdk-integration-test-testtagging.exam[...]
