---
version: 1
interactions:
- request:
    body: '{"server":{"hostname":"uploud-go-sdk-integration-test-testtemplatizeserverstorage.example.com","labels":{"label":[{"key":"managedBy","value":"upcloud-sdk-integration-test"},{"key":"testName","value":"TestTemplatizeServerStorage"}]},"metadata":"no","networking":{"interfaces":{"interface":[{"ip_addresses":{"ip_address":[{"family":"IPv4"}]},"type":"utility"},{"ip_addresses":{"ip_address":[{"family":"IPv4"}]},"type":"public"},{"ip_addresses":{"ip_address":[{"family":"IPv6"}]},"type":"public"}]}},"password_delivery":"none","storage_devices":{"storage_device":[{"action":"clone","storage":"01000000-0000-4000-8000-000020060100","title":"disk1","size":10,"tier":"maxiops"}]},"title":"uploud-go-sdk-integration-test-TestTemplatizeServerStorage","remote_access_enabled":"no","zone":"fi-hel2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1662692928,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testtemplatizeserverstorage.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "utility",
                     "address" : "10.6.6.168",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:d845:c4ff:fe5c:066a",
                     "family" : "IPv6"
                  },
                  {
                     "access" : "public",
                     "address" : "94.237.107.97",
                     "family" : "IPv4"
                  }
               ]
            },
            "labels" : {
               "label" : [
                  {
                     "key" : "managedBy",
                     "value" : "upcloud-sdk-integration-test"
                  },
                  {
                     "key" : "testName",
                     "value" : "TestTemplatizeServerStorage"
                  }
               ]
            },
            "license" : 0,
            "memory_amount" : "1024",
            "metadata" : "no",
            "networking" : {
               "interfaces" : {
                  "interface" : [
                     {
                        "bootable" : "no",
                        "index" : 1,
                        "ip_addresses" : {
                           "ip_address" : [
                              {
                                 "address" : "10.6.6.168",
                                 "family" : "IPv4",
                                 "floating" : "no"
                              }
                           ]
                        },
                        "mac" : "da:45:c4:5c:de:37",
                        "network" : "0343ede2-9890-4470-b680-0dcda6d9f7e3",
                        "source_ip_filtering" : "yes",
                        "type" : "utility"
                     },
                     {
                        "bootable" : "no",
                        "index" : 2,
                        "ip_addresses" : {
                           "ip_address" : [
                              {
                                 "address" : "94.237.107.97",
                                 "family" : "IPv4",
                                 "floating" : "no"
                              }
      [...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/00f82823-39f1-49bb-a0dd-d867ed35387e
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1662692928,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testtemplatizeserverstorage.example.com",
            "ip_add[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/00f82823-39f1-49bb-a0dd-d867ed35387e
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1662692928,
            "firewall" : "off",
            "host" : 6325289603,
            "hostname" : "uploud-go-sdk-integration-test-testtemplatizeserverstorage.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "utility",
                     "address" : "10.6.6.168",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:d845:c4ff:fe5c:066a",
                  [...]
- request:
    body: '{"stop_server":{"stop_type":"hard","timeout":"900"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/server/00f82823-39f1-49bb-a0dd-d867ed35387e/stop
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1662692928,
            "firewall" : "off",
            "host" : 6325289603,
            "hostname" : "uploud-go-sdk-integration-test-testtemplatizeserverstorage.example.c[...]
[...]
- request:
    body: '{"storage":{"title":"Templatized storage"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/storage/01a02e8a-55d7-4815-ae25-2fc7e0baf910/templatize
    method: POST
  response:
    body: |
      {
         "storage" : {
            "access" : "private",
            "created" : "2022-09-09T03:11:01Z",
            "license" : 0,
            "servers" : {
               "server" : []
            },
            "size" : 10,
            "state" : "maintenance",
            "tier" : "maxiops",
            "title" : "Templatized storage",
            "type" : "template",
            "uuid" : "019c14ef-ed28-49e3-a157-ac62bb30c95d",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/storage/019c14ef-ed28-49e3-a157-ac62bb30c95d
    method: GET
  response:
    body: |
      {
         "storage" : {
            "access" : "private",
            "created" : "2022-09-09T03:11:01Z",
            "license" : 0,
            "servers" : {
               "server" : []
            },
            "size" : 10,
            "state" : "maintenance",
            "tier" : "maxiops",
            "title" : "Templatized storage",
            "type" : "template",
            "uuid" : "019c14ef-ed28-49e3-a157-ac62bb30c95d",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
