---
version: 1
interactions:
- request:
    body: '{"server":{"hostname":"uploud-go-sdk-integration-test-testtemplatizeserverstorage.example.com","ip_addresses":{"ip_address":[{"access":"private","family":"IPv4"},{"access":"public","family":"IPv4"},{"access":"public","family":"IPv6"}]},"password_delivery":"none","storage_devices":{"storage_device":[{"action":"clone","storage":"01000000-0000-4000-8000-000030060200","title":"disk1","size":30,"tier":"maxiops"}]},"title":"uploud-go-sdk-integration-test-TestTemplatizeServerStorage","zone":"fi-hel2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/server
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1596618583,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testtemplatizeserverstorage.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "private",
                     "address" : "10.6.6.212",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:ec1b:dbff:feca:0502",
                     "family" : "IPv6"
                  },
                  {
                     "access" : "public",
                     "address" : "94.237.104.74",
                     "family" : "IPv4"
                  }
               ]
            },
            "license" : 0,
            "memory_amount" : "1024",
            "metadata" : "no",
            "nic_model" : "virtio",
            "password" : "5snu7n9b",
            "plan" : "custom",
            "plan_ipv4_bytes" : "0",
            "plan_ipv6_bytes" : "0",
            "progress" : "0",
            "state" : "maintenance",
            "storage_devices" : {
               "storage_device" : [
                  {
                     "address" : "virtio:0",
                     "boot_disk" : "0",
                     "storage" : "01ca3b5a-f24d-4dee-8bf8-82593ba5532f",
                     "storage_size" : 30,
                     "storage_title" : "disk1",
                     "type" : "disk"
                  }
               ]
            },
            "tags" : {
               "tag" : []
            },
            "timezone" : "UTC",
            "title" : "uploud-go-sdk-integration-test-TestTemplatizeServerStorage",
            "username" : "root",
            "uuid" : "00cca9be-243b-43bb-898c-766bc4b9b336",
            "video_model" : "cirrus",
            "vnc" : "off",
            "vnc_password" : "NsT26VcD",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/server/00cca9be-243b-43bb-898c-766bc4b9b336
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1596618583,
            "firewall" : "off",
            "hostname" : "uploud-go-sdk-integration-test-testtemplatizeserverstorage.example.com",
            "ip_add[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/server/00cca9be-243b-43bb-898c-766bc4b9b336
    method: GET
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1596618583,
            "firewall" : "off",
            "host" : 5201216131,
            "hostname" : "uploud-go-sdk-integration-test-testtemplatizeserverstorage.example.com",
            "ip_addresses" : {
               "ip_address" : [
                  {
                     "access" : "private",
                     "address" : "10.6.6.212",
                     "family" : "IPv4"
                  },
                  {
                     "access" : "public",
                     "address" : "2a04:3545:1000:720:ec1b:dbff:feca:0502",
                  [...]
- request:
    body: '{"stop_server":{"stop_type":"hard","timeout":"900"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.2/server/00cca9be-243b-43bb-898c-766bc4b9b336/stop
    method: POST
  response:
    body: |
      {
         "server" : {
            "boot_order" : "disk",
            "core_number" : "1",
            "created" : 1596618583,
            "firewall" : "off",
            "host" : 5201216131,
            "hostname" : "uploud-go-sdk-integration-test-testtemplatizeserverstorage.example.c[...]
[...]
- request:
    body: '{"storage":{"title":"Templatized storage"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/storage/01ca3b5a-f24d-4dee-8bf8-82593ba5532f/templatize
    method: POST
  response:
    body: |
      {
         "storage" : {
            "access" : "private",
            "license" : 0,
            "servers" : {
               "server" : []
            },
            "size" : 30,
            "state" : "maintenance",
            "tier" : "maxiops",
            "title" : "Templatized storage",
            "type" : "template",
            "uuid" : "019ff59e-566b-4b0b-a1c0-14333adb3edd",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/storage/019ff59e-566b-4b0b-a1c0-14333adb3edd
    method: GET
  response:
    body: |
      {
         "storage" : {
            "access" : "private",
            "license" : 0,
            "servers" : {
               "server" : []
            },
            "size" : 30,
            "state" : "maintenance",
            "tier" : "maxiops",
            "title" : "Templatized storage",
            "type" : "template",
            "uuid" : "019ff59e-566b-4b0b-a1c0-14333adb3edd",
            "zone" : "fi-hel2"
         }
      }
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status: 200 OK
    code: 200
    duration: ""
[...]
