---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/09788889-be2d-48da-a527-962b26014b54
    method: GET
  response:
    body: '{"backups":[{"backup_time":"2022-03-14T16:28:01.407000Z","data_size":36259840}],"components":[{"component":"pg","host":"xxxxxxx-icbbgbhimcdy.db.upclouddatabases.com","port":11550,"route":"dynamic","usage":"primary"},{"component":"pgbouncer","host":"xxxxxxx-icbbgbhimcdy.db.upclouddatabases.com","port":11551,"route":"dynamic","usage":"primary"}],"create_time":"2022-03-14T16:25:53Z","maintenance":{"dow":"sunday","time":"05:00:00"},"name":"xxxxxxx","node_count":1,"node_states":[{"name":"xxxxxxx-1","role":"master","state":"running"}],"plan":"1x1xCPU-2GB-25GB","powered":true,"properties":{"automatic_utility_network_ip_filter":true,"ip_filter":[],"version":"13"},"uuid":"09788889-be2d-48da-a527-962b26014b54","state":"running","title":"pg-1x1xcpu-2gb-25gb-pl-waw1","type":"pg","update_time":"2022-03-14T16:25:53Z","service_uri":"postgres://upadmin:5MkGOkJ9iPVcPWAk@xxxxxxx-icbbgbhimcdy.db.upclouddatabases.com:11550/defaultdb?sslmode=require","service_uri_params":{"dbname":"defaultdb","host":"xxxxxxx-icbbgbhimcdy.db.upclouddatabases.com","password":"5MkGOkJ9iPVcPWAk","port":"11550","ssl_mode":"require","user":"upadmin"},"users":[{"username":"upadmin","type":"primary"}],"zone":"pl-waw1"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"target_version":"14"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/09788889-be2d-48da-a527-962b26014b54/upgrade
    method: POST
  response:
    body: '{"backups":[{"backup_time":"2022-03-14T16:28:01.407000Z","data_size":36259840}],"components":[{"component":"pg","host":"xxxxxxx-icbbgbhimcdy.db.upclouddatabases.com","port":11550,"route":"dynamic","usage":"primary"},{"component":"pgbouncer","host":"xxxxxxx-icbbgbhimcdy.db.upclouddatabases.c[...]
