---
version: 1
interactions:
- request:
    body: '{"hostname_prefix":"upgrademanageddatabase","plan":"2x2xCPU-4GB-100GB","properties":{"automatic_utility_network_ip_filter":true,"ip_filter":["10.0.0.1/32"],"public_access":true,"version":"14"},"title":"upgrademanageddatabase","type":"pg","zone":"fi-hel2","maintenance":{"dow":"monday","time":"12:00:00"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database
    method: POST
  response:
    body: '{"uuid":"09560f37-54ee-46b1-9417-c52a9f377c6c","zone":"fi-hel2","name":"upgrademanageddatabase","title":"upgrademanageddatabase","type":"pg","plan":"2x2xCPU-4GB-100GB","state":"pending","powered":true,"termination_protection":false,"node_count":2,"create_time":"2024-01-31T21:33:18Z","update_time":"2024-01-31T21:33:18Z","service_uri":"","service_uri_params":{},"maintenance":{"dow":"monday","time":"12:00:00","pending_updates":[]},"metadata":{},"properties":{"automatic_utility_network_ip_filter":true,"ip_filter":["10.0.0.1/32"],"public_access":true,"version":"14"},"networks":[],"node_states":[],"backups":[],"components":[],"users":[],"databases":[]}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"target_version":"15"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/09560f37-54ee-46b1-9417-c52a9f377c6c/upgrade
    method: POST
  response:
    body: '{"uuid":"09560f37-54ee-46b1-9417-c52a9f377c6c","zone":"fi-hel2","name":"upgrademanageddatabase","title":"upgrademanageddatabase","type":"pg","plan":"2x2xCPU-4GB-100GB","state":"rebalancing","powered":true,"termination_protection":false,"node_count":2,"create_time":"2024-01-31T21:33:18Z","update_time":"2024-01-31T21:33:34Z","service_uri":"postgres://upadmin:AVNS_qV-U8qsbED61C2xITLH@upgrademanageddatabase-zhbmidiechch.db.upclouddatabases.com:11569/defaultdb?sslmode=require","service_uri_params":{"dbname":"defaultdb","host":"upgrademanageddatabase-zhbmidiechch.db.upclouddatabases.com","password":"AVNS_qV-U8qsbED61C2xITLH","port":"11569","ssl_mode":"require","user":"upadmin"},"maintenance":{"dow":"monday","time":"12:00:00","pending_updates":[]},"metadata":{"max_connections":100,"pg_version":"14.10","write_block_threshold_exceeded":false},"properties":{"automatic_utility_network_ip_filter":true,"backup_hour":3,"backup_minute":49,"ip_filter":["10.0.0.1/32"],"pg_stat_monitor_enable":false,"pglookout":{"max_failover_replication_time_lag":60},"public_access":true,"version":"15"},"networks":[],"node_states":[{"name":"upgrademanageddatabase-1","role":"master","state":"running"},{"name":"upgrademanageddatabase-2","role":"standby","state":"running"}],"backups":[{"backup_name":"2024-01-31_21-36_0.00000000.pghoard","backup_time":"2024-01-31T21:36:34.137883Z","data_size":38553814}],"components":[{"component":"pg","host":"upgrademanageddatabase-zhbmidiechch.db.upclouddatabases.com","port":11569,"route":"dynamic","usage":"primary"},{"component":"pg","host":"replica-upgrademanageddatabase-zhbmidiechch.db.upclouddatabases.com","port":11569,"route":"dynamic","usage":"replica"},{"component":"pg","host":"public-upgrademanageddatabase-zhbmidiechch.db.upclouddatabases.com","port":11569,"route":"public","usage":"primary"},{"component":"pg","host":"public-replica-upgrademanageddatabase-zhbmidiechch.db.upclouddatabases.com","port":11569,"route":"public","usage":"replica"},{"component":"pgbouncer","host":"upgrademanageddatabase-zhbmidiechch.db.upclouddatabases.com","port":11570,"route":"dynamic","usage":"primary"},{"component":"pgbouncer","host":"replica-upgrademanageddatabase-zhbmidiechch.db.upclouddatabases.com","port":11570,"route":"dynamic","usage":"replica"},{"component":"pgbouncer","host":"public-upgrademanageddatabase-zhbmidiechch.db.upclouddatabases.com","port":11570,"route":"public","usage":"primary"},{"component":"pgbouncer","host":"public-replica-upgrademanageddatabase-zhbmidiechch.db.upclouddatabases.com","port":11570,"route":"public","usage":"replica"}],"users":[{"username":"upadmin","type":"primary"}],"databases":[{"name":"defaultdb"}]}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/database/09560f37-54ee-46b1-9417-c52a9f377c6c
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
