---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.upcloud.com/1.3/kubernetes/0d5f46a7-bf7d-422b-afc8-7c277bb7b3b1
    method: GET
  response:
    body: '{"name":"go-sdk-test-ctx","network":"0385327e-80ac-4603-82fd-09f94b9a6194","network_cidr":"10.0.96.0/24","node_groups":[{"count":1,"kubelet_args":[],"labels":[{"key":"managedBy","value":"go-sdk"}],"name":"go-sdk-test-1","plan":"K8S-2xCPU-4GB","ssh_keys":[""],"storage":"01000000-0000-4000-8000-000160010100"},{"count":1,"kubelet_args":[],"labels":[{"key":"managedBy","value":"go-sdk"}],"name":"go-sdk-test-2","plan":"K8S-2xCPU-4GB","ssh_keys":[""],"storage":"01000000-0000-4000-8000-000160010100"}],"state":"pending","uuid":"0d5f46a7-bf7d-422b-afc8-7c277bb7b3b1","zone":"de-fra1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
[...]
