name: Publish
on:
  push:
    tags:
      - 'v*.*.*'
permissions: {}
jobs:
  publish_release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout head
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
      - name: Get tag version
        id: git
        run: echo "tag_version=$(make version)" >> "$GITHUB_OUTPUT"
      - name: Get release notes
        id: release_notes
        run: make release-notes > .release_notes
      - name: Run goreleaser-action
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
        with:
          version: latest
          args: release --clean --release-notes=.release_notes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
