name: Test

on:
  pull_request:

permissions: {}

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      matrix:
        # support two latest major versions of Go, following the Go security policy
        # in which these versions get security updates. See https://golang.org/security
        go-version: [1.24.x, 1.25.x]
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: ${{ matrix.go-version }}

      - name: test
        env:
          GOTOOLCHAIN: auto
          UPCLOUD_GO_SDK_TEST_NO_CREDENTIALS: yes
          UPCLOUD_GO_SDK_TEST_DELETE_RESOURCES: yes
          UPCLOUD_GO_SDK_TEST_USER: ${{ secrets.UPCLOUD_GO_SDK_TEST_USER }}
          UPCLOUD_GO_SDK_TEST_PASSWORD: ${{ secrets.UPCLOUD_GO_SDK_TEST_PASSWORD }}
        run: go test ./... -parallel 1 -timeout 60m
