name: Upcloud go api test

on:
  pull_request:

permissions: {}

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      matrix:
        # support two latest major versions of Go, following the Go security policy
        # in which these versions get security updates. See https://golang.org/security
        go-version: [1.24.x, 1.25.x]
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: ${{ matrix.go-version }}

      - name: test
        env:
          UPCLOUD_GO_SDK_TEST_NO_CREDENTIALS: yes
          UPCLOUD_GO_SDK_TEST_DELETE_RESOURCES: yes
          UPCLOUD_GO_SDK_TEST_USER: ${{ secrets.UPCLOUD_GO_SDK_TEST_USER }}
          UPCLOUD_GO_SDK_TEST_PASSWORD: ${{ secrets.UPCLOUD_GO_SDK_TEST_PASSWORD }}
        run: go test ./... -parallel 1 -timeout 60m
