name: Lint
on:
  pull_request:
    paths:
      - CHANGELOG.md
permissions: {}
jobs:
  update_user_agent:
    name: Check version in User-Agent
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          ref: ${{ github.event.client_payload.pull_request.head.ref || github.head_ref }}
          repository: ${{ github.event.client_payload.pull_request.head.repo.full_name || github.repository	}}
      - run: ./scripts/update-user-agent-version.sh
      - uses: stefanzweifel/git-auto-commit-action@28e16e81777b558cc906c8750092100bbb34c5e3 # v7.0.0
        with:
          commit_message: "chore: update version in `User-Agent`"
          file_pattern: upcloud/client/client.go
